// -------------------------
// Fix for orientation change on iPad mini
// to avoid overflow on the page when rotating
.topad2{
	max-width: 100%;
	overflow: hidden;
}
// -------------------------

// Fixes issue of Brandling links container and social media buttons
// Branding links container.

.breadcrumbs {
  font-size: $font-size-micro;
}

.suggestedSearch {
  width: 23.94366%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  clear:left;

.moreSearches{
   width: 100%;
   
 ul.relSearchMenu  li {
   width:100%;
   }   
}
}
 

 .seo-content-block {
      p{
       line-height:1.25;
      }
  }


// **** Begin Rules for Reply form for Ads ****
.results.list-view .view ul li.result {
  &.replying {
    border: 2px solid #AEAA9F; // $controls-column-background-color;
  }
  &.reply.hidden {
    display: none;
  }
}
// Inline Reply button.
.ui-btn-reply {
  &.enabled {
    @include form-submit-button; // post-page-preview-button;
    padding:0.2em 0.1em 0.4em 0.4em;
    width: 38px;
    cursor: pointer;
  }
  &.disabled {
    @include post-page-preview-button;
    cursor: default;
    padding:0.2em 0.1em 0.4em 0.4em;
    color: #707070 !important;
    font-weight: bold;
    width: 38px;
    cursor: pointer;
  }
  margin-top: 0 !important; // 0.8em !important;
  font-size: 1em !important;
  // width: 100%;
  display: inline-block !important;
  cursor: pointer;

  .envIcon {
    height: 15px;
    background-size: 15px 15px;
    margin-right: 0.3em;
  }
}

// Rules for Reply container.
.result.reply {
  .triangle {
    content:'';
    display:block;
    position: absolute;
    top: -20px; // -10px; // -20px;
    right: 90px;
    width:0;
    height:0;
    border-color: transparent transparent #F3E096 transparent;
    border-style: solid;
    border-width: 10px; // 0 10px 10px 10px; // 10px;
  }

  .triangle:before {
    content:'';
    display:block;
    position: relative;
    top: -6px;
    right: 10px; // 8px;
    width:0;
    height:0;
    border-color: transparent transparent #FBF5DB transparent;
    border-style: solid;
    border-width: 10px; // 0 0 10px 0; // 10px; // 9px;
  }
}

// Inline-reply email rules.
.srp-reply-container {
  @include vip-seller-container;
  
  border: none;
  clear: both;

  button[type="submit"] {
    @include form-submit-button;
  }
}

// *** End Rules for Reply form for Ads ***

#topmodels {

  margin-bottom: 1.7142857143em;

  li {
    padding-left: 0.8571428571em;
    padding-top: 0.25em;
  }

}

@include to-breakpoint($no-break){
    @include category-list-to-no-breakpoint();

    .seo-content-block {
      margin-bottom: 2em;
    }
    
.suggestedSearch {
     width:100%;
    }

   /*
  // Rules for Reply container.
  .result.reply {
    .triangle {
      right: 20px;
    }

    .triangle:before {
      right: 10px;
    }
  }
  */

  .srp-reply-container {
    .vip-contact {
      form {
        .buyerName {
          float: none;
          width: 100%;
        }
        .email {
          float: none;
          width: 100%;
        }
      }
    }
  }

    .category-list{
        border-top: 1px solid $color-black-10;
    }
       
	#topmodels {

		.subheader {
	    	background-color: #D9D9D9;
	    	font-weight: bold;
	    	padding-left: 10px;
	    }
		
		.show-more {
			cursor: pointer;
			margin-left: 12px;
		}
		
		.show-more div {
			display: inline-block;
		}
	}
}

@include from-breakpoint($small-break,$lt-ie9-class-name){
    .category-list{
        display:none;
    }

    .topad2{
      overflow: hidden;
    }


  #topmodels {

		.show-more-list.top-model-hide {
			display: block;
		}

		li {
			float: left;
			width: 50%;
		}
		
		.show-more {
			display: none;
		}
	}
    
}

// large break
@include from-breakpoint($large-break, $lt-ie9-class-name){
    .seo-content-block {
        float: left;
        @include span-columns(3, $large-break);
        
        // Fixes BOLT-6203.
        clear: left;
    }
    
    .brandingCntr {
        @include span-columns(3, $large-break);
    }

    // @social-media
    .social-media-container {
        float: left;
        @include span-columns(3, $large-break);
    }
    
    
    
    #topmodels {
		li {
			float: left;
			width: 25%;
		}
		
		.show-more {
			display: none;
		}
	}
}

// small break.
@include in-breakpoint($small-break) {
  .result.reply {
    margin-top: -8px;
  }
  
.suggestedSearch {
     width: 100%;
     }  
  
}

// medium break.
@include in-breakpoint($medium-break){
    .brandingCntr {
      float: left;
      @include span-columns(2, $medium-break);
    }
    
    
.suggestedSearch {
     
     float:right;
     width: 77.35849%;
     clear:both;
     
     }

    .seo-content-block {
      @include span-columns($medium-break - 2, $medium-break);
      float: right;
      margin-right: 0;
      clear: both;
    }

    // @social-media
    .social-media-container {
        @include span-columns($medium-break - 2, $medium-break);
        float: right;
        margin-right: 0;
        clear: both;
    }
    
    
    
    #topmodels {
		li {
			float: left;
			width: 33%;
		}
		
		.show-more {
			display: none;
		}
	}
}

@include to-breakpoint($small-break){
    .brandingCntr {
      margin-bottom: 2em;
    }

   // Rules for Reply container.
  .result.reply {
    .triangle {
      right: 20px;
    }

    .triangle:before {
      right: 10px;
    }
  }
}

@include in-breakpoint($small-break) {
  .related-products, .related-articles {
    width: 50%;
    float: left;
  }

  .related-products {
    padding-right: 1em;
  }
}
.result-link{
	cursor: pointer;
}


.wrap {
	position: relative;

	> h3,
	> h1 {
		display: inline;
	}
}


.content-module {
	margin-top: 1em;
	
	@include border-radius($medium-border-radius);

	.title {
		@include primary-button;
		padding: $small-padding $large-padding;
		margin-bottom: 0 !important;
		//font-size: 1.25em;
		display: block;
		@include border-radius($medium-border-radius $medium-border-radius 0px 0px);
	}

	.contents {
		height: auto;
		overflow: hidden;
		padding: 0 0.75em;
	}
	
	.hide {
		display: none !important;
	}
}

.seo-content-block {
    h2 {
      font-weight: bold;
      margin: .75em 0;
    }
}
.grid-view .ui-btn-reply-container {
	display:none;
}
////////////////////////common for search page//////////////////////////////////
.starIcon, .envIcon
{
    @include inline-block;
    width:24px;
    height:24px;
    background:{
        size: 24px 24px;
    }
    cursor: pointer;
}

.top-model-show {
	display: block;
}

.top-model-hide {
	display: none;
}

.tg_more{
  cursor: pointer;
  }

// Internet Explorer:
@include to-breakpoint($lt-ie9-class-name) {
 .ui-btn-reply {
  &.enabled {  
    width: 42px; //BOLT-10908  //BOLT-13571
  }
  &.disabled {
	width: 42px; //BOLT-10908  //BOLT-13571
  }
  
  .icon-envelope-alt-white, .icon-envelope-alt-blue{ 
          width: 40px !important;
          height:25px !important;
       
    }
}
  .ui-btn-reply {
    .envIcon {
      width: 25px;
      height: 25px;
    }
  }
 .gl-messages .close_btn > span {
 	width:20px;
 	height:20px;
 } 
  
}
