
.results.list-view{

// ---------------- @diff-ur BEGIN This section can be refactored (used by TopSearches) ---------------------
	.result{
		border-bottom: 1px solid #cacaca;
		border-bottom: 1px solid $color-black-25;

		&:first-child{
			border-top: 1px solid #cacaca;
			border-top: 1px solid $color-black-25;
		}

		&.reply {
			border-bottom: none;
			&:first-child{
				border-top: 2px solid #F3E096;
			}
		}
		.result-link{
			text-decoration: none;
			@include srp-result-link-structure;
			@include srp-result-link-bg-color;
			padding: .5em 10px .5em 85px;
		}

		&:nth-child(even){
			background-color: transparentize($color-black-05, 0.5);
		}

	}

	.hide-on-mobile .result:first-child{
		border-top: none;
	}

	.locationName.parent {
	  word-wrap: break-word;
	  white-space: nowrap;
	  .gap {
		display: inline-block;
		width: 100px;
	  }
	}

  // ---------------- @diff-ur END This section can be refactored (used by TopSearches) ---------------------
	.thumb {
		position: absolute;
		width: 100px;
		height: 100px;
		line-height:100px;
		left: 10px;
		top: 0;
		img{
			max-width:100%;
			vertical-align:middle;
		}
		div{

		  border: none !important;
		  background-image: $srp-nophoto-imageurl;

		  background-position: center center;
		  background-repeat: no-repeat;
		  margin: auto 0px;
		  position: absolute;
		  right: 0;
		  top: 0;
		  left:0;
		  bottom:0;
		  height: 65px ;
		  width: 65px ;

		}
		#pht-cnt {
					position: relative;
					top: -3.8em;
					background: none;
					line-height: 1;
					font-size: 85%;
					text-align: center;
					height:15%;
		}

		#img-cnt {
			background:none;
		}

		.thumbM {
			position:relative;
			top:-2em;
		 }


	}


	.title{
		@include bold-text;
	}
	.title a{
	  color: $srp-ad-title-color;
	  //font-size:$fontSize-title;
	}
	
	.action{
		margin-top: 0.35em;
		margin-bottom: 0.35em;
		//font-size: .9em;

		a{
			display: inline-block;
			margin-right: 0.5em;
			margin-bottom: 0.3em;

			div{
				display: inline-block;
				width: 1.15em;
				height: 1.15em;
				margin-right: 0.25em;
				vertical-align: middle;

			}
		}
	}

	.description{
	   line-height: 1.25;
	   //font-size:$fontSize-text;
		.hellip{
			@include bold-text;
			margin-left: 0.25em;
			display: inline-block;
			padding: 0 0.35em;
			@include border-radius(3px);
		}

		&.hidden{
			display: none;
		}
	}


	.address{
		//font-size: 75%;
	}

   .price{
				color: $price-color;
   }
	// commented because of BOLT-18472
	/*.currency{
		font-weight: normal;
		vertical-align: text-top;
		font-size: 0.5em;
	}*/
	.make-offer {
		display: block;
		position: relative;
		top: -5px;
	}

	.category-location{
		color: lighten($color-black, 5%);
		//font-size: 75%;
	}

	.reply-action {
	  padding-right: 0;

	  // Favorite icon INSIDE Reply Action container...
	  .addAdTofav {
		display: inline-block;
		vertical-align: top;
	  }
	}

	.envIcon {
	  margin-right: 0;
	}

  .ui-btn-reply-container {
	.button.reply.ui-btn-reply {
		background-color: #1B62B4;
	}
	.button.reply.ui-btn-reply.disabled {
	  background-color: transparent;
	}
  }

  .ui-btn-reply-container:hover {
	.button.reply.ui-btn-reply {
	  background-color: #4A90E2;
	}
	.button.reply.ui-btn-reply.disabled {
	  background-color: transparent;
	}
  }

  .ui-btn-reply-container:active {
	.button.reply.ui-btn-reply {
	  background-color: transparent;
	}
  }

  .addAdTofav {
	padding: 6px;
  }

  .addAdTofav.highlight {
	background-color: #E6E6E6;
	border: 1px solid #D9D9D9;
	@include border-radius(3px);
	padding: 5px; // 0 4px;
  }

  // Rules for Reply container.
  // Triangle position that shows then clicking on reply icon (envelope).
  .result.reply {
	.triangle {
	  right: 80px;
	}
  }

}


@include to-breakpoint($small-break){

  .results.list-view{

		.container{
			position: relative;
			min-height:5.5em;
		}
		.meta-info{
		   span{
			//font-size: 80%;
		   }
		}
	   
		.thumb {
			text-align:center;
		   img{
			max-width:64px;
		   }

		}

		.title {
			width:100%;
			@include ellipsis;
		}

		.description {
		  display:none;
		}
		.attributes{
		 display:none;
		}
		.top-listings{
		   .price{
			 min-height:2.7em;
		   }
		   .addAdTofav{
				bottom:1.1em;
			}
		}
		.price{
				@include text-bold;
				margin-top: -0.3em;
				min-height:1.5em;
		}

		.addAdTofav {
			position: absolute;
			right:0em;
			bottom:	1.6em;
			padding: 6px;
			margin-top: 0.1em;
		}

		.addAdTofav.highlight {
			padding: 5px;
		}

		.creation-date {
			line-height:.7em;
			.icon-calendar {
				display:none;
			}
		}
	}

	.result-link .websiteurl, .result-link .reply-action {
		position: absolute;
		bottom: 0;
		right: 0;
		font-weight: bold;
		text-align: right;
	}

	// Hide the "Contact" label label.
	.result-link .reply-action {
	  .label {
		display: none;
	  }
	  .envIcon {
		margin-right: 0;
	  }
	}
}

@include in-breakpoint($no-break) {
  /* Begin Changes for BOLT-12593 Increase size and clickability of the SRP reply button */
  .results.list-view {
	.title {
	  width:80%;
	}
  }

  // Rules for Reply container.
  // Triangle position that shows then clicking on reply icon (envelope).
  .result.reply {
	.triangle {
	  right: 0;
	  left: 138px; // 154px;
	}
  }

  .result-link .websiteurl, .result-link .reply-action {
	position : static;
	text-align: left;
	left: 0;

	.button.reply.ui-btn-reply {
	  width: 30px;
	  border: 1px solid #2863A9;
	}

	.addAdTofav, .ui-btn-reply-container {
	  display: inline-block;
	  position: static;
	  padding: 6px; // 8px; // 10px;
	  width: 40px;
	  text-align: center;
	  // border: 1px solid orange;
	}

	.addAdTofav {
	  display: inline-block;
	  position: static;
	}

	.ui-btn-reply-container {
	  margin: 0 auto;
	  position: relative;
	  left: -4px;
	  width: 45px;
	}
  }

  .results.list-view .top-listings .addAdTofav {
	bottom: 0;
	// bottom: 10px;
	// margin-bottom: 36px; // 20px;
  }
  /* End Changes for BOLT-12593 */
}


@include in-breakpoint($small-break){

   .results.list-view {
	  .result{

		// Rules for Reply container.
		// Triangle position that shows then clicking on reply icon (envelope).
		.reply {
		  .triangle {
			right: 20px;
		  }
		}

		.result-link {
				padding: 5px 10px 20px 122px;
				.thumb {
					height: 120px;
					width: 120px;
					line-height:120px;

					img{
					   max-width:100px;
					}
					div{

					 width:100px;
					 height:100px;

					}
				}
				.price{

						margin-top:0;
						min-height:1.8em;

				}

			.container{
			  min-height:100px;
			}

			.reply-action {
			  .label {
				display: inline;
			  }
			  .envIcon {
				margin-right: 0.3em;
			  }
			}

		   .addAdTofav {
				position: static;
				padding: 6px; // 0.5em; // 0
				display: inline-block;
				margin-top: -0.4em;
			}

			.addAdTofav.highlight {
				padding: 5px;
			}

			// envelope and star icons aligned horizontally in the same row
			.ui-btn-reply-container {
				display: inline-block;
			}

		 }

		 .button.reply {
		   margin-bottom: -13px;
		 }



	  }

   }
}

@include from-breakpoint($medium-break) {
  .results.list-view .locationName.parent {
	.gap {
	  display: none;
	}
  }
}

@include from-breakpoint($medium-break, $lt-ie9-class-name) {
	.results.list-view {
	  margin-right: 0 !important;

	  .addAdTofav,
	  .addAdTofav.highlight {
		padding: 6px;
		margin-top: -0.4em;
		//width:24px;
	  }

	  .addAdTofav.highlight {
		padding: 5px;
	  }

	  .view {
			ul {
				margin: 0;
				padding: 0;
				display: block;

				li {
					display: block;

					.result-link {
						display: block;
						position: relative;
						width: 100%;
						padding: 5px 160px 10px 145px;

						.thumb {
							height: 100%;
							width: 120px;
							padding: 0.5em 0;

							img{
							   position: absolute;
							   top: 0; bottom:0; left: 0; right:0;
							   margin: auto;
							}
							div{
							  height: 80px ;
							  width: 120px ;
							 
							}

							#img-cnt {
								position:relative;
							}

							#pht-cnt {
								position: relative;
								top: 7.5em;
								background: none;
								line-height: 1;
								font-size: 85%;
								text-align: center;
								height:15%;
							}
						}

						.shrtHght {
							height:85%;
						}

						.info {
							position: absolute;
							right: 0;
							top: 0;
							width: 150px;
							height: 100%;
							padding: 5px 0 5px 0;


							.price {
								@include text-bold;
								padding-bottom: 3px;
								width: 100%;
								
							}

						}

						.meta-info{
							width: 100%;
							position: absolute;
							bottom: 30px;
							right: -2px;
							width:150px;
							.creation-date{
								@include ellipsis;

								&:first-letter {
									white-space: nowrap;
									margin-right: 5px;
								}
								.icon-calendar{
									display: inline-block;
									height: 1em;
									margin-top: -0.2em;
									vertical-align: middle;
									width: 1em;
								}
							}

						}

						.websiteurl, .reply-action{
							position: absolute;
							bottom: 8px;
							right: -2px;
							width: 150px;
							font-weight: bold;
						}

						.reply-action {
						  padding-right: 0.5em;
						}

					   // envelope and star icons aligned horizontally in the same row
					   .ui-btn-reply-container {
						   display: inline-block;
					   }

						.title {
							@include text-bold;
							padding-bottom: 5px;
							width: 100%;
							@include ellipsis;
						}
						
						

						.description {
							width: 100%;
							min-height:2.5em;


							.hellip{
								@include bold-text;
								margin-left: 0.25em;
								display: inline-block;
								padding: 0 0.35em;
								@include border-radius(3px);

								&:hover, &:focus{
									background-color: $link-color;
									color: $color-white;
								}
							}
						}


						.attributes-ctnr{
						  min-height:1em;
						}
						.attributes{
							@include clearfix;
							padding: .5em 0 0 0;
							//font-size: 85%;
							line-height: 1.75em;


							> li{
								float: left;
								text-decoration: none !important;
								padding: 0 $medium-margin 0 0;
								margin: 0 $medium-margin 0 0;
								border-right: 1px solid $color-black-15;
								border-right: 1px solid #cacaca;

								&:first-child{
									padding-left: 0;
								}

								&:last-child{
									border-right: none;
									padding-right: 0;
								}
							}
						}
					}
				}
			}
		}

	}


}

@include in-breakpoint( $lt-ie9-class-name){
   .icon-calendar{
		height: 2em !important;
		width: 1.8em !important;
	}
 }
