@import "../../../partials/common/pagination";



.results{

	.result{
		position: relative;
		overflow: hidden;

		.description{
			@include hyphenation;
		}
	}

}




@include in-breakpoint($medium-break){
	.results{
		@include span-columns($medium-break - 2, $medium-break);
		float: right;
		margin-right: 0;
	}

      .extended .results,
	  .soi {
	    	width:100% !important
	    }
}

@include from-breakpoint($large-break, $lt-ie9-class-name){
	
	.soi {
		width:100%;
	}
}







@include from-breakpoint($large-break, $lt-ie9-class-name){
	.results{
		@include span-columns($large-break - 3, $large-break);
		float: right;
		margin-right: 0;
	}
	.extended .results{
	  float: none !important;
	}
	
	.soi {
		width:100%;
	}
}






@import
	"results-gallery",
	"results-list";













