.skyscraper{
	float: left;
	display: none;
}

.topad, .bottomad{
    //overflow:hidden; // BOLT-10234
 } 
 
 .topad2{
    display: block;
}

.bottomadbanner{
  overflow:visible;
    width:728px;
}

.adbanner{
    margin:0 auto;
}

@include in-breakpoint($no-break){
	.bottomadbanner{
    	width:300px;
	}
}

@include from-breakpoint($medium-break, $lt-ie9-class-name){

	.skyscraper{
		margin-top: $large-margin;
		display: block;

		.ad{
			//display: block;
			width: 160px;
			height: 600px;
			margin: 0 auto;
			//background: url(../images/temporary-skyscraper-ad.jpg) -4px -2px no-repeat;
		}
	}

}

@include in-breakpoint($medium-break){
	.skyscraper{
		@include span-columns(2, $medium-break);
		clear: left;
	}
}


@include from-breakpoint($large-break){
	.skyscraper{
		@include span-columns(3, $large-break);
		clear: left;
	}
}

@include from-breakpoint($small-break){
    .bottomad{
        margin-bottom: 2em;
        background: #fff;  
    }

    #topadbanner{
        width:728px;
        //height:90px; // BOLT-19445
    }
    
    .topad2{
        display: none;
    }
    
    .midbanner{
        clear:both;
        background: #fff;
        text-align: center;
        margin: 0 auto;
        padding: 2em 0;
        border-bottom: 1px solid rgba(51, 51, 51, 0.25);
    }
}

 
@include in-breakpoint($small-break){
		.topad{
		    display: block;
		    width: 100%;
		    margin-bottom:15px;
		    background: #fff;   
        }
		
		.middleadgallery{
			clear: both;
			height: 90px;
		}
}
  
@include in-breakpoint($medium-break){
	
       .topad{
		    display: block;
		    width: 76.6479%;
		    float:right;
		    margin-bottom:15px;
		    background:#fff;  

        }
        
		
		.middleadgallery{
			clear: both;
			margin: 0 1em;
			height: 90px;
		}
		
}

@include from-breakpoint($large-break, $lt-ie9-class-name){

	    .topad{
		    display: block;
		    width: 74.6479%;
		    float:right;
		    background:#fff;  

        }
        
		.middleadgallery{
			background: #fff;
			clear: both;
			padding-left: 2.7em;
			margin: 0 1em;
			height: 90px;
		}
		
}

@media (max-width: 759px) { 
	 .midbanner,.middleadgallery{
		  display:none;
     }
}
