.message-modal {
	.message {
		.close-text {
			color: color(swirl, medium);
		}

		.error-message {
			color: color(swirl, medium);
		}

		.error-modal-container {
			background: color(foxtail, light)
		}
	}
}
