@mixin navLinks-slideDown(){
    .nav{

        min-width:15em;
        @include in-breakpoint($small-break){ min-width:10em; }


        .profile{ display:block; width:auto; height:auto;

            a{ color:$header-nav-link-color; display:block; height:$header-post-button-height; line-height:$header-post-button-height; text-align:center; text-decoration:none; }

            .icon{ background:center no-repeat; background-size:contain; width:2em; height:2em; display:inline-block; vertical-align:middle; position:relative;
               span{ position:absolute; left:0; top:0; width:100%; height:100%; }

              .icon-header-profile-out{ display:block; }
              .icon-header-profile-over{ display:none; }

              &.has-profile-image {
                @include border-radius(1em); @include background-size(cover);
                span{ display:none; }
              }
            }
        }

        ul{ display:none; background-color:white; border:2px solid $header-nav-border-color; border-radius:0.25em; overflow:hidden; position:absolute; left:0; top:100%; width:100%;

            li{ display:block;

                a {
                    display:block;
                    padding:0.5em 1em;
                    border-top:2px solid $header-nav-border-color;
                    color:$header-nav-link-color;
                    text-transform: capitalize;

                    &:focus,
                    &:hover{
                        background-color:$header-nav-link-color;
                        color:$color-white;
                        text-decoration:none;
                    }
                }

                &:first-child a { border-top:none; }
            }
        }
        
        &:hover{

            ul{ display:block; @include box-shadow(0 2px 3px $color-black-15); z-index:12; }

            .profile a:before,
            .profile a:after { content:" "; position:absolute; left:50%; border-left:0.8em solid transparent; border-right:0.8em solid transparent; 
                               margin-left:-0.4em; @include from-breakpoint($medium-break){margin-left:1em;}; z-index:13; }
            .profile a:before{ border-bottom:0.8em solid $header-nav-border-color; bottom:0; }
            .profile a:after{ border-bottom:0.8em solid $color-white; bottom:-2px; }

            &:before{ content:" "; width:2em; height:100%; position:absolute; right: 0; } // right:-2em; }
            &:before{  content:" "; width:1.8em; height:100%; position:absolute; right: 0; } // right:-1.8em; }
        }

        // adding a better mobile experience (responsive)
        // because the touch experience is handled through .touched and .untouched classes
        @include to-breakpoint($small-break){
            min-width:0em;
            width:3em;
            .profile .label{ display:none; }
            ul{ min-width:10em; left:auto; right:0;
                @include in-breakpoint($small-break){ min-width:15em; }
            }
        }


        &.touched,
        &.untouched{ min-width:0;
            .profile{ position:relative;

                .label{ display:none; }

                //a:before{ display:none; }
              a:before{ border-bottom:none; border-top:0.8em solid $header-nav-border-color; bottom:-0.8em;margin-left:-0.7em; }
              a:after{ border-bottom:none; border-top:0.8em solid $header-background; bottom:-0.7em;

                    // not sure why the arrow is not centered,
                    // so we're pushing it 0.2 more em's to the left
                    margin-left:-0.7em;
                }

            }
            ul{ top:auto; }
        }



        &.touched{ position:static;

            &:hover ul{ @include box-shadow(0 1000px 0 1000px $color-black-50); }
        }


        &.untouched{
            ul{ display:none; }
            .profile a:before,
            .profile a:after{ display:none; }
        }


    }



}

