$header-logo-desktop-height: 60px;
$header-logo-mobile-height: 40px;
$header-width: $container-width;
$header-border: 0 1px solid #eaeacf;
$header-nav-link-color: $ibblue;
$header-post-button-color: $postad-btn-color;
$header-countries-color: #777;
$header-shadow: 0 0 50px $color-black-10;
$header-countries-mouseover-bg: rgba(24,103,195,.15);
$header-countries-mouseover-color: #666;
$header-signin-display: none;


$searchbar-width: $container-width;
$searchbar-wrap-background: $iborange;
$searchbar-button-color: white;
$searchbar-button-text-color: $ibblue;
$searchbar-caret-color:$iborange;
$searchbar-link-color:$ibblue;
$searchbar-autocomplete-link-color:$ibblue;
$searchbar-autocomplete-border-color:#ddd;


$pagetitle-wrap-width: $container-width;
$pagetitle-wrap-background: $ibltgreen;