@import "../../../partials/common/form";

$order_summary_default_max-width: 725px;

@mixin form_styles{

  input[type="text"]{
    @include form_default;
  }
  select {
    @include form_default_select_only;
  }

  .errorField{
    @include error_field;
  }

  p.error{
    @include error_message;
  }

  .separator{
    border-bottom: 1px solid #E6E6E6;
  }

  .field-name, .credit-card-number,
  #expiration-month, #expiration-year,
  .security-code {
    width: 100%;
    vertical-align:top;
  }

}


@mixin creditcardform_default {

  @include form_styles;

  .cancel {
    width: 100%;
  }
  .none-container {
    display: none;
  }

  .payment-info {

    padding:0;
    overflow: hidden;
    display:none;
    &.expand {
      display:block;
    }
    &.oneTouch {
      outline:0;
    }

    max-width: $order_summary_default_max-width;
    @include clearfix;
    outline: 2px solid $section-divider-bg-color;
    margin: 1em 0;
    line-height: 2em;
    input[type='radio'] {
      @include radio-input;
    }
    input[type='checkbox'] {
      @include checkbox-input;
    }
    label {
      font-size: 0.8em;
      font-weight:300;
    }

  }


  #expiration-month, #expiration-year{
    width: 45%;
  }






  .payment-methods {
    margin:0 1em;
    .expand {
      margin: 0;
    }
    #credit-card-type {
      padding: 0 0 0.4em 0;
      margin: 0.5em 0 0 0.5em;
    }
    #credit-card-details {
      max-width:725px;
      padding-right:1em;
      &>div {
        margin-bottom:1em
      }
      input {
        &.error {
          @include error_field;
        }
        &.valid {
          color: #002200;
          &:after {
            content: "\2713";
            border:1px solid green;
            height:25px;
            width:25px;
            display:block;
          }
        }
      }
      label.error {
        @include error_message;
        line-height:1em;
        margin:0.5em;
      }
      // bolt-11301 : sorry for straying from defaults
      border-top: 1px solid $section-divider-bg-color;
      button.submit {
        @include form-submit-button;
        &.disabled {
          @include form-submit-button-disabled;
          @include box-shadow(none);
        }
        width:100%;
      }
      .security-code {
        width:4em;
      }
      .cvv-icon {
        display:inline-block;
      }
      .cvv-hint {
        display:block;
        position: relative;
      }
    }
  }

  @include from-breakpoint($medium-break) {
    .payment-methods #credit-card-details button.submit {
      width:initial;
    }
  }

}

@mixin creditcardform_medium {

  #expiration-month, #expiration-year{
    width: 35%;
    // commented out to fix BOLT-14861
    //height:2em;
  }

  #expiration-year{
    float: none;
    margin-left: 0.75em;
  }

  .security-code {
    width: 35%;
    float: left;
    margin-right: 1em;
  }

  .payment-methods #credit-card-details button.submit,
  .cancel {
      width: inherit;
  }
}

@mixin creditcardCheckBoxBorder {
	.payment-info {
	 input[type='checkbox'] {
	     border:1px solid #ddd;
	 }
}
	
}
