<div id="spinner-modal" class="spinner-modal hidden">
	<div class="loading-spinner">
		<img src="{{this.header.baseImageUrl}}es_MX/loading-circle-complete.gif" class="hidden">
		<img src="{{this.header.baseImageUrl}}es_MX/loading-circle.gif" class="hidden">
	</div>
</div>
