{{! @social-media }}
{{! Template for Social media container icons }}

{{!-- #if model.socialMediaEnabled --}}
    <!--  social media -->
    <div class="social-media">
        <ul class="social-media-ul buttons">
            <li class="button"><a href="http://www.facebook.com/gumtreeSG " target="_blank"><span class="icon-sg-facebook sm-icons"></span></a></li>
            <li class="button"><a href="https://plus.google.com/102984486916979382186 " target="_blank"><span class="icon-sg-googleplus sm-icons"></span></a></li>
            <li class="button"><a href="http://www.youtube.com/user/GumtreeSingapore" target="_blank"><span class="icon-sg-youtube sm-icons"></span></a></li>
            <li class="button"><a href="https://instagram.com/gumtreeSG/" target="_blank"><span class="icon-sg-instagram sm-icons"></span></a></li>
        </ul>
    </div>
{{!-- /if --}}