{{! @social-media }}
{{! Template for Social media container icons }}

{{!-- #if model.socialMediaEnabled --}}
    <!--  social media -->
    <div class="social-media">
        <ul class="social-media-ul buttons">
            <li class="button"><a href="https://www.facebook.com/GumtreeSouthAfrica" target="_blank"><span class="icon-seo-facebook sm-icons"></span></a></li>
            <li class="button"><a href="https://plus.google.com/+gumtreecoza/posts" target="_blank"><span class="icon-seo-gmailplus sm-icons"></span></a></li>
            <li class="button"><a href="https://twitter.com/gumtreecoza" target="_blank"><span class="icon-seo-twitter sm-icons"></span></a></li>
            <li class="button"><a href="https://www.pinterest.com/gumtreesa/" target="_blank"><span class="icon-seo-pinterest sm-icons"></span></a></li>
            <li class="button"><a href="https://www.youtube.com/user/GumtreeSouthAfrica" target="_blank"><span class="icon-seo-youtube sm-icons"></span></a></li>
            <li class="button"><a href="https://www.linkedin.com/company/gumtree-south-africa" target="_blank"><span class="icon-seo-linkedin sm-icons"></span></a></li>
        </ul>
    </div>
{{!-- /if --}}
