{{! @social-media }}
{{! Template for Social media container icons }}

{{!-- #if model.socialMediaEnabled --}}
    <!--  social media -->
    <div class="social-media">
        <ul class="social-media-ul buttons">
            <li class="button"><a href="https://www.facebook.com/pages/Gumtree-Ireland/418049221563633" target="_blank"><span class="icon-seo-facebook sm-icons"></span></a></li>
            <li class="button"><a href="https://plus.google.com/102717280495598991268/posts " target="_blank"><span class="icon-seo-gmailplus sm-icons"></span></a></li>
            <li class="button"><a href="https://twitter.com/gumtree_ie" target="_blank"><span class="icon-seo-twitter sm-icons"></span></a></li>
            <li class="button"><a href="https://pinterest.com/gumtreeie" target="_blank"><span class="icon-seo-pinterest sm-icons"></span></a></li>
            <li class="button"><a href="https://www.youtube.com/user/GumtreeIreland" target="_blank"><span class="icon-seo-youtube sm-icons"></span></a></li>
        </ul>
    </div>
{{!-- /if --}}
