.login-form {
	.facebook-button {
		background-color: #3C5A96;
		width: 80%;
		height: 35px;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}

	.divider {
		border-bottom: 1px solid grey;
		margin: 30px auto;
		width: 300px;
		text-align: center;
		height: 15px;

		.divider-text {
			padding: 0 10px;
			height: 16px;
			background-color: $vivaWhite;
		}
	}

	.sign-in-section {
		height: 150px;
		overflow-y: hidden;

		&.open {
			input[type="password"] {
				height: 30px;
			}
		}

		input[type="email"], input[type="password"] {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			box-sizing: border-box;

			&.validation-error {
				border-color: $vivaOrange;
			}
		}

		input[type="email"] {
			margin-bottom: 20px;
			height: 30px;
		}

		input[type="password"] {
			transition: 0.7s height;
			height: 0;
		}

		button {
			width: 80%;
			margin-top: 20px;
			height: 35px;
			color: white;
			background-color: $vivaOrange;
			margin-left: auto;
			margin-right: auto;
			border: 0;
		}
	}
}
