<div class="main-background">
  <div class="main">
    <span class="vertical-alignment-helper"></span>
    <img src="{{this.advert.picturesToDisplay.testPictures.[0]}}"/>
  </div>
</div>
<div class="slider-nav">
  {{#each this.advert.picturesToDisplay.testPictures}}
    <div>
      <img data-lazy="{{this}}" alt="{{@index}}"/>
    </div>
  {{/each}}
</div>
