<div id="vipGallery">
	<div class="vip-overlay hidden">
    <div class="overlay-img"></div>
    <div class="bottom-overlay">here is the bottom overlay</div>
  </div>
	<div class="main">
		<div class="main-bgImg" style="background-image: url('{{this.advert.pictures.testPictures.[0]}}')"></div>
		<div class="counter">
			<span class="currentImg">1</span>
			<span class="separator">/</span>
			<span class="totalImg">{{this.advert.pictures.testPictures.length}}</span>
		</div>
		<div class="vip-gallery">
			{{#each this.advert.pictures.testPictures}}
				<span class="slick-carousel" style="background-image: url('{{this}}')"></span>
			{{/each}}
		</div>
	</div>
</div>
