{{#if this.content.pageSubTitle}}
    <div class="page-title">
        <div class="wrap">
            <h1>
            	{{#if this.content.pageSubTitle}}
            		{{i18n this.content.pageSubTitle}}
            	{{/if}}
            </h1>
        </div>
    </div>
{{/if}}