@import 
    "../../theme",
    "../partials/pages/Homepage/categoryListHack",
	"../partials/pages/Homepage/categoryDisplay";
	
@import "../../../partials/pages/Homepage/pageMain",
		"../../../partials/pages/Homepage/carouselExt",
		"../../../partials/pages/Homepage/carouselExtMain",
        "../../../partials/shared/locationMapCountry";

@include from-breakpoint($medium-break, $lt-ie9-class-name){
  // Highlight for locations (provinces/states).
  .locHighlight, .locHighlight:hover, .locHighlight:visited {
    background-color : #44810B;
  }
}

// Variable for the map images path.
$map-url: url(../../../../../../images/es_MX/MAP/mx_sprite.gif);
$tablet-map-url: url(../../../../../../images/es_MX/MAP/mx_map3_tablet_bg.png);
@include country-homepage-map;

// After the country-homepage-map mixin inclusion override dimensions of country map.
@include from-breakpoint($large-break, $lt-ie9-class-name) {
  // New map coordinates for Vivanuncios.
  .hp-map-wrapper .mapbox {
    width: 485px;
    height: 385px;
  }
}

@include from-breakpoint($small-break, $lt-ie9-class-name) {
  .viewport > div.header {
    .elements .right .post {
      display: block;
    }
  }

  .headerPost {
    display: none;
  }
 .homepagewrapper{
 display: none;
 } 
  
}
