@import
    "../../theme",
    "../partials/pages/Homepage/categoryListHack",
    "../partials/pages/Homepage/categoryDisplay";
 
        
@import "../../../partials/pages/Homepage/pageMain",
		"../../../partials/pages/Homepage/carouselExt",
		"../../../partials/pages/Homepage/carouselExtMain",
		"../../../partials/common/smartMobileBanner",
        "../../../partials/shared/locationMapCountry";



// For MX, don't show the ad count in the category container area.
// It is currently shown in the PostAdSpace.html file. See also _search.scss
// Fixes BOLT-12091
/*
.hp-total-ad-count {
  display: none;
}
*/

.homepagewrapper{
display:none;
}

@include in-breakpoint($no-break) {
  .page{
      padding-left :0;
      padding-right :0;
      }
  }


@include from-breakpoint($medium-break, $lt-ie9-class-name){
  // Highlight for locations (provinces/states).
  .locHighlight, .locHighlight:hover, .locHighlight:visited {
    background-color : #44810B;
  }
}

// Variable for the map images path.
$map-url: url(../../../../../../images/es_MX/MAP/mx_sprite.gif);
$tablet-map-url: url(../../../../../../images/es_MX/MAP/mx_map3_tablet_bg.png);
@include country-homepage-map;

// Map optimization class
#completeMap.focusState { background: no-repeat top center; }
#completeMap.Aguascalientes { background: url("../../../../../../images/es_MX/MAP/locations/Aguascalientes.gif"); }
#completeMap.Baja_California { background: url("../../../../../../images/es_MX/MAP/locations/Baja_California.gif"); }
#completeMap.Baja_California_Sur { background: url("../../../../../../images/es_MX/MAP/locations/Baja_California_Sur.gif"); }
#completeMap.Campeche { background: url("../../../../../../images/es_MX/MAP/locations/Campeche.gif"); }
#completeMap.Chiapas { background: url("../../../../../../images/es_MX/MAP/locations/Chiapas.gif"); }
#completeMap.Chihuahua { background: url("../../../../../../images/es_MX/MAP/locations/Chihuahua.gif"); }
#completeMap.Coahuila { background: url("../../../../../../images/es_MX/MAP/locations/Coahuila.gif"); }
#completeMap.Colima { background: url("../../../../../../images/es_MX/MAP/locations/Colima.gif"); }
#completeMap.df { background: url("../../../../../../images/es_MX/MAP/locations/df.gif"); }
#completeMap.Durango { background: url("../../../../../../images/es_MX/MAP/locations/Durango.gif"); }
#completeMap.Estado_de_Mexico { background: url("../../../../../../images/es_MX/MAP/locations/Estado_de_Mexico.gif"); }
#completeMap.Guanajuato { background: url("../../../../../../images/es_MX/MAP/locations/Guanajuato.gif"); }
#completeMap.Guerrero { background: url("../../../../../../images/es_MX/MAP/locations/Guerrero.gif"); }
#completeMap.Hidalgo { background: url("../../../../../../images/es_MX/MAP/locations/Hidalgo.gif"); }
#completeMap.Jalisco { background: url("../../../../../../images/es_MX/MAP/locations/Jalisco.gif"); }
#completeMap.Michoacan { background: url("../../../../../../images/es_MX/MAP/locations/Michoacan.gif"); }
#completeMap.Morelos { background: url("../../../../../../images/es_MX/MAP/locations/Morelos.gif"); }
#completeMap.Nayarit { background: url("../../../../../../images/es_MX/MAP/locations/Nayarit.gif"); }
#completeMap.Nuevo_Leon { background: url("../../../../../../images/es_MX/MAP/locations/Nuevo_Leon.gif"); }
#completeMap.Oaxaca { background: url("../../../../../../images/es_MX/MAP/locations/Oaxaca.gif"); }
#completeMap.Puebla { background: url("../../../../../../images/es_MX/MAP/locations/Puebla.gif"); }
#completeMap.Queretaro { background: url("../../../../../../images/es_MX/MAP/locations/Queretaro.gif"); }
#completeMap.Quintana_Roo { background: url("../../../../../../images/es_MX/MAP/locations/Quintana_Roo.gif"); }
#completeMap.San_Luis_Potosi { background: url("../../../../../../images/es_MX/MAP/locations/San_Luis_Potosi.gif"); }
#completeMap.Sinaloa { background: url("../../../../../../images/es_MX/MAP/locations/Sinaloa.gif"); }
#completeMap.Sonora { background: url("../../../../../../images/es_MX/MAP/locations/Sonora.gif"); }
#completeMap.Tabasco { background: url("../../../../../../images/es_MX/MAP/locations/Tabasco.gif"); }
#completeMap.Tamaulipas { background: url("../../../../../../images/es_MX/MAP/locations/Tamaulipas.gif"); }
#completeMap.Tlaxcala { background: url("../../../../../../images/es_MX/MAP/locations/Tlaxcala.gif"); }
#completeMap.Veracruz { background: url("../../../../../../images/es_MX/MAP/locations/Veracruz.gif"); }
#completeMap.Yucatan { background: url("../../../../../../images/es_MX/MAP/locations/Yucatan.gif"); }
#completeMap.Zacatecas { background: url("../../../../../../images/es_MX/MAP/locations/Zacatecas.gif"); }


.header.diff{
  @include in-breakpoint($no-break) {
    .right .post a {
      padding-top: 0.4em;
      @include border-radius(0.25em);
    }
  }
}

// After the country-homepage-map mixin inclusion override dimensions of country map.
@include from-breakpoint($large-break, $lt-ie9-class-name) {
  // New map coordinates for Vivanuncios.
  .hp-map-wrapper .mapbox {
    width: 485px;
    height: 385px;
  }
}
