$mobileSearchBarHeight: 26px;
$desktopSearchBarHeight: 32px;
$mobileTextboxWidth: 84%;


.search-controls {
	color: $searchBarTextColor;
	padding: 2em;

	.search-mask {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		background-color: $vivaWhite;
		z-index: 2;
		display: none;
	}

	.type-ahead-results-row {
		height: 32px;

		.type-ahead-link {
			box-sizing: border-box;
			width: 90%;
			height: 100%;
			margin: auto;
			display: block;
			color: $searchBarTextColor !important;
			text-decoration: none;
		}

		&.active {
			background-color: $searchBarTypeAheadWrapperBackground;
		}
	}

	.type-ahead-results-wrapper {
		position: absolute;
		margin-top: 81px;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		display: none;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		background-color: white;
		z-index: 3;

		.type-ahead-results-container {
			padding-top: 95px;
			height: 100%;
			z-index: 3;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 auto;
			background-color: $searchBarTypeAheadContainerBackgroundMobile;
			overflow-y: scroll;
			padding-right: 20px; // hide scrollbar
		}
	}

	.search-bar {
		z-index: 4;
		width: 90%;
		margin: 0 auto;
		position: relative;
		box-sizing: border-box;
		background-color: white;
		padding-bottom: 10px;

		form {
			position: relative;
			height: 100%;
		}

		.loc-arrow-icon, .close-search {
			z-index: 1;
			position: absolute;
			display: none;
			box-sizing: border-box;
			font-size: 24px;
			line-height: 1;
			margin-left: 5px;
		}

		.loc-arrow-icon {
			top: 48px;
			right: 17%;

			&:hover {
				cursor: pointer;
			}
		}

		.close-search {
			top: 3px;
			bottom: 0;
			margin-top: 3px;

			&:hover {
				cursor: pointer;
			}
		}

		.search-loc-icon {
			display: block;
			float:right;
			width: 20px;
			height: 20px;
			margin-top: 1px;
			margin-right: 3px;
		}

		.location-text {
			display: block;
			float: right;
			max-width: 4em;
			@include in-breakpoint($small-break) {
				max-width: 7em;
			}
			@include from-breakpoint($medium-break) {
				max-width: 15em;
			}
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.search-textbox-container {
			position: relative;
			height: 100%;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		.location-link {
			position: absolute;
			right: 15.5%;
			bottom: 0;
			color: $searchBarLocationLinkColor;

			margin-top: 9px;
			margin-bottom: 4px;

			border-left: 1px solid $vivaGray6;
			padding-left: 5px;
			padding-right: 5px;
			display: block;
			&:hover{
				cursor: pointer;
			}
		}

		.mobile-location-area {
			box-sizing: border-box;
			outline: none !important;
			width: 100%;
			height: $desktopSearchBarHeight;
			-webkit-appearance: none;
			border: 1px solid $searchBarTextBoxBorder;
			display: none;
		}

		.search-textbox, .mobile-location-area {
			box-sizing: border-box;
			outline: none !important;
			width: 100%;
			height: $desktopSearchBarHeight;
			-webkit-appearance: none;
			border: 1px solid $searchBarTextBoxBorder;
		}

		.mobile-location-area {
			margin-top: 10px;
		}

		.search-button {
			background-color: $searchBarButtonColor;
			color: $searchBarButtonTextColor;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			box-sizing: border-box;
			width: 15%;
			border: $searchBarButtonColor;

			.inner-text {
				display: none;
				width: 45%;
				float: right;
				text-align: left;
			}

			.button-content-container {
				position: relative;
				height: 100%;
			}

			.icon-search-white {
				display: block;
				margin: auto;
				height: 20px;
				width: 20px;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	&.is-typing {
		.type-ahead-results-wrapper, .search-mask, .close-search {
			display: block;
		}

		.location-link {
			border: none;
			right: inherit;
		}

		.loc-arrow-icon {
			display: block;
		}

		.mobile-location-area {
			display: block;
			width: $mobileTextboxWidth;
			padding: 0 30px;
		}

		.search-textbox {
			width: $mobileTextboxWidth;
			padding: 0 30px;
		}
	}
}

@include from-breakpoint($medium-break) {
	.type-ahead-link {
		margin: auto 10px !important;
	}

	.type-ahead-results-container {
		padding-top: 0 !important;
	}

	&.is-typing {
		.type-ahead-results-wrapper, .search-mask, .close-search {
			display: block;
		}

		.search-mask {
			background-color: rgba(0, 0, 0, 0.7);
		}

		.mobile-location-area, .loc-arrow-icon {
			display: none !important;
		}

		.search-bar {
			background: none;
			.search-textbox {
				width: 100%;
				padding: 0 30px;
			}

			.location-link {
				border-left: 1px solid $vivaGray6;
				right: 15.5%;
			}
		}
	}

	.search-controls {
		.search-bar {
			height: $desktopSearchBarHeight + 10px; // padding

			.search-button {
				.inner-text {
					width: 55%;
					float: right;
					display: block;
					text-align: left;
				}

				.icon-search-white {
					float: right;
					margin: auto 5px auto 0;
				}
			}

			.location-link {
				bottom: 0;
				top: -4px;
			}

			.search-textbox {
				padding: 0 5px !important;
			}
		}

		.type-ahead-results-wrapper {
			width: 90%;
			background-color: transparent;
			position: relative;
			margin-top: 0;
			top: -10px;

			.type-ahead-results-container {
				padding-right: 0px;
				padding-top: 20px;
				width: 85%;
				overflow: hidden;
				margin: 0;
				height: 320px;
				background-color: $searchBarTypeAheadContainerBackgroundDesktop;
				border: 0.5px solid $searchBarTypeAheadBorder;
				box-sizing: border-box;
			}
		}

		.close-search {
			display: none !important;
		}
	}
}

@include to-breakpoint($medium-break) {
	body.disable-scroll-mobile {
		overflow-y: hidden;
	}
}
