.category-selection-modal {
	.close-button {
		color: color(swirl, medium);
	}

	.current-hierarchy {
		color: color(swirl, shade);
	}

	.modal {
		background: color(foxtail, light);
	}

	.results {
		border-color: color(swirl, shade);

		.list-item {
			&.active {
				background: color(crane);
				color: white;
			}
		}
	}

	.title {
		color: color(swirl, shade);
	}

	.wrapper {
		color: color(swirl, medium);

		input {
			border-color: color(swirl, shade);
			border-radius: 2px;
		}
	}
}
