@mixin form_default{
	//width: 100%;
	padding: .4em;
	border: 1px solid darken($color-white, 20%);
	border-radius: .3125em; /* 5px */
	font-size:1em;
}

@mixin form_default_select_only{
    // some android device breaks select elements arrows when border is applied.
    padding: .4em;
    font-size:1em;
}

@mixin error_field{
	@include box-shadow(0 0 8px $form-element-error-color);
}

@mixin error_message{
	clear: left;
	margin-left: 0;
	margin-bottom: 0;
	color: $form-element-error-color;
}

@mixin suggestion_message{
  clear: left;
  margin-left: 0;
  margin-bottom: 0;
  color: $color-navy;

  .domain {
    font-weight: bold;
    font-size: 100%;
  }
}