
@mixin popup_default{

	.modelBg {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: $color-black-50;
		z-index:499;
	}

	.modelDlg {
		width:90%;
		max-height:88%;
		overflow: auto;
		-webkit-overflow-scrolling : touch;
		background: white;
		border-radius: 10px;
		@include box-shadow(0 5px 10px $color-black-75);
		position: fixed;
		left: 5%;
		top: 5%;
		padding: 10px;
		z-index:500;
	}
	
	
	.modelDlg .close{
	  float:right;
	  text-align:center;
	  width:1.5em;
	  height:1.5em;
	  border:1px solid blue;
	  display:block;
	}
	.modelDlg .title{
		font-weight:bold;
		@include clearfix;
	}
	
}

//small tablet size
@mixin popup_mediumsize{
   	.modelDlg {
		max-width: 370px;
		top: 10%;
		left: 25%;
	}

}

//big tablets/desktop size
@mixin popup_largesize{

   	.modelDlg {
		max-width: 500px;
		top: 10%;
		left: 35%;
	}
}

//<IE9 specific
@mixin popup_lt_ie9{
  .modelBg {
		background-color:#cccccc;
	    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  }
  .modelDlg {
    border:2px solid #cccccc;
  }
}


