@mixin sliderize_default {
	
	.sliderize-container {
		position: relative;
		overflow: hidden;
		max-height: 100%;
		border: 1px solid #ddd;
	} 
	
	.sliderize-container .icon-vip-arrow-left,
	.sliderize-container .icon-vip-arrow-right,
	.sliderize-container .icon-zoom-image {
		display: block;
	}

	.sliderize-reel {
		position: relative;
		overflow: hidden;
		height: 100%;
	}
	
	.sliderize-item {
		position: relative;
		float: left;
		text-align: center;
		height: 100%;

		background: url(../../../../../images/loading.gif) no-repeat center;

		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		transition: 300ms;
	}
	
	.sliderize-item img {
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		vertical-align: middle;
	}
	
	.sliderize-overlay {
		position: fixed;
		background-color: black;
		height: 100%;
		width: 100%;
		top: 0; 
		left: 0;
	
		z-index: 105;
	}

	.notransition {
		-webkit-transition: 0;
		-moz-transition: 0;
		-o-transition: 0;
		transition: 0;
	}

	.sliderize-hide {
		display: none !important;
	}
}