
.controls{
	padding: 0em;
    .right-column
    {
        .watchlist
        {
            &.open
            {
                .controlButton
                {
                    background-color: $gumtree-green;
                }
            }
            
            .list
            {
                ul
                {
                    background-color: $controls-column-background-color;
                }
                .title
                {
                    background-color: $gumtree-green;
                }
                .info
                {
                    h2
                    {
                        color: $gumtree-green;
                    }
                }
            }
            
        }
	}
	
	.cancel {
	   color: #468100;
	}
}

@include to-breakpoint($no-break){
       .category-list{
        .parent-category{
           > a {
              .icon{
                    left: -1.5em;
                }
             }
         }    
    }
 }

@include from-breakpoint($medium-break){
	form.filteropts ul li span.count {
		background-color:#fffee0; // bolt:11362
	}
}
