.top-listings .creation-date,
.top-listings .creation-date-gallery,
.hide-on-mobile {
	display: none !important;
}

@include from-breakpoint($small-break) {
	.hide-on-mobile{
		display: block !important;
	}
}

@include in-breakpoint($small-break) {
	.searchSummary{
		display:block;
	}

}


/* *******************************************************************
  Rules for In-line reply for ZA SRP
  Overrides from default (from VIP reply rules) - See BOLT-15355
 ******************************************************************* */

.results.list-view .ui-btn-reply-container .button.reply.ui-btn-reply,
.results.list-view .ui-btn-reply-container .button.reply.ui-btn-reply:hover,
.results.list-view .ui-btn-reply-container .button.reply.ui-btn-reply:focus {
	@include box-shadow(0 0 3px rgba(0, 0, 0, 0.15));
	border: none;

	&.enabled {
		background: none;
		@include box-shadow(none);
	}
	&.disabled {
		background-color: #F5831F;
	}

	.envIcon {
		margin-right: 0;
	}
}

// Remove reply form top space
.srp-reply-container {
	padding-top: 0;

	.vip-contact {
		form {
			padding-top : 1.5em;

			button[type="submit"] {
				padding: 0.8em 0;
			}

			.gl-messages-replyAds-srp .close_btn:hover,
			.gl-messages-replyAds-srp .close_btn:active {
				background-color: transparent;
			}

			textarea {
				height: 60px;
			}

		}
	}
}

// Don't show form label
.reply_controls .reply-label {
	display: none;
}

// Display form all the time
.results.list-view {
	.result .result-link .ui-btn-reply-container {
		display: inline-block;
	}
}

// Form top triangle pointer rules
.result.reply {
	.triangle:before {
		border-color: transparent transparent #E3E6C9 transparent;
	}
}

.results.list-view .view ul li .result-link .websiteurl {
	bottom: 33px;
	color: $gtdkgreen;
}


// Display form for mobile
@include in-breakpoint($no-break) {
	// Envelope icon correction
	.ui-btn-reply .envIcon {
		background-size: 20px 15px;
	}
	.vip-contact {
		@include user-interactionform-toggle("on");
	}
	.result-link .websiteurl, .result-link .reply-action {
		.button.reply.ui-btn-reply {
			border: none;
		}
	}
}

// Tablet breakpoint
@include in-breakpoint($medium-break){
	.usr-interactions{
		margin-right: 0;
	}
}

// Display form for tablet, desktop
@include from-breakpoint($small-break, $lt-ie9-class-name) {
	.ui-btn-reply .envIcon {
		background-size: 21px 15px;
		margin-right: 0.2em;
	}
	.results.list-view .view ul li .result-link .ui-btn-reply-container {
		display: inline-block;
	}
	.results.list-view .view ul li .result-link .websiteurl {
		bottom: 38px;
	}
}