<div class="headerV2">
    {{> (dynamic "logo")}}
    <div class="browse">
        Browse
    </div>
    <div class="right-items">
        <div class="help float-right">
            Help
        </div>
        <div class="profile float-right">
            My Account
        </div>
        {{> (dynamic "button")}}
    </div>
</div>


