.page{
  padding-left: 0;
  padding-right: 0;
}

.qpHeader{
  background-color: $quickpost-header-bgcolor;
  display: inline-block;
  width: 100%;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  .logo{
    float: left;
    height: 60px;
  }
  .pageTitle{
    margin-left: 1em;
    color: white;
    margin-top: 0.7em;
    float: left;
    font-size: 1.5em;
  }
}

.icon-remove-gray{
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  background-color: white;
}

.imgUploadContainer{
  display: inline-block;
  width: 96%;
  margin-left: 0.5em;
  .uploadWrapper{
    float: left;
    cursor: pointer;
  }
  #thumb-nails{
    float: left;
    li{
      float: left;
      margin-left: 0.5em;
      position: relative;
      .upload-status {
        //Remove the rule important after changing javascript
        display: none !important;
      }
    }
  }
}

#featuredImage, .uploading{
  display: none;
}

#fileUpload{
  position: absolute;
  top: -1.7em;
  left: -0.15em;
  cursor: pointer;
  width: 6em;
  height: 7.5em;
  z-index: 40;
  opacity: 0;
}

.icon-camera{
  width: 67.19px;
  height: 67.19px;
  display: block;
  position: absolute;
  z-index: 1;
}

.upload-icon {
  width: 1.6em;
  height: 1.6em;
  float: left;
  margin-left: 0.2em;
  text-align: center;
  padding-top: 0.1em;
  font-weight: bold;
  font-size: 3em;
  color: $quickpost-form-submitBtn;
  position: relative;
}

.upload-icon-content{
  position: absolute;
  top: 1.8em;
  left: 2em;
  border: 2px solid #CCCBB3;
  border-radius: 81px;
  font-size: 0.5em;
  width: 1.7em;
  background-color: white;
  z-index: 3;
}

.qpWrapper{
  padding: 1em;
  background-color: $quickpost-form-wrapper;
  border-radius: 10px;
  margin: 1em;
}

#postForm{
  margin-top: 1em;
}

.star{
  color: #bb3027;
  float: left;
  font-weight: 600;
  margin-left: -0.8em;;
}

.description{
  margin-top: 0.3em;
  position: relative;
  .icon-contextual-info{
    width: 15px;
    height: 18px;
    display: table-cell;
    cursor: pointer;
    position: absolute;
    top: 0.3em;
    right: 7%;
  }
  .char-count-info {
    width: 15px;
    height: 18px;
    display: inline;
    cursor: text;
    position: absolute;
    top: 2.3em;
    right: 8%;
    font-size: 80%;
    color: #6666ff;
  }
  textarea{
    background: transparent;
    border-radius: 5px;
    width: 96%;
    max-width: 96%;
    height: 4.5em;
    min-height: 4.5em;
    padding-right: 2.3em;
  }
}

.socialMedia{
  border-bottom: solid 1px #a2a2a1;
  margin-top: 1em;
  width:96%;
}

.select-category{
  border-bottom: solid 1px #a2a2a1;
  margin-top: 0.6em;
}

.select-location{
  border-bottom: solid 1px #a2a2a1;
  padding-left: 0.4em;
  margin-top: 1em;
  margin-bottom: 0.2em;
  position: relative;
  width: 96%;
}

.price{
  border-bottom: solid 1px #a2a2a1;
  margin-top: 1em;
  position: relative;
  width: 96%;
}

input, select{
  &.custom-input{
    background: transparent;
    border: 0;
    outline: none;
    width: 96%;
    margin-left: -0.2em;
  }
}

.toggleswitch{
  float: right;
  margin-top: -0.7em;
  display: inline-block;
  clear: right;
}

.infos{
  cursor: auto;
  color: #698DA7;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  border: 1px solid #97C3CE;
  background-color: #D9EDF6;
  white-space: normal;
  overflow: hidden;
  border-radius: 10px;
  padding: 0 0.75em;
  margin-bottom: 1em;
  margin-top: 0.3em;
  margin-left: -0.4em;
}

#maps-link{
  color: #2F68B2;
  text-decoration: underline;
  cursor: pointer;
  width: 97%;
}

.qpost{
  padding: 0 1em;
}

.quickSubmit {
  color: #fff;
  font-weight: 500;
  font-size: 1.2em;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  background-color: #f89301;
  margin: 0 auto;
  margin-top: 0.5em;
  width: 100%;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: -1px 1px 1px rgba(0,0,0,.15);
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,.15);
  -o-box-shadow: -1px 1px 1px rgba(0,0,0,.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.15);
  -webkit-appearance: none;
}



.noHeaderError{
  font-weight: 500;
  color: #bb3027;
  font-size: .85em;
}

.submitError{
  padding: 0 1em;
}

textarea.error{
  border: 1px solid #bb3027;
  background: #EFDBD6;
}

.labelError{
  color: #bb3027;
  font-weight: 500;
  font-size: 12px;
}

.catSelectorError{
  @extend .labelError;
  margin-bottom: -0.1em;
  margin-top: 0.5em;
}

.custom-inputError{
  @extend .labelError;
  margin-left: -0.4em;
}



.icon-validation-check{
   width:14px;
   height:14px;
   display:none;
   float:right;

}

#catSelector .icon-validation-check{
	margin-right: -1.3em;;
	margin-top: 1.2em;
}

.description .icon-validation-check{
   margin-top: 1.2em;
   margin-right: -0.3em;
 }

.price .icon-validation-check{
   margin-right: -5%;
}

.select-location .icon-validation-check{
  margin-right: -5%;
}


.inforules {
   cursor: auto;
   color: #698DA7 ;
   font-weight: 400;
   font-size: 10px;
   line-height: 160%;
   white-space: normal;
   text-align: center;
   overflow: hidden;
   border-radius: 10px;
   padding: 0 0.5em;
   margin-top: 1em;
}

.floating-tooltip{
  padding: 1em;
  width: 99%;
  position: fixed;
  bottom: 0;
  display: none;
  z-index: 240;
  font-size: 12px;
  .tooltip-wrapper{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 2.1em;
    padding-left: 1.5em;
    background-color: #DFE38C;
  }
  .elt{
    display: list-item;
    margin-left: 2em;
  }
  .close_btn{
    top: 1.2em;
  }
}

.gl-messages{
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  padding: 1em;
}

.hiddenElt{
  display: none;
}



#autocompleteField{
  background-color: white;
  border: 1px solid #CCC;
  width: 100%;
  max-width: 40em;
  position: absolute;
  top: 1.5em;
  z-index: 400;
  left: 0;
  .ac-field{
    cursor: pointer;
    text-decoration: underline;
    color:$quickpost-selected-cat-color;
    padding-left: 0.2em;
    &:hover{
      background-color: $quickpost-header-bgcolor;
      color: $quickpost-cat-hover-color;
    }
  }
}
.selMenu{
  .mm-next:after,
  .mm-arrow:after {
    border: none;
  }
}



.currency-types{
 clear:both;
 margin: 0 1em .5em 0;
 border-color: #939393;
 border-radius: 5px;
}

.currency-value{
 border: 1px solid #ccc;
 border-color: #939393;
 border-radius: 5px;
}

.price-field{
position: relative;
display: inline-block;
border: none;
border-color: #939393;
border-radius: 5px;
}

.price-fraction{
float:right;
}

#currency-types, #price-field {
  display:inline;
}

.price-field.numberonly input.price-value,#Price {
border: 1px solid #ccc;
border-radius: .3125em;
font-size: 1em;
padding-left: 1.6em;
width: 11.25em;
height: 25px;
float:right;
}

.ghost{
  position: absolute;
  left: 0;
  top: -.25em;
  z-index: 1;
  padding: .35em;
  font-weight: 600;
}
