.file-upload-container {
	position: relative;
	.file-input {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
}

.user-image {
	height: 350px;
	background-color: $imagePlaceholderBackground;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: $item-margin;
	.upload-photo-text {
		width: 150px;
		height: 50px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		margin: auto;
		text-align: center;

		.icon-post {
			margin: auto;
		}
	}
}

.message-modal {
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	.message {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 80%;
		height: 100px;
		margin: auto;
		background-color: white;
	}
}

.spinner-wrapper {
	position: relative;
	margin: 40px auto;
	background: transparent;
	overflow: hidden;
}

.inset-percent-container {
	position: relative;
	width: 100%;
	height: 100%;

	.inset-percent-text {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 1.5em;
		height: 1.5em;
		margin: auto;
		font-size: 1.5em;
	}
}
