$categoryIndent: 20px;
$categoryArrowLeftOffset: 2px;
$categoryArrowTopOffset: 10px;
$categoryArrowIconWidth: 13px;

.main-detail-post {
	padding-bottom: 10px;

	.post-add-detail {
		padding: 0.618em 0;
		text-align: center;
		font-size: large;
		color: $formLabelTextColor;

		.icon-down, .icon-up {
			float: right;
			margin-right: 15%;
			margin-top: -17px;
			cursor: pointer;
		}
	}

	select, input {
		height: 33px;
	}

	select {
		// this is for firefox only.  percentage text indent is bigger
		// on firefox than chrome/safari etc.
		@-moz-document url-prefix() {
			text-indent: 1% !important;
		}

		text-indent: 2%;

		padding: 0 !important;
		border-radius: 0;
	}

	.main-details-title {
		width: 100%;
		padding: 25px 0;
		font-size: 20px;
		line-height: 1;
		text-align: center;
		color: $mainDetailsTitleTextColor;
	}

	.label-wrapper {
		width: 100%;
		margin: 5px 0;

		label {
			text-transform: uppercase;
			width: $labelWidth;
			margin: 0 0 0 $labelMargin;
			font-size: 10px;
			color: $formLabelTextColor;
			display: inline-block; // this fixes text wrapping on smaller devices
		}

		.suggested-cat {
			width: $labelWidth;
			margin: 0 $labelMargin;
			font-size: 13px;
			color: $categoryDisplayTextColor;
			font-style: italic;
		}
	}

	.form-field.required-field > .label-wrapper > label:after {
		content: '*';
		color: red;
		margin-left: 5px;
	}

	.form-field.optional-field > .label-wrapper > label:after {
		content: '(Opcional)';
		text-transform: none;
		margin-left: 5px;
	}

	// The required label on the right
	.category-component .label-wrapper {
		label {
			width: initial;
		}
		&:after {
			content: '*obligatorio';
			float: right;
			font-size: 10px;
			color: $formLabelTextColor;
			text-transform: uppercase;
			margin-right: 6%;
			margin-top: 5px;
		}
	}

	.description-input {
		height: 150px;
		margin-left: $inputMargin;
		resize: none;
		width: $inputWidth;
		padding: 0 calc(2% - 1px);
	}

	.form-ad-title .input-wrapper input, .form-ad-phone .input-wrapper input {
		width: $inputWidth !important;
	}

	.input-wrapper {
		width: 100%;
		position: relative;

		.step-controls {
			display: none;
		}

		textarea {
			border: 1px solid $vivaBlack;
		}

		input[type="text"], input[type="tel"], input[type="number"], input[type="date"], select {
			width: $inputFieldWidth;
			margin: 0 $inputMargin;
			padding: 0 calc(2% - 1px);
			font-size: 1em;

			border: 1px solid $vivaBlack;

			&.price-input {
				width: $inputFieldWidth;

				@media(max-width: 450px) {
					width: 30%;
				}

				margin: 0 0 0 $inputMargin;
			}

			// Currently we don't handle the error from webshims so showing user-error has no meaning
			// to user but adding confusion. Will add back following line when we have front-end
			// checking work.
			// &.user-error,
			&.validation-error {
				border: 1px solid red;
			}
		}

		// overriding webshims styles to properly place button
		.input-buttons {
			position: absolute;
			right: 45%;
			top: 25%;
		}

		select {
			width: 88%;
			margin: 1% 0 1% $inputMargin;
			border: 1px solid $vivaBlack;
		}

		.edit-ad-select-box ~ .edit-ad-select-box {
			width: unquote("calc(88% - ") $categoryIndent unquote(")");
			margin-left: 0;
		}

		.edit-ad-select-box ~ .edit-ad-select-box ~ .edit-ad-select-box {
			width: unquote("calc(88% - ") 2*$categoryIndent unquote(")");
		}

		.category-arrow {
			display: inline-block;
			float: left;
			margin-top: unquote("calc(1% + ") $categoryArrowTopOffset unquote(")");
			margin-left: unquote("calc(6% + ") $categoryArrowLeftOffset unquote(")");
			margin-right: $categoryIndent - $categoryArrowIconWidth - $categoryArrowLeftOffset;
		}

		.category-arrow ~ .category-arrow {
			margin-left: unquote("calc(6% + ") ($categoryIndent + $categoryArrowLeftOffset) unquote(")");
		}
	}

	.validation-error {
		border: 1px solid red !important;
	}

	.radio-group {
		margin-left: 15px;
		display: inline-block;

		@media(max-width: 475px) {
			margin-left: 5px;

			.control {
				margin-right: 5px;
			}
		}

		/* Begin custom radio btns */
		// Hide default browser input
		input[type="radio"] {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}

		.control {
			margin-right: 10px;
		}

		// Checked
		.control input:checked ~ .outer-circle .inner-circle {
			background: $vivaOrange;
		}

		.currency-type {
			cursor: pointer;
		}

		.control input:checked ~ .currency-type {
			color: black;
			font-weight: bold;
			display: inline-block;
		}

		.inner-circle {
			display: inline-block;
			position: relative;
			top: -4px;
			left: 2.1px;
			width: 12px;
			height: 12px;
			background: #FFFFFF;
			border-radius: 50%;
			z-index: 1;
		}

		.outer-circle {
			cursor: pointer;
			display: inline-block;
			position: relative;
			top: 3px;
			left: 0;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			background: #FFFFFF;
			border: 1px solid black;
			border-radius: 50%;
		}
		/* End custom radio btns */
	}

	.form-ad-price .radio-group {
		// To make currency-bg work
		position: relative;
		float: right;
		margin-right: 6%;

		vertical-align: middle;
		line-height: 33px;

		.currency-label {
			float: left;
			display: inline-block;
			text-align: center;
			width: 60px;
			border: 1px solid #D4D4D4;

			// To ensure it's above currency-bg
			z-index: 2;
			position: relative;

			transition: color .3s ease-out;
		}

		input[type="radio"]:checked + .currency-label {
			border: 1px solid $vivaGray1;
			color: $vivaWhite;
		}

		.currency-bg {
			z-index: 1;
			position: absolute;
			width: 60px;
			border: 1px solid $vivaGray1;
			background-color: $vivaBlue;
			top: 0;
			right: 0;

			transition: right .3s ease-out;
		}
		input[type="radio"]:checked ~ input[type="radio"] ~ .currency-bg {
			right: 62px;
		}
		input[type="radio"]:checked ~ input[type="radio"] ~ input[type="radio"] ~ .currency-bg {
			right: 124px;
		}

		&::after {
			content: '';
			clear: both;
		}
	}

	.form-ad-price .input-wrapper {
		// This is to show dollar sign in price field.
		// For other sites, please adjust content and the padding-left for price-input
		// ZA: R, SG: $, IE: €, PL: zł
		&::before {
			content: "$";
			position: absolute;
			margin-left: calc(6% + 7px);
			margin-top: 6px;
		}

		.price-input {
			padding-left: 18px;
		}
	}

	// TODO Move this to location-selection when edit page has been refactored
	.location-selection-input {
		margin-right: 0 !important;
	}
}
