
 <div class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-container">
      <div class="modal-close-section">
        <span class="close-text">{{i18n "welcomescreen.close"}}</span>
        <span class="icon-close"></span>
      </div>

      {{!-- this should change depending on the modal content --}}
      <h1>{{i18n "welcomescreen.title"}}</h2>
      <div class="modal-info">{{i18n "welcomescreen.description"}}</div>
    
      <div class="modal-footer">
          {{> (dynamic "button")}}
      </div>
     {{!-- end of modal content --}}

  </div>
</div>


  
	