.search-controls {
	margin: auto;
	max-width: 942px;
	padding: 15px 40px;

	.type-ahead-results-wrapper, .search-bar {
		width: auto;
	}

	.search-bar {
		width: auto;

		.divider {
			width: auto;
		}

		.location-link {
			box-sizing: border-box;
			height: 100%;
			line-height: 43px;
			padding: 0 12px;
			width: calc(36% - 2px);
		}

		.location-text {
			display: inline-block;
			float: none;
			margin: 0;
		}

		.search-button {
			padding: 0;
		}

		.search-button-wrap {
			width: 116px;
		}

		.search-loc-icon {
			display: inline-block;
			float: none;
			margin: 10px 0 0;
			vertical-align: top;
		}

		.search-textbox, .mobile-location-area {
			height: 100%;
		}

		.search-wrap {
			width: calc(100% - 116px);
		}
	}
}

@include from-breakpoint($large-break) {
	.search-controls {
		.search-bar {
			width: auto
		}

		.search-loc-icon {
			margin-top: 0;
		}
	}
}

@include to-breakpoint($medium-break) {
	.search-controls {
		.search-bar {
			.location-link {
				line-height: 35px;
			}

			.location-text {
				max-width: calc(100% - 25px);
			}

			.search-loc-icon {
				margin-top: 5px;
			}
		}
	}
}


@include to-breakpoint($small-break) {
	.search-controls {
		padding: 15px 25px;

		.search-bar {
			.location-link {
				padding: 0 6px;
			}

			.search-button-wrap {
				width: 50px;
			}

			.search-wrap {
				width: calc(100% - 50px);
			}
		}
	}
}
