$locale:"es_MX_VNS";

// themes and globals
@import
	"../../theme",
	"../../theme-my-pages";

// bolt level styles
@import
	//"../../../partials/common/featurelegend",
	"../../../partials/pages/MyAdsPage/layout",
	"../../../partials/pages/MyAdsPage/sellerbadges",
	"../../../partials/pages/MyAdsPage/thumbnail",
	"../../../partials/pages/MyAdsPage/options";
	@import "../../../partials/common/pagination";

// Viva level styles
@import
	"../../../Vivanuncios/partials/common/feature-legend",
	"../../../Vivanuncios/partials/common/my-top-navigation",
	"../../../Vivanuncios/partials/pages/MyAdsPage/layout",
	"../../../Vivanuncios/partials/pages/MyAdsPage/subMenuMyAds",
	"../../../Vivanuncios/partials/pages/MyAdsPage/ads-list-item";





@include layout_default;
@include sellerbadges_default;
@include thumbnail_default;
@include options_default;
//@include featurelegend_default;
//@include featurelegend_popup_images;

@include to-breakpoint($small-break) {
  a.postad, a.postad:visited {
    width: 80%;
  }
}

@include in-breakpoint($no-break) {
  .page{
      padding-left :0;
      padding-right :0;
      }
  }

@include from-breakpoint($small-break){
	@include layout_medium;
	@include thumbnail_medium;
	@include options_medium;
	//@include featurelegend_medium;
	@include sellerbadges_medium;
}

@include from-breakpoint($medium-break){
	@include layout_large;
	@include thumbnail_large;
	@include options_large;
	//@include featurelegend_large;
	@include sellerbadges_medium;
	@include sellerbadges_large;
}

@include in-breakpoint($lt-ie9-class-name){
	@include layout_medium;
	@include layout_large;
	@include thumbnail_medium;
	@include thumbnail_large;
	@include options_medium;
	@include options_large;
	//@include featurelegend_medium;
	//@include featurelegend_large;
	//@include feature-legend-ltie9;
	@include sellerbadges_medium;
	@include sellerbadges_large;
	.header-myad {
		margin-top:0.5em;
	}
	.column-labels {
		color: $rowHead-color !important;
		background: $rowHead-bg-color !important;
		background-color: $rowHead-bg-color !important;
	}

}

.subscriptions-msg {
  font-size: $font-size-medium;
  padding-top: 1em;
}

.ad, .commercial {
	font-size: 1em;
}

.column-labels {
	color: $rowHead-color;
	background-color: $rowHead-bg-color;
}

// Post Ad button container.
#post-ad-container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

a.postad, a.postad:visited {
  background-color: #ff9720;
  float: none;
}

@include in-breakpoint($lt-ie10-class-name) {
    // Edit Icon
    .icon-edit-icon-16x16 {
      border: 1px solid transparent;
      // Yes, we need this.
    }
}
