$locale:"es_MX_VNS";

@import
	"../../theme",
	"../partials/main/VNS_Styles";


//@import "../../../partials/common/featurelegend";
@import '../../../partials/common/column-labels';
@import "../../../partials/pages/MyPromotePage/thumbnail";
//@import "../../../partials/pages/MyPromotePage/pageMain";


// Viva level styles
@import
	"../../../Vivanuncios/partials/common/feature-legend",
	"../../../Vivanuncios/partials/pages/MyPromotePage/pageMain";

$MyPromotePage-meta-padding:1em;
$checkbox-bg-color:$cheddar;

.mobile-only {
	display:none;
}
.mobile .mobile-header .learn-more {
	color:$vivaBlue60;
	&:hover {
		color:$vivaBlue;
	}
}
form {
	margin: 1em;
}
.commercial {
	border:1px solid #DDD;
	@include border-radius();
	background-color:#FFF;
	border: 1px solid #DDD;
	margin-bottom:10px;

	.title,
	.location,
	.price,
	.category {
		margin-left: 60px;
	}

	.title {
		//font-size:.8em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.location,
	.category {
		font-size:.8em;
		color:#999;
	}
}
.content {
	background-color:#EEE;
	padding:0 0 1px 0;
}
.STclone {
  display:none;
}


.feature-options {
	display:block;
	position:relative;
	border: 1px 0;
	border-color: #DDD;
	border-top: 1px solid #DDD;
	padding: 1em 0;
	margin: 0 .75em;

	.feature-name {
		@extend %small-title;
	}

	.price-and-duration,
	.bestdeal-info {
		@extend %p-regular;
		display:inline;
	}

	.price-and-duration {
		span {
			float: right;
			color: $vivaBlue;
		}
	}

	.bestdeal-info {
		color: gray;
		b
		{
			color:$cheddar;
		}
	}

	.description {
		display:none;
	}
}


.promote {
	display: block;
	position: relative;
	background-color: $vivaWhite40;
	border: 1px 0;
	border-color: #DDD;
	border-top: 1px solid #DDD;
	padding: 1em .75em;
	margin: 0 -.5em;
	margin-top: 0.5em;

	label {
		@extend %small-title;

		input.checkbox {
			// make up for the %small-title .875em
			font-size: 1.15em;
			margin-top: .25em;
		}
	}
}


#price {
	@extend %small-title;
	&:before {
		content:attr(data-currency-symbol) " ";
	}
}
.feature-legend.base.expand .icon-close_icon {
	position: absolute;
	top: 1em;
	right: 1em;
	width: 1em;
	height: 1em;
	display: block;
}
input.checkbox {
    @include box-shadow(none);

	width: 1em;
	height: 1em;
	background-color:#FFF;
	margin-right: 0.5em;
	margin-top:2px;
}
/*input.checkbox:checked {
	@include checkbox;
}*/
.feature-options .checkbox-group label {
    display:block;
    clear:both;
    
}

h1 {
	&.subheader {
		position: relative;
		background: #FFF;
		color: inherit;
		padding: 0.8em;
		&:before {
			position:absolute;
			bottom:0;
			display:block;
			content:"";
			border-bottom:1px solid #EEE;
			width:100%;
			left:0;
		}
	}
}
.checkbox-description {
	margin-left: 1.5em;
}
#subheader {
	#checkout {

		&[disabled],
		&.disabled {
			opacity: .5;
		}
	}
}

.thumb-and-meta {
	padding:0.5em 0.5em 0 0.5em;

	.thumb {
		background-image: none;
		.icon-picture {
			border:1px solid #DDD !important;
		}
	}
}

.title-and-total {
	float: left;
}

#checkout {
	@extend %button-primary;
	float: right;
	margin: 1em 1em 0 0;
	padding: 1em 2em;
}

@include in-breakpoint($no-break) {
	.page {
		padding-bottom:5em;
		padding-left :0;
		padding-right :0;
	}

    .page-title {
      display: none;
    }

    #table-wrapper {
      margin-top: -1em;
      padding-top: 0.75em;
    }

	.thumb-and-meta {
		.thumb {
			.icon-picture {
				height:50px;
			}
		}
	}
	#subheader {
		&.floats {
			width: 100%;
			&.floating {
				top: auto;
				bottom: 0px;
			}
			top: auto;
			bottom: 0px;
			height:5.5em;
			left: 0;
			position: fixed;
			top: auto;
		}
		#total-line {
			color: #999;
			font-size: 1em;
			margin: 1em;
			#price {
				display: block;
				color: #333;
				font-size: 1.25em;
				font-weight: bold;
			}
		}
	}
}
#subheader {
	background-color:#FFF;
	border:1px solid #DDD;
	z-index: 10;
}
@include from-breakpoint($small-break, $lt-ie9-class-name) {
	.page {
		padding-bottom:10px;
	}
	#table-wrapper {
		position:relative;
	}

	.title-and-total {
		float: none;
	}

	#subheader {
		&.floats {
			@include border-radius(5px);
			width: 33.5%;
			top:0;
			bottom:auto;
			float: right;
			margin-top:2px;
			padding: 1em;
			position:relative;
			&.floating {
				top:10px;
				bottom:auto;
			}
			&:before {
				content:"Resumen de Compra";
				font-weight:bold;
				border-bottom:1px solid #CCC;
				display:block;
				padding:10px 0 5px;
				font-size:.9em;
			}
			#checkout {
				position: static;
				float: none;
				width: 100%;
			}
			#total-line {
				vertical-align:text-bottom;
				font-size:.8em;
				border-bottom:1px solid #CCC;
				padding:20px 0;
				line-height: 1em;

				#price {
					display:block;
					height:2em;
					float:right;
					font-weight:bold;
					color:$vivaBlue;
					font-size:1.4em;
				}
			}
		}
	}

	#feature-header,
	#feature-header.smartStickyTop {
		display:none;
	}
	.commercial {
		width:65%;

		.title,
		.location,
		.price,
		.category {
			margin-left: 85px;
		}

		.title {
			font-size:1.1em;
		}
		.price {
			font-size:1em;
			font-weight:bold;
		}
		.category {
			margin-top:20px;
		}
	}
	.thumb-and-meta {
		padding:$MyPromotePage-meta-padding $MyPromotePage-meta-padding 0 $MyPromotePage-meta-padding;
		border-bottom:1px solid #DDD;
	}
	h1.subheader {
		margin:0px 20px !important; // overrides !important in _masthead.scss
	}
	h1.subheader:after {
		position:absolute;
		bottom:-0.01em;
		display:block;
		content:"";
		border-top:4px solid orange;
		width:25%;
		left:0;
	}
	form {
		margin:2em;
		background-color:transparent;
	}
	.content {
		background-color:#FFF;
	}
	.promote {
		margin:2em -1em 0;
	}
	#subheader {
		background-color: transparent;
		background-image: none;
	}
}


@include from-breakpoint($medium-break) {
	.commercial {
		.title,
		.location,
		.price,
		.category {
			margin-left: 110px;
		}
	}
}







