@import
  "../../theme";

/*post page*/

@import "../../../partials/pages/PostPage/postcontent";
@import "../../../partials/pages/PostPage/price";
@import "../../../partials/pages/PostPage/cascademenu";
@import "../../../partials/pages/PostPage/flatcascademenu";
@import "../../../partials/pages/PostPage/postform";
@import "../../../partials/pages/PostPage/imageuploader";
@import "../../../partials/common/popup";
@import "../../../partials/pages/PostPage/geopopupcontent";
@import "../../../partials/pages/PostPage/fixedsticky";
@import "../../../partials/pages/PostPage/adcompleteness";
@import "../partials/main/VNS_Styles";



// AR imports
@import "../../partials/pages/PostPage/postform";



//common styles for all medias/browsers, which is also the default styles for mobile ( mobile first)
@include postcontent_default;
@include price_default;
@include cascademenu_default;
@include flatcascademenu_default;
@include postform_default;
@include popup_default;
@include imageuploader_default;
@include geopopupcontent_default;
@include hide_header_post_ad_button;

@import "../partials/pages/PostPage/postform";

$postad-page-max-width: 45em;

// temporarily hide payment options for AR. see BOLT-18433
.base.urgent-feature {
  display:none !important;
}

/**
 *  --- Mixin for Category and Location for Violet Postad ---
 */
@mixin postform_skinning_cat_loc {
  .step-num {
    float: right;
  }

  #cat-heading,
  #loc-heading,
  #info-heading {
    font-weight: bold;
  }

  span.item-text {
    color: #4A90E2;
    font-size: 0.9em;
  }

  li.disabled span.item-text {
    color: gray;
    text-decoration : none;
  }

  span.edit {
    white-space: nowrap;  // BOLT-13788
    text-decoration: none;
    color: #4A90E2;
    font-size: 0.8em;
    font-weight: normal;
    cursor: pointer;
    margin-left: 0.5em;
    span.icon-edit-icon-16x16 {
      position: relative;
      top: -3px;
      width: 25px;
      height: 25px;
      display: inline-block;
    }
  }

  h3.step-selected {
    .icon-pencil-button {
      margin-left: 0.5em;
      padding: 0.11em 0.36em;
      @include secondary-button-new;
    }
    .icon-pencil {
      display: inline-block;
      background-size: contain;
      width: 1em;
      height: 1em;
      margin-top: -0.125em;
    }
  }

  #location-breadcrumb,
  #category-breadcrumb {
    font-weight: 600;
    font-size: 0.8em;
  }

  #cat-step.step-current + h3 + #catChange #category-breadcrumb,
  #loc-step.step-current + h3 + #locChange #location-breadcrumb {
    color: #000000; // #4A90E2;
  }

  #cat-step.step-completed + h3 + #catChange  #category-breadcrumb,
  #loc-step.step-completed + h3 + #locChange  #location-breadcrumb {
    color: #000000;
  }

  div.step-current, div.step-ahead {
    display: none;
  }

  div.step-completed {
    margin-left: 1em;  // BOLT-13788
    background-color: transparent;
    span.icon-ok {
      width: 24px;
      height: 24px;
      border: none;
    }
  }
}

/**
 *  --- Mixin for Image Upload overridesfor Violet Postad ---
 */
@mixin postform_skinning_img_upload {

  .img-upload-cnt {
    clear: both;

    #upload-btn {
      position: relative;
      height: auto; // 3em;  // 8em;
      width: 80%; // 50%;

      // Contextual help.
      .contextual-help {
        left: auto;
        right: 0;
        width: 40%;
        position: absolute;
        top: 0;
      }

      // For the mobile breakpoint.
      @include to-breakpoint($no-break) {
        height: 75px;
        width: 90%;

        // Info/Highlight sections
        .contextual-help {
          width: 90px;
          .contents {
            width: 90px;
          }
          .icon-contextual-info {
            width: 25px;
          }
        }
      }
    }

    #btn-text {
      padding: 0;
    }

    #or {
      clear: both;
      display: none;
    }

    #dnd-cnt {
      padding-top: 10px;
      width: 100%;
      float: left;
      clear: both;
    }

    #dnd {
      border: 1px dashed #1867c3;
      float: left;
      #dndArea {
        font-weight: 600;
      }
    }

    #thumb-nails {
      margin-top: 0;
    }

    .icon-upload-camera-blue {
      width: 2em;
      height: 2em;
      margin: 0 auto;
      text-align: center;
    }

    .active {
      background: #1867c3;
      font-size: 15px;
      box-shadow: 0px 0px 5px 6px #ccc;
    }

    .featured {
      border: 1px solid #1867C3;
    }

    .featured.img-box.over {
      border: 2px dashed #000;
    }

    #featuredImage {
      color: #fff;
      background: #1867c3;

    }
  }

  .ui-btn-primary, .img-upload-cnt #btn-text {
    @extend %button-secondary;
    //color: $vivaBlack;
    padding: 0.7em 0.1em !important;
    border: none;
    margin: 0;
  }

  .img-upload-cnt #btn-text:not(.disabled):hover, .img-upload-cnt #btn-text:not(.disabled):focus {
    //color: $vivaBlack;
    //background: $vivaGray20;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.1);
  }
}

/**
 * --- Mixin for the Submit Area of the Violet PostAd form ---
 */
@mixin postform_skinning_submit_area {
 // Post submit button
  .post-ad-btn-container button,
  .post-ad-btn-container #postSubmit {
    padding: 5px !important; // Fixes alignment of button - See BOLT-13387
    margin: 0 0 5px 0;
  }

 // Fix for FF -  See BOLT-13452
  #postPreview {
    padding-top: 5px !important;
    margin-left: 0.25em;
  }

  #postSubmit {
    @extend %button-primary;
    font-size: 1em;

    // Disables the submit button - See story: BOLT-13213
    &.ui-btn-primary.disabled {
      cursor: default;
      border: 1px solid #F5CC9B;
      color: $color-white;
      @include text-shadow(none);
      @include border-radius(5px);
      @include bolt-background (#FAD1A1,#FAD1A1); // (#DDDDDD, #C0C0C0);
    }
  }

  // Post Ad button container
  .post-ad-btn-container {
    clear: both;
    background-color: $postad-base;
    border-color: $vivaGray20;
    padding: 1em;
    margin-top: 1em;
    padding-left: 0;
    margin-left: 0;
  }

  .t_c {
    margin-left: 0;
    font-weight: bold;
    margin-bottom: 0;
  }
}

/**
 * --- Main Mixin for the POST AD SKINNING (Overrides) ---
 */
@mixin postform_skinning {
  // Base: 1em = 16px

  html, body {
    background-color: $color-white;
  }

  .PostAdForm .page-title,
  .EditAdForm .page-title {
    max-width: $postad-page-max-width;
  }

  .containment {
    // width: 73em;
    max-width: 73em;
    @include box-shadow(none);
  }

  // Search Container
  body .viewport .search-container {
    // PostAd Subheader container
    .post-ad-subheader-container {
      padding: 20px 0 5px 0; // 38px 0;
      background-color: #FFFFFF;
      h1.subheader {
        background-color:#FFFFFF;
        color: $color-black;
      }
    }
  }

  // Main PAGE rules
  body .viewport .page {
    background-color: $color-white;

    // Header section
    .header {
      border-bottom: 2px solid #F0F0F0;
    }

    // General content
    .post-ad-subheader-container,
    .content {
      max-width: $postad-page-max-width;
      margin-left: auto;
      margin-right: auto;
    }

    // Main Content area
    .content {
      margin-bottom: 80px;
      background-color: #F7F7F7;
      border: 1px solid #DCDCDC;
      @include border-radius(5px);

      // Add the category/location selection rules
      @include postform_skinning_cat_loc;

      // Add the image upload rules
      @include postform_skinning_img_upload;

      // Add the submit button area rules
      @include postform_skinning_submit_area;

      // Fixes BOLT-13324
      .cat-search form fieldset input {
        // @include box-shadow(0px 1px 3px 1px rgba(0, 0, 0, 0.1));
        // Unfortunately, we have to use important because there is a rule in _VNS_Styles.css that
        // disables the border of an input field with an important rule.
        -webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1) !important;
        -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1) !important;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.1) !important;
      }

      // Toggle button for optional fields at the bottom of the form.
      a.toggleOptional {
        text-decoration: none;
        .arrow {
          width: 15px;
          height: 15px;
          position: relative;
          top: 6px;
          &.icon-caret-down {
            top: 10px;
          }
        }
      }

      // Optional field toggle area text
      span.add-txt {
        font-size: 0.9em;
        color: #4A90E2;
        text-decoration: none;
      }

      // Title character count
      span.charcount {
        color: #4A90E2;
      }

      // Info/Highlight sections
      .contextual-help {
        background-color: transparent;
        border: none;
        padding-left: 0;
        .contents {
          padding-left: 6px;
          color: #4A90E2;
        }
      }

      // Container highlight
      .fieldcontain.base.highlighted {
        border: none;
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
      }

      // Password field highlight
      .fieldcontain.base.pwdfield {
        &:not(.highlighted) {
          border-top: 2px solid #F7F7F7;
          border-bottom: 2px solid #F7F7F7;
        }
        &.highlighted {
          border-top: 2px solid #E0E0D8;
          border-bottom: 2px solid #E0E0D8;
          background-color: #D8E3F5;
        }
      }

      // Price container rules
      fieldcontain.base.price.highlighted .price-empty-container {
        display: none;
      }

      // Fixes BOLT-12327
      .fieldcontain.base.price legend {
        float: none;
      }

      // Price area highlight overrides
      .fieldcontain.base.price.highlighted {
        border-top: none;
        .price-empty-container {
          display: none;
        }
      }

      // Change requested by Moises, Mariano. Remove space of the postform from the left.
      .form-sect {
        padding: 1.2em 5px 1em 5px;
      }

      // "Required" text is hidden
      .form-sect .require-legend {
        display: none;
      }

      // Override optional fields container - fixes BOLT-9583
      .form-sect .optional_fields_container {
        @include from-breakpoint($medium-break) {
          margin-top: 0;
        }
        @include to-breakpoint($small-break) {
          margin-top: 0;
        }
        clear: both;
      }

      // Increase the height of the input and select fields in the form
      .form_out input,
      .form_out select {
        height: 35px;
        background-color: #fff;
      }

      // Welcome sign-in msg.
      .form_out .welcome {
        clear: both;
        color: #1E98D5;
        margin-top: 0;
        margin-left: 0;
      }

      // Changes in font for the labels in the form
      .form_out .fieldcontain legend {
        font-weight: 600;
      }

      // *** Begin Validation rules
      // Overrides of the valid field (no more background)
      .form_out input.valid,
      .form_out input[type="number"].valid + input, // Handle numeric field from Polyform
      .form_out textarea.valid,
      .form_out select.valid,
      .form_out #desc_ctnr iframe.valid,
      .form_out .fieldcontain input.valid {
        color: #000000;
        border: 1px solid #DCDCDC;
      }

      // Overrides of the error fields
      .form_out input.error,
      .form_out textarea.error,
      .form_out select.error,
      .form_out #desc_ctnr iframe.error,
      .form_out .fieldcontain input.errorField {
        border: 1px solid #FF7282;
        background-color: #FFFFFF;
      }

      // Overrides of the error icon area
      .form_out .fieldcontain .icon-error {
        width: 14px;
        height: 14px;
        display: inline-block;
        position: relative;
        top: 2px;
        margin-right: 4px;
      }

      // Overrides of the error message
      .form_out .fieldcontain label.error,
      .form_out .fieldcontain label.pwerror,
      .form_out .fieldcontain p.error {
        color: #ED1C24;
        font-size: 0.8em;
      }

      // Overrides of Validation "valid"  check.
      .form_out .fieldcontain label.valid,
      .form_out .fieldcontain label.error.valid,
      .form_out #desc_ctnr label.error.valid,
      .form_out .date-container label.error.valid,
      .form_out .date-container label.valid {
        width: 14px;
        height: 14px;
        padding: 0;
        // Fixed BOLT-13778
        margin-left: 12px;
        margin-top: 10px;
      }

      // Fixed BOLT-13786 : Date valid indicator
      .form_out .date-container label.error.valid,
      .form_out .date-container label.valid {
        margin-left: 7px;
        // Remove some space // 12px;
      }

      // Fixes BOLT-13779
      .form_out .fieldcontain.price label.valid,
      .form_out .fieldcontain.price label.error.valid {
        margin-top: 0;
      }

      // Fixes BOLT-14258
      #currencyValues label.valid {
        margin: 0;
      }

      // Fixes BOLT-13786
      // Date error label
      .form_out .date-container > label {
        float: none;
      }

      // Fixes BOLT-13786
      .form_out .date-container > label.valid:last-child {
        display: inline-block;
      }

      // Fixes BOLT-13786
      // Hide the validation for date field, show it for the corresponding hidden field.
      .form_out .date-container input.dateselect + label.error,
      .form_out .date-container input.dateselect + label.valid {
        display: none !important;
      }
      // *** End Validation Rules

      // Form fields border radius: make it less round
      input[type="text"],
      input[type="password"],
      input[type="number"],
      input[type="date"],
      input[type="email"],
      input[type="tel"],
      input[name="Address_FullAddress"],
      input[name="WebSiteUrl"],
      #desc_ctnr iframe,
      select {
        border-radius: .2em;
      }

      // Radio buttons
      input[type="radio"] + label:before {
        border: 1px solid #CCCCCC;
        background: #FFFFFF;
      }

      input[type="radio"]:checked  {
        margin-left:0;
        padding-left: 0;
      }

      input[type="radio"]:checked + label {
        font-weight: bold;
      }

      // Radio button round circle with border effect
      input[type="radio"]:checked + label:before {
        width: 15px;
        height: 15px;
        background: #AACD38;
        border: 4px #FFFFFF;
        border-style: groove ridge ridge groove;
      }

      // Rich Text Editor Buttons
      #desc_ctnr .controls {
        width: 80%;
        margin: 0;
        text-align: center;
        margin-bottom: 0;
        border: 1px solid #C0C0C0;
        border-bottom: none;
        color: #C0C0C0;
        button {
          height: 30px;
          padding: .3em;
          margin-right: 0;
          margin-left: -6px;
          border-radius: 0;
          border-top: none;
          border-bottom: none;
        }
      }

      // Rich Text Editor buttons text color
      .ui-btn-bold,
      .ui-btn-italic,
      .ui-btn-underline {
        color: #989898;
      }

      // Rich Text Editor Icons (ol, ul)
      .ui-btn-ol, .ui-btn-ul {
        @include secondary-button-new;
        .icon-list-ol, .icon-list-ul {
          display: inline-block;
          background-size: contain;
          width: 1em;
          height: 1em;
          vertical-align: middle;
        }
        .icon-list-ul {
          position: relative;
          top: 1px;
        }
      }

      // Inactive button
      .ui-btn-active {
        @include box-shadow(0px 0px 5px $color-black-50 inset);
      }

      //  Current location rules
      .form-sect #curLoc,
      #curLocOr,
      #msgCurLoc {
        display: none;
      }

      // In case we enable it back.
      .form-sect #curLoc {
        color: #FE9822;
        font-size: 90%;
        font-weight: normal;
      }

      .form-sect .require-legend {
        color: #FF0000;
        font-size: 90%;
      }

      // "Or" text with horizontal line
      .form-sect #curLocOr {
        line-height: 20px;
        span {
          color: #9B9B9B;
        }
        .line-separator {
          width: 45%;
        }
      }

      // Current Location text
      .form-sect #msgCurLoc {
        color: #9B9B9B;
        font-size: 90%;
      }

      // Line separator
      .line-separator {
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        border-bottom: 1px solid #DDDDDD;
      }

      /* Ghost text (e.g., Currency)*/
      .ghost {
        top: 0;
      }

    }

    // Footer area
    .footer {
      border-top: 2px solid #e6e6e6;
    }
  }

}


// Include the main postad skinning mixin
@include postform_skinning;

/**
 * Breakpoint overrides
 */

/**
 * Mixing For LARGE tablets/desktop size.
 */
@mixin postform_largesize_mx_vns {
// Overrides
// Fixes BOLT-13324
  .cat-search form {
    fieldset input {
      width: 400px;
      // 350px;
    }
    fieldset button {
      left: 350px;
      top: 0;
      width: 50px;
      height: 100%;
      margin: 0;
      // border: 1px solid #C0C0C0;
    }
  }

  // Fixes BOLT-13327
  .form_out .fieldcontain .important-notice,
  .form_out .fieldcontain .important-noticeprice,
  .form_out .fieldcontain label.error,
  .form_out .fieldcontain label.pwerror {
    text-align: left;
    margin-left: 0;
  }

  // Important Notice
  .form_out .fieldcontain .important-notice span,
  .form_out .fieldcontain .important-noticeprice span {
    font-size: 12px;
    font-weight: normal;
    color: #4A90E2;
  }

  // Password.
  .form_out div.pwdfield a.ftPwd {
    margin-left: 0;
    white-space: normal;
  }

  // Important Notice title negative numbers.
  .form_out .fieldcontain .important-notice span.charcount.negative-numbers {
    color: #ED1C24;
  }

  .form_out >  {
    div.fieldcontain,
    div.optional_fields_container  div.fieldcontain {
      .select-container,
      .input-container {
        clear: both;
      }
    }
  }

   // For i-frame (Description) client side error and date containers.
  .form_out #desc_ctnr label.error,
  .form_out .date-container label.error {
    padding-left: 0;
  }

  // Remove margins/paddings to the left of the actual fields containers
  .form_out > div.fieldcontain,
  .form_out > div.grouped_fields > div.fieldcontain,
  .form_out > fieldset.fieldcontain,
  .form_out > div.optional_fields_container div.fieldcontain,
  .form_out > div.optional_fields_container fieldset.fieldcontain {
    clear: both;
    margin-left: 0;
    text-align: left;

    > label,
    > legend {
      margin: 0;
      text-align: left;
      width: auto;
      font-size: 90%;
    }
    > span {
      float: left;
    }
  }

  // Form fields positioning overrides
  input[type="email"],
  input[type="tel"],
  textarea,
  input[name="Title"],
  input[name="UserName"],
  #UserNameDisplay,
  input[name="Email"],
  input[name="Address"],
  input[name="Address_FullAddress"],
  input[name="WebSiteUrl"],
  #desc_ctnr iframe {
    clear: both;
    float: left;
    width: 62%;
    background-color: $color-white;
  }

// Rich Text Editor Button Controls.
  body .viewport .page .content #desc_ctnr .controls {
    width: 62%;
    clear: both;
  }

  // Iframe overrides
  .page .content #desc_ctnr iframe {
    margin: 0;
  }

  // Image upload overrides
  .form_out > div.base > div.img-upload-cnt {
    clear: both;
    width: 78%; // 3 photos per row. // 62.6%;
  }

  // ** Validation
  // Zip code error overrides
  .form_out #zipCodeResult.error {
    margin-left: 0;
  }

  // Contextual help overrides
  .form_out .fieldcontain span.contextual-help,
  .form_out .fieldcontain .contextual-trigger {
    margin-left: 0;
  }

  // For i-frame (Description) client side successfully completed fields and successful date containers.
  #desc_ctnr label.error.valid,
  .form_out .date-container label.error.valid,
  .form_out .date-container label.valid {
    float: left;
    clear: none;
    position: relative;
    top: 0;
    margin-left: 2px;
    padding-left: 0;
  }

  // Correct alignment of email suggestions, hint area and server side errors.
  // Fixes BOLT-13783
  .form_out  div.hintArea {
    display: inline-block;
  }

  .form_out  p.error,
  .form_out .form_out div.hintArea,
  .form_out  div.hintArea,
  .form_out div.email-suggestion-ok {
    margin-left: 0;
  }

  // Image upload contextual help
  body .viewport .page .content .img-upload-cnt {
    #upload-btn {
      width: 100%;
      .contextual-help {
        top: 2px;
        right: 0;
      }
    }
  }

}

/**
 * Existing Mixing For MX
 */
@mixin postform_largesize_mx {
  .form-sect {
    .t_c {
      margin: 0 !important;
    }
  }
}

/**
 * Mixing for Small tablet
 */
@include in-breakpoint($small-break) {
  // Undoing rule from _postAdButtonRemoval.scss (what is that file for?)
  .nav {
    right: 0;
  }

  #desc_ctnr.no-rte {
    width: 90%;
    #description {
      width: 89%;
    }
  }
}

/**
 * Mobile
 */
// For the mobile breakpoint.
@include in-breakpoint($no-break) {
  @include flatcascademenu_mobile;

  // Overrides rule for wrap element in Post Ad (for mobile breakpoint).
  // Fixes BOLT-14914.
  .PostAdForm .page-title .wrap,
  .EditAdForm .page-title .wrap {
      width: auto !important;
  }

  #desc_ctnr label{
   margin-bottom:0;
   }

  // Search Container.
  body .viewport .search-container {
    // PostAd Subheader container
    // Fixes BOLT-14719
    .post-ad-subheader-container {
      padding: 7px 0 0 0;
      margin: 0;
      h1.subheader {
        margin: 0.5em;
        font-size: 1.1em;
      }
    }
  }
}

/**
 * medium size( small tablet size)
 */
@include from-breakpoint($small-break){
   @include postcontent_mediumsize;
   @include price_medium;
   @include cascademenu_mediumsize;
   @include flatcascademenu_mediumsize;
   @include popup_mediumsize;

   // Image upload area
   .img-upload-cnt .img-box {
       margin: 0.5em 0.7em;
   }
}

/**
 * large size ( big tablets/desktop size) . For < ie9 browsers we support only large size
 */
@include from-breakpoint($medium-break, $lt-ie9-class-name){
    @include postcontent_largesize;
    @include price_large;
    @include cascademenu_largesize;
    @include postform_largesize;
    @include postform_largesize_mx;
    @include popup_largesize;
    @include postform_largesize_mx_vns;
}

/**
 * < IE10 specific
 */
@include in-breakpoint($lt-ie10-class-name) {
  body .viewport .page  .content {
    // Fixes BOLT-13825
    .form_out input,
    .form_out select {
      height: 25px;
      font: 16px/25px Helvetica, Arial, sans-serif;
    }

    // Fixes BOLT-13825
    /* Ghost text (e.g., Currency)*/
    .ghost {
      top: -5px;
    }

    // Fixes BOLT-13825
    // RT Editor icons
    .ui-btn-ol, .ui-btn-ul {
      .icon-list-ol, .icon-list-ul {
        background-position: center center;
      }
      .icon-list-ol {
        position: relative;
        top: 1px;
      }
    }

    // Edit Icon
    span.edit span.icon-edit-icon-16x16 {
      border: 1px solid transparent;
      // Yes, we need this.
    }

    // Fixes BOLT-13826
    .form_out .form_out div.hintArea {
      margin-left: 0;
    }

  }
}

/**
 * <IE9 specific
 */
@include in-breakpoint($lt-ie9-class-name) {
  @include postcontent_lt_ie9;
  @include cascademenu_lt_ie9;
  @include postform_lt_ie9;
  @include popup_lt_ie9;

  // Post submit button
  .post-ad-btn-container button,
  .post-ad-btn-container #postSubmit {
    padding: 5px !important;
    // Fixes alignment of button - See BOLT-13387
    margin: 0 0 5px 0;
  }

  // Category Search
  .cat-search form fieldset .placeholder {
    top: 3px;
    padding-left: 0;
  }

  .cat-search form {
    fieldset input {
      width: 50%;
    }

    fieldset button {
      left: 50%;
      height: 32px;
    }
  }

  // Changes for Contextual Help begin
  // Fixes BOLT-12327
  .fieldcontain.base.price.highlighted {
    border-top: none;
    .price-empty-container {
      display: none;
    }
  }
}

/**
 * IE9 specific
 */
@include in-breakpoint($ie9-class-name) {
  @include postform_ie9;

  body .viewport .page  .content {
    // Fixes BOLT-13825
    // RT Editor icons
    .ui-btn-ol, .ui-btn-ul {
      .icon-list-ol, .icon-list-ul {
        top: -1px;
      }
    }
  }

  // Post submit button
  .post-ad-btn-container button,
  .post-ad-btn-container #postSubmit {
    padding: 5px !important;
    // Fixes alignment of button - See BOLT-13387
    margin: 0 0 5px 0;
  }

  // Category Search Related
  #searchCatForm fieldset {
    box-shadow: none;
  }

  .cat-search form fieldset {
    .placeholder {
      top: 3px;
      padding-left: 0;
    }

    input {
      width: 50%;
    }

    button {
      left: 50%;
      height: 32px;
    }
  }

  // Inner breakpoint for IE9 mobile
  @include in-breakpoint($no-break) {
    .cat-search form {
      fieldset input {
        width: 200px;
      }

      fieldset button {
        left: 200px;
      }
    }
  }

}

//only for browsers that support CSS3
@media only all {
  @include postform_CSS3only;
}
