@import
"../../theme",
"../partials/main/VNS_Styles",

	// other files to import for this page
"../../../partials/pages/SearchPage/filters",
"../../../partials/pages/SearchPage/controls",
"../../../partials/pages/SearchPage/results",
"../../../partials/common/categoryListBase",
"../../../partials/pages/SearchPage/noResult",
"../partials/common/adSense",
 "../partials/pages/ViewPage/sellerReputation",
"../../../partials/pages/ViewPage/sendEmail",   // Generic
"../partials/pages/ViewPage/sendEmail"; // MX-specific
 @include abt1-seller-reputation;

@import
"../../../partials/pages/SearchPage/pageMain",
"../../../partials/pages/SoiPage/pageMain",
"../partials/pages/SearchPage/controls";



.abt1.vip-seller-container .vip-seller div.user-reputation {
 .usersince,
  .email-verif-status,
  .num-total-ads-container span.num-label,
  .num-active-ads-container span.num-label {
    font-size:14px;
    color: inherit;
  }
  }


.abt1.vip-seller-container
 span.username{
    color: #878787;
}     

$ad-title-color:#000 !default;

.seller{
 height :180px;
}
.abt1.vip-seller-container{
  background-color: #ebebeb;
     
}


.abt1.vip-seller-container .vip-seller .icon-user {
  //  left: 6%;
    top: 58%; 
    width:112px;
}


.abt1.vip-seller-container 
span.username{
 font-size: 26px;
}

.abt1.vip-seller-container{
 .seller{
    border-bottom: 1px solid #c3c3c3;
 }

 .vip-seller {
   border-bottom: none;
   }
}

//
// Section dividers
//
.section-divider {
	font-size: $font-size-medium;
	font-weight: bold;
	padding:5px;
}
.content .section-divider,
.controls .left-column,
.controls .right-column {
	background-color: transparent;
}
.section-title {
	font-size: $font-size-large;
}

.results {
  background: transparent;

  // Inline-Reply - See: BOLT-15525
  // Error icon
  .icon-error {
    width: 14px;
    height: 14px;
    display: inline-block;
    position: relative;
    top: 2px;
  }

  // Error message
  p.error {
    display: inline;
  }

  &.list-view .vip-contact form textarea {
    margin-bottom: -4px;
  }

  // Inline-reply container
  &.list-view .vip-contact form div.fieldContainer {
    width: 30%;
    line-height: 1em;
  }

  // Override reply fields width
  &.list-view .vip-contact form input[name=buyerName],
  &.list-view .vip-contact form input[name=email],
  &.list-view .vip-contact form input[name=phoneNumber] {
    width: 100%;
  }
}

//
// Search result rows
//
.results.list-view {
  .title a, .title span {
	color: $ad-title-color;
	font-size: $font-size-large;
	font-weight: normal;
  }
	.view ul li.result {
		.result-link .thumb {
			#pht-cnt {
				user-select:none;
				background-color: black;
				background: rgba(0, 0, 0, 0.25);
				color: #FFF;
				color: rgba(255, 255, 255, 0.85);
				cursor: pointer;
				display: block;
				left:auto;
				margin:0;
				padding: 0.35em 0.25em;
				position: absolute;
				right:0 !important;
				text-align:right;
				top: 0;
				width:auto;
                height: 24%;
				&:before {
					content:"1/";
				}
			}
		}
		position:relative;
	}
}
.results.list-view .result {
	border-bottom: 1px solid #ddd;
}
.result-link .title, .description, .attribute-ctnr, .price, .creation-date, .category-location, .meta-info, {
	font-size: $font-size-base-new;
}
.result-link .title {
	position:relative;
	z-index:1;
}

.results.list-view .make-offer {
	top: 0;
}

//
.titleText, .filters .field label,
.currentStatus, .foldableList {
	font-size: $font-size-base-new;
}
.text_more, .text_less {
  margin-left: 2em;
}
.controls .right-column {
	.watchlist {
		display:none;
	}
	.view_as {
		font-size: $font-size-medium;
		float: right;
		margin-right: 0;
	}
}


// Inline-Reply - See: BOLT-15525
.results.list-view .vip-contact form div.fieldContainer {
  display: block;
}

@include from-breakpoint($small-break, $lt-ie9-class-name) {


	.controls .right-column .view_as {
		margin-right: 1em;
	}
	li.values-filter .icon-caret-down,
	li.values-filter .icon-caret-left {
		position: absolute;
		top: 0.6em;
		right: 0;
	}
	.result-gallery {
		width:30% !important;
		transition:width 1s;
	}

  // Inline reply form fields
  .results.list-view .vip-contact form div.fieldContainer {
      display: inline-block;
      vertical-align: top;
  }
}
//

//
// Pagination
//
.pagination .first, .pagination .prev,
.pagination .before a, .pagination .after a,
.pagination .next, .pagination .last, .pagination button,
.pagination span.current {
	color: $vivaBlack;
	padding: 0.25em 0.75em;
	line-height: 1.5em;
}
.pagination span.current,
.pagination .next, .pagination .last {
	background-color: $vivaWhite;
}
.pagination > span {
	padding: 0.5em 0;
}
.pagination-results-count {
	display: none !important;
}
//
// Post button
//
.post-btn {
	color: #fff !important;
}
.pictures #img-cnt {
	text-align:center;
}
// Price filter arrow button
.filters .field button {
    @extend %button-secondary;
    position: relative;
    border: none;
    @include box-shadow(none);
    width: 2.125em;
    height: 2.125em;
}
.filters .sortby-filter,
.filters form.filteropts ul li {
	.foldableList, ul.foldableList {
		background-color:#FBFBFC;
		margin:0;
        padding: 0.5em 0.75em 0.5em 0em;
      .text.showmore {
			.icon-caret-up,
			.icon-caret-down {
				display:none !important;
			}
			.text_less,
			.text_more {
				text-decoration: underline !important;
				color:#666 !important;
				margin-left: 0;
			}
		}
	}
	.icon-caret-down {
		margin-top:4px;
		margin-right:0.4em;
	}
	.icon-caret-left {
		@include transform(rotate(180deg));
		@include filter(grayscale(100%));
		margin-right:0.4em;
	}
}
.result-gallery.mouseover .ad_title {
	color: $vivaBlack !important;
	font-size: $font-size-large;
}
//
// Top Ad tweaks
//
.results.list-view .top-listings .addAdTofav {
	bottom: 1.5em;
}
// Refine button when filters are showing
.controls .left-column div.filterButton.open {
	background-color: $vivaBlue;
}

.controls .cancel {
	color: $vivaBlue;
	font-size: $font-size-medium;
}
.hierarchy {
	//margin-left:0 !important; - BOLT-15058
	.subs.finalsub li.text.showmore.collapse .icon-caret-down {
		display:none;
	}
}

// Overrides.
// Reply action container.
.reply-action {
	margin-top: 5px;
}
// details view component
.grid-view .view .total_img {
	user-select:none;
	background:rgba(0,0,0,0.25);
	color:#FFF;
	cursor:pointer;
	display: block;
	padding:0.1em 0.25em;
	position:absolute;
	right:.5em;
	top:.5em;
	&:before {
		content:"1/";
	}
}
.grid-view .view .details {
	position:relative;
	height:8em;
    padding: 0.25em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	&>span,
	&>div {
		position:absolute;
	}
	.location-gallery {
		display: block;
        font-size: $font-size-small;
		top: 3.125em;
		padding:5px;
		color:blue;
	}
	.creation-date-gallery {
		display: block;
        font-size: $font-size-small;
		bottom: 1.5em;
		right: 1em;
		color:#999;
	}
	.price-box-gallery {
		top: 0;
		width: 100%;
		height: 100%;
		.price-att {
			position:relative;
			width: 100%;
			top: 1em;
		}
		.addAdTofav {
			position:absolute;
			bottom:1em;
			left:0.5em;
		}
		.ui-btn-reply-container {
			position:absolute;
			bottom:0.8em;
			left:2em;
			display:inline-block;
			float:right;

		}
		.icon-icon_info {
			display:none;
		}
	}
	.ad_title {
		color:$ad-title-color;
		top:0;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		width:100%;
	}
}
.grid-view .view img.img-gal {
  padding: 0.5em;
}
.grid-view .view .ad_title {
	display: block;
	padding:0 5px;
	margin-bottom:10px;
}
.grid-view .view .details .price-gallery.long-price {
	width: 100%;
	max-width: 100%;
    font-size: $font-size-medium;
}
// Inline Reply button, favorites
.results.list-view {
	// common reply button and favorites
	.addAdTofav,
	.ui-btn-reply-container {
		height: 35px;
		width: 38px;
		margin-top: 0;
		margin-right: 0;
	}
	.addAdTofav {
		padding: 4px;
		&.highlight {
			padding: 3px;
		}
	}
	// Inline Reply button.
	.ui-btn-reply-container {
		.button.reply.ui-btn-reply {
			padding: 0.2em 0.1em 0.4em 0.6em;
			background-color: #4A90E2;
			border: 1px solid transparent;
		}
		.button.reply.ui-btn-reply.disabled {
			background-color: transparent;
		}
	}
	.ui-btn-reply-container:hover {
		.button.reply.ui-btn-reply.disabled {
			background-color: transparent;
		}
	}
	.addAdTofav {
		height: 35px;
		width: 25px;
		padding: 4px;
		margin-top: 0;
	}
	.addAdTofav.highlight {
		padding: 3px;
		height: 35px;
	}
}
// Inline Reply button, favorites
.result-link .websiteurl, .result-link .reply-action {
	.addAdTofav {
		padding: 4px;
	}
	.button.reply.ui-btn-reply {
		@include border-radius(3px);
		width: 38px;
		height: 35px;
	}
	.ui-btn-reply-container {
		top: -6px;
	}
}

@include in-breakpoint($large-break, $lt-ie9-class-name) {
 .abt1.vip-seller-container .vip-seller{
  span.username {
    top: 56%;
    left: 15%;
    }
.icon-user {
    left: 4%;
    top: 36%;
    }
div.user-reputation .usersince{
    width :22%;
    }
 }  
 
 .vip-seller .user-avatar {
    left: 0;
    top: 5em;
 }
 
 .abt1.vip-seller-container .vip-seller
  div.user-reputation{
     margin-left:15em;
  .email-verif-status {
     padding-left:15px;
  }
}  
}



// Inline Reply button, favorites
@include from-breakpoint($no-break, $lt-ie9-class-name) {
  .result-link .websiteurl, .result-link .reply-action {
    .addAdTofav {
      padding: 4px;
    }
    .button.reply.ui-btn-reply {
      @include border-radius(3px);
      width: 38px;
      height: 35px;
    }
    .ui-btn-reply-container {
      top: -6px;
    }
  }
  .grid-view .view a.img-gallery {
    display:inline; 
  }
  
 .grid-view .view .details .ad_title {
    width: 98%;
 } 
     
}

// Inline Reply button, favorites
@include to-breakpoint($small-break) {
	.reply-action {
		height: 38px;
	}
	.results.list-view {
		.addAdTofav.highlight {
			padding: 3px;
		}
	}
	.extra {
		position:relative;
		.breadcrumbs {
			display: none;
			height: 46px;
			margin-left: 105px;
			padding-top: 1.7em;
			position: absolute;
			z-index: 2;
			width: auto;
			&.soi {
			    margin-left: 0;
			}
			.atts,
			.pipe {
				display:none;
			}
			.num {
				font-weight:bold;
				color:#000;
			}
		}
	}
	.controls {
		padding-top: 5px;
		padding-bottom: 5px;
		background:#FFF;
		.left-column div.filterButton {
			//@include border-radius(5px);
			@include box-shadow(none);
			background: #4a90e2;
			border:none;
			font-size: $font-size-base-new;
			&,&.open
			{
				.icon-caret-down-white
				{
					display:none;
				}
				padding-left: 1em;
				padding-right: 1em;
			}
            color: $vivaWhite;
			.icon-caret-left-white,
			.icon-caret-down-white {
				display:none;
			}
		}
	}
    .wrap .filters ul li.values-filter {
      padding: 0 5px;
    }

  // Inline reply form fields
  // Inline-Reply - See: BOLT-15525
  .results.list-view .vip-contact form div.fieldContainer {
    width: 100%;
    margin-bottom: .5em;
  }
}


@include in-breakpoint($medium-break) {
.abt1.vip-seller-container 
.vip-seller {
.username {
    top: 4.7em;
    left: 6.3em;
    }

 .icon-user {
    top: 2.7em;
    left: 1.3em;
  }
  
  .user-avatar{
      top: 3em;
      left: 0em;
  
  }
}

 .abt1.vip-seller-container .vip-seller 
  div.user-reputation {
    margin-left: 6em;
   .usersince {   
   width: 20%;
   }   
  } 
  
   .icon-user {
    left: 2em;
    top: 3.8em;
}
}

// Inline Reply button, favorites
@include in-breakpoint($small-break) {
	.content{
    	min-height: 30.5em;
 	}
	.results.list-view .result .result-link {
		.addAdTofav {
			padding: 4px 6px 4px 4px;
			margin-top: 0;
			&.highlight {
				padding: 3px 5px 3px 3px;
			}
			.starIcon {
				vertical-align: middle;
				background-position: center;
			}
		}

	}
	
.vip-seller .user-avatar {
    top: 5em;
   }
   
 .abt1.vip-seller-container 
 .vip-seller .icon-user {
    left: 2em;
    top: 2.5em;
    }
   
.abt1.vip-seller-container 
 span.username {
    top: 4.7em;
    left: 6.4em;
}  

.abt1.vip-seller-container .vip-seller
 div.user-reputation .usersince {
    width: 26%;
}

.abt1.vip-seller-container .vip-seller 
div.user-reputation {	
     width: 67%;
}
 .searchSummary{
    display:block;
   }

  // Inline reply form fields
  // Inline-Reply - See: BOLT-15525
  .results.list-view .vip-contact form div.fieldContainer {
    width: 25%;
  }

  // Inline reply submit button
  .results.list-view .vip-contact form button.submit-reply {
    width: 20%;
    margin-right: 2%;
    height: 30px;
  }
}
// Inline Reply button, favorites
@include from-breakpoint($medium-break, $lt-ie9-class-name) {

	li.values-filter {
		&.collapse {
			height: 2.3em;
		}
		.field label {
			margin-top: 0;
		}
	}

    .wrap .filters ul li.values-filter {
      padding: 0;
    }

    .filters .dropdown-filter {
      padding-left: 0;
    }

	.controls .left-column div.filterButton {
		background:#FFF !important;
		color:#333;
		padding:5px 0;
	}

	.details {
		box-shadow: none;
		webkit-box-shadow: none;
		.price-gallery.long-price {
			position:absolute;
		}
	}
	.results.list-view .result .result-link {
		.addAdTofav {
			padding: 4px 4px 4px 6px;
			margin-top: 0;
			width:35px;
			&.highlight {
				padding: 3px 3px 3px 5px;
			}
		}
		button.reply {
			padding-left: 0.1em;
		}
	}
	.result.reply {
		.vip.vip-contact {
			padding-top: 0;
		}
		.triangle {
			content: '';
			display: block;
			position: absolute;
			top: -22px;
			width: 0;
			height: 0;
			border-color: transparent transparent #CCC transparent;
			border-style: solid;
			border-width: 10px;
		}
		.triangle:before {
			top:-8px;
			border-color: transparent transparent #FCFCFC transparent;
		}
	}

    .results.list-view .view ul li.result .result-link .thumb #pht-cnt {
      height: 16%;
    }

  // Inline reply form fields
  // Inline-Reply - See: BOLT-15525
  .results.list-view .vip-contact form div.fieldContainer {
    width: 25%;
  }

  // Inline reply submit button
  .results.list-view .vip-contact form button.submit-reply {
    width: 20%;
    margin-right: 2%;
    height: 30px;
  }
}

.gl-messages-replyAds-srp .close_btn > span {
	display: none;
}

.grid-view {
	.reply-template {
		position:absolute;
		z-index:1;
		width:100%;
	}
}

.icon-gl-message-close {
	display:none;
}

.icon-caret-down,
.icon-caret-left {
	height: 0.6em;
	width: 0.6em;
}
.results .result {
	position: relative;
	padding: 1px;
	background-color: #EEE;
	margin: 0 -1px;
}
.results .srp-reply-container {
	@include border-radius(0 0 4px 4px);
	background:#FBFBFE;
	border:1px solid #CCC;
	margin:-2px;
	padding: 5px;
	button[type="submit"] {
		@extend %button-secondary;
		font-size: $font-size-medium;
        border: none;
		padding: 0.5em;
	}
	ul.canned-responses li {
		position:relative;
		letter-spacing:-0.03em;
		input[type=checkbox] {
			position:absolute;
			top: 1px;
			left: 2px;
			width: 1em; // BOLT-14746 + BOLT-14550
			height: 1em;
		}
		label span {
			display:block;
			line-height:1.5em !important;
			padding: 0 0 0 1.8em !important;
		}
	}
}
p.error {
	$font-size: $font-size-small;
}
// Fixes BOLT-14639
.replyAd p.error {
  margin: 0 0 1em 5px;
}
/* overrides for viva list view */
.results {
	.result {
		border: 1px solid #FFF;
		background-color: transparent;
		border: 1px solid transparent;
		margin: 0;
		padding: 0;
		position: relative;
		&.reply {
			position:relative;
		}
	}
	&.list-view {
		.envIcon {
			margin-left : -5px;
			margin-top:1px;
			background-size:100% 100%;
		}
		.reply-template {
			background:#fbfbfe;
		}
		.result {
			&:nth-child(even),
			&:nth-child(odd) {
				background: rgb(255,255,255);
				background-color: rgba(51, 51, 51, 0);
			}
			&.reply {
				&:first-child {
					border-top: 1px solid #CCC;
				}
			}
		}
		.title a, .title span {
			color:$ad-title-color;
			display:block;
			font-size:1.3em;
			padding-bottom:1.2em !important;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.view {
			ul {
				li {
					.result-link {
						padding: 5px 5px 5px 190px;
						.container {
							padding-left:0px;
						}
						.info {
							position:absolute;
							left:0;
							top:0;
							padding-left: 190px;
							padding-top: 2em;
							height:100%;
							width:100%;
							.price {
								font-weight:bold;
								font-size:1em;
							}
						}
						.description {
							color:#444;
							min-height:inherit;
							font-size:0.85em
						}
						.websiteurl, .reply-action {
							position:relative;
							text-align: left;
						}
					}
				}
				.info {
					width:100%;
					.creation-date {
						position:absolute;
						right:1em;
						bottom:1em;
						color: #999;
					}
				}

				&.canned-responses li {
					display: inline-block;
                    margin-right: 1em;
                    font-size: 0.875em;
					&.result {
						&.replying {
							border: 1px solid transparent;
						}
					}
				}
			}
		}
		.category-location {
			color:#999;
			margin-bottom:10px
		}
		.make-offer {
			display: inline-block;
		}
		.srp-reply-container {
			button[type="submit"] {
				margin-top:0;
				display:inline-block;
			}

			input[name="buyerName"],
			input[type="email"].icon-envelope-new,
			input[name="phoneNumber"].icon-phone {
				display:inline-block;
				border:1px solid #CCC;
			}
		}
		.title, .vip-contact .title {
			margin-top:0;
		}
	}
}
.results.list-view .view ul li.result.replying {
	border: 1px solid white;
}
.results.list-view .view ul li .result-link .thumb div {
	height: 100px;
	width: 150px;
}
.filters .field {
	input {
		padding: 0.5em;
		@include border-radius(5px);
		border:1px solid #CCC;
		width:34%;
	}
	.devideLine {
		margin:0;
	}
}
.ui-btn-reply {
	.envIcon {
		background-size: 100% 100%;
		margin: 0;
		padding: 0;
	}
}
li.result {
	z-index:0;
	position:relative;
}
.results.list-view .result .result-link .reply-action .envIcon {
	margin-left: -6px;
}
.icon-view-grid-off,
.icon-view-list-off {
	opacity:1 !important;
}
.results.list-view,
.results.grid-view {
	.ui-btn-reply-container,
	.ui-btn-reply-container:hover {
		.button.reply.ui-btn-reply,
		.button.reply.ui-btn-reply:hover,
		.button.reply.ui-btn-reply.disabled,
		.button.reply.ui-btn-reply.disabled:hover {
			background:none;
			border-color:transparent;
			background-color:transparent;
			@include box-shadow(none);
		}
	}
}
$breakpoint-test-outline:0px;
@include from-breakpoint($no-break, $lt-ie9-class-name) {
	.left-column {outline: $breakpoint-test-outline solid royalblue;}
	.results.list-view .view ul li .result-link {
		.info {
			width:100%
		}
	}
.searchSummary {
    margin-left: .9em;
   }
}
@include to-breakpoint($no-break){
	.breadcrumbs {
		a.category,
		.icon-chevron-right {
			color:#12345;
			display:none;
		}
	}
	
 .page {
     padding-left: 0; 
     padding-right: 0; 
     }	
     
  .result-link .reply-action 
    .ui-btn-reply-container {  
      left:3px;
      padding:6px 1px;
   }        
          
  .abt1.vip-seller-container .vip-seller{ 
   padding: 0 1.8em;
  .icon-user {
    top: 0.7em;
    margin-left: 2em;
    }
  
 
   span.username{
     top: 7.7em;
     width:11em;
   }
   
   .abt1.vip-seller-container .vip-seller 
    div.user-reputation .email-verif-status span.label {
    display: inline;
   }
   
  .user-avatar {
   top: 0;
   margin-top: 3px;
   margin-left: 2em;
  }
 } 
 
 .seller{
 height :192px;
}
 
}
@include to-breakpoint($small-break) {
	.left-column {outline: $breakpoint-test-outline solid red;}
	.content {
		padding:0 0 0 0;
		margin-top:-1px;
	}
	.controls {
		@include border-radius(0px);
		background: #f4f5f7;
		border: {
			top:1px #DDD solid;
			bottom:1px #DDD solid;
			color:#DDD;
		}
		margin: 0 0 20px 0;
		padding-left:5px;
		position: relative;
		z-index: 1;
		&.smartStickyTop {
			margin: 0 0 20px 0;
		}
	}
	.results.list-view {
		.price {
			margin-top:0px;
		}
	}
	.results .result {
		position: relative;
		border: 1px solid #CCC;
	}
	.results.list-view .view ul li .result-link {
		padding: 5px 5px 5px 155px;
		.info {
			padding-left: 0;
		}
	}
	.results.list-view .result.reply .triangle {
		left: 195px;
	}
	.results.list-view .thumb .thumbM {
		top:0px;
	}
	.results.list-view .thumb {
		width:150px;
		left: 0;
		top: 3px;
	}
	.vip-contact {
		margin: 0 0 1em 0;
		padding-top: 0;
	}
	.results .result.reply:first-child {
		border-bottom: 1px solid #CCC;
	}
	.results.list-view .title {
		width:100%;
	}
	.results.list-view .title a,
    .results.list-view .title span {
		font-size: 1.3em;
		font-weight: normal;
	}
	.results.list-view .view ul li .result-link .info {
		padding-top: 1.5em;
		font-size:.8em
	}
	.category-location {
		width:100%;
		.locationName span {
			display:inline !important;
			white-space:nowrap;
		}
	}
	.results.list-view .thumb img {
		max-width: 150px;
	}
	.topad{
		margin: 0em 0em -1em 0em;
	}
	
	.filters .interlinks, .filters .sortby-filter,
	.filters .category-filter,
	.filters .location-filter,
	.filters .attributes-filter {
		padding: 5px 5px 0 5px;
	}

	li.values-filter .field label {
		background-color: #FAFAFA;
	}
}
@include in-breakpoint($small-break) {
.abt1.vip-seller-container 
.vip-seller div.user-reputation {
    margin-left: 6em;
}

.abt1.vip-seller-container .vip-seller 
.user-reputation.non-verified .usersince {
    width: 26%;
}

.vip-seller .user-avatar {
    top: 3em;
    left: 0em;
}
	.left-column {outline: $breakpoint-test-outline solid #00ff00;}
	.results.list-view .view ul li .result-link {
		padding: 5px 5px 5px 155px;
		.info {
			padding-left: 0;
		}
	}
	.results.list-view .result.reply .triangle {
		left: 192px;
	}
	.results.list-view .result .result-link .thumb {
		width: 150px;
		height: 100px;
		line-height: 100px;
		img {
			max-width: 150px;
		}
		.thumbM {
			top: 0;
		}
	}
	.results.list-view .view ul li .result-link .info {
        padding-top: 1.75em;
	}
}
@include from-breakpoint($medium-break, $lt-ie9-class-name) {
	.content {
    	min-height: 37em;
  	}
	.section-divider {
		padding: 0.5em 0em;
	}
	.left-column {outline: $breakpoint-test-outline solid purple;}

	// BOLT-15750
	.results.list-view .view ul li.result:not(.pictures) .thumb {
		margin-top: 2px;
		margin-bottom: 2px;
	}

	.results.list-view .view ul li .result-link {
		padding: 5px 5px 5px 220px;
	}
	.results.list-view .view ul li .result-link .info {
		padding-left: 220px;
		padding-top: 2em;
	}
	.results.list-view .result.reply .triangle {
		left: 268px;
	}
	.controls {
		margin: 0 0 0 0;
	}
	.controls .left-column {
		padding: inherit;
        div.filterButton {
          padding: 0.125em 0;
        }
	}
	.filteropts>ul>li {
		border-top: 1px solid #CCC;
		padding:0.25em;
		&:first-child {
			border-top: 1px solid #CCC;
		}
	}
	.results.list-view .view ul li .result-link .thumb div {
		height: 150px;
		width: 200px;
		background-size:200px 150px;
		z-index: 1;
	}
	.results.list-view .view ul li .result-link .container {
		min-height: 23px;
	}
	.results.list-view .view ul li .result-link .description {
		position: relative;
		z-index: 10;
	}
	.topad {
		margin: 0em 0em -1em 0em;
	}
}
.icon-envelope-alt-gray  {
	width:25px;
}
.result.reply .triangle {
	left: 2.8em;
	border-color: transparent transparent #CCC transparent;
	&:before {
		border-color: transparent transparent #FFF transparent;
		top: -8px;
	}
}
.breadcrumbs {
	font-size: $font-size-small;
}

.controls .right-right-column {
	> label {
		display:none;
	}
	.select.showbutton + label {
		display:block;
	}
	.sorter {
		display:none;
		&.showbutton {
			display:block;
		}
		&.select.showbutton .sortby-filter .text {
			font-size: 1em;
			margin: 0;
			color:#4a90e2;
		}
		.sortby-filter {
			height:2.2em;
			.icon-caret-down {
				top: 1.1em;
				right: -.5em;
				height: 10px;
				width: 10px;
				position: absolute;
			}
			.foldableList .sudo-link.item {
				position:relative;
				height: 2.5em;
				width:180px;
				padding: 0.5em;
				margin:0;
				top:1px;
				.icons {
					position:absolute;
					left:0;
					text-align:right;
					display:block;
					width:3.7em;
					padding:0;
					margin:0;
				}
				.text {
					font-size: 1em;
					position:absolute;
					left:0;
					text-align:left;
					display:block;
					width:4em;
					left:4.5em;
					padding:0;
					margin:0;
				}
			}
		}
	}
	.watchlist .controlButton .starIcon {
		margin-top: -5px;
	}
}
