@import
    "../../theme",
    "../partials/main/VNS_Styles",
	"../../../partials/common/popup",
	"../../../partials/common/moreSearches",
	"../../../partials/pages/ViewPage/gallery",
	"../../../partials/pages/ViewPage/sliderize";

@import
    "../../../partials/pages/ViewPage/pageMain",
    "../../../partials/pages/ViewPage/shareVisitBar",
    "../../../partials/pages/ViewPage/sendEmail",
    "../partials/pages/ViewPage/shareVisitBar",
    "../partials/pages/ViewPage/postItYourself",
    "../partials/pages/ViewPage/sendEmail",
    "../partials/pages/ViewPage/sellerReputation",
    "../partials/common/adSense",
    "../../../partials/common/adcompletenessProgress",
    "../../partials/pages/ViewPage/socialMedia";

@mixin replace-envelope-icons {
    .icon-envelope-alt-gray {
        display: none;
    }

    @include from-breakpoint($small-break, $lt-ie9-class-name) {

        .icon-envelope-alt-gray {
            width: 1.3em;
            height: 1em;
            display: inline-block;
            margin-right: 0.5em;
        }
    }
}

@include gallery_default;
@include sliderize_default;
@include replace-envelope-icons;
@include abt1-seller-reputation;

@include in-breakpoint($no-break) {
  .post-it-yourself span {
    font-size: 1em;
  }
}

@include from-breakpoint($small-break) {
  @include gallery_medium;

  .vip-seller {
    border-width: 1px;
  }
  
   ul.selMenu li{
	  -webkit-break-inside: auto;
	  -webkit-column-break-inside: auto;
	  -moz-break-inside: auto;
	  -moz-column-break-inside: auto;
	  break-inside: auto;
	  column-break-inside: auto;
	}
}

@include from-breakpoint($medium-break) {
  @include gallery_large;

  // Right hand side banner for MX. See BOLT-17180
  .rightbanner{
    width: 100%;
    height: auto;
    background: #EEEEEE;
  }

  .vipbanner{
    height: auto;
    max-height: 600px;
    margin: 0 auto;
  }
}


@include from-breakpoint($large-break, $lt-ie9-class-name){
  @include gallery_xlarge;

  .gl-messages .close_btn > span {
    margin-top: 8px;
  }
}

//
// Ad details
//

// @BOLT-18096 - Show Sticky banner for Vivanuncios.
.vip-sticky-banner #bottom_sticky_banner {
  &.closeable_ad {
    display:block;
  }
}

// Hide reply form "X" button used only for MX's SRP reply form. and it will be removed from here
.vip-right-column .gl-messages .close_btn > span, .gl-messages-replyAds-srp .close_btn > span.icon-gl-message-close {
    display: none; // BOLT-13472
}

.vip-title {
  font-size: $font-size-large;
  .myAdTitle{
  	color: #000000;
  }
}

.attribute .name, .attribute .value,
.vip-details .description, .security-tips, #replyMessage,
.vip-contact form .canned-responses li,
.more-ads {
    font-size: $font-size-base-new;
}
//
// Reply form container
//

.vip-seller-container {
    background: none;
    border: 1px solid $box-border-color;
}

.vip-seller {
    border-color: #e6e6e6;
    border-width: 0px;
}

.vip-contact form, .vip-flagad form {
    background-color: $color-white;
}

.vip-contact form button[type="submit"],
.vip-flagad form button[type="submit"] {
    @extend %button-secondary;
}

.vip-flagad button[type="button"] {
    font-size: $font-size-base-new;
}

.vip-flagad .title .label,
.vip-flagad label {
    font-size: $font-size-base-new;
}

.vip-seller-forms-container .addAdTofav {
    font-size: $font-size-base-new;
}

.vip-contact form .canned-responses label input[type=checkbox] {
    border-width: 1px;
    border-color: $vivaBlack40;
    border-style: solid;
}

.vip-seller-container .vip-seller .username,
.vip-seller-container .vip-seller .usersince {
    font-size: $font-size-medium;
}

.vip-contact form input[name=buyerName],
.vip-contact form input[type="email"] {
    border: 1px solid $form-element-border-color;
}

.vip-flagad form input[type="email"],
.vip-flagad form textarea {
    border: 1px solid $form-element-border-color;
}

.vip-flagad form textarea:focus {
    @include box-shadow(none);
}

.comscore{
     margin-bottom:-1.5em;
     font-size :100%;
}

.vip-contact .icon-envelope-new {
    margin-bottom: -0.75em;
}

#attached-file, #errorMessageSpan, a.remove {
  font-size: $font-size-small;
}

// Similar Ads
.vip-similar-ads.bottom .ad {
    background-image: none;
    background-color: $color-white;
    border-bottom: 1px solid $box-border-color;
    border-left: 1px solid $box-border-color;
    border-right: 1px solid $box-border-color;
    font-size: $font-size-base-new;
}

.vip-similar-ads.bottom .ad:first-child {
    border-top: none;
}

.vip-similar-ads.bottom .price {
    color: $vivaBlack;
}

.vip-similar-ads .section-divider {
    font-size: $font-size-base-new;
}

// Popular Searches
.moreSearches .titleContainer,
.moreSearches ul.relSearchMenu li {
  font-size: $font-size-small;
}

// Ad quality dialog
.editLink {
    font-size: 0.75em;
}

#ad-completeness h5 {
    font-size: 0.875em;
}

// Confirmation message
.gl-messages > div > div {
    padding-left: 3.5em;
    font-size: 0.875em;
}

// File attachments
#file-attach .heading {
  margin-top: 1.375em;
  font-size: 0.75em;
}

#datafile, .dummy-datafile-button {
  width: 11em;
}

.breadcrumbs {
  font-size: $font-size-small;
}

.reply_controls.cloned .title, .reply_controls.cloned .telephone {
  @extend %button-secondary;
}

.vip-contact form button[type="submit"], .vip-flagad form button[type="submit"] {
  font-size: $font-size-small;
  margin-bottom: 0.5em;
}

.vip-flagad form button[type="submit"],
.vip-flagad button[type="button"] {
  height: 3.5em;
}


/* Remove background color for Vivanuncios confirm button container (Post Confirm Page) */
.post-confirm.confirm-message {
  .btn-container {
    background-color: transparent;
    border-color: transparent;
  }
  // Added to style the user domain button on Post confirm and payment confirm page.
  //
  #userDomainSubmit {
    @extend %button-primary;
    padding: 1em 2em;
    cursor: pointer;
  }
}

.vip-contact form input[type="text"].error,
.vip-contact form input[type="email"].error,
.vip-contact form textarea.error, .vip-flagad form input[type="text"].error,
.vip-flagad form input[type="email"].error,
.vip-flagad form textarea.error {
    border: 1px solid #ff7282 !important;
    box-shadow:none;
}





