@import
"../../theme",
"../partials/main/VNS_Styles";

@import "../../../Vivanuncios/MX/es_MX_VNS/SearchPage";
@import "../../../partials/pages/WatchListPage/pageMain";
// @import "../../../partials/pages/SearchPage/results-list";
// Viva level styles
@import "../../../Vivanuncios/partials/common/my-top-navigation";

// FIXME: shouldn't be here
@include in-breakpoint($no-break) {
  .wl_heading {
    display: none;
  }

  .results.list-view .category-location {
    width: 80%;
  }

  .otherlinks {
    font-size: $font-size-small;
    float: left;
  }

  .column-labels {
    padding: 0 0 0.5em 0;
  }
}

// ******** New for Violet Skinning *******

// Loading icon (spinning wheel)
.results .thumb img.loading {
  left: 40%;
}

.otherlinks .syncbutton, .otherlinks .email, .otherlinks .clearAll {
  margin: 0 0.25em 0 0;
}

.column-labels {
  @include box-shadow(none);

  background-color: $vivaWhite80;
  font-size: $font-size-medium;
  font-weight: normal;
  margin-bottom: 0;
}

.otherlinks .syncbutton,
.otherlinks .email,
.otherlinks .clearAll {
  font-weight: normal;
}

@include from-breakpoint($small-break, $lt-ie9-class-name) {
  .column-labels {
    padding: 1em 0.25em;
  }

  .otherlinks {
    font-size: $font-size-medium;
  }
}

// Overrides to the Search page for Viva.
@include from-breakpoint($medium-break, $lt-ie9-class-name) {

  .column-labels {
    border: $box-border-width $box-border-style $box-border-color;
  }

  .results.list-view {
    margin-top:0;
  }

  .results.list-view .result:first-child {
    border-top: none;
  }
}

// Inline Reply button, favorites
@include to-breakpoint($small-break) {
  .page {
    .breadcrumbs {
      display: block;
      height: 25px;
      margin-left: 0;
      padding-top: 0;
      position: relative;
      z-index: 2;
      width: auto;
    }
  }
}

// Reduce top navigation margin
@include from-breakpoint($small-break) {
  .my-top-navigation {
    margin-bottom: 1em;
  }

  .page .breadcrumbs {
    margin-left: 1em;
  }

}