<div id="login-form" class="login-form">
    <div class="facebook-button"></div>
    <div class="divider"></div>
    <div class="sign-in-section">
        <input type="email"/>
        <input type="password">
        <button class="submit-btn">{{i18n "login.signin-button"}}</button>
    </div>
</div>
