<div id="login-form" class="login-form">
    <button class="facebook-button">
        <span class="icon-facebook_white"></span>
        <span class="facebook-text">{{i18n "login.facebookSignIn"}}</span>
    </button>
    <div class="divider">
        <span class="divider-text">or</span>
    </div>
    <div class="sign-in-section {{#if startOpen}}open{{/if}}">
        <input placeholder="{{i18n 'login.placeholder-email'}}" type="email"/>
        <input placeholder="{{i18n 'login.placeholder-password'}}" type="password">
        <button class="submit-btn">{{i18n "login.signin-button"}}</button>
    </div>
</div>
