<div id="login-form" class="login-form">
    <div class="facebook-button"></div>
    <div class="divider">
        <span class="divider-text">or</span>
    </div>
    <div class="sign-in-section {{#if startOpen}}open{{/if}}">
        <input type="email"/>
        <input type="password">
        <button class="submit-btn">{{i18n "login.signin-button"}}</button>
    </div>
</div>
