test/clientUnit/karmaConfig/**/*.js
test/clientUnit/SpecRunnerBundle.js
test/serverUnit/properties2Json.spec.js
test/serverUnit/index.js
test/clientUnit/helpers/webTemplates.js

app/builders/page/ErrorPageModel.js
app/builders/page/HomePageModel.js
app/builders/page/ViewPageModel.js
app/builders/page/QuickPostPageModel.js
app/config/gulpIcons/gulpSvgConfig.js
app/config/ruby/jsmin.js
app/config/commonjsurl.js

app/utils/Base64.js
app/utils/Encryptor.js
app/utils/Logger.js
app/utils/StringUtils.js

app/appPost/routes/post/postpage.js
app/appWeb/controllers/all/PageControllerUtil.js
app/appWeb/controllers/all/homepageController.js
app/appWeb/controllers/all/messagepageController.js
app/appWeb/controllers/all/quickpostController.js
app/appWeb/controllers/api/apiGalleryController.js
app/appWeb/serviceWorkers/service-worker-es_MX.js
app/appWeb/serviceWorkers/service-worker-es_MX-local.js
app/appWeb/views/components/adBottomBanner/js/app.js
app/appWeb/views/components/adCarousel/js/adCarousel.js
app/appWeb/views/components/adCarousel/js/app.js
app/appWeb/views/components/adsense/js/app.js
app/appWeb/views/components/breadcrumbs/js/app.js
app/appWeb/views/components/categoryDisplay/js/app.js
app/appWeb/views/components/categoryList/js/app.js
app/appWeb/views/components/cookieBanner/js/app.js
app/appWeb/views/components/countryMap/js/Map.js
app/appWeb/views/components/countryMap/js/app.js
app/appWeb/views/components/effectiveMeasures/js/app.js
app/appWeb/views/components/footer/js/app.js
app/appWeb/views/components/geoLocatorSelector/js/app.js
app/appWeb/views/components/gpsMap/js/gpsMap.js
app/appWeb/views/components/gpsMap/js/markerClusterer.js
app/appWeb/views/components/header/js/app.js
app/appWeb/views/components/header/js/header.js
app/appWeb/views/components/headerV2/js/deepLink.js
app/appWeb/views/components/helpLink/js/app.js
app/appWeb/views/components/isolatedSignIn/js/app.js
app/appWeb/views/components/locationMapContainer/js/app.js
app/appWeb/views/components/logo/js/app.js
app/appWeb/views/components/mapLatLong/js/app.js
app/appWeb/views/components/mapLatLong/js/mapLatLong.js
app/appWeb/views/components/marketoTracking/js/app.js
app/appWeb/views/components/mediaUpload/js/BoltImageEXIF.js
app/appWeb/views/components/mediaUpload/js/BoltImageUploadDragAndDrop.js
app/appWeb/views/components/mediaUpload/js/BoltImageUploadUtil.js
app/appWeb/views/components/mediaUpload/js/BoltImageUploader.js
app/appWeb/views/components/mobileSelectorMenu/js/MobileItemSelector.js
app/appWeb/views/components/mobileSelectorMenu/js/app.js
app/appWeb/views/components/mobileSelectorMenu/js/jquery.menu.min.js
app/appWeb/views/components/messaging/js/app.js
app/appWeb/views/components/navigation/js/app.js
app/appWeb/views/components/postButton/js/app.js
app/appWeb/views/components/rightBanner/js/app.js
app/appWeb/views/components/rightBottomBanner/js/app.js
app/appWeb/views/components/searchbar/js/app.js
app/appWeb/views/components/sectionMenu/js/app.js
app/appWeb/views/components/siteFlow/js/app.js
app/appWeb/views/components/skinBanner/js/app.js
app/appWeb/views/components/smartBanner/js/app.js
app/appWeb/views/components/socialMediaLinks/js/app.js
app/appWeb/views/components/speechRecognition/js/app.js
app/appWeb/views/components/speechRecognition/js/speech.js
app/appWeb/views/components/switchButton/js/app.js
app/appWeb/views/components/tileGrid/js/tileGrid.js
app/appWeb/views/components/title/js/app.js
app/appWeb/views/components/topBanner/js/app.js
app/appWeb/views/components/adCarousel/js/CarouselExt/carouselExt.js
app/appWeb/views/components/adCarousel/js/CarouselExt/modernizr.js
app/appWeb/views/components/adCarousel/js/CarouselExt/owl.carousel.js
app/appWeb/views/templates/pages/homepage/js/homepage.js
app/appWeb/views/templates/pages/quickpost/js/postPageValidator.js
app/appWeb/views/templates/pages/quickpost/js/quickpost.js
app/appWeb/views/templates/pages/quickpost/js/quickpostPrecompilation.js
app/appWeb/views/components/smartMobileBanner/js/smartMobileBanner.js
app/appWeb/serviceWorkers/service-worker-registration.js
app/appWeb/views/components/modal/js/locationModal.js
app/appWeb/views/components/locationSelection/js/locationSelection.js

server/services/category.js
server/services/configservice.js
server/services/homepage-ads.js
server/services/keyword.js
server/services/location.js
server/services/postad.js
server/services/seo.js
server/services/user.js

server/utils/fbgraph.js
server/utils/graphite.js
server/utils/kafka.js
server/utils/marketo.js
server/utils/monitor-event-loop.js

server/services/protocols/RESTCall.js
server/services/bapi/bapiOptions.js
server/services/bapi/bapiPromiseGet.js
server/services/bapi/bapiPromisePost.js
server/services/bapi/bapiOptionsModel.js
server/services/bapi/bapiService.js
server/services/cache/cache-server-startup.js

server/utils/monitor/clusterCheck.js
server/utils/monitor/metrics.js
server/utils/monitor/monitor-agent.js
server/utils/monitor/reportFunctions.js
server/utils/monitor/setupOptions.js

node_modules
/app/config/bundling/rui/compiled

public/js/precompTemplates.js

test/**/coverage/**/*.js

