// hide search bar when scaling down responsive
@include in-breakpoint($no-break) {
    #search_bar {
        display: none;
    }

    // Fixes BOLT-14706
    .replies, .view-count{
        float: none;
    }

    // Fixes BOLT-14728
    .everything-else div.page-number {
        float: none;
        margin-right: 0;
    }
}
