.form-sect #curLoc {
		text-decoration: underline;
		cursor:pointer;
		font-weight:bold;
		margin:1em 0em;
}

.form-sect #getLoc {
		text-decoration: none;
		cursor:text;
		font-size:small;
		margin:1em 0em;
}

.form-sect #msgCurLoc {
	margin:1em 0em
}
/*** Rules for Category Search in Post Ad Page ***/
// Default
.cat-search {
  form {
    position: relative;
    margin: 0 auto;

    fieldset {
      background-color: transparent;
      @include border-radius(0);
      @include box-shadow(none);

      padding: 0 $small-padding 0 0;
      display: block;
      border: none;
      position: relative;
      background-color: $color-white;
      @include border-radius(5px);
      @include box-shadow(0 1px 3px 1px rgba(0,0,0,.1));

      .field{
        display: block;
      }

      // Placeholder for ghost text
      .placeholder {
           display: none;
      }

      input {
        border: none;
        display: inline-block;
        padding: $medium-padding $large-padding;
        margin: 0;
        outline: none;
        font-size: inherit;
        @include appearance(none);
        width: 100%;
        background-color: $color-white;
        @include border-radius(5px);
        @include box-shadow(0px 1px 3px 1px rgba(0, 0, 0, 0.1));
      }

      button {
        right : 0;
        bottom : 0;
        margin: 0;
        font-size: inherit;
        padding: $medium-padding $large-padding;
        position: absolute;
        @include secondary-button;
        line-height: normal;
        width: 50px;

        .icon-header-search-out {
          display: inline-block;
          height: 1em;
          width: 1em;
          margin-top: -0.75em;
          vertical-align: middle;
        }
      }

    }
  }
}

// Mobile breakpoint
@include from-breakpoint($no-break, $medium-break) {
  .cat-search {

    form {
      fieldset {
        input {
          padding-right: 60px;
        }

        button {
          top: -1px;
          padding: 0.8em 1em;

          .label {
            display: none;
          }
        }
      }
    }

  }
}

// Tablet breakpoint
@include from-breakpoint($medium-break, $lt-ie9-class-name){
  .cat-search form {
    fieldset input {
      width: 25em;
    }
    fieldset button {
      left: 25.5em;
      top: -1px;
      width:50px;
    }
  }
}

// Desktop breakpoint
@include from-breakpoint($small-break, $lt-ie9-class-name) {
  .cat-search {
    form {
      fieldset {
        background-color: transparent;
        @include box-shadow(none);

        button {
          width:50px;
        }
      }
    }
  }
}

//<IE9 specific
@include in-breakpoint($lt-ie9-class-name) {
  .cat-search {
    form {
      fieldset {
        input {
          border: 1px solid #C0C0C0;
        }
      }
    }
  }
}

// IE<10 specific!
@include in-breakpoint($lt-ie10-class-name){
  .cat-search {
    form fieldset {
      background-color: transparent;
      button {
        position: absolute;
        left: 28.5em; // 28em; // 25.5em;
        top: -1px;
        width: 50px;
      }

      input.opaque {
        background-color: $color-white;
        position: relative;
        z-index: 1;
      }

      .placeholder {
        display: block;
        position: absolute;
        left: 1em !important;
        font-size: inherit;
        // padding: $medium-padding 0;
        color: lighten($color-black, 50%);
        background-color: #FFFFFF;

        top: 0;
        padding: 0 1em;
        margin-left: 0 !important;
      }

    }
  }
}

// <IE9
@include in-breakpoint($lt-ie9-class-name){
  .cat-search form fieldset .placeholder {
    top: 0.5em;
  }
}

/*** End Category Search in Post Ad Page ****/

@mixin cascademenu_default{
	.hide {
		display: none;
	}

    // Cat. search form
    #searchCatForm {
        margin-bottom: 10px;
    }

    // Labels inside suggestions module.
    .catSuggestions {
      span.label {
        font-size: 0.9em;
      }
    }

    ul.sugMenu {
      li {
        cursor: pointer;
        // padding-left: 1em !important; // Fixes BOLT-8931
        &:active {
          background-color: $color-black-05;
          span {
            color: $link-hover-color;
            text-decoration: underline;
            @include post-page-nav-item-hover;
          }
        }
      }
      > li {
        padding-left: 1em !important; // Fixes BOLT-8931
      }
    }

	ul.selMenu {
		margin-bottom: 2em;
		li {
			cursor: pointer;
			&:active {
				background-color: $color-black-05;
				span {
					color: $link-hover-color;
					text-decoration: underline;
          @include post-page-nav-item-hover;
				}
			}
		}
        li.disabled {
          span {
              color: gray;
              text-decoration : none;
          }
          cursor: default;
        }
	}

    ul.selMenu.offset {
      li {
          padding-left: 1em;
      }
    }

    .no-touch .menu-cnt:not(.flat) ul.selMenu li:hover, .no-touch ul.sugMenu li:hover {
    // .no-touch .menu-cnt ul.selMenu li:hover, .no-touch ul.sugMenu li:hover {
        background-color: $color-black-05;
        span {
          color: $link-hover-color;
          text-decoration: underline;
          @include post-page-nav-item-hover;
        }
    }

	.nav-item {
		color: $post-page-nav-item-color;
		padding:.25em;
		
	}

	.nav-cont {
		list-style: none outside none;
		
	}
	.menu-cnt, ul.nav-cont{
	 -webkit-tap-highlight-color: rgba(0,0,0,0);
	 -webkit-outline: none;
	  outline: none;
	 
	}
	.menu-cnt{
	  //font-size:$fontSize-link;
	}
}

//small tablet size
@mixin cascademenu_mediumsize{
   .lt-ie10 .form-sect ul.selMenu {
		overflow: hidden;
		li {
			width: 50%;
			float: left;
		}
	}
    ul.sugMenu {
		line-height: 2em;
    }
    ul.selMenu {
		margin-bottom: 3em;
		@include columns(2);
		line-height: 2em;
		li {
			-webkit-break-inside: avoid-column;
			-webkit-column-break-inside: avoid;
			-moz-break-inside: avoid-column;
			-moz-column-break-inside: avoid;
			break-inside: avoid-column;
			column-break-inside: avoid;
		}
	}
	.nav-item {
		padding:.15em;
	}
}

//big tablets/desktop size
@mixin cascademenu_largesize{

    .lt-ie10 .form-sect ul.selMenu li {
		width: 33%;

	}
	ul.selMenu {
		@include columns(3);
        -webkit-column-span: all;
        column-span: all;
    }
	.nav-item {
		padding:.05em;
	}
    #curLoc {
    	color: #569110;
		text-decoration: underline;
		cursor:pointer;
		font-weight:bold;
		margin:1em 0em;
    }
}

//<IE9 specific
@mixin cascademenu_lt_ie9{
     ul.selMenu .nav-item {
		float:left;
		width:33%;
	 }
}