@mixin post-page-nav-item-hover { }

/**
 * *********************************************************
 *  Override Mobile: Default View: BOLT-17714: Section for the Category Selector Flat view
 *  ********************************************************
 */
@mixin flatcascademenu_mobile {
  .form-sect .menu-cnt.flat {
    ul.selMenu, ul.nav-cont {
      width: 100% !important;
      left: 0 !important;
    }
  }

  .form-sect .menu-cnt.flat {
    height: 100% !important;
    li.nav-item span.item-text {
      padding: 0.5em;
      font-size: 0.9em
    }
  }

}

/**
 * *********************************************************
 *  Default View: BOLT-17714: Section for the Category Selector Flat view
 *  ********************************************************
 */
@mixin flatcascademenu_default {
/*
  .no-touch .menu-cnt.flat ul.selMenu li:hover {
    background-color: initial;
    span {
      color: #4A90E2;
      text-decoration: initial;
      @include post-page-nav-item-hover;
    }
  }

  .no-touch .menu-cnt.flat > ul.selMenu > li.selected:hover > span{
    color: #FFFFFF;
  }

  .no-touch .menu-cnt:not(.flat) ul.selMenu li:hover, .no-touch ul.sugMenu li:hover {
    background-color: $color-black-05;
    span,
    span.nav-item {
      color: $link-hover-color;
      text-decoration: underline;
      @include post-page-nav-item-hover;
    }
  }
*/

  .menu-cnt.flat {
    position: relative;

    .nav-item ul.nav-cont.selMenu:not(.hide) {
      position: static;
      top: 0;
    }

    ul.selMenu, ul.nav-cont {
      margin-bottom: 0;
      color: blue;

      li.nav-item.selected {
        > .item-text {
            display: block; // full width of container
            background-color: #1B75BB;
            color: #FFFFFF;
            text-decoration: none;
            &:hover {
              color: #FFFFFF;
              // border: 1px solid #1E90FF;
              span, span.item-text, span.txt {
                color: #FFFFFF;
              }
            }
        }
      }
    }

    // Column alternate colors
    ul.selMenu {
      background-color: #FFFFFF;
      &.even {
        background-color: #DDDDDD;
      }
    }

  }
  /** End Section Cat. Sel Flat view */
}

/**
 * *********************************************************
 *  Tablet View: BOLT-17714: Section for the Category Selector Flat view
 *  ********************************************************
 */
@mixin flatcascademenu_mediumsize {
  .menu-cnt.flat {
    position: relative;

    .nav-item ul.nav-cont.selMenu:not(.hide) {
      position: absolute;
    }

    ul.selMenu {
      margin-bottom: 3em;
      @include columns(1);
      line-height: 2em;
    }

  }
  /** End Section Cat. Sel Flat view */
}
