
@mixin price_default {
	.price-types {
	  clear: left;
	  margin: 0 1em 0.5em 0;
	}

	.price-field {
	  position: relative;
	  display: inline-block;
	  margin-bottom: 0.5em;
	}

	// Changed padding for price due to numeric field - see BOLT-15324
	input[type='text'].price-value,
	.price-field.numberonly input.price-value {
	  padding-left: 1.6em; // 1.1em;
	  width: 9.25em;
	}

	#currencyValues.disabled, .price-field.disabled {
		display: none;
	}

	.price-fraction {
		//font-size: 0.9em;
	}
}

@mixin price_medium {
	.price-field {
	  float: left;
	  margin-right: 1em;
	}
}

@mixin price_large {
	.price-types {
		clear: none;
		float: left;
	}
}



//
// display currency only for certain price types
//
.fieldcontain.price {
	&[data-option="FREE"],
	&[data-option="MAKE_OFFER"],
	&[data-option="BARTER_SWAP"],
	&[data-option="CONTACT_ME"] {
		.price-field,
		#currencyValues {
			display:none;
		}
	}
}
