<div id="edit-ad-custom-attributes-form" class="custom-attributes">
    {{#each this.customAttributes}}
        <div class="form-field" data-field="{{this.name}}">
            {{#compare this.allowedValueType "===" "LIST"}}
                {{> (base "editFormSelectBox") this parent=../model}}
            {{/compare}}
            {{#compare this.allowedValueType "!==" "LIST"}}
                {{> (base "editFormTextbox") this parent=../model}}
            {{/compare}}
        </div>
    {{/each}}
</div>
