$cardHeaderPadding: 20px;

.card {
	overflow-x: hidden;
    margin-top: 20px;
    background-color: $cardBackgroundColor;

    .card-title {
        text-align: center;
        font: $cardHeadersFont;
        padding-top: $cardHeaderPadding;
        padding-bottom: $cardHeaderPadding;
    }

    .link {
        font-weight: bold;
        color: $cardLinksColor;
        text-decoration: none;

		&.for-gallery {
			color: $galleryViewMoreColor;
		}
    }

    .inline-block {
        display: inline-block;
    }

    .underline {
        text-decoration: underline;
    }

    .card-view-more {
        text-align: center;
        font: $cardHeadersFont;
        padding-top: $cardHeaderPadding/2;
        padding-bottom: $cardHeaderPadding;
    }

	&.featured-card {
		position: relative;
		border: 1.5px solid $galleryBorderColor;

		.sponsored-text {
			position: absolute;
			top: 2px;
			right: 50px;
			color: $gallerySponsoredTextColor;
			font-size: $fontSizeLabel;
		}

		.featured-bolt {
			width: 15px;
			height: 15px;
			position: absolute;
			top: 2px;
			right: 0px;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			border-width: 16px;
			border-style: solid;
			border-color: $galleryBorderColor $galleryBorderColor transparent transparent;
		}

	}

}

.card-trendingCard {
	.card-title {
		font-size: 16px;
		font-weight: bold;
		white-space: nowrap;

		span {
			cursor: pointer;
		}
	}

	.underline {
		text-decoration: none;

		[class*=icon-] {
			display: inline-block;
			margin: 0 0 -3px 3px;
		}
    }
}

@include to-breakpoint($small-break) {
	.card-trendingCard {
		.card-title {
			margin: auto;
			width: 300px;

			span {
				display: block;

				&:first-child {
					float: left;
				}

				&:last-child {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			[class*=icon-] {
				display: inline-block;
				margin: 0 -2px -3px 5px;
			}
		}
	}
}
