// this style is to display the message
// after an ad is posted.
.confirm-message {
	color: lighten($color-black, 25%);
	max-width: 35em;
	margin: 1em auto;

    h1.header {
      background-color: transparent;
      padding: 0;
    }
	h1 + p {
		margin: 1em 0;
		padding: 0.5em;
        background: lighten($color-black, 25%);
        color: $color-white;

		@include border-radius(5px);
	}

}

.post-confirm.confirm-message {
   h1 + p {
     padding: 0.5em 0;
     background: transparent;
     color: lighten($color-black, 25%);
   }
 }

@include from-breakpoint($medium-break, $lt-ie9-class-name) {
	.confirm-message {
		margin: 1em auto;
	}
}

.btn-container {
  display: none; // Avoid flickering (hide/show toggling).
  background-color: $color-yellow;
  border-color: $color-yellow;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

h1.header {
  margin: 0;
  font-weight: bold;
  z-index: 1;
}