@import "../../../../../partials/common/categoryListBase";

$right-column-top: 16em;
$ad-height: 16em;

#flexLftBuckt{
	.item{
		span{
			&.icon{
				display: none;
			}
			&.label{
				padding-left: 0em;
				font-size: 0.9em;		
			}
		}
		ul{
			li.all-label, a{
				font-size: 0.9em;
			}
		}
	}
}

//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@include to-breakpoint($no-break){
  @include category-list-to-no-breakpoint;
  .parent-category{
    a{
     &:hover{
      background-color: $content-link-bg-color;
     }
    }
   }  
             
}

//--------------------------------------------------------
// small breakpoint starts
//--------------------------------------------------------
@include in-breakpoint($small-break) {
    #flexLftBuckt {
     font-size: 0.875em;
    }

	#flexLftBuckt {
		height: 97em; // 113em; // 55em;
		padding-left: 0.9em;
	}

    .category-list {
        position:relative;

      .parent-category{
        position:absolute;

        //column1
        &.l1category6 {
          top: 0em;
        }
        &.l1category4 {
          top: 23em;
        }
        &.l1category64 {
          top: 39em;
        }
        &.l1category9 {
          top: 58em;
        }
        &.l1category15 {
          top: 76em;
        }
      }
    }
    //column2
    $column2left: 35%;
	.category-list {
        .parent-category {
            &.l1category7 {
                top: 0em;
                left: $column2left;
            }
            &.l1category1323 {
                top:  40em;
                left: $column2left;
            }
            &.l1category1 {
                top: 59em;
                left: $column2left;
            }
            &.l1category30 {
                top: 72em;
                left: $column2left;
            }
        }
    }
    //column3
    $column3left: 69%;
    .category-list {
    	.parent-category{
		    &.l1category20 {
		    	top: 0em;
		        left: $column3left;
		    }
		    &.l1category36 {
		        top:  28em;
		        left: $column3left;
		    }
		    &.l1category2 {
		        top: 51em;
		        left:$column3left;
		    }
		    &.l1category14 {
		        top: 67em;
		        left:$column3left;
		    }
		}
	}
}

//--------------------------------------------------------
// from-medium breakpoint starts
//--------------------------------------------------------
@include from-breakpoint($medium-break, $lt-ie9-class-name){
    #flexLftBuckt{
		height: 72em;
		margin-left: 1em;
	}
	
	.category-wrapper .category-list .parent-category{
		width: 22%;
	}
	
    .category-list {
        position:relative;

      .parent-category{
        position:absolute;
        //column1
        &.l1category6 {
          top: 0em;
        }
        &.l1category4 {
          top: 23em;
        }
        &.l1category64 {
          top: 39em;
        }
      }
    }
    //column2
    $column2left: 27.5%;
	.category-list {
      .parent-category {
        &.l1category9 {
          top: 0em;
          left: $column2left;
        }
        &.l1category15 {
          top: 16em;
          left: $column2left;
        }
        &.l1category7 {
          top: 33em;
          left: $column2left;
        }
      }
    }
    //column3
    $column3left: 53.5%;
    .category-list {
      .parent-category{
        &.l1category1323 {
          top:  0em;
          left: $column3left;
        }
        &.l1category1 {
          top: 17em;
          left: $column3left;
        }
        &.l1category30 {
          top: 29em;
          left: $column3left;
        }
        &.l1category20 {
          top: 46em;
          left: $column3left;
        }
      }
	}
	//column4
    $column4left: 77%;
    .category-list {
    	.parent-category{
          &.l1category36 {
            top: 0em;
            left: $column4left;
          }
          &.l1category2 {
            top: 22em;
            left: $column4left;
          }
          &.l1category14 {
            top: 37em;
            left: $column4left
          }
		}
	}
}

//--------------------------------------------------------
// General rules included throughout all sizes
//--------------------------------------------------------
.category-list{
    
    .parent-category{
       > a{
          .icon{
                 height:1.1em;
                 width:2em;
                 &.icon-cat-64{
                    width:1.5em;
                  }
               
              }
            
            }

        }
    }

//-----------------------------------------------------------
// Home page Right Adbanner 
//-----------------------------------------------------------

.home_rghtbanner{
    margin-bottom:10px;
  }  