<div id='div-gpt-ad-1318934199048-1' class="home_rghtbanner"></div>  
	
{{#partial "googleBannerAdsRightBottom_Script"}}
	{{#unless model.header.isIncludeContentForMobile}}
    	BOLT.displayBanner( $.extend( {pos:"bottom",slotDim: [300, 250], slotId : 'div-gpt-ad-1318934199048-1'},bP));
    	$("#div-gpt-ad-1318934199048-1").css(
    	{ "border" : "1px dashed green",
    	  "width": "300px",
    	  "height" : "250px"
    	});
   {{/unless}}
{{/partial}}