.safety-tips-container {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    height: 330px;
    @media(min-width: 768px) {
        width: 90%;
    }

    .advertisement-placeholder {
        display: none;
        width: 33.3334%;
        height: 316px;
        float: left;
        @media(min-width: 768px) {
            display: inline-block;
        }
        .ad {
            background-image: url('http://placehold.it/336x280');
            background-size: contain;
            background-position: center;
            width: 90%;
            height: 100%;
            margin: auto;
        }
    }
}

.safety-tips-card {
    min-height: 280px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: $safety-card-background-color;
    float: left;
    @media (min-width: 768px) {
        width: 66.6667%;
    }

    .safetyTips {
        max-width: 800px;
        width: 100%;
        margin: auto;
        position: relative;

        .title {
            padding: 10px;
        }

        .safety-icon {
            display: inline-block;
            align-self: center;
            height: 26px;
            width: 26px;
            background-image: url('../../../../../../icons/placeholder.png');
            background-size: contain;
            background-repeat: no-repeat;
        }

        .safety-text {
            display: inline-block;
            height: 36px;
        }

        .safety-block {
            max-width: 100%;
            width: 100%;
            float: left;
            @media (min-width: 768px) {
                max-width: 48%;
            }
            &.block-right {
                margin-left: 10px;
                display: none;
                @media (min-width: 768px) {
                    display: inline-block;
                }
            }

        }

        .image-container {
            @media (min-width: 768px) {
                margin-left: 10px;
            }
        }

        .image {
            height: 200px;
            margin: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @media (min-width: 768px) {
                height: 175px;
            }
            &.image-left {
                background-image: url('../../../../../../images/safety-tips-1.jpg');
            }
            &.image-right {
                display: none;
                background-image: url('../../../../../../images/safety-tips-2.jpg');
                @media (min-width: 768px) {
                    display: block;
                }
            }
        }

        .faq {
            width: 100%;
            padding-top: 5px;
            padding-bottom: 15px;
            clear: both;
        }

        a {
            font: $secondary-link-font;
            color: $secondary-link-color;
            text-decoration: underline;
        }

        h1 {
            font: $h1;
            line-height: 37px;
            font-weight: bold;
            color: $h1-color;
        }

        h3 {
            font: $h3;
            line-height: 29px;
            color: $h3-secondary-color;
        }

        .help-text {
            font: $p2;
            color: $p2-secondary-color;
        }
    }
}

