{{#partial "content"}}
    <div id="viewPage">
        {{> (dynamic "viewPageGallery")}}

		<div class="item-details">
            {{> (dynamic "adDetails")}}
		</div>

        <div class="seller-profile">
            {{> (dynamic "sellerProfile")}}
        </div>

        <div class="ad-disclaimers">
            {{> (dynamic "adDisclaimers")}}
        </div>
    </div>
{{/partial}}
