{{#partial "content"}}
    <div class="view-page-container">
        {{> (dynamic "modal")}}

		<div class="view-content-container">
            {{> (dynamic "viewPageDetails")}}
		</div>
    </div>
{{/partial}}
