{{#partial "content"}}
<div>
  <div class="vip-left-columns">
    <div id="viewPage">
        {{> (dynamic "viewPageGallery")}}
    		<div class="item-details">
          {{> (dynamic "adDetails")}}
    		</div>
    </div>
  </div>

  <div class="vip-right-columns">
    <div class="seller-profile">
      {{> (dynamic "sellerProfile")}}
    </div>
    <div class="ad-disclaimers">
        {{> (dynamic "adDisclaimers")}}
    </div>
  </div>

  <div class="seo-wrapper">
         <h1>{{i18n "home.h1Tag"}}</h1>
          {{> (dynamic "topSearches")}}
          {{> (dynamic "topLocations")}}
  </div>
</div>
{{/partial}}
