@import  "../../theme";
@import  "../../../partials/pages/Homepage/pageMain";
@import  "../../../partials/components/welcomeModal/welcomeModal";
@import  "../../../partials/components/modal/modal";
@import  "../../../partials/components/appDownload/appDownload";
@import  "../../partials/common/subs";
@import  "../../../partials/components/safetyTips/safetyTips";
@import  "../../../partials/components/sectionMenu/sectionMenu";
@import  "../../../partials/components/recentActivity/recentActivity";
@import  "../../../partials/components/tileGrid/tileGrid";
@import  "../../../partials/components/adTile/adTile";
@import  "../../../partials/card";
@import  "../../../partials/components/searchbarV2/searchbarV2";
@import  "../../../partials/components/header/header";
@import  "../../../partials/components/footerV2/footerV2";
@import  "../../../partials/components/hamburgerMenu/hamburgerMenu";

.footer-wrapper {
	position: fixed;
	bottom: 0;
}
