@import  "../../theme";
@import  "../../../partials/pages/ViewPage/pageMain";
@import  "../../../partials/components/modal/modal";
@import  "../../partials/common/subs";
@import  "../../../partials/components/header/header";
@import  "../../../partials/components/searchbarV2/searchbarV2";
@import  "../../../partials/components/hamburgerMenu/hamburgerMenu";
@import  "../../../partials/components/footerV2/footerV2";
@import  "../../../partials/components/viewPageDetails/viewPageDetails";
@import  "../../../partials/components/adDetails/adDetails";
