<div id="category-selection-modal" class="category-selection-modal hidden" data-root-label="{{i18n "editAd.categorySelect.rootLabel"}}">
    <div class="modal">
        <div class="close-button">
			<span class="icon-close-small"></span>
            <span class="close-text">{{i18n "modal.close"}}</span>
        </div>
        <div class="clear"></div>
        <div class="title">{{i18n "editAd.categorySelect.title"}}</div>
        <div class="current-hierarchy"></div>
        <div class="wrapper staging-input">
            <input type="text"/>
            <div id="clear-text-btn" class="icon-close-small"></div>
        </div>
        <div class="wrapper">
            <div class="results">
				<ul></ul>
            </div>
        </div>
        <button type="submit" class="save-button">{{i18n "editAd.categorySelect.save"}}</button>
    </div>
</div>
