.suggestedSearch .moreSearches ul.relSearchMenu  li{
	width:100%;
  }

.moreSearches,  {
	margin-top: $large-margin;
	border: 1px solid $color-gray-light;
	@include border-radius($medium-border-radius);

	padding: 10px;
                          
  

  .titleContainer {
    border-radius: 5px 0;
    padding: 3px 10px;
    background-color: $section-divider-bg-color;
  }

  ul.relSearchMenu {
    display: inline-block;
    border-radius: 0 0 5px 5px;
    margin: 5px 0 -10px 0;
    padding: 2px;
    width: 100%;
    li {
      width: 50%;
      float: left;
    }
    
  }
}




@include in-breakpoint($no-break){
.moreSearches {
  
    width: 100%;
  }
  
  .suggestedSearch .moreSearches ul li{
	display:none;
  }
  
  .suggestedSearch .moreSearches ul{
  	li:nth-child(1), li:nth-child(2), li:nth-child(3), li:nth-child(4){
		display: inline-block;
	}
  }
  
}  
  