{{#partial "content"}}
	<div style="border: 2px solid green ;overflow: hidden; display: block;">
		<h1 style="text-align: center;">HOMEPAGE PLACEHOLDER CONTENTS !!!</h1>
		{{> (dynamic "sectionMenu")}}
        {{> (dynamic "button")}}
        {{> (dynamic "safetyTips") }}
	</div>
{{/partial}}

{{!-- override of header and footer --}}
{{#if this.isNewHP}}
	{{#partial "headerWrapper"}}{{/partial}}
	{{#partial "footerWrapper"}}{{/partial}}
{{/if}}
