{{#partial "content"}}
	<div style="overflow: hidden; display: block;">
		{{> (dynamic "sectionMenu")}}
		{{> (dynamic "recentActivity")}}
		{{> (dynamic "appDownloadSection")}}
		{{> (dynamic "safetyTips") }}
		{{> (dynamic "button")}}
	</div>
{{/partial}}

{{!-- override of header and footer --}}
{{#if this.isNewHP}}
	{{#partial "headerWrapper"}}
        {{> (dynamic "headerV2")}}
	{{/partial}}
	{{#partial "footerWrapper"}}{{/partial}}
{{/if}}
