$mobileSearchBarHeight: 35px;
$desktopSearchBarHeight: 45px;
$mobileTextboxWidth: 84%;

.search-mask {
	&.is-typing {
		@include from-breakpoint($medium-break) {
			background-color: rgba(0, 0, 0, 0.7);
		}
		display: block;
	}
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 2;
	display: none;
	background-color: #ffffff;
}

.search-controls {
	color: $searchBarTextColor;
	margin: 0 auto;
	max-width: 1168px;
	padding: 15px 0;
	.type-ahead-results-row {
		height: 32px;

		.type-ahead-link {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			box-sizing: border-box;
			width: calc(100% - 65px);
			height: 100%;
			margin: auto;
			display: block;
			color: $searchBarTextColor !important;
			text-decoration: none;
		}

		&.active {
			background-color: $searchBarTypeAheadWrapperBackground;
		}
	}

	.type-ahead-results-wrapper, .search-bar {
		width: calc(100% - 40px);
		margin: 0 auto;
	}

	.type-ahead-results-wrapper {
		position: absolute;
		margin-top: 60px;
		display: none;
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 40px);
		background-color: white;
		z-index: 3;

		.type-ahead-results-container {
			height: 100%;
			z-index: 3;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0 auto;
			background-color: $searchBarTypeAheadContainerBackgroundMobile;
			overflow-y: scroll;
			padding-right: 20px; // hide scrollbar
		}
	}

	.search-bar {
		z-index: 4;
		width: calc(100% - 40px);
		margin: 0 auto;
		position: relative;
		box-sizing: border-box;
		height: $mobileSearchBarHeight;

		form {
			position: relative;
			height: 100%;
		}

		.search-wrap {
			float: left;
			width: 82%;
			box-sizing: border-box;
			height: 100%;
			border: 1px solid $searchBarTextBoxBorder;
			@include border-top-left-radius(0.25em);
			@include border-bottom-left-radius(0.25em);
			background-color: $color-white;
		}

		.loc-arrow-icon, .close-search {
			z-index: 1;
			position: absolute;
			display: none;
			box-sizing: border-box;
			font-size: 24px;
			line-height: 1;
			margin-left: 5px;
		}

		.loc-arrow-icon {
			top: 55px;
			right: 22%;

			&:hover {
				cursor: pointer;
			}
		}

		.close-search {
			top: 3px;
			bottom: 0;
			margin-top: 3px;

			&:hover {
				cursor: pointer;
			}
		}

		.search-loc-icon {
			display: block;
			float:left;
			width: 20px;
			height: 20px;
			margin: 7px 3px 0 3px;

			@include to-breakpoint($medium-break) {
				margin: 7px 2px 0 2px;
			}
		}

		.location-text {
			text-decoration: underline;
			display: block;
			float: left;
			margin-top: 5px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@include in-breakpoint($small-break) {
				max-width: 7em;
			}
			@include from-breakpoint($medium-break) {
				max-width: 15em;
			}
		}

		.search-textbox-container {
			float: left;
			height: 100%;
			width: 64%;
			margin-left: auto;
			margin-right: auto;
			@include border-top-left-radius(0.25em);
			@include border-bottom-left-radius(0.25em);

			.search-textbox {
				@include border-top-left-radius(0.25em);
				@include border-bottom-left-radius(0.25em);
			}
		}

		.divider {
			border-right: 2px solid $border-color;
			float: left;
			width: 1%;
			height: 25px;
			margin-top: 10px;

			@include to-breakpoint($medium-break) {
				height: 20px;
				margin-top: 6px;
			}
		}

		.location-link {
			float: left;
			width: 32%;
			color: $searchBarLocationLinkColor;
			display: block;
			&:hover{
				cursor: pointer;
			}
		}

		.mobile-location-area {
			box-sizing: border-box;
			outline: none !important;
			width: 100%;
			height: 98%;
			-webkit-appearance: none;
			border: 1px solid $searchBarTextBoxBorder;
			display: none;
		}

		.search-textbox, .mobile-location-area {
			padding: 0 0.75em;
			box-sizing: border-box;
			outline: none !important;
			width: 100%;
			height: 98%;
			-webkit-appearance: none;
			border: none;
		}

		.mobile-location-area {
			margin-top: 10px;
		}

		.search-button-wrap {
			float: left;
			margin-left: -1px;
			height: $desktopSearchBarHeight;
			box-sizing: border-box;
			width: 18%;
		}

		.search-button {
			color: $searchBarButtonTextColor;
			background-color: $searchBarButtonColor;
			border: solid 1px $searchBarButtonColor;
			vertical-align: top;
			width: 100%;

			@include border-top-right-radius(0.25em);
			@include border-bottom-right-radius(0.25em);

			@include to-breakpoint($medium-break) {
				height: $mobileSearchBarHeight;
			}

			.inner-text {
				display: none;
				vertical-align: middle;
			}

			.button-content-container {
				display: block;
				height: 100%;
				line-height: 36px;
				position: relative;
			}

			.icon-search-white {
				display: inline-block;
				margin: 0;
				height: 20px;
				vertical-align: middle;
				width: 20px;
			}

			&:focus,
			&:hover {
				cursor: pointer;
				background-color: $searchBarButtonMouseOverColor;
			}
		}

		button {
			height: $mobileSearchBarHeight;
		}
	}

	&.is-typing {
		margin-bottom: 40px;
		@include from-breakpoint($medium-break) {
			margin: 0 auto;
		}

		.type-ahead-results-wrapper, .search-mask, .close-search {
			display: block;
		}

		.type-ahead-results-wrapper {
			height: calc(100% - 220px);
		}

		.search-bar {
			button {
				height: 79px;

				.button-content-container {
					line-height: 70px;
				}
			}

			.location-link {
				right: inherit;
				width: 100%;
				border: 1px solid $searchBarTextBoxBorder;
				height: 100%;
				white-space: nowrap;
				.location-text {
					margin: 0;
					max-width: 80%;
				}

			}

			.loc-arrow-icon {
				display: block;
			}

			.mobile-location-area {
				display: block;
				width: $mobileTextboxWidth;
			}

			.search-textbox {
				padding-left: 30px;
			}

			.divider {
				display: none;
			}

			.search-wrap {
				width: 82%;

				.search-textbox-container {
					width: 100%;
				}

				.location-link {
					@include border-top-left-radius(0.25em);
					@include border-bottom-left-radius(0.25em);
				}
			}

			.search-button-wrap {
				width: 18%;
				padding-left: 15px;

				.search-button {
					width: 90%;
				}
			}
		}
	}
}

@include from-breakpoint($medium-break) {
	.type-ahead-link {
		margin: auto 10px !important;
	}

	.type-ahead-results-container {
		padding-top: 0 !important;
	}

	.search-controls.is-typing {
		.type-ahead-results-wrapper, .search-mask, .close-search {
			display: block;
		}

		button {
			height: 83px;
		}

		.mobile-location-area, .loc-arrow-icon {
			display: none !important;
		}

		.search-bar {
			background: none;

			.divider {
				display: block;
			}

			.search-textbox {
				padding: 0 0.75em;
			}

			.location-link {
				width: 32%;
				border: none;
				right: 15.5%;

				.location-text {
					margin-top: 3%;
				}
			}

			button {
				height: $mobileSearchBarHeight;
			}

			.search-wrap {
				width: 90%;

				.search-textbox-container {
					width: 64%;
				}

				.location-link {
					@include border-top-left-radius(0);
					@include border-bottom-left-radius(0);
				}
			}

			.search-button-wrap {
				width: 10%;
				padding-left: 0;

				.search-button {
					width: 100%;
				}
			}
		}
	}

	.search-controls {
		.search-bar {
			height: $desktopSearchBarHeight;

			.search-button {
				.inner-text {
					display: inline-block;
					margin-left: 5px;
				}
			}

			.location-link {
				bottom: -7px;
				top: -4px;
			}

			button {
				height: $desktopSearchBarHeight;
			}
		}

		.type-ahead-results-wrapper {
			background-color: transparent;
			position: relative;
			margin-top: 0;

			.type-ahead-results-container {
				padding-right: 0;
				padding-top: 20px;
				width: 90%;
				overflow-y: scroll;
				margin: 0;
				height: 320px;
				background-color: $searchBarTypeAheadContainerBackgroundDesktop;
				border: 0.5px solid $searchBarTypeAheadBorder;
				box-sizing: border-box;
			}
		}

		.close-search {
			display: none !important;
		}
	}
}

@include to-breakpoint($medium-break) {
	body.disable-scroll-mobile {
		overflow-y: hidden;
	}

	.search-controls {
		.search-bar {
			height: $mobileSearchBarHeight;

			.location-text {
				max-width: calc(100% - 25px);
			}

			.search-button {
				.button-content-container {
					line-height: 26px;
				}
			}

			.search-button {
				.inner-text {
					display: none;
				}
			}
		}

		&.is-typing {
			.search-bar {
				.location-link {
					.location-text {
						margin-top: 1%;
					}
				}
			}
		}
	}
}

@include from-breakpoint($large-break) {
	.search-controls {
		.type-ahead-results-wrapper {
			width: calc(100% - 80px);
		}

		.search-bar {
			width: calc(100% - 80px);

			.location-text {
				margin-top: 10px;
			}

			.search-loc-icon {
				margin-top: 12px;
			}
		}
	}

	.search-controls.is-typing .search-bar button {
		height: $desktopSearchBarHeight;
	}
}
