$feedTextSize: 16px;

.feed-tiles {
    .feed-tile {
        width: 100%;
        &:not(:first-child){
            display: none;
        }

        .feed-text-wrapper {
            position: relative;
            width: 75%;
            padding-left: 10px;
            height: 100px;
            float: left;
        }

        .feed-text {
            .bold {
                font-weight: bold;
            }
            color: $vivaGray1;
            font-size: $feedTextSize;
            margin-left: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            line-height: 1;
        }

        .user-photo-wrapper {
            margin-left: 7px;
            position: relative;
            width: 50px;
            float:left;
        }

		.fallback-image {
			background-image: url('../../../../../images/UserIcon-100px.png');
			background-repeat: no-repeat;
			background-size: 2em;
			background-position: center;
		}

		.user-avatar {
			background-size:100% 100%;
			height: 50px;
			width: 50px;
			-moz-border-radius: 100%;
			-webkit-border-radius: 100%;
			border-radius: 100%;
			float: left;
			margin-top: 50%;
			border:1px solid #FF9800;
		}

        float:left;
    }

    background-color: $vivaWhite;
	border: 1px solid #D4D4D4;
    margin: 0.5em 2% 0;
    height: 100px;
	width: 96%;
}

@include from-breakpoint($medium-break){
    .feed-tiles {
        border: none;

        .feed-tile {
            &:not(:first-child) {
                display: block;
            }
            width: 32%;
            background-color: $common-background-color;
            margin: 0px 0px 0px 12px;
        }
    }
}

@include in-breakpoint($medium-break){
    .feed-tiles {
        border: none;
        .feed-tile {
            margin: 0px 5px;
            .feed-text-wrapper {
                width: 170px;
            }
        }
    }
}

@include in-breakpoint($small-break){
    .feed-tiles {
        .feed-tile {
            .feed-text-wrapper {
                width: 250px;
            }
        }
    }
}
