/**
 * Changes on the Post button for homepage. See BOLT-16063
 */
@include in-breakpoint ($no-break) {
  .header .right .nav {
    margin-right: 0;
  }

  .headerPost {
    display: block;
    height: 50px;
    background-color: #EBEBEB;
    border-top: 1px solid #C3C3C3;
    position: relative;
    z-index: 1;
  }

  .headerPost, .postSection {
    .header.diff .right .post-btn-wrap.post {
      margin-top: 0.8em;
      padding-left: 3em;
      padding-right: 3em;

      a {
        @include border-radius(0.25em);
        border: 1px solid #C0C0C0;
        span.long {
          white-space: nowwrap;
        }
      }
    }
  }

  .viewport > div.header {
    .elements .right .post {
      display: none;
    }
  }
}

@include from-breakpoint($small-break, $lt-ie9-class-name) {
  .viewport > div.header {
    .elements .right .post {
      display: block;
    }
  }

  .headerPost {
     display: none;
  }
}