.inf-description {
	text-align: center;
	color: $formLabelTextColor;
	font-size: small;
	margin: 20px;
	.contact-support {
		text-decoration: underline;
	}
}
.inf-container {
	max-width: 960px;
	height: 200px;
	background-color: $vivaGray8;
	box-shadow: 1px 1px 6px $postAdShadowColor;
	margin:3%;

	@include from-breakpoint($medium-break) {
		position: relative;
		margin: -11px auto 40px auto;
	}

	.ad-inf-description {
		font-size: large;
		color: $formLabelTextColor;
		padding: 10px 0px 0px 20px;
	}
	.inf-amount {
		color: $vivaGreen1;
		float: right;
		margin-right: 20px;
		&:before {
			content: "$";
		}
	}
	.ad-summary {
		.ad-first-pic {
			width: 72px;
			height: 72px;
			margin-left: 20px;
			float: left;
			border-radius: 2px;
			cursor: pointer;
			position: relative;
			box-shadow: 1px 1px 6px $postAdShadowColor;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		.ad-title {
			font-size:large;
			margin: auto 10px auto 120px;
			word-break: break-all;
		}
		.ad-price {
			font-size:large;
			margin: auto 10px auto 120px;
			&:before {
				content: "$";
			}
		}
		.ad-price-contact-me {
			font-size:large;
			margin: auto 10px auto 120px;
		}
	}
}
.inf-cancel {
	margin-bottom: 15px;
	.inf-cancel-button {
		margin-left: 45%;
		text-decoration: underline;
		color: $formLabelTextColor;
	}
}

@include to-breakpoint($small-break) {
	.ad-inf-description {
		max-width: 250px;
	}
	.inf-amount {
		margin-top: -50px;
	}
}

@include from-breakpoint($medium-break) {
	.inf-cancel {
		display: none;
	}
	.ad-inf-description {
		max-width: 500px;
	}
	.inf-amount {
		margin-top: -25px;
	}
}
