$font-size-base-new: 0.875em; // 14px
$font-size-micro: $font-size-base-new * 0.9795918367; // 12px
$font-size-medium: $font-size-base-new * 1.306122449; // 16px
$font-size-large: $font-size-base-new * 1.6326530613; // 20px