@import "../../theme";

@import "../../../partials/pages/PostPage/postcontent";
@import "../../../partials/pages/PostPage/price";
@import "../../../partials/pages/PostPage/cascademenu";
@import "../../../partials/pages/PostPage/postform";
@import "../../../partials/pages/PostPage/imageuploader";
@import "../../../partials/common/popup";
@import "../../../partials/pages/PostPage/geopopupcontent";
@import "../../../partials/pages/PostPage/fixedsticky";
@import "../../../partials/pages/PostPage/adcompleteness";
@import "../../../partials/pages/PostPage/overlay";
@import "../../../partials/pages/PostPage/featureTable";
@import "../../../partials/common/featurelegend";

//country/locale specific CSS, overrides
//@import "../../partials/pages/PostPage/price";

//common styles for all medias/browsers, which is also the default styles for mobile ( mobile first)
@include postcontent_default;
@include price_default;
//@include price_default_ZA;
@include cascademenu_default;
@include postform_default;
@include popup_default;
@include imageuploader_default;
@include geopopupcontent_default;
@include hide_header_post_ad_button;
//@include overlay_default;
@include featurelegend_default;
@include featurelegend_popup_images;
@include featuretable_default;

#postSubmit {
  font-size: 1em;
}

//medium size( small tablet size)
@include from-breakpoint($small-break){
   @include postcontent_mediumsize;
   @include price_medium;
   @include cascademenu_mediumsize;
   @include popup_mediumsize;

}

//large size ( big tablets/desktop size) . For < ie9 browsers we support only large size
@include from-breakpoint($medium-break, $lt-ie9-class-name){
	@include postcontent_largesize;
    @include price_large;
    @include cascademenu_largesize;
    @include postform_largesize;
    @include popup_largesize;

  // Fixes BOLT-12457
  .form_out .fieldcontain .important-notice,
  .form_out .fieldcontain .important-noticeprice {
    text-align: left;
  }
}

//<IE9 specific
@include in-breakpoint($lt-ie9-class-name){
   @include postcontent_lt_ie9;
   @include cascademenu_lt_ie9;
   @include postform_lt_ie9;
   @include popup_lt_ie9;
	@include featuretable_lt_ie9;
}

//IE9 specific 
@include in-breakpoint($ie9-class-name){
   @include postform_ie9;

  .cat-search form fieldset .placeholder {
    top: 0.5em;
    padding-left: 0;
  }
}
//only for browsers that support CSS3
@media only all {
  @include postform_CSS3only;
}

.img-upload-cnt{
	#btn-text {
		background:#1867c3;
		border: 5px solid #1867c3;
		 &:not(.disabled):hover, &:not(.disabled):focus {
		    color:  #fff;
		    background: #1867c3;
		  }
	}
	#dnd {
		border: 2px dashed #1867c3;
	}
	.icon-upload-camera-blue {
		width:2em;
		height:2em;
		margin:0 auto;
		text-align: center;
	}
	
	.active{
		 	background:#1867c3;
		 	font-size: 15px;
		 	box-shadow : 0px 0px 5px 6px #ccc;
	}
	
	.featured {
		border:1px solid #1867c3;
	}
	
	#featuredImage {
		color:#fff;
		background:#1867c3;
	}
}

.form-sect #curLoc {
    	color: #1867c3;
	}
