@import
	"../../theme",
 

	// other files to import for this page
	"../../../partials/pages/SearchPage/filters",
	"../../../partials/pages/SearchPage/controls",
	"../../../partials/pages/SearchPage/results",
	"../../../partials/common/categoryListBase",
	"../../../partials/pages/SearchPage/searchSummary",
	"../../../partials/pages/SearchPage/noResult",
	"../../../partials/common/adSense",
	"../../../partials/pages/ViewPage/sendEmail", 
	"../partials/pages/ViewPage/sendEmail"; // US-specific
 
        
 @import "../../../partials/pages/SearchPage/pageMain",
         "../../../partials/pages/SoiPage/pageMain",
         "../partials/pages/SearchPage/controls",
         "../partials/pages/SearchPage/filters",
         "../partials/pages/SearchPage/emailAlert";

.abt1.vip-seller-container {
      background-color: #ebebeb;
}

 .abt1.vip-seller-container .vip-seller .usersince {
    color: inherit;
    font-size: 14px;
    margin-left: 14em;
 
 }
 
 .abt1.vip-seller-container .vip-seller span.username{
  color:inherit;
  }
  
 
 .abt1.vip-seller-container .vip-seller {
      margin-bottom: 1.8em;
      border:none;
 
 }

.seller{
     border-bottom: 1px solid #eba921;
     }
 
     
@include in-breakpoint($no-break) {

.abt1.vip-seller-container .vip-seller{
     .usersince {
         margin-left: 2em;
    }
    
 }   

.abt1.vip-seller-container .vip-seller .usersince {
    margin-left: 0;
}
  .category-location {
    // Fixes BOLT-11320.
    .locationName.parent {
      width: 200px;
      display: block;
      @include ellipsis;
    }
  }
}

@include from-breakpoint($large-break, $lt-ie9-class-name) {
.abt1.vip-seller-container .vip-seller span.username {
    left: 17%;
   }
}