@import "../button/button";

.welcome-wrapper {
    height: 55px;
}

.stickybottom {
    bottom: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}

.modal-wrapper {
    .modal {
        display: none;
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        h1 {
            margin-bottom: 0.8em;
            margin-top: 0.8em;
        }
		h2 {
			font: $h2;
			font-weight: $fontWeightBold;
		}
        .modal-info {
            text-align: center;
            margin-left: 0;
        }
        > .modal-container {
            width: 100%;
            height: 151px;
            background-color: $welcomeSreen-bgcolor;
            position: fixed;
            bottom: 0;
            text-align: center;
            top: initial;
            margin: auto;
            min-height: 9.5em;
            max-width: 100%;
            padding: 0;
            > .modal-close-section {
                margin-right: 1em;
                margin-top: 1em;
                > .close-text {
                    margin-right: 0.5em;
                }
                > .icon-close {
                        vertical-align: middle;
                        display: inline-block;
                }
            }
        }
    }
}

.welcome-footer {
    .modal-footer {
        bottom: 0.5em;
        .btn-wrapper {
            text-align: center;
            .btn {
				@include vivaBtn(on, 0.445em, 90%);

				&.disabled {
					background-color: mix($button-bgcolor, $page-bgcolor, 50%);
					cursor: not-allowed;
				}
            }
        }
    }
}

.sticky-contact{
  width: 100%;
  background-color: $button-bgcolor;
  padding-bottom: 1em;
  text-align: center;
  bottom: 0;
  position: fixed;
  .contact-title{
    text-align: center;
    color: white;
    margin-bottom: 0.5em;
  }
  .contact-wrapper{
    margin-left: 5%;
    margin-right: 5%;
  }
  .stickyBtn{
    width: 30%;
    height: 40px;
    cursor: pointer;
    a{
      color: $button-bgcolor;
      background-color: white;
      border-radius: 3px;
      width: 100%;
      line-height: 40px;
      display: inline-block;
    }
    &.left{
      float: left;
    }
    &.right{
      float: right;
    }
    &.center{
      margin: 0 auto;
    }
  }
}
.show-icon{
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.duText{
  font-size: 0.8em;
  text-transform: uppercase;
  vertical-align: middle;
}

@include in-breakpoint($no-break) {
 .modal-open {
   position: fixed;
	 width: 100%;
   }
}

@include from-breakpoint($medium-break) {
    .modal-wrapper, .welcome-footer, .welcome-wrapper, .sticky-contact {
        display: none;
    }
}

@media (max-width: 359px) {
    .show-icon {
        display: none;
    }
}
