
// -------------------------------------------------- //
// sub elements should be contained in this file      //
// -------------------------------------------------- //

@import "../../../partials/components/button/button";

.btn-wrapper{
  margin: auto;
  min-width: 10em;
}

.btn{
  @include vivaBtn(off, 0.445em 0);
}


.btn-icon{
  display: inline-block;
  width: 2em;
  height: 2em;
  margin-top: 0.4em;
  cursor: pointer;
}

.modal{
  @include modal();
}

.modal{
  .container {
   height: auto;
   border: 2px solid gray;
  }
  .right {
      float: right;
      padding-right: 0.3em;
  }
  .left {
      float: none;
      width: auto;
      overflow: hidden;
  }
  .icon-location-v2{
    margin-right: 0.2em;
  }
}

#autocompleteField{
  background-color: white;
  border: 2px solid gray;
  position: absolute;
  z-index: 214;
  width: 100%;
  margin-left: -0.12em;
  max-height: 10em;
  @include from-breakpoint($medium-break){
    max-height: 16em;
  }
  max-height: 10em;
  overflow: auto;
  .ac-field{
    cursor: pointer;
    text-decoration: underline;
    color: $modal-autocomplete-color;
    padding-left: 0.6em;
    &:first-child{
      border-top: 1px solid $modal-autocomplete-color;
    }
    &.active {
      background-color: $modal-autocomplete-bgcolor-hover;
      color: $modal-autocomplete-color-hover;
    }
  }
}

.spinner{
  background-image: url('../../../../../images/spinner.gif');
  background-repeat: no-repeat;
  background-size: 2em;
  background-position: center;
}

.card-title-cp{
  cursor: pointer;
}

.hiddenElt{
  display: none;
}
