$header-nav-link-color: $vivaGray;
$header-signin-display: none;
$header-post-button-3d: false;
$header-background: $vivaGray20;
$header-wrap-width: $container-width;
$header-countries-display: none;
$header-nav-slide-left: false;
$header-help-display: none;
$header-post-button-desktop-width: 12em;
$header-post-button-tablet-width: 12em;
$header-post-button-radius: 0.25em;
$header-nav-contextmenu-tablet-left: inherit;
$header-nav-contextmenu-tablet-right: 6.5em;
$header-nav-contextmenu-triangle-tablet-display: none;
$header-post-button-color:$cheddar;
$header-post-button-mouseover-color:darken($cheddar,10%);
$header-post-button-height: 2.5em;
$header-wrap-padding: 0.5em 0 0 0;

$header-android-look: true;

$searchbar-border-bottom: 1px solid $vivaGray60;
$searchbar-wrap-width: $container-width;
$searchbar-background: $vivaGray20;
$searchbar-button-color: $vivaBlue;
$searchbar-caret-color: $cheddar;
$searchbar-link-color: $vivaGray;
$searchbar-button-3d: false;
$searchbar-wrap-background: none;
$searchbar-compact-lists: true;
$searchbar-input-border: 1px solid $vivaGray60;
$searchbar-list-icons: false;
$searchbar-autocomplete-link-color: $vivaGray;
$searchbar-autocomplete-border-color: $vivaGray;
$searchbar-category-icon: false;
$searchbar-wrap-padding: 0.5em 0;


$pagetitle-wrap-width: $container-width;
$pagetitle-color: inherit;
$pagetitle-wrap-padding: 1em 0;


$geolocator-color: $cheddar;

$geolocator-link-color: $vivaGray;
$geolocator-link-bullet-color: $vivaBlue;








// For some reason, the designer decided that Post Ad should
// have a smaller width than the rest of the site,
// so we needed to override the title wrapper width
//.PostAdForm .page-title .wrap{ width:45em !important; }
.Login .page-title .wrap,
.UserRegistrationForm .page-title .wrap,
.PasswordForgotten .page-title .wrap { padding:{ left:1em; right:2.75em; } }
@include in-breakpoint($no-break) {
  .searchbar .keyword {border-width: 0; }
}