@import  "../profileMenu/profileMenu";

$item-top-padding: 26px;
$dropdown-width: 220px;

.header-wrapper {
	background: $common-background-color;
	border-bottom: 2px solid $vivaBlue2;
	font-weight: bold;

	.headerV2 {
		z-index: 9;
		position: relative;
		max-width: 1168px;
		height: 65px;
		color: $headerTextColor;
		margin: 0 auto;


    a {
        color: $headerTextColor;
        text-decoration: none;
    }

		.mobile-menu {
			position: absolute;
			top: 36px;
			left: 25px;
		}

		.app-icon {
			position: absolute;
			top: 34px;
			right: 25px;
		}

    .mobile-only {
        display: inline-block;
        @include from-breakpoint($medium-break){
            display: none;
        }
    }

		.logo {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;

			display: inline-block;
			margin-top: 34px;
			margin-bottom: 11px;
			width: 200px;
			height: 28px;
			background: url("../../../../../images/es_MX/logo.png") no-repeat 50% 50%;
			background-size: contain;
			@include from-breakpoint($medium-break) {
				margin-left: 40px;
				margin-top: 30px;
			}
		}

		.left-items {
			z-index: 10;
			position: absolute;
			left: 24%;
			width: 25%;
			text-align: center;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

        .logo, .messages, .browse {
            float: left;
            top: 50%;
        }

			.messages {
				position: relative;
				left: 40px;
				margin-top: 18px;
				margin-right: 2%;
			}

			.browse {
				position: relative;
				left: 42px;
				width: 40%;
				min-width: 81px;

            &.item-text {
                padding-top: $item-top-padding;
            }
        }
    }

    .hidden {
        display: none;
    }

		.right-items {
			position: absolute;
			z-index: 10;
			right: 0;
			width: 32%;
			text-align: center;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

        .help, .my-ads {
            padding-top: $item-top-padding;
            width: 15%;
        }

			.profile {
				&.normal-pad-top {
					padding-top: $item-top-padding;
				}
				.profile-icon {
					border-radius: 50%;
					vertical-align: middle;
					display: inline-block;
					width: 45px;
					height: 45px;
				}
				.profile-picture {
					background-size: contain;
					border: 1px solid $profile-border;
					border-radius: 50%;
				}
			}
		}

		.number-messages {
			height: 25px;
			width: 25px;
			position: absolute;
			top: 0;
			right: 0;
			background-color: $headerBlue;
			border-radius: 50%;
			color: white;
		}

		.post-ad-button {
			position: absolute;
			top: 0;
			left: 58%;
			transform: translateX(-58%);

			margin: 0;
			border-radius: 2px;
			margin-top: 20px;
			margin-bottom: 15px;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

			.btn {
				@include vivaBtn(on, 10px);
				min-width: 205px;
				padding: 10px 0;

            .sudolink {
                vertical-align: middle;
            }
            .icon-camera {
                height: 25px;
            }
        }
    }

		.right-item {
			width: 155px;
			margin-right: 5px;
			float: left;

			.item-text {
				width: 160px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				padding-top: 16px;
			}
		}

		.item-text {
			// position+bg-color used to hide dropdown top border
			position: relative;
			background-color: transparent;
			width: 100%;
			max-width: $dropdown-width;
			overflow: hidden;
			text-align: left;
			box-sizing: border-box;

			// setup a border that will get border color when the menu is open
			border-width: 0 1px;
			border-style: solid;
			border-color: transparent;
			padding: 26px 0 26px 5px;

        &.menu-open {
            background-color: $common-background-color;
            border-color: $headerMenuBorderColor;
        }
    }

    .menu-dropdown {
        margin-top: -1px; // works with item-text to hide top border

        font-weight: $fontWeightBold;
        font-size: $fontSizeH4;
        text-align: left;
        background-color: $headerBackgroundColor;
        border: 1px solid $headerMenuBorderColor;
		display: inline-block;
		white-space: nowrap;

		&.hidden {
			display: none;
		}

        .menu-item {
            border-bottom: 1px solid $headerMenuItemSeparatorColor;
			padding-right: 1em;

            &:last-child {
                border-bottom: none;
            }
        }

        // link items should take the entire space of menu-item
        .link-item {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .item-primary-text {
            padding-left: 5px;
        }


        .menu-item:hover {
            background-color: $headerMenuItemHighlightColor;
         }
    }

    .header-item-icon {
        display: inline-block;
        position: relative;
        margin-right: 6px;
        top: 1px;
        left: 5px;
    }
}
