@mixin vivaBtn($hasIcon, $padding){
  cursor: pointer;
  background-color: $button-bgcolor;
  display: inline-block;
  font: bold 1.125em Lato;
  padding: $padding;
  text-align: center;
  width: 100%;
  &:hover{
    text-decoration: none;
  }
  > span + span.btn-icon{
	background-size: 350px 350px;
    @if ($hasIcon == 'off'){
      display:none;
    }
  }
}
