
.content {
	background: $content-background-color;
	min-height: 22em;
}

@include from-breakpoint($small-break) {
	
	.content {
		min-height: 52em;
	}
}

@include from-breakpoint($medium-break, $lt-ie9-class-name) {
	
	.content {
		min-height: 51em;
	}
}