$blueprint-font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;

$h1:normal 1.5em Helvetica;
$h2:bold 1.1875em Helvetica;
$h3:bold 1em Helvetica;
$h4:bold 0.875em Helvetica;



@mixin viewport-background {
  	@include background-image(linear-gradient(rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 1) 500px));
  	border-bottom-color: yellow;
  	@include to-breakpoint($no-break){
		border-bottom-color: green;
	}

	@include in-breakpoint($small-break, $medium-break){
		border-bottom-color: red;
	}

	@include from-breakpoint($large-break, $lt-ie9-class-name){
		border-bottom-color: yellow;
	}
}

// adding ng-cloak to any element will automatically hide it initially and show it after the page loads
// use this mixin to add a transition effect
@mixin ng-cloak($time:$default-transition-time) {
	opacity: 1;
	@include transition(opacity $time);
	&.ng-cloak {
		opacity: 0 !important;
	}
}
.lt-ie9.ng-cloak,
.lt-ie9 .ng-cloak {
	display:none !important;
}
.ng-cloak {
	opacity: 0 !important;
}

@mixin containment {
  background-color: $color-white;

  border: {
    color: lighten($color-black, 75%);
    width: 0px 1px;
    style: solid;
  }

  @include box-shadow(0 0 50px $color-black-10);
}
