 .tbanner-container {
	  @include full-page-width;
	  padding: 0;
	  }
	
			
			
 .tbanner-content {
	  background: url("../../../../../images/es_MX/tutorial-imgs/tutorialBanner-bg.jpg") no-repeat ;
	  background-size:100% 100%;
	  margin: 0 auto;
	  width: 100%;
	  height: 100px;
	  overflow: hidden;
	  position: relative;
	  }
		
		
.icon-encuentra, .icon-compra ,.icon-contacta{ 
      height:47px;
	  width: 47px;
	  display: inline-block;		
	  } 

 .teaser-image{
	  width: 100%;
	  height: 9.56em;	 
	  }
	
	
 .teaser-image.ti1{
	  background: url("../../../../../images/es_MX/tutorial-imgs/teaser-encuentra.jpg") no-repeat;		  	
	  background-size:100% auto;
	  }	
	
 .teaser-image.ti2{
	  background: url("../../../../../images/es_MX/tutorial-imgs/teaser-contacta.jpg") no-repeat;
      background-size:100% auto;
      }
			
		
 .teaser-image.ti3{
	  background: url("../../../../../images/es_MX/tutorial-imgs/teaser-compra.jpg") no-repeat;
      background-size:100% auto;
      }
					
				
 .tbanner-message {
	  width: 100%;
	  height: auto;
	  position: absolute;
	  @include transform(scale(0.5));
	
	  }
				
				
 .tbanner-message h1 {
	  font-size: 1.9em;
	  color:white;
	  }
			
 
		
		
 .bold {
	 font-weight: bold;
	 }
		
					
			
			
 .teaser-container {
	 width: 100%;
	 height: auto;
	 margin-top:1.2em;
	 margin-left: 1%;
	 ul{
	   list-style-type: disc;
	    margin-top: 0.5em;
	    margin-left: 1.2em;
	    color: #124f96
	    }
		 li{
	   //     font-size: 88%;
		    margin: 0 0 0.5em;
	      }	
	      .teaser-ct{
	       color:#000000;
	       font-size: 88%;
	      }
	  }
	  

									
 .teaser {
	  float: left;
	 
	 }
				
				
				
 .teaser-main{
		  position:relative;
		  margin-top: 1em;
	 }
				
				
				
.teaser-icon-content {
	    position:absolute;
	    padding: 4%;
	    color: #1867c3;;
	    font-weight:bold;
}
	
	
		


.footer .cr-container .cpyrt {
	   text-align:center;
	} 
		 
			
			
		
		
		/// ----------------------------------------------------------------------------
		
		/// Mobile First Styles 
		
		/// ----------------------------------------------------------------------------   
		
@include in-breakpoint($no-break){
	.tbanner-container {
	   margin-right:0;
	   margin-left:0;
	 }	
     .teaser{
	    width: auto;
	    max-width: 19.84em;
	    margin:1em;
	    margin-left:1em;
      }
    
    .tbanner-message {
	    width: 120%;
	    top: 0.3em;
	    margin-left: -20%;
	    }
		    
	.tbanner-content {
	   background-size:100% 100%;
	 }
	
	.icon-encuentra, .icon-compra, .icon-contacta {
       height: 40px;
       width: 40px;
       }     	
	
		
}



		

@include from-breakpoint($small-break, $lt-ie9-class-name) {
		
    .tbanner-message {
        top: 3em;
        @include transform(scale(0.7));
       }
  
   .teaser{
       margin-left:3%;
       } 



.tbanner-content {
       height:12em;
      }

}
		
		
		
// tablet	
		
@include in-breakpoint($medium-break) {

	.tbanner-message {
  
	   width: 42%;
	   top: 3.2em;
	   left :-3%;
	}
	   
	.teaser-container{
	   margin-left:1%;
    }
 
	.teaser{
       width: 28%;
       margin-top: 1em;
       margin-left:1.5em;
    }
   
	.teaser-image{
    }
    
    tbanner.content{
	   height:12em;
	 }
}

		
		
@include in-breakpoint($medium-break, $small-break){
		
.teaser-main {

 margin-top:0em; 
}	
.teaser-main{
		    height: 35px;
		    img{
		    	height: 100%;
		    	width: auto;
		       }
		       }
		       
 .teaser-container ul {
	          margin-top: 1.5em;
	              
	             }
.tbanner.content{
	   
	          height:12em;
	   
	              }
		  }
		
		
@include in-breakpoint( $small-break){

.tbanner-message {
	       width: 53%;
	       top: 3.1 em;
	       left:-3%;
   } 
   
.teaser{
	      width: 28%;
	      margin-left: 1.5em;
       }
       
.teaser-image{
          width: 100%;
          height: 7.25em;
			    	
            }
               
.tbanner.content{
         height:12em;
   
   }  
   
.icon-encuentra, .icon-compra, .icon-contacta {
       height: 40px;
       width: 40px;

}    
	
}
		

@include from-breakpoint($large-break,$lt-ie9-class-name) {
		
.tbanner-message {
	    width: 35%;
	    top: 4em;
	    left: -1%;
	    }
  
 .tbanner-container {
	   margin-left: 0; 
	   margin-right:0; 
      }
      
.teaser-container{
	   margin-left:1%;
	   margin-top: 1em;
	   
 .teaser{
     margin:1.7em;
     width:28%;  
   
    }
  }
  
  .tbanner-message-line {
     font-size: 1.8em;
   }
   
  .tbanner-content{
     height: 14em;
  }
  .teaser-image{
  }
  
  .teaser-icon-content {
	 
	padding: 0.7em;
	   
}

}

@include in-breakpoint($lt-ie9-class-name){

.tbanner-message { 
   margin-left: 4%;
  }
 

}
		
		
