$header-post-button-color:cyan !default;
$header-post-button-mouseover-color:purple !default;
$header-post-button-text:$color-white !default;
$header-post-button-3d:true !default;
$header-post-button-border:none !default;
$header-post-button-radius:0.5em !default;
$header-post-button-gradient-start:transparent !default;
$header-post-button-gradient-end:$color-black-15 !default;


.post{

    a{ padding:0 2em; height:$header-post-button-height; line-height:$header-post-button-height; text-align:center; display:block; color:$header-post-button-text;
        font-weight:bold; background:$header-post-button-color; text-decoration:none !important;
        cursor:pointer; outline:0; white-space:nowrap; border:$header-post-button-border;
        @include border-radius($header-post-button-radius);

        @if ($header-post-button-3d) {
            @include box-shadow(-1px 1px 1px $color-black-20);
            @include background-image( linear-gradient($header-post-button-gradient-start,$header-post-button-gradient-end) );
            @include text-shadow(-1px -1px 0 $color-black-30);
        }
    }

    &:focus a,
    &:hover a{ color:$header-post-button-text;

        @if ($header-post-button-3d) {
            background-image:linear-gradient($header-post-button-gradient-end,$header-post-button-gradient-start);
        }@else{
            background-color:$header-post-button-mouseover-color;
        }
    }

    &:active a{
        @if ($header-post-button-3d) {
            @include box-shadow(0 0 5px $color-black-50 inset);
        }
    }



    // this makes the button look a lot smaller on mobile
    @include to-breakpoint($no-break){
        a{ padding:0 0.5em; height:$header-post-button-height * 0.85; line-height:$header-post-button-height * 0.75;

            span{ font-size:0.85em; }
        }
    }



    // this makes the button look a lot larger on desktop
    @include from-breakpoint($large-break){
        a{ padding:0 4em;

            span{ font-size:1.15em; }
        }
    }


}

.unreadMsg{ position: absolute; background: #ff1a00; color: white; text-align: initial; border-radius: 1em; padding: 0 0.4em; border: 1px solid white; 
			z-index: 2; font-size: 0.8em; top: -1em; left: 1.45em; line-height: 1.3em;}
            
            
