<div class="safety-tips-container">
    <div class="safety-tips-card">
        <div class="safetyTips">
            <div class="title">
                <div class="item icon-safety-1 safety-icon">

                </div>
                <h1 class="item safety-text">
                    {{i18n "homepage.safetyTips.title"}}
                </h1>
            </div>
            <div class="image-container">
                <div class="safety-block block-left">
                    <div class="image image-left">
                    </div>
                    <div class="help-text help-text-left">
                        {{this.safetyTips.one}}
                    </div>
                </div>

                <div class="safety-block block-right">
                    <div class="image image-right">
                    </div>
                    <div class="help-text help-text-right">
                        {{this.safetyTips.two}}
                    </div>
                </div>

            </div>
            <h3 class="faq">
                <a href="https://ayuda.vivanuncios.com.mx/MX?lang=es&l=es&c=PKB%3AConsejos_de_Seguridad">
                    {{i18n "homepage.safetyTips.faq"}}
                </a>
            </h3>
        </div>
    </div>
    <div class="advertisement-placeholder">
        <div class="ad"></div>
    </div>
</div>
