.sharevisitInfo
{
    position:relative;
   /* float:left;*/
    @include span-columns(8, $large-break);
    width: 100%;
    #page-vip
    {
        width:100%;
    }
}

@include to-breakpoint($no-break){
    .sharevisitInfo
    {
        float:none;
    }
    #page-vip
    {
        margin-bottom:0em;
    }
}

