@import  "../../../../../partials/common/categoryListBase";


$ad-height: 14em;
$social-container-height: 6em;
$right-column-top: 16em;

//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@media (max-width: 37em) {
    @include category-list-to-no-breakpoint;
    .parent-category {
    a {
     &:hover {
      background-color: $content-link-bg-color;
     }
    }
   }

}



//--------------------------------------------------------
// large breakpoint starts
//--------------------------------------------------------
@include to-breakpoint($lt-ie10-class-name){

    li[data-ct-id='rightBucket'] { // right bucket
        //position: relative;
        display: inline-block;
        right: -70%;
        width: 30%;
    }
    .category-list {
        position: relative;
        height: 50em;

        .parent-category {
            position: absolute;

            //column1
            //&.l1category1 {
            //}
            &.l1category53 {
                @include column-border-top;
                top: 27em;
            }



            $column2left: 23% + 5%;
            //column2
            &.l1category64 {
                left: $column2left;
            }
            &.l1category36 {
                @include column-border-top;
                left: $column2left;
                top: 16em;
            }



            $column3left: 47% + 5%;
            //column3
            &.l1category30 {
                left: $column3left;
            }

            &.l1category20 {
                @include column-border-top;
                top: 13em;
                left: $column3left;
            }

            &.l1category48 {
                @include column-border-top;
                top: 25em;
                left: $column3left;
            }

            &.l1category224 {
            	@include column-border-top;
            	top:  25.5em;
            }
        }
    }
}

//--------------------------------------------------------
// General rules included throughout all sizes
//--------------------------------------------------------
.category-list {
    .parent-category {
        > a {
            .icon {
                height: 1.1em;
                width: 2em;
                &.icon-cat-64 {
                    width: 1.5em;
                }
            }
        }
    }
}

