{{#partial "content"}}
<div style="border: 2px solid green ;overflow: hidden; display: block;">
	<h1>MESSAGE CENTER PAGE CONTENTS !!!</h1>
	<div>
		<a href='/homepage'>Homepage Page Link</a>
	</div>
	<div>
		<a href='/'>Welcome Page Link</a>
	</div>
</div>
{{/partial}}