{{#partial "headerWrapper"}}
    {{> (dynamic "headerV2")}}
{{/partial}}

{{#partial "content"}}
	<div>
        {{> (dynamic "searchbarV2") }}
		{{> (dynamic "sectionMenu")}}

        <div class="card trending-card">
            <div class="card-title">{{i18n "homepage.popularSearches.popularIn"}}
                <a class="link inline-block underline" href="/selectLocationOverlay-TBD">{{i18n "homepage.popularSearches.yourNeighborhood"}}</a>
            </div>
            {{> (dynamic "tileGrid")}}
            <div class="card-view-more">
                <a class="link" href="/viewMore-TBD">
                    <span class="underline">{{i18n "homepage.popularSearches.viewMore"}}</span>
                    <span class="no-underline">&nbsp;&gt;</span></a>
            </div>
        </div>

        {{> (dynamic "recentActivity")}}
        {{> (dynamic "appDownloadSection")}}
        {{> (dynamic "safetyTips") }}

		<div class="outer-div seo-wrapper">
            {{> (dynamic "topSearches")}}
            {{> (dynamic "topLocations")}}
		</div>
	</div>
{{/partial}}

{{#partial "footerWrapper"}}
    {{> (dynamic "footerV2")}}
    {{> (dynamic "welcomeModal")}}
{{/partial}}
