{{#partial "headerWrapper"}}
    {{> (dynamic "headerV2")}}
{{/partial}}

{{#partial "content"}}
	<div>

        {{#if this.search}}
            {{> (dynamic "searchbarV2") }}
        {{/if}}

        {{> (dynamic "sectionMenu")}}

        {{#if this.trendingCard}}
            <div class="card trending-card">
                <div class="card-title">{{i18n "homepage.popularSearches.popularIn"}}
                    <span class="link inline-block underline card-title-cp">{{i18n "homepage.popularSearches.yourNeighborhood"}}</span>
                </div>
                {{> (dynamic "tileGrid")}}
                <div class="card-view-more">
                    <a class="link" href="/viewMore-TBD">
                        <span class="underline">{{i18n "homepage.popularSearches.viewMore"}}</span>
                        <span class="no-underline">&nbsp;&gt;</span></a>
                </div>
            </div>
        {{/if}}

        {{#if this.recentActivities}}
            {{> (dynamic "recentActivity")}}
        {{/if}}

        {{> (dynamic "modal")}}

        {{#if this.appDownload}}
            {{> (dynamic "appDownloadSection")}}
        {{/if}}

        {{#if this.gpsMap}}
            {{> (dynamic "gpsMap")}}
        {{/if}}

        {{#if this.safetyTips}}
            {{> (dynamic "safetyTips") }}
        {{/if}}

        <div class="seo-wrapper">
           <h1>{{i18n "home.h1Tag"}}</h1>
            {{#if this.topSearches}}
                {{> (dynamic "topSearches")}}
            {{/if}}
            {{#if this.topLocations}}
                {{> (dynamic "topLocations")}}
            {{/if}}
		</div>

	</div>
{{/partial}}

{{#partial "footerWrapper"}}
    {{> (dynamic "footerV2")}}
    {{> (dynamic "welcomeModal")}}
{{/partial}}
