{{#partial "content"}}
	<div>
		{{> (dynamic "sectionMenu")}}

        <div class="card trending-card">
            <div class="card-title">Popular in <a class="link inline-block underline" href="/selectLocationOverlay-TBD">Your Neighborhood</a></div>
            {{> (dynamic "tileGrid")}}
            <div class="card-view-more">
                <a class="link" href="/viewMore-TBD">
                    <span class=" underline">View More</span>
                    <span class="no-underline">&nbsp;&gt;</span></a>
            </div>
        </div>

        {{> (dynamic "recentActivity")}}
        {{> (dynamic "appDownloadSection")}}
        {{> (dynamic "safetyTips") }}
        {{> (dynamic "footerV2")}}
        {{> (dynamic "welcomeModal")}}
	</div>
{{/partial}}

{{!-- override of header and footer --}}
{{#if this.isNewHP}}
    {{#partial "headerWrapper"}}{{/partial}}
    {{#partial "footerWrapper"}}{{/partial}}
{{/if}}
