/*
    @mixin input-facade
    @description cross browser styles for consistent checkboxes on site
    @usage
        <input type="checkbox" class="input-checkbox" id="terms" name="terms" required="required" checked disabled />
        <label for="terms">{{{i18n "your.i18n.key.here"}}}</label>

    * id attr in the checkbox and for attr in the label
    * input immediately before the label

    Todo: Move input-facade to base styles
    Todo: Fix all checkboxes on the site
*/
@mixin input-facade($size:18px){
    :root input[type=checkbox].input-checkbox,
    :root input[type=radio].input-radio {
        position: absolute;
        left: -9999em; // large arbitrary random number
        &+label {
            user-select:none;
            &:before {
                content: " \b ";
                user-select:none;
                height: $size;
                width: $size;
                display: inline-block;
                vertical-align: middle;
                margin:0.2em 0.5em 0.25em 0;
            }
        }
    }
}

// DEPRECATED: PLEASE DO NOT USE THE FOLLOWING CLASS!!!
// Use input-facade instead
@mixin text-input() {
    border: none;
    border-width: 0px;
    outline: none;
    @include background-image(linear-gradient($color-black-05, transparent));
    @include border-radius(5px);
    @include box-shadow(0px 0px 5px $color-black-45 inset);
    @include appearance(none);

    &:focus {
        background-image: none;
        @include box-shadow(0px 0px 5px $color-black-50 inset);
    }

    &:disabled{
        @include box-shadow(0px 0px 2px $color-black-45 inset);
        background-color: $color-black-20;
        @include text-shadow(1px 1px 0px $color-white);
    }

    &.error{
        @include box-shadow(0px 0px 5px $form-element-error-color inset);
        color: $form-element-error-color;
    }

}
// DEPRECATED: PLEASE DO NOT USE THE FOLLOWING CLASS!!!
// Use input-facade instead
@mixin radio-input() {
    $radio-input-color:#FFF !default;
    $radio-input-bg-color:$checkbox-bg-color !default;
    $radio-input-border-normal:1px solid rgba(#CCC,0.5) !default;
    $radio-input-border-select:4px solid $radio-input-bg-color !default;
    @include box-shadow(0 0 5px $color-black-50 inset);
    @include border-radius(1em);
    @include text-input;
    @include appearance(none);
    position: relative;
    width: 16px;
    height: 16px;
    right: 2em;
    top: 0.5em;
    margin: 0;
    border-radius:2em;
    border:$radio-input-border-normal; // BOLT-13159
    &:before {
        content: " ";
        width: 16px;
        height: 16px;
        font-size: 14px;
        margin-left: 0.15em;
    }
    &:checked {
        &:before{
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            font-size: 1em;
            width: 50%;
            height: 50%;
            display: block;
            background-color: $radio-input-color;
            border:$radio-input-border-select; // BOLT-13159
            @include border-radius(1em);
        }
    }
}

$checkbox-bg-color:#86c900 !default;
$checkbox-border:2px solid #008F04 !default;
@mixin checkbox-input() {
    @include box-shadow(0px 0px 5px $color-black-50 inset);
    @include border-radius(3px);
    @include text-input;
    @include appearance(none);
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    &:before {
        content: " ";
        width: 16px;
        height: 16px;
        font-size: 14px;
        margin-left: 0.15em;
    }
    &:checked {
        background-color: $checkbox-bg-color !important; // BOLT-13115 (should override any other color choice)
        &:before{
            content: "\2714";  // heavy checkmark
            color: $color-white !important; // BOLT-13115
            width: 16px;
            height: 16px;
            font-size: 14px;
            margin-left:0.15em;
            @include text-shadow(0px 0px 8px $color-black-50);
        }
    }
}
