.body-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, .5);
}

.inline-block {
	display: inline-block
}

.menu-container {
	position: relative;
	margin: auto;
	margin-top: 10px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95%;

	.profile-icon {
		left: 0;
		right: 0;
		margin: auto;
		width: 75px;
		height: 75px;
		border: 1px solid $profile-border;
		border-radius: 50%;
	}

	.menu-profile {
		left: 0;
		right: 0;
		width: 80%;
		margin: auto;
		margin-top: 10px;
		text-align: center;
		font-size: 2em;
	}
}

$borderColor: $headerMenuItemSeparatorColor;
.browse-categories {
	.browse-arrow {
		position: absolute;
		top: 18px;
		right: 0;
		&.icon-chevron {
			background-size: 700%;
		}
		&.icon-up {
			background-size: 3500%;
		}
		width: 20px;
		height: 20px;
	}

	li {
		margin-left: 3px;
	}

	.browse-categories-text {
		color: $profileDropdownLoginBtnColor;
		padding-left: 5px;
	}

	.category-name {
		a {
			display: block;
			height: 100%;
			width: 100%;
		}
		position: relative;
		border-bottom: 1px solid $borderColor;
		padding: 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.profile-information {
	.profile-dropdown {
		width: 100%;
		border: none;
		.login-button {
			width: 90%;
		}
	}
	.profile-item {
		.item-icon {
			margin-left: 0;
			width: 26px;
			height: 25px;
			background-size: 500px 500px;
		}
		.item-text {
			padding-left: 5px;
		}
		.link-item {
			padding: 15px;
		}
	}
}

.vertical-align-middle {
	vertical-align: middle;
}

.hamburger-contents {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: scroll;
	z-index: 11;
	&.hamburger-open {
		left: 0;
		right: 30%;
	}
	&.hamburger-closed {
		left: -70%;
		right: 100%;
	}
	background-color: $headerBackgroundColor;
}

.hidden {
	display: none;
}

.open-menu {
	position: relative;
	min-width: 100%;
	left: 0;
	&.menu-closed {
		left: 70%;
	}
}

body {
	&.overflow-hidden {
		overflow: hidden;
	}
}
