@import  "../profileMenu/profileMenu";

$item-top-padding: 26px;
$dropdown-width: 220px;

.header-wrapper {
	background: $common-background-color;
	border-bottom: 2px solid $vivaBlue2;
	@include from-breakpoint($medium-break) {
		position: relative;
	}
	z-index: 2;


	.headerV2 {
		z-index: 9;
		position: relative;
		max-width: 1168px;
		height: 65px;
		color: $headerTextColor;
		margin: 0 auto;


		a {
			color: $headerTextColor;
			text-decoration: none;
		}

		.mobile-menu {
			position: absolute;
			top: 36px;
			left: 25px;
		}

		.app-icon {
			position: absolute;
			top: 34px;
			right: 25px;
		}

		.mobile-only {
			display: inline-block;
			@include from-breakpoint($medium-break) {
				display: none;
			}
		}

		.logo {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;

			display: inline-block;
			margin-top: 34px;
			margin-bottom: 11px;
			width: 200px;
			height: 24px;
			background: url("../../../../../images/es_MX/logo_v2.png") no-repeat 50% 50%;
			background-size: contain;
			@include from-breakpoint($medium-break) {
				margin-left: 40px;
				margin-top: 23px;
				height: 100%;
				top: -18px;
			}
		}

		.left-items {
			z-index: 10;
			position: absolute;
			left: 29%;
			width: 50%;
			text-align: center;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}
			&.logged-out {
				left: calc(25% - 30px);
			}

			.logo, .messages, .browse {
				float: left;
				top: 50%;
			}

			.messages {
				position: relative;
				left: 10px;
				margin-top: 24px;
				margin-right: 2%;
			}

			.browse {
				position: relative;
				width: 30%;
				min-width: 194px;
				padding-right: 20px;
				height: 50px;
				margin-top: 15px;

				&.item-text {
					padding-top: $item-top-padding;
				}
			}
		}

		.hidden {
			display: none;
		}

		.right-items {
			position: absolute;
			z-index: 10;
			right: 0;
			width: 32%;
			text-align: center;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

			.help {
				padding-top: $item-top-padding;
				width: 15%;

				@media (max-width: 962px) {
					width: 25%;
				}
			}


			.my-ads {
				padding-top: $item-top-padding;
				width: 15%;
				display: none;

				@media (min-width: 962px) {
					display: block;
				}

				@media (min-width: 1140px) {
					white-space: nowrap;
					width: 26%;
				}
			}

			.profile {
				&.normal-pad-top {
					padding-top: $item-top-padding;
				}
				.profile-icon {
					display: inline-block;
					border-radius: 50%;
					vertical-align: middle;
					width: 45px;
					height: 45px;
				}
				.profile-picture {
					background-size: contain;
					border: 1px solid $profile-border;
					border-radius: 50%;
				}
				.profile-item:hover {
					background-color: $headerMenuItemHighlightColor;
				}
				.username-wrapper {
					display: inline-block;
					vertical-align: middle;
				}
				.username {
					display: -webkit-box;
					width: 118px;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
				.header-item-icon {
					right: 3px;
				}

			}
		}

		.number-messages {
			height: 18px;
			width: 18px;
			position: absolute;
			top: 0;
			right: 0;
			background-color: $headerBlue;
			border-radius: 50%;
			font-size: 10px;
			line-height: 16px;
			color: white;
		}

		.post-ad-button {
			top: 0;
			float: left;

			margin: 0;
			border-radius: 2px;
			margin-top: 15px;
			margin-bottom: 15px;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

			.btn {
				@include vivaBtn(on, 10px);
				min-width: 205px;
				padding: 10px 0;

				.sudolink {
					vertical-align: middle;
				}
				.icon-camera {
					height: 25px;
				}
			}
		}

		.right-item {
			width: 192px;
			margin-right: 5px;
			float: left;

			.item-text {
				padding-top: 15px;
			}
		}
		#js-browse-item-text {
			padding-left: 22px;
		    height: 50px;
		    padding-top: 12px;
		}
		#js-browse-item-text:hover {
		    padding-top: 11px;
		}


		.item-text {
			// position+bg-color used to hide dropdown top border
			position: relative;
			background-color: transparent;
			width: 100%;
			max-width: $dropdown-width;
			overflow: hidden;
			text-align: left;
			box-sizing: border-box;

			// setup a border that will get border color when the menu is open
			border-width: 0 1px;
			border-style: solid;
			border-color: transparent;
			padding: 26px 0 26px 5px;

			&.menu-open {
				background-color: #FFF; //$menuDropdownBackgroundColor;
				font-weight: $fontWeightBold;
				border-color: $headerMenuBorderColor;
				border-top: 1px solid $headerMenuBorderColor;
				width: 194px;
			}
		}

		.menu-dropdown {
			margin-top: -1px; // works with item-text to hide top border
			font-weight: $fontWeightNormal;
			font-size:  18px; //$fontSizeH4;
			text-align: left;
			background-color: $menuDropdownBackgroundColor;
			border: 1px solid $headerMenuBorderColor;
			display: inline-block;
			white-space: nowrap;
			margin-left: -270px;
			min-width: 959px;
			padding-left: 222px;
			padding-top: 18px;
			padding-bottom: 18px;
			overflow: hidden;


			&.hidden {
				display: none;
			}

			.menu-item {
				// border-bottom: 1px solid $headerMenuItemSeparatorColor;
				width: 300px;
				float: left;
				padding-top: 1px;
				padding-bottom: 1px;
				color: $vivaGray1;
				padding-right: 75px;

				&:last-child {
					border-bottom: none;
				}

				&:hover a span{
					// background-color: $headerMenuItemHighlightColor;
					font-weight: $fontWeightBold;
					color: $menuHoverColor;
				}

				// link items should take the entire space of menu-item
				.link-item {
					display: block;
					padding-top: 5px;
					padding-bottom: 5px;
				}

				.item-primary-text {
					padding-left: 5px;
				}



			}
		}
			.child-l2 {
				width: 100%;
				margin-top: -20px;

				.subCatMenuHeader {
					margin-left: -170px;
					width: 1070px;
					border-bottom: 1px solid $vivaGray6;
					display: inline-block;

					.back-button {
						float: left;

						span {
							cursor: pointer;
						}

						.icon-down {
							float: left;
							margin-top: 10px;
							transform: rotate(90deg);
						}

					}

					.subcat-title {
						float: left;
						width: 155px;
						padding: 14px 0 12px 0;
						margin-right: 20px;
						font-weight: $fontWeightBold;
					}

					.icon-vip-back {
						float: left;
					    margin-top: 9px;
					    margin-right: 10px;
					    margin-left: 5px;
					}
					 span {
						font-weight: $fontWeightNormal;
						font-size: 12px;
						text-transform: uppercase;
						padding-left: 10px;
					}

				}

				.menu-dropdown-l2 {
					font-weight: $fontWeightNormal;
					font-size: $fontSizeH4;
					text-align: left;
					background-color: transparent;
					display: inline-block;
					white-space: nowrap;
    				width: 100%;
					float: left;

					&.hidden {
						display: none;
					}

					.subcat-title {
						// border-bottom: 1px solid $headerMenuItemSeparatorColor;
						width: 280px;
						float: left;
						margin-top: 20px;
						margin-bottom: 20px
					}
					&:last-child {
						border-bottom: none;
					}
					.l2 {
						margin-bottom: 0px;
						padding-left: 5px;
					}

					.l2:hover {
						color: #333;
						font-weight: $fontWeightBold;
					}
				}
			}




		.header-item-icon {
			display: inline-block;
			position: relative;
			top: 1px;
		}
	}
}
