@import  "../profileMenu/profileMenu";

$item-top-padding: 26px;
$dropdown-width: 220px;

.fixed-header {
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.header-wrapper {
	background: $common-background-color;
	border-bottom: 2px solid $vivaBlue2;
	@include from-breakpoint($medium-break) {
		position: relative;
		&.hidden-search {
			height: auto !important;
			.search-controls {
				display: block !important;
			}
			.post-ad-header {
				margin-top: -1em !important;
			}
		}
	}
	z-index: 4;
	&.hidden-search {
			@include from-breakpoint($medium-break) {
					height: auto;
					.search-controls {
						display: block;
					}
					.post-ad-header {
						margin-top: -1em;
					}
			}
		height: 116px;
		.search-controls {
			display: none;
		}
		.post-ad-header {
			margin-top: 1em;
		}
	}
	.headerV2 {
		color: $headerTextColor;
		height: 28px;
		margin: 0 auto;
		max-width: 1088px;
		padding: 15px 40px 0;
		position: relative;
		z-index: 9;

		@include from-breakpoint($medium-break) {
			height: 46px;
			padding-top: 20px;
		}

		a {
			color: $headerTextColor;
			text-decoration: none;
		}

		.mobile-menu {
			position: absolute;
			top: 17px;
			left: 25px;
		}

		.mobile-only {
			display: inline-block;
			@include from-breakpoint($medium-break) {
				display: none;
			}
		}

		.logo {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;

			display: inline-block;
			width: 200px;
			height: 28px;
			background: url("../../../../../images/es_MX/logo_v2.png") no-repeat 50% 50%;
			background-size: contain;
			@include from-breakpoint($medium-break) {
				float: left;
				margin: 9px 0;
				position: static;
			}
		}

		.left-items {
			display: none;
			height: 46px;
			left: auto;
			position: absolute;
			width: 50%;
			z-index: 10;

			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

			.browse {
				float: left;
				// margin-left is 0px on vw=848px and goes up to 65px on vw=1168px
				margin-left: calc((100% - 424px) * 65 / (584 - 424));
				position: relative;
				top: -20px;
				width: 170px;
			}

			.post-ad-button {
				border-radius: 2px;
				display: none;
				float: left;
				// margin-left is 0px on vw=848px and goes up to 78px on vw=1168px
				margin-left: calc((100% - 424px) * 78 / (584 - 424));
				width: 166px;

				@include from-breakpoint($medium-break) {
					display: table;
				}

				.btn {
					@include vivaBtn(on, 0.445em 0);
				}
			}
		}

		.hidden {
			display: none;
		}

		.right-items {
			display: none;
			pointer-events: none;
			position: absolute;
			right: 0;
			width: 50%;
			z-index: 10;

			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

			.my-ads {
				display: none;;
				float: right;
				margin: 9px 0;
				// margin-left is 0px on vw=848px and goes up to 30px on vw=1168px
				margin-left: calc((100% - 424px) * 30 / (584 - 424));
				pointer-events: auto;

				@media (min-width: 1024px) {
					display: block;
				}
			}

			.messages {
				float: right;
				position: relative;
				margin: 9px 40px;
				// margin-left is 0px on vw=848px and goes up to 40px on vw=1168px
				margin-left: calc((100% - 424px) * 40 / (584 - 424));
				pointer-events: auto;
			}

			.profile {
				float: right;
				pointer-events: auto;
				position: relative;
				top: -20px;

				.item-text {
					height: 81px;
					padding: 29px 0 24px;
				}

				&.normal-pad-top {
					padding-top: $item-top-padding;
				}
				.profile-icon {
					border-radius: 50%;
					display: inline-block;
					float: left;
					height: 28px;
					margin: 0 3px;
					vertical-align: middle;
					width: 28px;
				}
				.profile-picture {
					background-size: contain;
					border: 1px solid $profile-border;
					border-radius: 50%;
				}
				.profile-item:hover {
					background-color: $headerMenuItemHighlightColor;
				}
				.username-wrapper {
					display: inline-block;
					float: left;
				}
				.username {
					display: inline-block;
					max-width: 142px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.header-item-icon {
					float: left;
					top: 8px;
				}
			}
		}

		.number-messages {
			background-color: $headerBlue;
			border-radius: 50%;
			color: white;
			font-size: 10px;
			height: 18px;
			line-height: 16px;
			position: absolute;
			right: -5px;
			text-align: center;
			top: -5px;
			width: 18px;
		}

		.item-text {
			// position+bg-color used to hide dropdown top border
			position: relative;
			background-color: transparent;
			width: 100%;
			max-width: $dropdown-width;
			overflow: hidden;
			text-align: left;
			box-sizing: border-box;

			// setup a border that will get border color when the menu is open
			border-width: 0 1px;
			border-style: solid;
			border-color: transparent;
			padding: 30px 0 30px 5px;
			z-index: 1;

			&.menu-open {
				background-color: $common-background-color;
				border-color: $headerMenuBorderColor;
			}

			+ * {
				position: absolute;
			}
		}

		.menu-dropdown {
			margin-top: -1px; // works with item-text to hide top border

			font-weight: $fontWeightBold;
			font-size: $fontSizeH4;
			text-align: left;
			background-color: $headerBackgroundColor;
			border: 1px solid $headerMenuBorderColor;
			display: inline-block;
			white-space: nowrap;

			&.hidden {
				display: none;
			}

			.menu-item {
				border-bottom: 1px solid $headerMenuItemSeparatorColor;
				padding-right: 1em;

				&:last-child {
					border-bottom: none;
				}
			}

			// link items should take the entire space of menu-item
			.link-item {
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.item-primary-text {
				padding-left: 5px;
			}

			.menu-item:hover {
				background-color: $headerMenuItemHighlightColor;
			}
		}

		.header-item-icon {
			display: inline-block;
			position: relative;
			top: 1px;
		}
	}
}
