@import  "../profileMenu/profileMenu";

$item-top-padding: 26px;
$dropdown-width: 220px;

.fixed-header {
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.header-wrapper {
	background: $common-background-color;
	border-bottom: 2px solid $vivaBlue2;
	@include from-breakpoint($medium-break) {
		position: relative;
	}
	z-index: 2;

	.headerV2 {
		z-index: 9;
		position: relative;
		max-width: 1168px;
		height: 65px;
		color: $headerTextColor;
		margin: 0 auto;


		a {
			color: $headerTextColor;
			text-decoration: none;
		}

		.mobile-menu {
			position: absolute;
			top: 36px;
			left: 25px;
		}

		.app-icon {
			position: absolute;
			top: 34px;
			right: 25px;
		}

		.mobile-only {
			display: inline-block;
			@include from-breakpoint($medium-break) {
				display: none;
			}
		}

		.logo {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;

			display: inline-block;
			margin-top: 34px;
			margin-bottom: 11px;
			width: 200px;
			height: 24px;
			background: url("../../../../../images/es_MX/logo_v2.png") no-repeat 50% 50%;
			background-size: contain;
			@include from-breakpoint($medium-break) {
				margin-left: 40px;
				margin-top: 23px;
				height: 100%;
				top: -18px;
			}
		}

		.left-items {
			z-index: 10;
			position: absolute;
			left: 29%;
			width: 50%;
			text-align: center;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}
			&.logged-out {
				left: calc(29% + 52px);
			}

			.logo, .messages, .browse {
				float: left;
				top: 50%;
			}

			.messages {
				position: relative;
				left: 10px;
				margin-top: 24px;
				margin-right: 2%;
			}

			.browse {
				position: relative;
				width: 16%;
				min-width: 81px;

				&.item-text {
					padding-top: $item-top-padding;
				}
			}
		}

		.hidden {
			display: none;
		}

		.right-items {
			position: absolute;
			z-index: 10;
			right: 0;
			width: 32%;
			text-align: center;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

			.help {
				padding-top: $item-top-padding;
				width: 15%;

				@media (max-width: 962px) {
					width: 25%;
				}
			}

			.my-ads {
				padding-top: $item-top-padding;
				width: 15%;
				display: none;

				@media (min-width: 962px) {
					display: block;
				}

				@media (min-width: 1140px) {
					white-space: nowrap;
					width: 26%;
				}
			}

			.profile {
				&.normal-pad-top {
					padding-top: $item-top-padding;
				}
				.profile-icon {
					display: inline-block;
					border-radius: 50%;
					vertical-align: middle;
					width: 45px;
					height: 45px;
				}
				.profile-picture {
					background-size: contain;
					border: 1px solid $profile-border;
					border-radius: 50%;
				}
				.profile-item:hover {
					background-color: $headerMenuItemHighlightColor;
				}
				.username-wrapper {
					display: inline-block;
					vertical-align: middle;
				}
				.username {
					display: -webkit-box;
					width: 118px;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
				.header-item-icon {
					right: 3px;
				}
			}
		}

		.number-messages {
			height: 18px;
			width: 18px;
			position: absolute;
			top: 0;
			right: 0;
			background-color: $headerBlue;
			border-radius: 50%;
			font-size: 10px;
			line-height: 16px;
			color: white;
		}

		.post-ad-button {
			top: 0;
			float: left;

			margin: 0;
			border-radius: 2px;
			margin-top: 15px;
			margin-bottom: 15px;
			display: none;
			@include from-breakpoint($medium-break) {
				display: inline-block;
			}

			.btn {
				@include vivaBtn(on, 10px);
				min-width: 205px;
				padding: 10px 0;

				.sudolink {
					vertical-align: middle;
				}
				.icon-camera {
					height: 25px;
				}
			}
		}

		.right-item {
			width: 192px;
			margin-right: 5px;
			float: left;

			.item-text {
				padding-top: 15px;
			}
		}

		.item-text {
			// position+bg-color used to hide dropdown top border
			position: relative;
			background-color: transparent;
			width: 100%;
			max-width: $dropdown-width;
			overflow: hidden;
			text-align: left;
			box-sizing: border-box;

			// setup a border that will get border color when the menu is open
			border-width: 0 1px;
			border-style: solid;
			border-color: transparent;
			padding: 26px 0 26px 5px;

			&.menu-open {
				background-color: $common-background-color;
				border-color: $headerMenuBorderColor;
			}
		}

		.menu-dropdown {
			margin-top: -1px; // works with item-text to hide top border

			font-weight: $fontWeightBold;
			font-size: $fontSizeH4;
			text-align: left;
			background-color: $headerBackgroundColor;
			border: 1px solid $headerMenuBorderColor;
			display: inline-block;
			white-space: nowrap;

			&.hidden {
				display: none;
			}

			.menu-item {
				border-bottom: 1px solid $headerMenuItemSeparatorColor;
				padding-right: 1em;

				&:last-child {
					border-bottom: none;
				}
			}

			// link items should take the entire space of menu-item
			.link-item {
				display: block;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.item-primary-text {
				padding-left: 5px;
			}

			.menu-item:hover {
				background-color: $headerMenuItemHighlightColor;
			}
		}

		.header-item-icon {
			display: inline-block;
			position: relative;
			top: 1px;
		}
	}
}
