@import
    'swatches',
    "../partials/base",
    "../partials/main/theme",
    "typography-scale";

$ad-title-color:#4A90E2 !default;
$container-width: 73em;

$h1:normal 1.5em Helvetica;
$h2:bold 1.1875em Helvetica;
$h3:bold 1em Helvetica;
$h4:bold 0.875em Helvetica;

//link-color
$link-color: $vivaGray;
$link-hover-color: $vivaBlack;

$modal-overlay-color: $vivaGray80RGBA;

$default-transition-time:400ms;

$button-primary-background-color:$vivaBlue;

$rowHead-bg-color:$vivaGray20;
$rowHead-color:$vivaBlack;
$rowHead2-bg-color:$vivaBlue;
$rowHead2-color:$vivaWhite;
$row0-bg-color:transparent;
$row1-bg-color:$vivaGray20;
$postad-btn-color: $cheddar;

// checkbox colors
$checkbox-bg-color:#86c900;
$checkbox-border:2px solid #008F04;


// Generic box
$box-border-color: #DCDCDC;
$box-gray-bg-color: #F4F5F7;

// Generic form element styles
$form-element-error-color: #FF7282;
$form-element-error-bgcolor: $color-white;
$form-element-border-color: #CACACA;
$form-element-valid-color:#336234;
$form-element-valid-bgcolor:$color-white;

// Category and Location dropdowns
$menu-hover-parent-bg-color: #fafafa;
$menu-hover-parent-text-color: $vivaBlack;
$menu-hover-current-bg-color: #fafafa;
$menu-hover-current-text-color: $vivaBlack;

// PAGE
$search-bg-color:$cheddar;
$search-color:$vivaWhite;
$banner-bg-color:$avocado;
$banner-color:$vivaWhite;

// CAROUSEL
$carousel-arrow-color:$vivaWhite;
$carousel-bg-color:$vivaBlue20;
$carousel-border:1px solid $vivaBlue20;
$carousel-button-border:1px solid $cheddar;
$carousel-button-color:$vivaWhite;
$carousel-button-bg-color:$cheddar;
$carousel-button-bg-gradient:linear-gradient(top left, $cheddar80 0%, $cheddar 100%);
$carousel-nav-active-bg-color:$vivaBlue60;
$carousel-nav-active-gradient:linear-gradient(bottom left, $vivaBlue60 0%, $vivaBlue20 100%);
$carousel-nav-inactive-bg-color:$vivaWhite;
$carousel-nav-inactive-gradient:linear-gradient(bottom left, $vivaBlue40 0%, $vivaBlue20 100%);
$carousel-see-all-color:$vivaBlue;
$carousel-see-all-bg-color:$vivaGold20;
$carousel-title-color:$vivaBlue;

// COLUMN-STATUS
$column-status-feature-icon-width:36px;
$column-status-feature-icon-height:24px;
$column-status-feature-icon-border:1px solid $vivaGray80;

//TOOLTIP
$tooltip-content-color:black;
$tooltip-background-color:#EBEBEB;

//MESSACE-CENTER
$mc-ad-title:#4A90E2;
$mc-ad-price:black;
$mc-preview-buyer-bg-response:$vivaBlue20;
$mc-preview-seller-bg-response:white;
$mc-username-color:#4A90E2;
$mc-base-link-color:#4A90E2;
$mc-base-no-link-color:$vivaGray20;
$mc-buyer-spec-color-response:#E2E2E2;
$mc-buyer-color-response:black;
$mc-button:$vivaBlue;
$mc-bg-color80:$vivaWhite80;
$mc-bg-color:white;
$mc-report-color: #4A90E2;
$mc-max-width: 75em;

// full screen smartbanner 
$smartbanner-bgcolor: #FF9720;
$smartbanner-image:url('../../../../../../images/es_MX/smartmobilebanner.png');

// FEATURE LEGEND
$feature-legend-shadow:-1px 1px 1px rgba($vivaBlack,0.75);
$feature-legend-icon-width:96px;
$feature-legend-icon-height:66px;
$feature-legend-small-icon-width:64px;
$feature-legend-small-icon-height:64px;
$feature-legend-popup-icon-height:260px;
$feature-legend-popup-width:395px;
$feature-legend-popup-icon-width:$feature-legend-popup-width;
$feature-legend-bg-color: $vivaGray20;
$feature-legend-separator-color:$vivaGray;
$feature-legend-color-light-accent: $cheddar;
$feature-legend-color-title-accent: $vivaBlue60;
$feature-legend-dialog-title-bg-color:$vivaBlue60;
$feature-legend-tip-color: $vivaBlue60;
$feature-legend-popup-icon-bumpup:url('../../../../../../images/es_MX/promoteAds/tooltip_bumpUp.png');
$feature-legend-popup-icon-urgent:url('../../../../../../images/es_MX/promoteAds/tooltip_urgent.png');
$feature-legend-popup-icon-highlight:url('../../../../../../images/es_MX/promoteAds/tooltip_highlight.png');
$feature-legend-popup-icon-topads:url('../../../../../../images/es_MX/promoteAds/tooltip_top.png');
$feature-legend-popup-icon-homepage-gallery:url('../../../../../../images/es_MX/promoteAds/tooltip_homepageGallery.png');
$feature-legend-popup-icon-category-gallery:url('../../../../../../images/es_MX/promoteAds/tooltip_homepageGallery.png');
$feature-legend-popup-icon-websiteurl:url('../../../../../../images/es_MX/promoteAds/tooltip_sellerURL.png');

$controls-bg-color: $vivaBlue60;
$controls-color: $vivaWhite;

$brand-text-color:$vivaBlue;
$srp-ad-title-color:$link-color;
$section-divider-bg-color: $box-gray-bg-color;
$content-link-bg-color: $vivaBlack20;
$srp-nophoto-imageurl: url('../../../../../../images/es_MX/no-photo.jpg') ;
$selectall-hl-color: $color-yellow;
$selectall-text-color: $color-white;

//My Alerts Page
$savedsearch-btn-on: $vivaGreen;
$savedsearch-btn-off: $vivaRed;
$savedsearch-control-bg: $content-link-bg-color;
$ssp-column-label-color: $vivaBlack80;
$savedProfile-btn-color:#6FA7E8;

$filters-color: $vivaBlue;
$link-color: $vivaBlue;

$controls-column-background-color: transparent;

$gl-messages-bg-color:fbf5db;

// -------------------------------
// Quick Post page
// -------------------------------
$quickpost-header-bgcolor:#EBEBEB;
$quickpost-form-wrapper:#F7F7F7;
$quickpost-selected-cat-bgcolor:#DDDDDD;
$quickpost-selected-cat-color:#4A90E2;
$quickpost-cat-hover-color:#4A90E2;
$quickpost-form-submitBtn:orange;

// -------------------------------
// Post Ad Preview page
// -------------------------------
$preview-gallery-image-padding-top: 4em;
$preview-gallery-image-padding-left: 2em;
$preview-gallery-image-padding-bottom:3em;
$preview-gallery-image-padding-right: 2em;
$preview-image-gallery-right-margin: 32px;

@mixin set-masthead-fonts() {
    #tags, #cat-q, #catSelect, #searchbar-locFilter,
    #search_bar button, .search form fieldset button {
        font-size: $font-size-medium;
    }
}

@mixin containment {}

@mixin set-masthead-margins() {

    .header .links .menu-items {
        max-width: 11.5em;
    }

    @include from-breakpoint($small-break) {
        .header .links .menu-items {
            right: 13.5em;
        }

        .header .links .help {
            right: 10.5em;
        }
    }
}


@mixin hide_header_post_ad_button {
    .post-btn {
        display: none !important;
    }

    .header .links .help {
        right: 0;
    }

    .header .links .menu-items {
        right: 3em;
    }
}

.myads-title {
    color:#124f96;
}

.header .post-btn {
   color: $color-white;
}

.full-screen-smartbanner 
.top-bar .logo{
  top:7px;

}

@media screen and (max-width:47em) {
    a.promote, a.promote:visited {
        width:94% !important;
    }
}

@media screen and (min-width: 48.25em) {
    .select-ads {
        margin-top:0em !important;
    }

    a.promote, a.promote:visited {
        width:99% !important;
    }
    .myads-title {
        display:inline-block;
        position: static;
        top: 0em;
        margin-top:1em;
    }

}

@include in-breakpoint($lt-ie9-class-name) {
    .select-ads {
        margin-top:0.5em !important;
    }
}

.vip-seller-form-details .security-tips span[data-o-uri]:hover,
.vip-seller-form-details .security-tips span[data-o-uri]:focus {
    color: #1867c3;
}
.vip-seller-form-details .reported-ad span{
    color: darken($button-disabled-text-color, 25%);
}

.vip-seller-form-details .reported-ad span{ color: darken($button-disabled-text-color, 25%);}

// ------------------------------------------
// POSTAD BUTTON OVERRIDES
// ------------------------------------------

.post-btn.postcommercial {
	background-color: $postad-btn-color;
}

.vip-seller-form-details .reported-ad span{
    color: darken($button-disabled-text-color, 25%);
}

// ------------------------------------------
// MESSAGE OVERRIDES (_message.scss)
// ------------------------------------------
.gl-messages {
    margin-top: 0;
    background-color: #fbf5db;
}
// ------------------------------------------

#profile-cnt input[type='radio']:checked:before {
        border:4px solid #1867c3;
}

#profile {
    color: $vivaBlack;

}

#profile-cnt {
    .btn {

    }
}

#profile #profile-span:hover{
    text-decoration:underline;
}

#profile #profile-span:visited {
    color:#333333;
    font-weight:bold;
}

// this may be abusing of @extend
%text-align-left {
    text-align: left;
}
%text-align-center {
    text-align: center;
}
%text-align-right {
    text-align: right;
}




// ------------------------------------------
// BOX GLOBAL CLASS
// ------------------------------------------
$box-border-width: 1px;
$box-border-style: solid;
$box-border-color: #dcdcdc;
$box-border-radius: 3px;


%box {
    border: $box-border-width $box-border-style $box-border-color;
    @include border-radius($box-border-radius);
}

@include in-breakpoint($no-break) {
    %box {
        background-color: $background-color;
        padding: .75em;
    }
}

@include from-breakpoint($small-break) {
    %box,
    %box-from-small-break {
        background-color: $vivaWhite80;
        padding: 1em;
    }
}

@include in-breakpoint($no-break) {
    %box-row {
        background-color: $background-color;
        padding: .75em;
    }
}

// ------------------------------------------
// BOX GLOBAL CLASS
// ------------------------------------------


// ------------------------------------------
// LIST ITEMS CLASSES
// ------------------------------------------
$default-spacing: .75em;
$default-spacing-small-break: 1em;

%padding-top {
    padding-top: $default-spacing;
}
%padding-bottom {
    padding-bottom: $default-spacing;
}

@include from-breakpoint($small-break) {
    %padding-top,
    %padding-top-from-small-break {
        padding-top: $default-spacing-small-break;
    }
    %padding-bottom,
    %padding-bottom-from-small-break {
        padding-bottom: $default-spacing-small-break;
    }
}


%border-bottom {
    border-bottom:
        $box-border-width $box-border-style $box-border-color;
}
@include from-breakpoint($small-break) {
    %border-bottom,
    %border-bottom-from-small-break {
        border-bottom:
            $box-border-width $box-border-style $box-border-color;
    }
}


%margin-bottom {
    margin-bottom: $default-spacing;
}
%double-margin-bottom {
    margin-bottom: 1.5em;
}
@include from-breakpoint($small-break) {
    %margin-bottom,
    %margin-bottom-from-small-break {
        margin-bottom: 1em;
    }
    %double-margin-bottom,
    %double-margin-bottom-from-small-break {
        margin-bottom: 2em;
    }
}
@include in-breakpoint($small-break) {
	#menu-link.select-ads ul li a {
		font-size:0.7em;
	}
}

%packed-line-separated-items {
    @extend %padding-bottom;
    @extend %border-bottom;
    padding-left: $default-spacing;
    padding-right: $default-spacing;

    &.no-bottom-separation {
        padding-bottom: 0;
        border-bottom: none;
    }
}
@include from-breakpoint($small-break) {
    %packed-line-separated-items {
        padding-left: $default-spacing-small-break;
        padding-right: $default-spacing-small-break;
    }
}


%line-separated-items {
    // ads margin bottom to packed line separated items
    @extend %packed-line-separated-items;
    @extend %margin-bottom;

    &.no-bottom-separation {
        margin-bottom: 0;
    }
}

// ------------------------------------------
// OVERRIDE GLOBAL MIXINS
// ------------------------------------------
@mixin text-input() {
    border: 1px solid #ddd;
    outline: none;
    background-color: $color-white;
    @include border-radius(0.25em);
    @include appearance(none);

    &:focus{ background-color: #fafafa; }

    &.error{ border: 1px solid $form-element-error-color; }

    &:disabled{
        background-color: #ddd;
        color: #999;
        @include text-shadow(1px 1px 0px $color-white);
    }
}


%ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



// TEMPORARY fix to remove the border on search results filter button
// we just wanted to make it look better. Please remove if this isn't needed any more
// --------------------------
.ResultsSearch .wrap .select.showbutton{
    border:none;
}
// --------------------------

// --------------------------
// Override Smart Banner defaults: See : /scss/partials/main/_jquerySmartbanner.scss
// --------------------------
#smartbanner,
#smartbanner.android {
  margin-top: 0;
  color: #000;
  background: #FFFFFF; // #F2F2F2;
  font-size: 12px;
  border-top: none;

  .sb-icon {
    left: 25px;
  }

  .sb-info {
    top: 10px;
    left: 90px;
    font-size: 10px;
  }

  .sb-info,
  .sb-info strong {
    color: #000;
    text-shadow: none;
    font-weight: normal;
    line-height: 16px;
  }

  .sb-info strong {
    font-size: 12px;
  }

  .sb-close {
    background: none;
    text-shadow: none;
    box-shadow: none;
    color: #B0B0B0;
  }

  .sb-button {
    border: 0;
    right: 9px; // 15px;
    text-decoration: none;
    text-shadow: none;
  }
}

#smartbanner.android .sb-button:active span, #smartbanner.android .sb-button:hover span { background: #FF9721; }

#smartbanner .sb-button {
  padding: 0;
  text-transform: none;
}

#smartbanner .sb-button span,
#smartbanner.android .sb-button span {
  @include border-radius(5px);
  font-weight: normal;
  font-size: 1em;
  padding: 8px;// 10px; // 5px;
  color: #FFFFFF;
  background-color: #FF9721;
  background-image: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.32);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.32);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.32);
}

// --------------------------------------
// ----- End Smartbanner overrides ------
// --------------------------------------

// --------------------------------------
// ----- Begin Interstitial overrides ---
// --------------------------------------

#smartbanner.interstitial,
#smartbanner.interstitial.android {
  height: 100% !important; // 570px !important;

  // Interstitial images : top
  div.top-section {
    display: block;
    position: relative;
    top: 25px;
    background-image: url(../../../../../../images/es_MX/interstitial/interstitial-01.png);
    background-repeat: no-repeat;
    width: 100%; // 320px;
    height: 178px;
    margin: 0 auto;
  }

  // Cross "X"
  .sb-close {
    font-size: 30px;
  }

  .sb-info {
    top: 285px;
    left: auto; // left: 130px;
    right: 52px !important;
    width: 50%;
    white-space: nowrap;
    .sb-close {
      font-size: 14px;
      font-weight: bold;
    }
  }

  // Interstitial section : medium
  // Icon
  .sb-icon {
    left: 25px; // 40px;
    top: 220px; // 195px;
    width: 85px;
    height: 85px;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 61px 80px;
    box-shadow: none;
    z-index: 1;
  }

  .sb-icon.gloss:after {
    background: none;
    border: none;
  }

  //Download button
  a.sb-button {
    position: relative;
    // right: 0;
    top: 70px; //  60px; // 45px;
    left: 5px; // 10px; //  70px;
    margin: 0 auto;
    border: none;
    background: none;
    display: block;
    span {
      width: 150px;
      font-size: 1.5em;
      padding: 8px 8px 8px 70px;
    }
  }

  // Interstitial section : bottom
  div.bottom-section {
    display: block;
    position: relative;
    top: 110px; // 86px;
    background-image: url(../../../../../../images/es_MX/interstitial/interstitial-03.png);
    background-repeat: no-repeat;
    width: 100%; // 320px;
    height: 300px;

    margin: 0 auto;
  }
}

// --------------------------------------
// ----- End Interstitial overrides ---
// --------------------------------------

// ---------------------------------------------------------------
// -----  Mobile responsive portrait, landscape modes (iOS) ------
// ----- For both Smart banner (top) and Interstitial ------------
// ---------------------------------------------------------------
@include from-breakpoint($no-break, $small-break) {

  // *****************************************
  // ******* PORTRAIT MODE (banners) ********
  // *****************************************
  @media screen and (orientation: portrait) {

    #smartbanner.ios.shown {
      height: 75px !important;

      .sb-container {
        -webkit-transform: none !important;
      }
    }

    // iOS Interstitial Portrait Mode
    #smartbanner.interstitial.ios.shown {
      height: 100% !important;
      margin: 0 auto;

      div.top-section, div.bottom-section {
        background-position: center;
      }

      // Interstitial section : medium : Icon
      .sb-icon {
        left: 25px;
      }

      // Container
      .sb-container {
        -webkit-transform: none !important;
      }
    }

  // Android Interstitial Portrait Mode
    #smartbanner.interstitial.android.shown {
      height: 100% !important;
      margin: 0 auto;

      div.top-section, div.bottom-section {
        background-position: center;
      }

      // Interstitial section : medium : Icon
      .sb-icon {
        left: 25px;
      }

      // Text Area
      .sb-info {
        top: 300px;
      }

      a.sb-button span {
        width: 90%;
        font-size: 1.5em;
        margin: 0 auto;
        white-space: nowrap;
      }

      // Container
      .sb-container {
        -webkit-transform: none !important;
      }
    }
  }

  // *****************************************
  // ******* LANDSCAPE MODE (banners) ********
  // *****************************************
  @media screen and (orientation: landscape) {
    #smartbanner.ios.shown {
      height: 75px !important;

      .sb-container {
        -webkit-transform: none !important;
      }
    }

    // iOS Interstitial Landscape Mode
    #smartbanner.interstitial.ios.shown {
      height: 100% !important;
      margin: 0 auto;

      div.top-section, div.bottom-section {
        background-position: center;
      }

      // Interstitial section : medium : Icon
      .sb-icon {
        left: 25%;
      }

      // Text Area
      .sb-info {
        top: 300px;
        left: 180px;
      }

      a.sb-button span {
        padding-left: 4em;
      }

      // Container
      .sb-container {
        -webkit-transform: none !important;
      }
    }

   // Android Interstitial Landscape Mode
    #smartbanner.interstitial.android.shown {
      height: 100% !important;
      margin: 0 auto;

      div.top-section, div.bottom-section {
        background-position: center;
      }

      // Interstitial section : medium : Icon
      .sb-icon {
        left: 25%;
      }

      // Text Area
      .sb-info {
        top: 300px;
        left: 40%;
      }

      a.sb-button span {
        width: 60%;
        padding-left: 4em;
        font-size: 1.5em;
        margin: 0 auto;
      }
    }
  }

  @media screen and (min-width: 23em) and (orientation: portrait) {
    #smartbanner.interstitial.ios.shown .sb-icon {
      left: 15%;
    }
  }

  @media screen and (min-width: 40em) and (orientation: landscape) {
    #smartbanner.interstitial.ios.shown {
      .sb-icon {
        left: 30%;
      }
      .sb-info {
        left: 40%;
      }
    }
  }

} // End Mobile for smartbanners.





@mixin checkbox-input() {
    //    @debug 'AR - mixin checkbox-input overriden';
    @extend %box;

    // overriding checkbox-input
    -webkit-appearance: none !important;
    appearance: none !important;
    padding: 0 !important;

    &:checked {
        border: none;
        background-size: 100%;

        &:before,
        &:after {
            display: none;
        }
    }
}
