#datafilebutton{
	margin: 0;
}

#paperclipspan{
	float: left;
	margin-right: $small-margin;
}

#file-attach{
	margin-bottom: $xlarge-margin;
}

#file-attach .label{
	display: inline;
}

#errorMessageSpan{
	color: $form-element-error-color;
	display: none;
}

#errorMessageSpan, #filenamelabel, .spinner{
	//font-size: 0.8em;
}

#fileAttachmentForm, #paperclipspan, #filenamelabel, .remove, .spinner{
	display: none;
}

#attached-file{
	@include ellipsis;
}

.icon-paperclip, .icon-spinner{
	height: 16px;
	width: 16px;
}

.icon-spinner{
	@include inline-block;
	background-image: url(../../../../../images/loading-small.gif);
	background-repeat: no-repeat;
	margin-right: $small-margin;
}


#upload-container{
	position: relative;
}

.dummy-datafile-button{
	position:absolute;
	width:50%;
	left:0;
	top:0;
}

#datafile{
	position:absolute;
	top: 0;
	left: 0;

	width:50%;

	z-index: 51; 

	opacity:0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.lt-ie9 #datafile{
	right: 0;
	font-size: 50px;
	height: 0.5em;
	width: 3.25em;
}