@import "../../../partials/pages/MyPromotePage/thumbnail";
@import "../../../partials/common/featurelegend";
@import '../../../partials/common/column-labels';
@import "thumbnail";

@include featurelegend_default;
@include thumbnail_default;

@include from-breakpoint($small-break, $lt-ie9-class-name){
	@include featurelegend_medium;
	@include thumbnail_medium;

	#subheader{
		background-color:#fffee0;
		background-image: none;
	}
}

@include from-breakpoint($medium-break, $lt-ie9-class-name){
	@include featurelegend_large;
	@include thumbnail_large;
}

@include featurelegend_popup_images;

@include in-breakpoint($lt-ie9-class-name){
	.feature-legend{
		border: 1px solid #e3e3c9;
	}
}

$subheader-height: 55px;

// -----------------------------------------------------
// Mobile First Styles
// -----------------------------------------------------

//.header {
//	margin: 0;
//}

.title-and-total, #total-line{
	float: none;
}
.title-and-total {
	font-size:.8em;
	line-height:2em;
}
.mobile-only{
	display: block;
}

.desktop-only{
	display: none;
}

#price {
	&:before {
		content: attr(data-currency-symbol);
	}
	&:after {
		content: " " attr(data-currency);
	}
}

:root input[type=checkbox].input-checkbox + label:before {
	float:left;
	margin: 0.2em 0.25em;
}

// Adapted from _subheader.scss (h1.subheader)
#subheader{
	padding:$small-padding;
	color: $color-white;
	font-size: 1em;
	height: $subheader-height;
	background-color: $alert-color;
}

#subheader.sticky{
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	z-index: 1000;
}

body.sticky{
	margin-top: $subheader-height;
}

#checkout{
	@include form-submit-button;
	padding: 0.25em 1em;
	font-size: 0.8em;
	line-height: 2em;
	width: auto;
	margin: -3.3em 0 0 0;
	float: right;
	&.disabled {
		@include form-submit-button-disabled;
	}

}

.feature-name.disabled, .description.disabled{
	color: $color-black-30;
}

h1{
	@include bold-text;
}

.ad, .commercial {
	font-size: $font-size-micro;
}

.title{
	font-size: 1.25em;
	@include bold-text;
	@include ellipsis;
}

.subtitle {
	font-weight: bold;
	position: relative;
	font-size: 1.25em;
	color: $brand-text-color;
}

#feature-header{
	display: none;
}

input, button{
	margin-left: 0;
}

@include input-facade();

.feature-options {
	&.websiteurl {
		display:none;
	}
	.topAd31 {
		font-weight:bold;
		.bestdeal-info {
			color: #ed6035;
			font-weight: bold;
			display: inline-block;
			font-size:0.9em;
			line-height:1.4em;
		}
	}
}

.checkbox{
	font-size: 1em;
	float: left;
}

.checkbox-content {
	overflow: hidden;
}

.hide {
	visibility: hidden;
}

.checkbox-description {
	margin-bottom: 0.5em;
	overflow: hidden;
}

.checkbox-group {
	margin-left: 1em;
	padding-right: 1em;
}

.price-and-duration {
	float: right;
}

.checkbox-description .description {
	clear: right;
}

.page{
	padding-left: 0;
	padding-right: 0;
}

.thumb-and-meta{
	border-top: 2px solid $color-black-10;
	padding: 1em;
}


.feature-row {
	padding: 0 1em 1em 1em;
	overflow: hidden;
}

.feature-row .description{
	clear: left;
}

.feature-options .feature-name{
	float: left;
	font-weight: bold;
}

.heading-bar {
	padding: 1em;
}

// -----------------------------------------------------
// Tablet Styles
// -----------------------------------------------------

@include from-breakpoint($small-break, $lt-ie9-class-name){

	.checkbox-description {
		display:inline-block;
		vertical-align:top;
	}

	.checkbox-group {
		margin-left: 0;
		padding-right: 0em;
	}

	.price-and-duration {
		float: none;
		display:inline;
	}

	.page{
		padding-left: 1em;
		padding-right: 1em;
	}

	.thumb-and-meta{
		border-top: none;
		padding: 0;
	}

	.checkbox{
		font-size: 1em;
	}

	.feature-options .feature-name, .description{
		float: none;
		clear: none;
	}

	.feature-row {
		padding: 0;
	}
	.subtitle {
		top: 0;
		margin-left: 0;
	}

	.title-and-total, #checkout {
		float: right;
		margin: 0;
	}
	.title-and-total {
		font-size:1em;
	}


	#table-wrapper{
		display: table;
		width: 100%;
	}

	#subheader{
		display: table-footer-group;
		color: $color-black;
		background-color: transparent;
	}

	.mobile-only{
		display: none;
	}

	.desktop-only{
		display: block;
	}

	.ad, .commercial {
		font-size: 1em;
		padding: $large-padding 0;
		/*border-bottom: 1px solid $color-black-10;*/
	}

	// @BOLT-11366
	#ads .ad.clearfix:nth-child(even),
	#commercials .commercial.clearfix:nth-child(even) {
		background-color: #E3E3C9;
		@include border-radius(5px);
	}

	.title{
		font-size: 0.875em;
	}

	.description{
		display: none;
	}

	.category, .location {
		font-size: $font-size-micro
	}

	.meta, .feature-options{
		float: left;
	}

	.meta-and-features .meta{
		width: 25%;
	}

	.thumb-and-meta .meta {
		width: 25%;
	}

	.feature-options.bumpUpXY,
	.feature-options.bumpUp {
		width: 8%;
	}

	.feature-options.urgent,
	.feature-options.highlight,
	.feature-options.hpGallery {
		width: 12%;
	}

	.feature-options.topAd {
		width: 16%;
	}

	#feature-header.smartStickyTop{
		//max-width: 71.5em;
		//margin: 0 auto;
		width: 100%;
		.meta-and-features.feature-options.topAd {
			width: 12%;
		}
	}

	.feature-options .feature-name{
		display: none;
	}

	#feature-header{
		//display: block // BOLT-18874;
		clear: right;
		.thumb{
			visibility: hidden;
		}
		h3{
			font-weight: bold;
		}
		span{
			font-size: 0.8em;
			font-weight: normal;
		}
		.meta h3{
			margin-left: -70px;
		}
	}

	#total-line{
		float: right;
		font-size: 1.5em;
		margin-top: 1.5em;
		margin-right: 4em;
	}

	#checkout{
		font-size: 1.5em;
		margin: 3em -8.2em 1.5em 0;
	}

	.heading-bar {
		padding: 0;
	}

	.heading-bar .feature-legend-container {
		min-height: 114px;
	}

	.dash {
		display: none;
	}

	.display-price {
		display: block;
	}

	#feature-header h3, .checkbox-content {
		font-size: 0.8em;
	}
}

// -----------------------------------------------------
// Desktop Styles
// -----------------------------------------------------

@mixin feature-container-tweaks-desktop {

	.subtitle {
	  float: left;
	  top: 1.75em;
	}

	.heading-bar .feature-legend-container {
	  margin: 0;
	}
}

@include from-breakpoint($medium-break, $lt-ie9-class-name){

	@include feature-container-tweaks-desktop;

	.meta-and-features .meta{
		width: 25%;
		h3{
			font-size: 1em;
			margin-left: 0.5em;
		}
	}

	.thumb-and-meta .meta {
		width: 25%;
	}

	.checkbox{
		font-size: 1em;
	}

	#feature-header{
		margin-top: 34px;
	}

	.dash, .display-price {
		display: inline;
	}

	.duration {
		float: left;
		margin-right: 0.5em;
	}
}

// -----------------------------------------------------
// IE Specific Styles
// -----------------------------------------------------

@include from-breakpoint($lt-ie9-class-name) {
	input[type=checkbox]{
		//font-size: 1.25em;
		background-color: transparent;
	}
}

@include in-breakpoint($lt-ie9-class-name){
	// @BOLT-11366
	#feature-header, #ads,
	#feature-header, #commercials {
	.feature-options.bumpUp{
		margin-left: 1.2em;
	}
	}
}

@include from-breakpoint($small-break, $lt-ie9-class-name){

	// BOLT-12109 : be inconsistent with a different table header color (just on the Promote page)
	.column-labels {
		background: $rowHead2-bg-color;
		color:$rowHead2-color;
	}
	// BOLT-19425 : header-bar missing on all sites.
	#feature-header{
		display: block;
	}

}




