.post-ad-form-container {
	.input-form {
		background-color: $postAdBackgroundColor;
		box-shadow: 1px 1px 6px $postAdShadowColor;
		float: right;
		width: 99% - $photo-switcher-width;
		padding-top: 10px;
		padding-left: 5px;
		font-size: 12px;
		color: $postAdTextGray;

		.input-text {
			margin-left: 5px;
			text-transform: uppercase;
		}

		.heading {
			margin-left: 8px;
		}

		.title-text {
			display: inline-block;
		}

		.char-remaining {
			float: right;
			margin-right: 20px;
		}

		.text-input {
			font-size: 20px;
			border: 1px solid black;
			margin: 5px 0 15px 0;
			padding: 5px;
		}

		.title-input {
			display: block;
			width: 96%;
		}

		.price-input {
			width: 40%;
		}

		.radio-form {
			display: inline-block;
			margin-left: 15px;
		}

		/* Begin custom radio btns */
		// Hide default browser input
		input[type="radio"] {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}

		input[type='number'] {
			-moz-appearance:textfield;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		.control {
			margin-right: 10px;

			&:only-of-type{
				.outer-circle{display:none;}
				.currency-type{cursor: default;}
			}
		}

		// Checked
		.control input:checked ~ .outer-circle .inner-circle {
			background: $postAdOrange;
		}
		.control input:checked ~ .currency-type {
			color: black;
			font-weight: bold;
			display: inline-block;
		}

		.currency-type {
			cursor: pointer;
		}

		.inner-circle {
			display: inline-block;
			position: relative;
			top: 1px;
			left: 2px;
			width: 12px;
			height: 12px;
			background: white;
			border-radius: 50%;
			z-index: 1;
		}

		.outer-circle {
			cursor: pointer;
			display: inline-block;
			position: relative;
			top: 1px;
			left: 0;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			background: white;
			border: 1px solid black;
			border-radius: 50%;
		}
		/* End custom radio btns */
	}
}
