<div id="login-modal" class="login-modal {{#if isHidden}}hidden{{/if}}">
    {{> (dynamic "loginForm") startOpen=false}}
</div>

<div id="login-modal-mask" class="login-modal-mask {{#if isHidden}}hidden{{/if}}"></div>
