.infolink {

	input[type='checkbox'] {
		@include checkbox-input;
		font-size:1em;
		margin: 1em 0.3em -0.2em 0
	}
	.icon-icon-arrow {
		height: 10px;
		width: 10px;
		display: inline-block;
		vertical-align: middle;
	}
	vertical-align:text-top;
	&.active {
		.more {
			display:none;
		}
		.less {
			display:inline;
		}
		.desc {
			border:1px solid $section-divider-bg-color;
			height:inherit;
			margin:5px 0;
			color:#666;
			font-weight:bold;
			@include clearfix();
			h3 {
				color:#468100;
				font-size:1.2em;
			}
			li {
				list-style-type: decimal;
				margin: 0 1em;
				em {
					color:#000;
					font-weight:normal;
					font-style: normal;
				}
			}

		}
	}
	.more {
		display:inline;
	}
	.less {
		display:none;
	}
	.desc {
		padding: 2em 0 0 2em;
		height:0;
		width:100%;
		display:block;
		border:0px dotted $section-divider-bg-color;
		overflow:hidden;
		transition: all 0.25s ease;
	}
	.link {
		padding-left:1.5em;
		margin-left: 1em;
		color:$link-color;
		&:hover {
			text-decoration:underline;
		}
	}
}



@mixin order_summary_default {
  
	$order_summary_default_max-width : 725px;
	.useOneTouch {
		display:block;
		margin:3em 0 0 1em;
	}
	.useCreditCard {
		display:block;
		margin:3em 0;
	}
	.payment-methods {
		border: 0;
	}
	form.order {
      
		.subheader h1 {
			font-size: 1em;
		}
		h2{
			width: 100%;
			background-color: $section-divider-bg-color;
			font-size: 1em;
			line-height: 2.5em;
			padding: 0 1em;
			margin-top:0;
		}
		.order-summary {
			margin: 1em 0;
			line-height:1.2em;
			max-width:$order_summary_default_max-width;
			@include clearfix;
			outline: 2px solid $section-divider-bg-color;
			#total-line {
				font-size: 0.9em;
				font-weight: bold;
				text-align:right;
				margin: 1em;
				padding-bottom: 1em;
				div {
					display:inline-block;
					&.label {
						color:#000;
						float:left;
					}
					/* .price shared with #features-to-purchase... see below */
				}
			}
			#features-to-purchase {
				padding: 1em;
				@include clearfix;
				.feature-group {
					.ad {
						@include clearfix;
						margin-bottom:1em;
						div {
							font-size:.9em;
						}
						.title {
							font-weight:bold;
							display:block;
							font-size:.95em;
						}
						.feature {
							display:inline-block;
						}
					}
				}
			}
			.price {
				float:right;
				display:inline-block;
			}
			.separator{}
		}
	}
}

@mixin order_summary_tablet_and_larger {
	form.order {
		.order-summary {
			margin:2em 1em 0;
		}
		.payment-info {
			margin:1em;
			padding:0;
			overflow: hidden;
			display:none;
			&.expand {
				display:block;
			}
			&.oneTouch {
				outline:0;
			}
		}
	}
}

@include from-breakpoint($lt-ie9-class-name) {
	input[type='checkbox'] {
		@include checkbox-input;
		font-size:1.2em;
		margin: 1em 0.3em -0.2em 0;
	}
}
