//payment overlay begin
#overlay {
  display: none;
  &.shows{
  	display: block;
  }
  z-index: 110;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
  opacity: 0.95;   
  background-color:#fff;
}

#overlay{ 
	.wrap{
		z-index: 110;
		position: fixed;
		top: 35%;
		margin: 0 auto;
		width: 100%;
	}
	.processingTxt{
		position: relative;
		top: 32.5%;
		font-weight: bold;
	}
	span.bg{
		background-image: url('../../../../../images/en_ZA/loading.gif');
		background-repeat: no-repeat;
		/* background-position: 100% 100%; */
		display: inline-block;
		height: 2em;
		width: 2em;
	}
}

//payment overlay end

@include hide_header_post_ad_button;

// -----------------------------------------------------
// Order Summary Mixins
// -----------------------------------------------------

@mixin order_summary_default {

	.order-summary {
		@include clearfix;
		margin-bottom: 4em;
	}

	#features-to-purchase{
		@include clearfix;
	}
	
	.feature-group{
		margin-bottom: $large-margin;
		@include clearfix;
	}
	
	.feature-group > .title,
	#total-line > .label{
		font-weight: bold;
	}
	
	.ad > .title,
	#total-line > .label{
		@include span-columns(8, 10);
		padding-right: $xlarge-padding;
		@include ellipsis;
	}
	
	.ad > .price,
	#total-line > .price{
		@include span-columns(2 omega, 10);
	}
	
	.separator{
		margin-left: 0;
		margin-right: 0;
	}
	
	#total-line{
		margin-top: $large-margin;
	}

}

@mixin order_summary_tablet_and_larger {

	.order-summary{
		@include span-columns(4 omega, 12);
		display: block;
	}

}

// -----------------------------------------------------
// Mobile First Styles
// -----------------------------------------------------


.mobile-only, .always-show {
	display: block !important;
}

.desktop-only{
	display: none !important;
}



div.subheader{

	background-color: $color-yellow;
	@include background-image(linear-gradient(adjust-lightness($color-yellow, 10%), $color-yellow 50%));
	@include bold-text;
	padding: $medium-padding $grid-padding;
	color: #fff;
	font-size: 1em;
	
	@include full-page-width;
	@include clearfix;
}

//h1{
//	float: left;
//	display: inline-block;
//}

h2{
	font-weight: bold;
	font-size: 1.25em;
	margin-top: $medium-margin;
}
	
.submit, .bank-transfer-redirect {
	@include form-submit-button;

	display: inline-block;
	width: auto;
	font-size: 1em;
	padding: 0.5em 2em;
	margin-bottom: 2em;
	//float:left;
	margin-right: 0.5em;

	&.disabled {
		@include form-submit-button-disabled;
	}
}

.submit {
	margin-top: 1em;
}

.bank-transfer-redirect {
	margin-top: 0;
}

.submit.disabled{
	background-color: $color-orange-30;
}

label.disabled, input[type=text].disabled, .cvv-hint.disabled {
	color: $color-black-15;
}

input[type=text].disabled{
	border: 1px solid $color-black-10;
}

.disabled ::-webkit-input-placeholder{
	color: $color-black-15;
}

.payment-info h2 {
	margin-bottom: 1em;
}

#credit-card-details label {
	display: block;
}

.cvv-hint {
	clear: left;
	font-size: 0.8em;
}

.cvv-icon {
	.visa-mc {
		background: url(../../../../../icons/cvv-guide-mc-visa.gif) no-repeat top left;
	}
	.amex {
		background: url(../../../../../icons/cvv-guide-amex.gif) no-repeat top left;
	}
	.visa-mc, .amex {
		width: 71px;
		height: 32px;
		display: inline-block;
	}
}

.logo-sid {
	display: inline-block;
  	width: 112px;
  	height: 56px;
  	float: left;
  	margin-right: 0.25em;
  	background: url(../../../../../icons/logo/SID.jpg) no-repeat top left;
}

.icon-spinner {
  display: inline-block;
  position: relative;
  top: 24px;

  width: 16px;
  height: 16px;
  background: url(../../../../../images/loading-small.gif) no-repeat;
  background-repeat: no-repeat;

  &.eft-margin {
	top: 8px;
  }
}



// -----------------------------------------------------
// Tablet and Desktop Styles
// -----------------------------------------------------

@include from-breakpoint($small-break, $lt-ie9-class-name){

	.mobile-only{
		display: none !important;
	}
	
	.desktop-only{
		display: block !important;
	}

	h1, h2{
		font-size: 1.4em;
	}

	#credit-card-details{
		width: 75%;
	}

	.cvv-icon {
		margin-top: 0;
	}

	.sid-lead-paragraph {
		margin-bottom: 2em;
	}
}

@include from-breakpoint ($medium-break, $lt-ie9-class-name) {
	.sid-lead-paragraph {
		margin-bottom: 0;
	}
}