input[type=radio]{
	@include checkbox-input;
	margin-right: $medium-margin;
	margin-top: 0.15em;
	margin-right: 0.25em;
	background-color: white;
}

@include in-breakpoint($lt-ie9-class-name){
	input[name=versionSb]{
		background-color: transparent; 
	}
}

#newSellerBadge{
	margin: 3em 0;
}

@mixin newSellerBadge($textareaWidth, $floatState, $alignCenter){
	#newSellerBadge{
		display: block;
		background-color: #E3E3C9;
		@include border-radius(5px);
		padding: 0 2em;
		@if($alignCenter=="on"){
			width: 52em;
		}
		@else{
			float: right;
		}
		margin: 2em auto 3em auto;
		.leftSellerBadge{
			float: left;
			margin: 0 auto; 		
			@if($floatState=="on"){
				max-width: 22em;
			}
			@else{
				max-width: 29em;
			}
			h2{
				font-weight: bold;
				text-align: center;
			}
			p{
				font-size: 0.85em;
			}
		}
		.rightSellerBadge{
			margin: 0 auto;
			@if($floatState=="off"){
				clear: both;
				max-width: 29em;
			}
			@else{
				float: left; 
			}
			.col{
				float: left;
				img{
					height: 150px;
					margin-right: 1em;
				}
				textarea{
					resize: vertical;
					max-height: 300px;
					min-height: 125px;
					width: $textareaWidth;
				}
			} 
		}
	}
}

@include to-breakpoint($no-break){
	#newSellerBadge{
		display: none;
	}
}

@include in-breakpoint($small-break){
	@include newSellerBadge(130%, "off", "off");
}

@include in-breakpoint($medium-break){
	@include newSellerBadge(190px, "on", "on");
}

@include in-breakpoint($large-break, $lt-ie9-class-name){
	@include newSellerBadge(190px, "on", "on");
}
