@mixin options_default {

  .action{
	width: 33%;
	float: left;
	padding: $small-padding 0;
  }

  a.promote, a.promote:visited,
  a.postad, a.postad:visited {
	@include promote-ad-button;
    font-size: 100%;
    padding: 0.5em 1em;
  }

  a.postad, a.postad:visited {
    width: 200px;
  }

  .icon-edit-icon-16x16, .icon-delete-icon-16x16, .icon-repost-icon-16x16{
	margin-right: $small-margin;
	height: 16px;
	width: 16px;
	float: left;
  }

}

@mixin options_medium {

  .action{
	width: 50%;
  }

  .promote{
	font-size: 1.25em;
	width: 100%;
	margin-top: $small-margin;
  }

}

@mixin options_large { }
