<div class="clear" style="height:1px;"></div>
<div id="home_topbanner"></div>

{{#partial "googleBannerAdsTop_Script"}}
     {{#unlessMobile this.device}}
		  {{!-- moreAdSizes is only for PL -> for extra ad sizes --}}
          BOLT.displayBanner( $.extend( {pos:"atf",slotDim: [[728,90],[970,250],[970,90]{{model.header.moreAdSizes}}], slotId : 'home_topbanner'},bP));
     {{/unlessMobile}}
{{/partial}}


{{#partial "googleBannerAdsTopV2_Script"}}{{/partial}}
