.browse-categories {
	.category-name {
		a:hover {
			color: color(crane);
		}
	}
}

.hamburger-contents {
	padding: 10px;

	&.hamburger-open {
		min-width: 260px;
	}
}

.menu-container {
	margin: 0;
	width: auto;

	.js-post-button {
		.btn {
			line-height: 45.5px;
			padding: 0 !important;

			&:focus {
				outline: none;
			}
		}
	}

	.profile-information {
		.profile-dropdown {
			padding: 0;

			.btn-wrapper {
				margin-top: 10px;

				.btn {
					padding: 0;
				}
			}
		}

		.profile-item {
			.item-icon {
				&.icon-my-ads-active {
					background-position: 23.5% 29.7%;
				}

				&.icon-favorites {
					background-size: 2650%;
				}
			}

			.link-item {
				&:hover {
					color: color(crane);
				}
			}
		}
	}
}