@mixin regularBtn($color, $padding, $bgcolor, $fontweight, $border){
	background: $bgcolor;
	color: $color;
	cursor: pointer;
	border: $border;
	padding: $padding;
	border-radius: 5px;
	text-shadow: none;
	font-weight: $fontweight;
	outline: none;
}

.noConvJs, .extra-elt{
	display: none;
}

/*
.msg-wrapper{
	margin-bottom: 2em;
	margin-top: 1em;
}
*/

.my-top-navigation{
	margin-bottom: 0em;
}

.noConversation{
	.msg-container{
		margin-top: 5em;
	}
	.no-msg-desc{
		text-align: center;
		font-weight: bold;
	}
}

.overlay{
	display: none;
	position: fixed;
  	height: 100%;
  	width: 100%;
  	top: 0;
  	left: 0;
  	z-index: 350;
  	background-color: rgba(0,0,0,0.5);
}

.isDisabled{
	opacity: 0.5;
}

.confirmDelete{	
	position: absolute;
  	top: 50%;
  	left: 50%;
  	margin-left: -13em;
    background-color: white;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 1em;
    max-width: 35em;
    @include box-shadow(0 5px 10px rgba(0,0,0,0.5));
    @include in-breakpoint($no-break){
    	width: 80%;
    	left: 0;
    	margin-left: 2em;
    }
    .delText{
    	margin-bottom: 1.5em;
    }
    .regularBtn{
    	margin-left: 1.5em;
    	display: inline-block;
    	margin-bottom: 1em;
  		min-height: 1.5em;
  		min-width: 5em;
    }
}

.arrow-back-to-allmsg{
  	font-size: 1.2em;
    font-weight: bold;
}

.regularBtn{
	@include regularBtn(#fff, 0.5em 1.5em, $mc-button, bold, 5px);
}

.controls{
	border-radius: 5px;
	padding: 1em 0;
	background-color: $mc-bg-color80;
	width: 100%;
	font-weight: bold;
	margin-top: 2em;
	.control-title {
		margin-left: 1em;
	}
}

.user-name-prefix{
  	display: none;
}

.conv-mc{
  width: 100%;
  height: 7em;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.mc-userReplyImg{
	width: 3em;
	height: 3em;
	@include border-radius(2em);
	background-repeat: no-repeat;
    background-position: center;
    @include background-size(cover);
}

.user-icon{
  border-radius: 2em;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 1em; 
  left: 1em;
  background-repeat: no-repeat;
  background-position: center;
  @include background-size(cover);
}

li[data-convadid]{
  cursor: pointer;
  :hover{
  	background-color: rgba(255,255,255,0.7);
  }
  &.notRead{
  	font-weight: bold;
  	background-color: $mc-bg-color80;
  }
  &:first-child{
    margin-top: 1em;
  }
}

#mgsListUl{
	.mc-content{
		width: 100%;
		position: relative;
		.mc-msg-content{
			white-space: pre-line;
		}	
		&.received{
			float: left;
			.mc-userReplyImg{
				float: left;
				margin-top: 1em;
				margin-right: 1em;
			}
		}
		&.sent{
			.mc-userReplyImg{
				float: right;
				margin-left: 1em;
				margin-top: 1.4em;
			}
		}
		.creationDate{
	      	margin-bottom: 0em;
			margin-top: 1em;
			font-size: 0.8em;
            color: grey;
            text-align: center;
		}
		.mc-msg-content{
			//@include border-radius(10px 10px 0 10px);
			position: relative;
			padding: 1em;
			margin: 1em 0;
			width: 65%;
			&.sent{
				@include border-radius(10px 10px 0 10px);
				&:after{
					content: "";
					position: absolute;
					bottom: 0px;
					right: -15px;
					border-width: 0px 15px 15px 0px;
					border-style: solid;
					border-color: $mc-buyer-spec-color-response transparent;
					display: block;
					width: 0;
				}
			}
			&.received{
				@include border-radius(0 10px 10px 10px);
				&:before{
					content: "";
					position: absolute;
					top: 0;
  				    left: -15px;
  					border-width: 15px 0px 0px 15px;
					border-style: solid;
					border-color: $mc-preview-buyer-bg-response transparent;
					display: block;
					width: 0;
				}
			}
		}
		.received {
			background-color: $mc-preview-buyer-bg-response;
			color: black;
			float: left;	
		}
		.sent {
			background-color: $mc-buyer-spec-color-response;
			color: $mc-buyer-color-response;
			float: right;
		}
	}
}

$sidebarWidth: 100px;
$globalPadding: 20px;


.reply-msg-container{
    position: fixed;
    bottom: 0em;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 0;
    background-color: $mc-bg-color;
	@include to-breakpoint($small-break){
		left: 0;
	}
	@include in-breakpoint($medium-break){
		width: 97%;
	}
	@include in-breakpoint($large-break){
		width: 81em;
	}	
}
.msg-desc-textarea {
  margin-right: $sidebarWidth;
  @include to-breakpoint($small-break){
  	margin-left: 15px;
  }
  textarea{
	min-width: 100%;
  	max-width: 100%;
  	max-height: 70px;
  	height: 70px;
  	resize: none;
  }
}
.article-content,
.bottom-replymsg {
  box-sizing: border-box;
  float: left;
  padding-left: 10px;
}
.article-content {
  width: 100%;
}
.bottom-replymsg{
  margin-top: 2.8em; 
  box-sizing: border-box;
  width: $sidebarWidth;
}

.header-replymsg{
	width: 100%;
	margin-top: 1em;
	display: none;
	.msg-title-left{
		float: left;
		color: $mc-report-color;
	}
	.msg-title-right{
		text-align: right;
	}
	+ .controls{
		margin-top: 1em;
	}
}

.replyMessages{
	min-height: 100px;
	width: 99.5%;
	margin-bottom: 7.5em;
	.loadMore{
		margin-top: 1em;
		margin-bottom: -0.5em;
		color: $mc-report-color;
		text-align: center;
		&:hover{
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.sticky-mc{
	display: none;
	cursor: pointer;
	height: 7em;
	background-color: white;
	padding: 1em;
	border-bottom: 2px solid $mc-report-color;
	position: relative;
	&.smartStickyTop{
		@include box-shadow(0 4px 2px -2px rgba(0, 0, 0, 0.32));
		 width: 100%;
  		 max-width: $mc-max-width;
         margin: 0 auto;
	}
	.thumbnail{
		float: left;
		.icon-Left{
			float: left;
			height: 2em;
			width: 1em; 
			margin-top: 1.55em;
		}
		img, .img{
			width: 6em;
			height: 5em;
			clear: both;
			margin-left: 1em;
		}
		.img{
			display: inline-block;
    		background-position: center center;
    		background-repeat: no-repeat;
    		background-size: 100% 100%;
		}
	}
	.infos{
		float: left;
		margin-left: 1em;
		.title{
			color: $mc-report-color;
			font-weight: bold;
		}
		.price{
			font-size: 0.9em;
		}
		.chatWithUser{
			font-size: 0.8em;
    		margin-top: 0.8em;
    		color: grey;
		}
	}
	.icon-delete{
		right: 1.2em;
		top: 2em;
	}	
	.icon-report{
		right: 1em;
		bottom: 1.3em;
	}
}

@include in-breakpoint($no-break){
	.sticky-mc{
		text-align: center;
		height: 4.4em;
		padding: 0.7em 1em;
		.thumbnail{
			margin-top: -1em;
			.icon-Left{
				position: relative;
				z-index: 50;
			}
			img, .img{
				display: none;
			}
		}
		.infos{
			width: 100%;
			margin: 0 auto;
			margin-top: -2.5em;
		    padding: 0 2em;
			.title{
				width: 100%;
			}
			.price{
				display: none;
			}
			.chatWithUser{
				color: grey;
				margin-top: 0em;
			}
		}
		.icon-delete{
			top: 0.5em;
		}	
		.icon-report{
			bottom: 0.5em;
		}
	}
	.wrap .my-top-navigation{
		display: none;
	}
	.conv-mc{
		.user-icon{
		  height: 3em;
		  width: 3em;
		}
		.msg-title{
		  width: 50%; 
		}
		.user-name{
		  left: 4.6em;
		  width: 40%;
		}
		.user-name-prefix{
		  width: 45%;
		}
		.conv-title{
		  left: 5em;
		}
		.msg-desc{
		  left: 5em;
		  width: 45%; 
		}
		.conv-title {
		  width: 50%;
		}
	}
	.replyMessages{
		.msg-info{
			margin-top: -3.5em;
			margin-bottom: 1.3em;
			margin-left: 5em;
		} 
		.left-container{
			margin-bottom: 1.5em;
		}
		.report_msg{
			//@include custom-ellipsis (4.3em, 1.5em, false, false);
		}
		.reply-msg-container{
			margin-top: -1em;
		}
	}
}

@include from-breakpoint($small-break){
	.user-icon{
	  height: 4em;
	  width: 4em;
	}
	.msg-title{
	  width: 80%; 
	}
	.user-name, .user-name-prefix{
	  width: 80%;
	}
	.msg-desc{
	  width: 80%;
	}
}

@include to-breakpoint($small-break){
	#mgsListUl{
		.mc-content.sent{
			float: right;
			.mc-userReplyImg{
				right: 0em;
			}
		}
	}
} 

@include from-breakpoint($medium-break){
	#mgsListUl .mc-content.sent{
		float: right;
	}
}
 
@include in-breakpoint($small-break){
  	.header .right.isMcEnabled .nav.touched{
  		ul{
  			left: 0;
  		}
  	}
  	.sticky-mc .infos{
  		width: 86%;
	    padding: 0 1em 0 6em;
	    margin-left: 3.5em;
	    margin-top: -5.5em;
  	}
}

@include in-breakpoint($medium-break){
	.sticky-mc .infos{
  		width: 93%;
    	padding: 0 1em 0 6em;
	    margin-left: 3.5em;
	    margin-top: -5.5em;
  	}
}

@include in-breakpoint($large-break, $lt-ie9-class-name){
	.msg-desc{
	  width: 90%;
	}
}

.wrap-right{
  width: 90%;
}

.truncate {
  //max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-name, .user-name-prefix{
  color: $mc-report-color;
  position: absolute;
  top: 1em;
  font-size: 1.1em;
  left: 5.4em;
}

.conv-title{
  position: absolute;
  top: 2.5em;
  left: 6em;
  width: 70%;
  color: grey;
}

.re{

}

.msg-desc{
  position: absolute;
  top: 4.75em;
  left: 6em;
  width: 70%;
}

.msg-time{
  float: right;
  margin-top: 1em;
  margin-right: 1em;
}

.icon-delete, .icon-report, .icon-reported{
  float: right;
  cursor: pointer;
  position: absolute;
  bottom: 1em;
  width: 1.3em;
  height: 1.3em;
}

.icon-delete{
  right: 3em;
}
.icon-report, .icon-reported{
  right: 1em;
}

ul li[data-convadid]:first-child.isActive{
   margin-top: 0.5em;
}

.replyMessages, .control-title-reply{
	display: none;
}

.gl-messages{
	display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    padding: 1em 1em 1em 0;
    max-width: $mc-max-width;
    margin: 0 auto;
    .message{
    	@include to-breakpoint($small-break){
    		text-align: center;
    	}
    }
}

@include in-breakpoint($lt-ie9-class-name){
	.reply-msg-container{
		width: 82em;
	}
	textarea.article-content{
		width: 72em;
		min-width: 20%;
	}
	.sticky-mc .thumbnail img{
		//just to override the max-width: 100%;
		max-width: 6em;
	}
	.user-icon{
		height: 4em;
		width: 4em;
	}
	#mgsListUl .sent.mc-content .mc-userReplyImg{
		bottom: 10px;
	}
	.mc-userReplyImg{
		width: 4em;
		height: 4em;
	}
}

