<div id="ad-bottombanner"></div>

{{#partial "googleBannerAdsBottom_Script"}}
    {{#unlessMobile this.device}}
		BOLT.displayBanner( $.extend( {pos:"{{#if this.banners.bottom.pos}}{{this.banners.bottom.pos}}{{else}}bottom{{/if}}",slotDim: [[728,90],[970,250],[970,90]], slotId : 'ad-bottombanner' {{#if this.banners.bottom.adPos}}, adPos: '{{this.banners.bottom.adPos}}'{{/if}} },bP));
    {{/unlessMobile}}
{{/partial}}
