<div id="ad-bottombanner"></div>

{{#partial "googleBannerAdsBottom_Script"}}
    {{#unlessMobile this.device}}
		BOLT.displayBanner( $.extend( {pos:"1",slotDim: [[728,90],[970,250],[970,90]], slotId : 'ad-bottombanner', adPos: 'LB_1_HP'},bP));
    {{/unlessMobile}}
{{/partial}}
