@import "../../main/_styles.scss";
$pciPaymentContainerColor:rgba(255, 255, 255, .5) !default;
$pciPaymentContainerHintColor:#1E98D5 !default;
$pciPaymentContainerErrorColor:#F5797F !default;
$pciPaymentContainerSubmitTextColor:#FFFFFF !default;
$pciPaymentContainerSubmitDisabledColor:#FF9720 !default;
$pciPaymentContainerOneTouchConfirmColor:#FF9720 !default;
$pciPaymentContainerOneTouchConfirmHoverColor:#FCA949 !default;
$pciPaymentContainerOneTouchConfirmActiveColor:#EC8E22 !default;

.payment-container {
    max-width: 725px;
    button {
        @extend %p-regular;
        @extend %button-primary;
        margin: 0;
        margin-bottom: 1em;
        @include box-shadow(none);
        text-shadow: none;
        padding: .75em;
        color: $pciPaymentContainerSubmitTextColor;
        &:hover {
            background-image: none;
        }
    }
    &>ul {
        border-color:red;
    }
    li.payment-block {
        @extend %box;
        border-bottom:0px;
        margin:0;
        padding:1em;
        background:rgba(255,255,255,.5);
        &:last-child {
            border-bottom:1px solid #CCC
        }
        &.expand {
            background:#FFF;
            &>label {
                color:#333;
                border-bottom:1px solid transparent;
            }
        }
        &>label {
            height:100%;
            width:100%;
            display:block;
            font-size:1.4em;
            color:#999;
            &>div {
                display:inline-block;
                vertical-align:top
            }
        }
        &>div {
            margin:1em 0 0 0;
        }

    }
    .creditcard {
        label {
            @extend %p-regular;
            display: block;
            padding:0;
        }
        .none-container {
            display:none
        }
        #credit-card-details {
            border: 0;
            .cvv-icon {
                display: none;
            }
            label {
                &.error {
                    color: $pciPaymentContainerErrorColor;
                    line-height: 1.3em;
                    margin: .5em 0 0 0;
                    padding: 0 0 0 1.5em;
                }
                &.hint {
                    color: $pciPaymentContainerHintColor;
                    line-height: 1.3em;
                    margin: .5em 0 0 0;
                    padding: 0 0 0 1.5em;
                }
            }
            input {
                &.error {
                    @include box-shadow(none);
                    border-color: $pciPaymentContainerErrorColor;
                }
            }
        }
        #credit-card-type {
            label {
                &.card {
                    margin-right: 1em;
                }
            }
            #visa-electron {
                background-position:  0 -198px;
            }
            #mastercard {
                background-position: 0 -99px;
            }
            #visa {
                background-position: 0 -231px;
            }
            #american-express {
                background-position: 0 -33px;
            }
        }
        #security-code {
            float:none;
        }
    }
}
