<div class='vip-header-and-details'>

	<div class="vip-content-header">
		<div class="vip-sponsoredads">
            {{#block "AdsenseTop-Content"}}{{/block}}
		</div>

		<div class="vip-gallery">
            {{> (dynamic "viewPageGallery")}}
		</div>

		<div class="vip-title clearfix">
			<h1 class="item-title" {{#if this.advert.seoGroupName}} itemprop="name"{{/if}}>
				<span class="myAdTitle">{{this.advert.title}}</span>
                {{#if this.advert.isUrgent}}<span class="urgentBtn">{{i18n "feature.post.urgent"}}</span>{{/if}}
			</h1>
            {{#if this.advert.seoGroupName}}
				<meta itemprop="url" content="{{this.advert.seoVipUrl}}" />
            {{/if}}
		</div>

		<div class="vip-itemid">
            {{i18n "vip.page.itemid" this.advert.adId}}
        </div>

		<div class="price">
            {{> (dynamic "priceDisplay")}}
		</div>

        <div class="item-details">
            {{> (dynamic "adDetails")}}
        </div>

        {{#block "postItYourself"}}{{/block}}
	</div>

	<div class="vip-details">
        {{#block "attributes"}}{{/block}}
        {{#block "descriptionAndWebsiteUrl"}}{{/block}}
	</div>
</div>
