.isotope-item {
	&.two-by-two {
		width: 150px;
		height: 150px;
		background-color: yellow;
	}
	&.two-by-one {
		width: 150px;
		height: 75px;
		background-color: green;
	}

	&.one-by-one {
		width: 75px;
		height: 75px;
		background-color: red;
	}

	&.one-by-two {
		width: 75px;
		height: 150px;
		background-color: blue;
	}

	border: 1px solid black;
	box-sizing: border-box;
}