@import
"../../theme",
"../../../partials/pages/SearchPage/filters",
"../../../partials/pages/SearchPage/controls",
"../../../partials/pages/SearchPage/results",
"../../../partials/common/categoryListBase",
"../../../partials/pages/SearchPage/noResult",
"../../partials/common/adSense",
"../../partials/pages/ViewPage/sellerReputation",
"../../../partials/common/replyForm";
 @include abt1-seller-reputation;

@import "../../../partials/pages/SearchPage/pageMain",
"../../../partials/pages/SoiPage/pageMain",
"../../partials/pages/SearchPage/controls",
"../../partials/pages/SearchPage/results",
"../../partials/pages/SearchPage/searchPage";



 .abt1.vip-seller-container .vip-seller .usersince {
    color: $color-white;
    font-size: 14px;
    margin-left: 12em;
 
 }
 
 .abt1.vip-seller-container .vip-seller {
      margin-bottom: 1.8em;
 
 }
 
 
  @include in-breakpoint($no-break) {
      .abt1.vip-seller-container .vip-seller .user-avatar {
         margin-left: 2em;
         margin-right: 2em;
       }
    .abt1.vip-seller-container .vip-seller{
     .usersince {
         margin-left: 2em;
    }
    
    span.username{
      text-align: center;
      margin-left:0;
      margin-right:0;
     }
     }
  }
