   


$controls-button-padding: $small-padding / 2;
$controls-icon-size:20px;
$controls-slim-icon-size:14px;
$color-light-green:#90bf00;


.showDesktop, .showTablet
{
    display:none;
}

.controls{
    position:relative;
	margin: 0 0 20px 0;
	z-index: 1;
    
    span,a{
       //font-size:$fontSize-title;
    }
    .controlIcon
    {
        @include inline-block;
        width:$controls-icon-size;
        height:$controls-icon-size;
        background:{
            size: $controls-icon-size $controls-icon-size;
        }
    }
    .controlIconSlim
    {
        @include inline-block;
        width:$controls-slim-icon-size;
        height:$controls-icon-size;
        background:{
            size: $controls-slim-icon-size $controls-icon-size;
        }
    }

	a:hover,
	a:focus{
		text-decoration:none;
	}

    .left-column
    {
        div.filterButton{
            padding: $controls-button-padding $small-padding;
            .refine, .showDesktop{
               @include bold-text;
            }
            
         }
        .controlIcon
        {
            display:none;
            margin-left:$small-margin;
            margin-right:$small-margin;

        }
    }
    
    .cancel {
        display: none;
        color: #1867c3;
        float: right;
        margin-top: 15px;
        margin-right: 10px;
        cursor: pointer;
        font-weight: bold;
    }

	.right-column {
		text-align: right;
		.right-right-column {
			label {
				font-weight:bold;
				position:relative;
				top:4px;
				margin-right:0.5em;
			}
		}
		.view_as {
			float:left;
			padding:.4em 0 0 0;
			@include inline-block;
			// Add span
			// list views
			span.list-view,
			a.list-view {
				@include inline-block;
				padding-right:6px;
				.icon-icon_view-list {
					width:1.5em;
					height:1em;
					@include inline-block;
					@include opacity(0.5);
				}
				.text {
					color: #888888;
					font-weight:bold;
				}
			}
			// Add span
			// grid views
			span.grid-view,
			a.grid-view {
				@include inline-block;
				border-left:1px solid #CFCFA9;
				padding-left:6px;
				.icon-icon_view-grid {
					width:1.5em;
					height:1em;
					@include inline-block;
					@include opacity(0.5);
				}
				.text {
					color: #888888;
					font-weight:bold;
				}
			}
			span.list-view.active,
			a.list-view.active {
				.icon-icon_view-list {
					@include opacity(1.0);
				}
				.text {
					color: #222222;
				}
			}
			span.grid-view.active,
			a.grid-view.active {
				.icon-icon_view-grid {
					@include opacity(1.0);
				}
				.text{
					color: #222222;
				}
			}
		}

        .watchlist
        {
            text-align:left;
            @include inline-block;
            
            &.open
            {
                .controlButton
                {
                    background-image:none;
                    @include border-radius(5px 5px  0px 0px);
                    color:$color-white;
                }
                
                &.noFavs
                {
                    .list
                    {
                        ul,.email,.rightSide,.syncbutton.enabled
                        {
                            display:none;
                        }
                        .noADHint
                        {
                            display:block;
                        }
                    }
                }
                &.loading
                { 
                    .list 
                    {
                        .loader
                        {
                            background-color: $color-white;
                            display:block;
                            height:5em;
                            background:{
                                image: url(../../../../../images/loading-small.gif);;
                                position: center;
                                repeat: no-repeat;
                            }
                        }
                        ul,.noADHint
                        {
                            display:none;
                        }
                        
                    }
                }
                
                .list
                {
                    display:block;
                    .noADHint
                    {
                        
                        display:none;
                        padding:$large-padding $large-padding;
                        div
                        {
                            width:17em;
                            margin:0 auto;
                            >span
                            {
                                float:left;
                                &.desc
                                {
                                    margin-left:0.5em;
                                    width:15em;
                                }
                            }
                        }
                    }
                    
                    .loader
                    {
                        display:none;
                    }
                    
                }
            }

            .controlButton
            {
                @include secondary-button-new;
                cursor: pointer;
	            overflow: initial;
            }
            
            .list
            {
                display:none;
                
                position: absolute;
                margin-bottom:$medium-margin;
                top: 2.55em;
                @include box-shadow(0px 3px 5px $color-black-25);
                
                background-color: $color-white;
                
                .title
                {
                    padding:$medium-padding $large-padding;
                    color:$color-white;
                    .text
                    {
                        display:inline;
                        font-weight:bold;
                        //font-size:1.2em;
                    }
                    
                    .rightSide
                    {
                        white-space: nowrap;
                        float:right;
                        margin-left:0.5em;
                        .pipe
                        {
                            margin-left:0.3em;
                            margin-right:0.3em;
                        }
                        .viewAll,.clearAll{
                            cursor: pointer;
                            
                            color:inherit;
                            &:hover
                            {
                                background-color:transparent;
                                text-decoration:underline;
                            }
                        }
                    }
                }
                
                ul{
                    overflow-y: scroll;
                    max-height: 18em;
                    li.item
                    {
                        @include srp-result-link-bg-color;
                        
                        cursor: pointer;
                        @include box-shadow(0px 1px 1px $color-black-25);
                        padding:$medium-padding $medium-padding;
                        border-bottom: 1px solid gray;
                        
                        .thumb
                        {
                            float:left;
                            width:120px;
                            height:80px;
                        }
                        
                        div.thumb
                        {
                            font-size:2.5em;
                            line-height:2em;
                            text-align:center;
                            color: $color-black-10;
                            border: 1px solid $color-black-10;
                            
                            &.no-photo{
                              border: none ;
							  background-image: $srp-nophoto-imageurl;
							  background-position: center center;
							  background-repeat: no-repeat;
						    }
                        }
                        
                        .info
                        {
                            margin-left:130px;
                            
                            .location, .creationdate
                            {
                                //font-size:0.8em;
                            }
                        
                            .starIcon, .creationdate
                            {
                                float:right;
                            }
                            
                            .price
                            {
                                font-weight:bold;
                            }
                            
                            h2
                            {
                                @include ellipsis;
                                font-weight:bold;
                            }
                        }
                    }
                    
                }
                
                .bottom
                {
                    padding:$medium-padding 0 $medium-margin $medium-margin;
                    background-color: $controls-column-background-color;
                    
                    .syncbutton,.email
                    {
                        @include inline-block;
                        font-size: inherit;
                        font-weight: bold;
                    }
                    .syncbutton
                    {
                        padding: $medium-padding $large-padding;
                        &.enabled
                        {
                            @include secondary-button;
                        }
                        border: none;
                    }
                    .email
                    {
                        padding: $medium-padding 0em;
                        margin-left:$large-padding;
                        white-space:nowrap;
                        color:$button-secondary-text-color;
                        cursor: pointer;
                        &:hover
                        {
                            background-color: transparent;
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
	}
     } 
 

////////////////////////////////////////break points///////////////////////////////////////////
@include to-breakpoint($no-break){
	.controls {
		span,a {
			//font-size:$fontSize-link-selected;
		}
		.left-column {
			float:left;
			padding: $small-padding 0;
			div.filterButton {
				position: relative;
				&.open {
					@include border-radius(5px);
					padding: $medium-padding;
					&:after {
						right: 100%;
						top:2%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
					}
				}
			}
		}
		.right-column {
			padding: $small-padding 0;
			padding-top: 0.5em;
			.right-right-column {
				label {
					display:none;
				}
			}
			.select .label .text {
				display:none;
			}
			div.view_as {
				padding: 6px;
				.list-view,
				.grid-view {
					.text {
						display:none;
					}
				}
			}
			.watchlist .list .title .counts .itemCountText {
				display:none;
			}
		}
	}
	.wrap {
		.soi-sortby {
			.select .label .text {
				display:none;
			}
		}
	}
}


@include to-breakpoint($small-break){

	.controls{
		@include border-radius(5px);
	    &.smartStickyTop
	    {
	       @include box-shadow(0px 0px 3px $color-black);
	    }
		background: $rowHead-bg-color;
		.left-column{
			padding: $small-padding;
			div.filterButton{
			    height: 3em;
				cursor: pointer;
				@include ellipsis;
				@include search-control-button-style;
				overflow: visible;

                padding: $medium-padding;
                padding-top: 0.7em;
                &.btnactive{
                      background-color: $link-color;
                      color: $color-white;
                }
                 &.open{
                    background-color: $link-color;
                    color: $color-white;
                    padding: $medium-padding;
                    padding-top: 0.7em;
                     &:active {
                       background-color: $link-color;
                    } 
                    .icon-remove
                    {
                        @include inline-block;
                        vertical-align:text-bottom;
                    }
                    .icon-caret-down-white {
	                     
	                      @include inline-block;
	                     
                    }
                    
                    .icon-filter-icon-gray,.icon-caret-left-white
                    {
                        display:none;
                    }
                }
                
                 .icon-caret-down-white, .icon-caret-down, .icon-filter-icon-gray{
                     display:none;
                 }
                                 
                .icon-caret-left-white
                {
                    @include inline-block;
                    vertical-align:text-bottom;
                }
			}
		}
		.right-column
		{
			.right-right-column{
				label {
					display:none;
				}
			}
			padding: $small-padding;
			.view_as{
				padding: 0.3em;
			}
			.watchlist
			{
				.controlButton {
					padding: $medium-padding;
				}
				.list
				{
					width:100%;
					left:0em;
				}
			}
		}
	}
	.sorter {
		display:none;
	}
 }



@include from-breakpoint($small-break, $lt-ie9-class-name){
    .filters {
	    display: none;
	}  
	.controls{
		@include border-radius(5px);
        padding:0;

		.left-column{
			float: left;
		}
		
		.cancel {
            display: none;
        }

		.right-column{
            float: right;
        }

	}
	
}



@include in-breakpoint($small-break){
    .showTablet {
        display:inline;
    }
	.controls{

		.left-column{
			padding: $small-padding;
			@include span-columns(2, $small-break);
		}

		.right-column{
			padding: $small-padding;
			@include span-columns(4, $small-break);
			margin-right: 0;
		}

	    .soi {
	    	width:100% !important
	    }

	}
}

@include from-breakpoint($medium-break, $lt-ie9-class-name) {
	.filters {
		display: block;
	}
	.showTablet,.showDesktop {
		display:inline;
	}
	.controls {
		.left-column {
			@include border-radius(5px);
			padding: $small-padding*4 0 0.79em $small-padding;
			background-color: $controls-column-background-color;
			@include span-columns(2, $medium-break);
			padding-left:$medium-padding;
			div.filterButton {
				.icon-caret-down {
					display:none;
				}
				.icon-caret-left-white {
					display:none;
				}
			}
		}
        
		.right-column {
			@include border-radius(5px);
			padding: .55em 0;
            padding-left: 1em;
			background-color: $controls-column-background-color;
			@include span-columns(7, $medium-break);
			margin-right: 0;
			.watchlist {
				margin-right:1em;
				.controlButton {
					padding: 0.4em .5em 0.2em .5em;
				}
				.list {
					width: 30em;
					right: 0em;
					top: 2.9em;
				}
			}
		}
		.soi {
			width:100% !important
		}
	}
}


@include from-breakpoint($large-break, $lt-ie9-class-name){
    
	.controls{

		.left-column{
			@include border-radius(5px);
			@include span-columns(3, $large-break);
		}

		.right-column{
			@include border-radius(5px);
			@include span-columns(9, $large-break);
			margin-right: 0;
		}

		.soi {
			width:100% !important;

		}

	}
}




@include in-breakpoint($lt-ie10-class-name){
	.controls .left-column {
		padding-bottom: 0.75em;
	}
	.controls .right-column {
		padding-bottom: 0.3em;
	}
}

@include in-breakpoint($lt-ie9-class-name){
	.controls .sorter ul{
		border: 1px solid lighten($color-black, 50%);
	}
}
