
$controls-button-padding: $small-padding / 2;
$controls-icon-size:20px;
$controls-slim-icon-size:14px;
$color-light-green:#90bf00;

.icon-caret-down, .icon-caret-left,.icon-caret-left-white,.icon-caret-up,.icon-chevron-right-white, .icon-chevron-right-blue,.icon-remove,.icon-caret-down-white{
      background-size:contain;
      width: 0.7em;
      height:1em;
      vertical-align: middle;
}
.filters {
    
    .icon-chevron-right-white, .icon-chevron-right-blue,.icon-remove{
      display:inline-block;
    }
    .icon-remove{
      width: 1em;
      height:1.5em;
      margin-top:.1em;
    }
	.count {
		color: $filter-count-color;
		margin-left: 0.25em;

		&:before {
			content: "(";
		}
		&:after {
			content: ")";
		}
	}
	.current .text{
	   //font-size:$fontSize-link-selected;
	}
    form>ul
    {
        border-bottom: 1px solid #cacaca;
        border-bottom: 1px solid $color-black-15;
    }
    
    
    .interlinks,
    .sortby-filter,
    .category-filter,
    .location-filter,
    .attributes-filter {
        //border-top: 1px solid #cacaca;
		border-top: 1px solid transparent;
        //border-top: 1px solid $color-black-15;
        padding: 0.5em 1em;

       
         .icon-caret-down{
            display:inline-block ;
         }
    
        .icon-caret-left{
          display:none;
        }

        &.collapse
        {
            .icon-caret-down{
                display:none;
            }
            .icon-caret-left{
                 display:inline-block;
            }
        }

		&.selected,
		&.collapse {
			.title .titleControl .currentStatus, .title .label.text {
				@include inline-block;
				margin-right:$small-margin;
			}
		}

		.title{
            white-space:nowrap;
            color: $filters-color;

            padding: 0.25em 0em;

            cursor:pointer;

            &.unclickable
            {
                cursor:auto;
            }

            &:hover
            {
                background: $filter-title-hover-background;
            }

            .titleText {
                @include bold-text;
                float:left;
            }

            .titleControl
            {
                float:right;
                .currentStatus
                {
                    @include bold-text;

                    color: $color-black;
                    display:none;
                    &.any
                    {
                        color: darken($color-white, 40%);
                    }
                }
              }  
               .label{
                  float:right;
                     span.text{
                      @include bold-text;
                      color: $color-black;
                    }
                } 
           }

        .current {
            @include bold-text;
        }

		ul.foldableList, ul.subs {

			padding-left: 1em;
			li.selectOption, li.item {
				position:relative;
				padding-right:3.85em;
				.text {
					@include ellipsis;
					display:block;
					line-height: 2em;
				}
				.count {
					position:absolute;
					right:0.25em;
					top:0px;
				}
			}
			.showmore {
				.text_less {
					display:none;
				}
				display:none;
				cursor: pointer;
				.text_more {
					display:inline;
				}
				.icon-caret-down {
					display:inline-block;
				}
				.icon-caret-up,.text_less {
					display:none;
				}
				color: $filters-color;
				line-height: 2em;
			}
			&.collapse {
				.icon-caret-down,.text_more {
					display:none;
				}
				.text_less {
					display:inline;
				}
				.icon-caret-up {
					display:inline-block;
				}
			}
		}

		.hierarchy
		{
            line-height: 2em;

            &:nth-child(2)
            {
                margin-left: 1em;
            }
            &:nth-child(3)
            {
                margin-left: 1.5em;
            }
            &:nth-child(4)
            {
                margin-left: 2em;
            }
            &:nth-child(5)
            {
                margin-left: 2.5em;
            }
            .subs
            {
                padding-left: 0;
            }
		}
	}
    
    
	.values-filter, .dropdown-filter {
	
	    .icon-chevron-right-white, .icon-chevron-right-blue{
	         
	          margin:-.2em 0 0 0 !important;
        }
        border-top: 1px solid #cacaca;
        border-top: 1px solid $color-black-15;
        padding: 0 1em;
	}
	
	.field {
        padding: 0.5em 0;

        display: block;
        color: $color-black-50;

        label {
            margin-right: 0.1em;
            color: $filters-color;
            @include bold-text;
            display:block;
            min-width: 22%;
        }

        input,select {
            width: 33%;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                @include appearance(none);
            }
        }

        span {
            margin: 0 0.05em;
            &.icon-chevron-right
            {
                margin:0 0;
            }
        }

        button {
            margin-left: 0em;
            @include appearance(none);
            /* TODO figure out if secondary button can be removed */
            @include secondary-button;
            @include filter-field-button;
            &:hover,
            &:focus{ color:white !important; }
            float:right;
            padding-top:.2em;
        }
    }
	
	.values-filter
	{
	   &.min,&.max
	   {
	       input
	       {
               width: 75%;
           }
	       .devideLine{
               display:none;
           }
	   }
	   &.min
	   {
	       .max{
               display:none;
           }
	   }
	   &.max
       {
           .min{
               display:none;
           }
       }
	}
	.dropdown-filter {
	   select
	   {
           @include bold-text;
           padding:2px 0;
	   }
	}
}

 .sortby-filter{
   .icon-caret-down{
            display:inline-block ;
         }
 
 }
// no break
@include to-breakpoint($small-break) {

	/*
	.sortby-filter{
		li.subtitle{
			span:first-child.text{
				display:none;
			}
		}
	}
	*/

	.filters {
		position: absolute;
		left: 0;
		margin-top: - 1.25em;
		width: 100%;
		padding: 0;
		@include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
		@include span-columns($total-columns, $total-columns);
		@include border-radius(5px);
		display: none;
		background-color: transparentize($color-white, 0.05);
		&.visible {
			display: block;
			z-index: 100;
		}
		ul.foldableList {
			li {
				line-height:2em;
			}
		}
		.values-filter,
		.dropdown-filter {
			text-align:middle;
		}
		.field {
			button {
				padding:0.7em 1.2em;
			}
			input,
			select {
				padding:0.2em 0.2em;
			}
		}
	}
}

// small break (tablet);
@include in-breakpoint($small-break) {
	.filters {
		@include span-columns(5, $small-break);
		display: none;
		ul.finalsub {
			@include columns(1);
		}
	}
}

// medium break (large tablet)
@include in-breakpoint($medium-break) {
	.filters {
		// We need the next rule othewise the flow will break
		@include span-columns(2, $medium-break);
		.interlinks,
		.category-filter,
		.location-filter,
		.attributes-filter {
			.title {
				.titleControl .currentStatus {
					@include ellipsis;
					max-width:75px;
				}
			}
		}
	}
}

@include from-breakpoint($medium-break){
	.wrap .sorter .sortby-filter {
		position:relative;
		margin-right:20px;
		.icon-caret-down {
			top:4px;
			right:-25px;
			height:30px;
			width:30px;
			position:absolute
		}
	}
}

//from medium break

@include from-breakpoint($medium-break, $lt-ie9-class-name){

	.wrap{
		.sorter{
			.titleControl .text.currentStatus {
				display:inline;
			}
			ul.foldableList, ul.subs, ul {
				padding-left: $small-padding;
				li.item {
					padding-right:0em;
					.text {
						display:inline;
					}
				}
			}
		}
		.controlIcon{
			@include inline-block;
			width:$controls-icon-size;
			height:$controls-icon-size;
			background:{
				size: $controls-icon-size $controls-icon-size;
			}
		}
		.controlIconSlim {
			@include inline-block;
			width:$controls-slim-icon-size;
			height:$controls-icon-size;
			background:{
				size: $controls-slim-icon-size $controls-icon-size;
			}
		}
		.select {
			@include inline-block;
			text-align:left;
			.sortby-filter{
				border-top: none;
			}
			.title{
				padding: 0em;
				&:hover{
					background: none;
				}
				.titleText{
					display: none;
				}
			}
			&.showbutton {
				@include secondary-button-new;
				overflow: inherit;
				.titleText {
					span:first-child.text {
						display: none;
					}
				}
				.label {
					cursor: pointer;
					overflow:hidden;
					padding: .4em 1em 0 1em;
					height: 2.5em;
					span.text {
						font-weight: normal;
						font-size: 1.3em;
						margin:0 0 0 4px;
					}
					.icon-caret-left{
						display:none;
					}
				}
				&:hover {
					ul {
						display: block;
						li {
							padding: 0.5em 1em;
						}
					}
				}
			}
			.label {
				.over {
					display:none;
				}
				.out {
					vertical-align:text-bottom;
				}
				.text {
					padding-left:$small-padding;
				}
			}
			ul {
				position: absolute;
				padding:$small-padding $small-padding;
				display: none;
				background-color: white;
				@include border-radius(5px);
				@include box-shadow(0px 3px 5px $color-black-25);
				&.foldableList {
					display: none;
				}
				li {
					white-space: nowrap;
					display: block;
					&:hover {
						text-decoration:none;
					}
					&.item {
						border-top:1px solid lighten($color-black, 65%);
						&:hover {
							background-color: $color-black-10;
						}
						&:first-child {
							border-top:0px;
						}
						.text {
							@include inline-block;
						}
					}
				}
			}
		}
	}
}


// large break
@include from-breakpoint($large-break, $lt-ie9-class-name) {
	.sidePanel {
		float: left;
		@include span-columns(3, $large-break);
	}
	.filters {
		// We need the next rule; othewise the flow will break
		@include span-columns(3, $large-break);
		.interlinks,
		.category-filter,
		.location-filter,
		.attributes-filter {
			.title {
				.titleControl .currentStatus {
					@include ellipsis;
					max-width:230px;
				}
			}
		}
	}
}

@include in-breakpoint( $lt-ie9-class-name){
	.sortby-filter,
	.filters,
	.values-filter,
	.dropdown-filter {
		.icon-caret-down,
		.icon-caret-left,
		.icon-caret-up {
			margin-top: -1em;
			margin-left: 0.5em;
			width: 1.25em;
			height: 1.5em;
		}
	}
	.filters .sorter {
		display:none !important;
	}
	.wrap .select.showbutton {
		margin-top:-3px;
	}
}


.filters {
	.sorter.select {
		display:none;
	}
}
@include to-breakpoint($medium-break) {
	.filters {
		ul.sorter.select.showbutton {
			display:inline-block;
			width:100%;
		}
	}
	.right-right-column {
		ul.sorter.select.showbutton {
			display:none;
		}
	}
}
@include from-breakpoint($medium-break) {
	.filters {
		ul.sorter.select.showbutton {
			display:none;
		}
	}
	.right-right-column {
		ul.sorter.select.showbutton {
			display:inline-block;
		}
	}
}