@import "../../partials/common/featurelegendCommon";
@import "../../partials/common/featurelegendPopup";
$legend-height-without-bump-up: 17.25em;
$legend-height-all-features: 26.8125em;
@mixin featurelegend_default {
	.feature {
		@include ng-cloak();
		&.expand.standalone {
			display:none;
		}
	}
	@include featurelegendCommon;
	.hide-on-mobile {
		display: none;
	}
	.banner-header {
		display: none;
	}
	.myads-title.prefix {
		display: none;
	}
	.myads-title.bold {
		font-size: 1.4em;
		top: 0;
		margin-top: 15px;
	}
	.feature-legend,
	.feature-legend-static {
		background-color: $feature-legend-bg-color;
		padding: 0.5em;
		float: left;
		width: 100%;
		@include clearfix;
		@include border-radius(5px);
		height: 108px;
		.desktop-tablet {
			display: none;
		}
		.mobile {
			display: block;
			text-align: center;
			overflow: auto;
			height: 100%;
			background-color: $feature-legend-bg-color;
			.title {
				color: $feature-legend-color-title-accent;
				font-size: 1.2em;
			}
			.desc {
				font-size: 0.8em;
				line-height: 2.5em;
				@include ellipsis;
			}
			.icon-close_icon {
				display: none !important;
			}
			.learn-more {
				color: $feature-legend-color-title-accent;
				display: block;
			}
			.caret {
				width: 0px;
				height: 0px;
				border-style: solid;
				margin-top: -15px;
				margin-right: 10px;
				float: right;
			}
			.caret-down {
				border-color: $feature-legend-color-title-accent transparent transparent transparent;
				border-width: 12px 14px 0 14px; // @ur: 10px 8px 0 8px;
				display: block;
			}
			.caret-up {
				border-color: transparent transparent $feature-legend-color-title-accent transparent;
				border-width: 12px 14px 12px 14px; // @ur: 10px 8px 10px 8px;
				margin-bottom: 1em;
				clear: both;
				display: none;
			}
			.mobile-features {
				display : none;
				&.expand {
					display: block;
					height: 100%;
					width: auto;
					margin: 0 auto;
					padding: 0 0 10px 0;
					background-color: $feature-legend-bg-color;
					color: black;
					z-index: 10;
					.non-feature-name {
						display: block;
						color: black;
						font-size: 10pt;
					}
					.title {
						font-size: 1em;
					}
					.description {
						line-height: 1.5em;  // @ur
					}
					.feature {
						text-align: center;
						border-bottom:1px solid $feature-legend-separator-color;
					}
					// Icon for feature (left side).
					.feature-icon {
						float: left;
						clear: both;
						width: 20%; // @ur: 48px;
						height: 60px; // @ur: 48px;
						background-position: center center;
						margin-top: 4px; // @ur: 5px;
						margin-left: 20px;
						margin-bottom: 4px; // @ur
					}
					.feature-summary {
						float: left;
						width: 55%;
						padding: 5px 0;
						margin-left: 24px;
						text-align:left;
					}
					.feature-separator {
						width: 95%;
						margin: 0 auto;
						background-color: $feature-legend-separator-color;
						height: 2px;
						clear: both;
					}
				}
			}
		}
		.icon-close_icon {
			display: none;
			position: absolute;
			top: 0.65em;
			right: 0.5em;
			cursor: pointer;
			width: 20px;
			height: 20px;
		}
		.feature {
			@include span-columns(5, 25);
			margin-top: 10px;
			text-align: center;
		}
		.feature.last {
			@include span-columns(5 omega, 25);
		}
		.feature-name {
			font-size: 1.25em;
			font-weight: bold;
			margin-bottom: 0.25em;
		}
		.short.description {
			color: $feature-legend-color-title-accent;
			display: block;
			clear: both;
		}
		.icon-feature-caret-down {
			height: 6px;
			width: 10px;
			float: right;
			margin-top: 7px;
			margin-left: 5px;
		}
		.learn-more {
			display: inline-block;
			span {
				float: left;
			}
		}
		.close { display: none; }
		.for-tooltip { display: none; }
		.tip {
			display:block;
			padding-bottom:$medium-padding;
			.tip-label {
				color: $feature-legend-color-title-accent;
			}
		}
		&.expand {
			position: relative;
			background-color: white;
			margin: 0 auto;
			float: none !important;
			overflow: auto;
			height: 100%;
			width: 100%; // 395px; //420px;
			z-index: 10;
			padding: 0;
			
			.feature.show {
				display: block;
			}
			// For new design - header is 110px.
			.mobile-header {
				height: 75px; //bolt-8775
			}
			.title {
				padding-top: 8px;
			}
			.caret-down, .learn-more {
				display: none;
			}
			.caret-up {
				display: block;
			}
			.icon-close_icon {
				display: inline-block;
				top: 0.5em;
			}
			/*.open-and-close-links {
				display: none;
			  }*/
			.feature, .feature.last {
				@include reset-columns();
				display: inline;
			}
			.desktop-tablet {
				.title {
					margin: 0;
					padding: 0;
					height: 35px;
					line-height: 24pt;
					letter-spacing: 0;
					background-color: $feature-legend-dialog-title-bg-color;
					font-weight: bold;
					color: white;
					text-align: center;
					border-radius:0 5px 0 0;
				}
				.for-tooltip {
					display: block;
					margin: 0 10px 10px 10px;
					text-align: left;
					ul {
						list-style: disc inside;
						margin: 10px 0;
						padding: 0;
						li {
							display: list-item;
							width: 100%;
							text-align: left;
							line-height: 24pt;
							letter-spacing: 0;
						}
					}
					.tip {
						font-size: 11pt; // 13pt;
						line-height: 15.6pt;
						.tip-label {
							color: $feature-legend-tip-color;
						}
					}
					.asset-container {
						margin: 0;
					}
				}
				.icon {
					display: none;
				}
				.short.description {
					display: none;
				}
				.learn-more { display: none; }
				.close { display: block; }
			}
		}
		.description {
			font-size: 0.6em;
			font-weight: bold;
			line-height: 1em;
		}
	}
	.feature-legend-static {
		display: none;
		cursor: default !important;
	}
	
	@include in-breakpoint($no-break) {
		.feature-legend-container {
			overflow: hidden;
		}
		.feature-legend-static {
			display: none !important;
		}
	}
	
	.feature-legend-container {
		position: relative;
		margin-top: 1em;
	}
	.non-feature-name, .hp {
		display: none;
	}
    .feature .title, .non-feature-name {
      //text-align: left;
    }
	
	
	
}
@mixin featurelegend_medium {
	.banner-header {
		display: block;
		text-align: center;
		font-weight: bold;
		margin-top: 5px;
		.first {
			font-size: 1.250em;
			line-height: 1em;
		}
		.second {
			font-size: 1.125em;
			font-weight: normal;
			line-height: 1.8em;
			margin-bottom: -10px;
		}
	}
	.hide-on-mobile {
		display: inline;
	}
	.header-myad {
		height: auto;
	}
	.heading-bar {
		height: 14.8em;
		.banner-header {
			margin-top: 1em;
			margin-bottom: 15px;
		}
	}
	.feature-legend-container {
		margin: 1em 0 0 0;
	}
	.feature-legend,
	.feature-legend-static {
		height: auto;
		
		.desktop-tablet {
			display: block;
			.feature {
				cursor: pointer;
			}
		}
		.mobile {
			display: none !important;
		}
		.title {
			color: $feature-legend-color-title-accent;
			font-size: 1.25em;
			margin-top: -8px;
			margin-bottom: 5px;
		}
		&.expand {
			position: absolute;   
			left: 0;   
			right: 0;
			width:$feature-legend-popup-width;
			height:auto;
			overflow:hidden;
			z-index: 10;
			-webkit-box-shadow: $feature-legend-shadow;
			-moz-box-shadow: $feature-legend-shadow;
			box-shadow: $feature-legend-shadow;
			
			&.standalone {
				width:$feature-legend-popup-width;
				background-color:transparent;
				position:absolute;
				border:0;
				margin-left:50%;
				left:-($feature-legend-popup-width/2);
				.feature {
					display: none;
				}
				.show {
					display: block;
					border:0px solid transparent;
					border-right:1px solid #EEEEEE;
					margin: 0 auto;
					width:100%;
					background-color:white;
					padding-bottom:0.25em;
				}
			}
			&.aux-expand {
				.feature {
					display: none;
				}
				.feature:first-child {
					display: inline !important;
				}
			}
		}
		.short.description {
			font-size: 0.857em;
			color: black;
		}
		.icon {
			width: $feature-legend-small-icon-width;
			height: $feature-legend-small-icon-height;
			margin-left: auto;
			margin-right: auto;
		}
		.learn-more {
			font-size: 0.688em;
			color: $feature-legend-color-title-accent;
		}
	}
	.non-feature-name {
		display: block;
        text-align: inherit;
		font-weight: normal;
	}
	.hp {
		display: none;
		font-weight: bold;
	}
}
@mixin featurelegend_large {
	.feature-legend, .feature-legend-static {
		.title {
			margin-bottom: 5px;
		}
		.icon {
			width: $feature-legend-icon-width;
			height: $feature-legend-icon-height;
		}
	}
	.feature-legend.expand {
		width: $feature-legend-popup-icon-width;
		border-right: 1px solid lightgray;
		
		&.aux-expand {
			.feature {
				display: none;
			}
			.feature:first-child {
				display: inline;
			}
		}
	}
	.hp {
		display: inline;
	}
}
.feature-legend-static {
	.learn-more, a, a:hover {
		cursor: default !important;
	}
}
@mixin feature-legend-ltie9 {
	.feature {
		@include ng-cloak();
	}
	.feature-legend-container{
		.feature-legend {
			overflow: hidden;
			&.expand {
				overflow:hidden;
			}
			&.base{
				height: auto;
				border: 1px solid #e3e3c9;
			}
			.feature-legend-static{
				height: 205px;
			}
		}
	}
}