@mixin featurelegend_popup_images {
	.asset-container {
		background-repeat: no-repeat;
		width:  $feature-legend-popup-icon-width;
		height: $feature-legend-popup-icon-height;
		.bump-up &,
		.bumpUp &,
		.bumpUpXY & {
			background-image: $feature-legend-popup-icon-bumpup;
		}
		.urgent & {
			background-image: $feature-legend-popup-icon-urgent;
		}
		.highlight & {
			background-image: $feature-legend-popup-icon-highlight;
		}
		.topAd &,
		.topcommercials & {
			background-image: $feature-legend-popup-icon-topads;
		}
		.homepage-gallery &,
		.hpGallery & {
			background-image: $feature-legend-popup-icon-homepage-gallery;
		}
		.websiteurl & {
			background-image: $feature-legend-popup-icon-websiteurl;
		}
		.category-gallery &,
		.srpGallery & {
			background-image: $feature-legend-popup-icon-category-gallery;
		}
	}
}