@mixin featurelegendCommon {
	.promote {
		color: $selectall-text-color;
		background-color: $selectall-hl-color;
		@include border-radius(5px);
		padding: 5px;
	}
	.feature-table {
		.promote {
			margin: 0 -20px;
			padding: 10px 20px 10px 20px;
			text-align: right;
			label {
				input {
					vertical-align:middle;
					margin-top:0;
					top:0;
				}
			}
		}
	}
}
