/**
 * CSS rules for Password Strength bars
 */
.progress {
  overflow: hidden;
  height: 7px;
  width: 100%;

  /* Progress bar container for each of the separate bars */
  .bar-cont {
    vertical-align: top;
    border: 1px solid #EEEEEE;
    margin-right: 2px;
    height: 5px;
    width: 24%;
    background-color: #C0C0C0;

    /* For IE8, 9 */
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }

  /* Generic rule for all progress bars */
  .bar {
    height: 100%;
    color: #ffffff;
    float: left;
    background-color: #DD514C;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);

    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
  }

  /* Progress bar status rating indications (e.g., color, etc) */
  &.progress-weak .bar-cont .bar {
    background-color: #DD514C;
  }

  &.progress-fair .bar-cont .bar {
    background-color: #FAA732;
  }

  &.progress-good .bar-cont .bar {
    background-color: #A7BE5F;
  }

  &.progress-strong .bar-cont .bar {
    background-color: #5EB95E;
  }
}

/* Password rating text */
.password-rating {
  font-weight: bold;
  font-size: 0.9em;
}

.password-rating.short,
.password-rating.weak {
  color: #DD514C;
}

.password-rating.fair {
  color: #FAA732;
}

.password-rating.good {
  color: #A7BE5F;
}

.password-rating.strong {
  color: #5EB95E;
}

/**
 * <IE9 specific
 */
@include in-breakpoint($lt-ie9-class-name) {
  .progress {
    width: 300px;
  }
}

