@import
"../pages/PaymentPage/creditCardForm";

.VatComponent {
  @extend %p-regular;
  @extend %box;
  @include border-radius(3px);
  @include form_styles;
  max-width:725px;
  padding-right: 3em;
  label {
    display: block;
  }
  input[type='radio'] {
    @include radio-input;
  }
  input[type='checkbox'] {
    @include checkbox-input;
  }
  input[type='text'],
  textarea {
    width: 100%;
  }
  textarea {
    @include form_default;
    height:6.75em;
  }
  fieldset {
    position:relative;
    border:1px solid #EEE;
    border-radius:3px;
    margin:1em 0;
    min-width:270px;
    padding:0 0 0 0.5em;
    legend {
      float:right;
      margin:0;
    }
    pre {
      font-family:inherit;
      font-size:0.85em;
      overflow:scroll;
    }

  }
  @include from-breakpoint($small-break, $lt-ie9-class-name) {
    @include creditcardform_medium;
  }
  .warn {
    display:none;
  }
  input.warning {
    color:#FFCC00;
    border:1px solid #FFCC00;
    &+ span.warn {
      color:#FFCC00;
      display:block;
    }
  }
  .field {
    margin:1em;
    min-height:1.5em;
    &.selected {
      width: 75%;
      display:inherit;
    }
  }
  .icon-pencil-button {
    @include secondary-button-new;
    margin-left: 0.5em;
    padding: 0.4em 1em;
    position:absolute;
    right:1.5em;
    top:1.5em;
    .icon-pencil {
      display:inline-block;
      background-size:contain;
      width: 1em;
      height:1em;
      margin-top: -0.125em;
    }
    &.on {
      background-color:yellowgreen;
    }
  }
  button {
    padding:0.5em;
    @extend %button-primary;
    //@include form-submit-button;
    &.disabled {
      @include form-submit-button-disabled;
      @include box-shadow(none);
    }
    width: 40%;
    margin-left:1em;
    float:right;
  }

  // states (set state on component level to hide non-matching states)
  &.novat .editor,
  &.novat .readonly,
  &.editor .readonly,
  &.editor .novat,
  &.readonly .editor,
  &.readonly .novat {
    display:none;
  }
  &.novat .novat,
  &.editor .editor,
  &.readonly .readonly,
  {
    display:block;
  }


}