.sectionMenuWrapper {
	overflow: hidden;
	height: 45px;
	@include from-breakpoint($small-break) {
		font-size: 1.3em;
	}
}

.sectionMenu {
	white-space: nowrap;
	overflow: scroll;
	margin-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	li, a {
		display: inline-block;
	}
	a {
		font-size: 14px;
		text-transform: uppercase;
		padding: 4px 14px;
		color: $secmenu-link-color;
		&.active {
			color: $headerBlue;
			border-bottom: 6px solid $headerBlue;
		}
		&:hover {
			text-decoration: none;
			font-weight: bold;
			color: $headerBlue;
			border-bottom: 6px solid $headerBlue;
			cursor: pointer;
		}
	}
}
