.sm-ul {
  width: 16.5em;
}

// mobile porait
@include in-breakpoint($no-break) {
	
	.bestof {
		 #sm { 
			width: 97%;
			float: none;
			margin: 1em 1em 1em 0.1em;
		}
		
		#sm .sm-ul li {
			margin-left:0em;
		}

	}
}