<div class="image-container">
	<div id="photo-0" class="cover-photo-big no-photo">
		<div class="delete-wrapper">
			<div class="icon-photo-close"></div>
		</div>
		<div class="photo-wrapper">
			<div class="icon-camera-v2"></div>
			<div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div>
		</div>
	</div>
</div>
