@import
    //'swatches',
    '../palette',
    "../../partials/base",
    "../../partials/main/theme",
    "../typography-scale";

$container-width: 73em;

$bodyFont: Lato;    // attach this to body element
$bodyFontSecondary: Lato;    // attach this to body element

// Headlines
$gum-h1: bold 1.5em $bodyFont;      // 24px
$gum-h2: normal 1.5em $bodyFont;    // 24px
$gum-h3: normal 1.25em $bodyFont;   // 20 px
$gum-h4: normal 1em $bodyFont;      // 16 px

$h1: $gum-h1;
$h2: $gum-h2;
$h3: $gum-h3;
$h4: $gum-h4;

$h1-color: $gumBlack;
$h3-secondary-color: $gumOrange;

// Paragraphs
$gum-p1: normal 0.875em $bodyFont;  //14px
$gum-p2: normal 0.75em $bodyFont;   //12px
$gum-p3: normal 0.625em $bodyFont;  //10px

$p1: $gum-p1;
$p2: $gum-p2;
$p3: $gum-p3;

$p2-secondary-color: $gumGray1;

$safety-card-background-color: #1E98D5;
$common-background-color: color(foxtail, medium);
$recent-activity-background-color: $gumWhite;

// Primary link
$primary-link-color: $gumBlack;
$primary-link-font: bold 1.5em $bodyFont;

// Secondary link
$secondary-link-color: $gumOrange;
$secondary-link-font: bold 1em $bodyFont;

// Tertiary link
$tertiary-link-color: $vivaWhite;

// SEO h1 tag
$seo-bordercolor: #FAFAFA;

//Page
$gumtree-bg-color: color(foxtail, medium);
$gumtree-bg-container-color: color(foxtail, light);
$page-bgcolor : $vivaWhite;
$page-bordercolor : #f7f7f7;

// Buttons
$button-color: $vivaWhite;
$button-bgcolor: color(crane);
$button-fontsize: 1.125em;

//App Download
$appdownload-bgcolor: #f7f7f7;
$appdownloadreview-bgcolor: $vivaWhite;
$appdownloadreview-font: $gum-p2;
$appdownloadreview-color: $gumGray1;

//Welcomescreen
$welcomeSreen-bgcolor: color(foxtail, light);

// Section Menu
$secmenu-link-color: color(swirl, dark);
$secmenu-link-color-hover: $gumOrange;

// modal
$modal-color: color(swirl, dark);
$modal-bgcolor: $gumWhite;
$modal-info: color(swirl, medium);
$modal-autocomplete-color: $gumGray1;
$modal-autocomplete-color-hover: $vivaWhite;
$modal-autocomplete-bgcolor-hover: $gumGray1;

// Recent Activity
$recentactivity-bgcolor:$vivaGray2;

// color palette, independent of viva, map your "viva" to local independent names here
// use the naming convention: <where used><thing (font, color, etc)>

$cardBackgroundColor: $vivaGray4;
$cardLinksColor: $gumOrange;

$cardStatsFont: $gum-p3;
$cardHeadersFont: $gum-h4;

// Activity card and header profile image circlular border
$profile-border: $gumOrange;

// Conventions:  all SCSS is camelCase, all css classes are dash separated

/*
    Here is an example of font treatement in css:

    .example {
        // assume font is already specified at body
        font-weight: $fontWeightNormal;
        font-size: $h1FontSize;
    }
*/

// Font Weights

$fontWeightNormal: 500;
$fontWeightBold: 700;

// Font Sizes
$menuFontSize: 1.5em;    // 24px

$fontSizeH1: 1.5em;    // 24px
$fontSizeH2: 1.5em;    // 24px
$fontSizeH3: 1.25em;   // 20 px
$fontSizeH4: 1em;      // 16 px
$fontSizeLabel: .625em;      // 10 px

// Colors, by specific item

//HEADER
$headerBackgroundColor: color(foxtail, medium);
$headerMainBackgroundColor: color(foxtail, medium);

$headerTextColor: color(swirl, dark);
$headerMainTextColor: color(swirl, dark);

$headerMainTextFont: $bodyFont; //Chivo Font
$headerBorderColor: color(crane, base);
$headerMainBorderColor: color(melon);

$headerMenuBorderColor: color(swirl, shade);
$headerMenuItemSecondaryColor: $vivaGray6;
$headerMenuItemSeparatorColor: color(swirl);
$headerMessagesBackgroundColor: $gumOrange;
$profileDropdownLoginBtnColor: color(crane);
$headerMenuItemHighlightColor: color(swirl);
$imagePlaceholderBackground: color(swirl);
$headerBlue: color(crane);

$searchBarTextColor: color(swirl, shade);
$searchBarTypeAheadWrapperBackground: $vivaGray5;
$searchBarTypeAheadContainerBackgroundMobile: $vivaWhite;
$searchBarTypeAheadContainerBackgroundDesktop: $vivaGray8;
$searchBarTypeAheadBorder: $vivaGray1;
$searchBarLocationLinkColor: color(swirl, medium);
$searchBarTextBoxBorder: color(swirl, shade);
$searchBarButtonColor: color(crane);
$searchBarButtonTextColor: $vivaWhite;
$searchBarButtonMouseOverColor: color(crane, shade) !default;

// Get the App card
$getAppCardMainBlue: $vivaBlue6;

// Cards

$gallerySponsoredTextColor: $vivaGray10;
$galleryViewMoreColor: $vivaGreen1;
$panelCornerBorderRadius: 7px;

// Ad Tile

$featuredBorderColor: $vivaGreen1;
$galleryBorderColor: $vivaGreen1;

// Post Ad page

$postAdBackgroundColor: color(foxtail, light);
$loginModalLinkColor: color(crane);
$photoCarouselMaxPhotosMsgColor: $vivaBlue4;
$photoCarouselRequiredMsgColor: $vivaRed;
$postAdShadowColor: color(swirl, medium);
$postAdOrange: color(leaf);
$postAdHeaderBlue: color(crane);
$postAdHeaderBackground: color(foxtail, medium);
$postAdTextGray: color(swirl, medium);

//Edit Ad Page
$mainDetailsBackgroundColor: color(foxtail, light);
$mainDetailsTitleTextColor: color(swirl, medium);
$formSubmitButtonColor: color(crane);
$formSubmitButtonTextColor: $vivaWhite;
$formCancelTextColor: $gumBlack;
$formSeparatorBarColor: $vivaGray9;
$addWebsiteLinkTextColor: $vivaGreen1;
$formLabelTextColor: color(swirl, medium);
$categoryDisplayTextColor: color(swirl, medium);
$buttonAreaBackgroundColor: color(foxtail, medium);
$categorySelectionActiveListRowBgColor: $vivaGray5;
$categorySelectionModalBgColor: $vivaWhite;
$categorySelectionSeparatorColor: $vivaGray10;
$leafNodeWarningColor: $gumOrange;
$categoryNameColor: $vivaBlue7;

// FOOTER
//Footer Seo Background section
$footerSeoBackgroundColor: color(foxtail, base);
$seofooter-color: $gumWhite;

//Footer Main Background section
$footerMainBackgroundColor: color(foxtail, light);
$footerTrademarkBackgroundColor: color(rock, base);
//Footer Main Text
$footerMainTextColor: color(swirl, shade);
$footerMainTextFont: $bodyFont; //Lato
//Footer Headers
$footerHeaderTextColor: color(swirl, shade);
$footerHeaderFont: normal 18px $bodyFontSecondary;
//Footer divider
$footerDividerLineColor: color(swirl, base);
//Support section
$footerCircleBorderColor: color(leaf);

//Any Image/Icon
$photoFolder: en_ZA;
$locale: ZA;

// VIP
$expiredAdBackground: color(crane,base);
$expiredAdText: $gumWhite;
$expiredAdLink: color(foxtail,base);

