{{#block "searchbarV2"}}
	<div class="search-bar">
		<input class="search-textbox" title="search" type="text"/>
		<button class="search-button" type="submit">
			<div class="search-icon"></div>
			<div class="inner-text">Search</div>
        </button>
	</div>
{{/block}}
