<div class="button">
    <button tabindex="4">
        <span class="icon">
            <span class='icon-header-search-out'></span>
            <span class='icon-header-search-over'></span>
        </span>
        <span class="label">{{i18n "header.search-go"}}</span>
    </button>
</div>