
@include from-breakpoint($small-break){
	
	#flexLftBuckt .item {
	  margin: 1em 3em;
	}

	#flexLftBuckt {
		padding: 0;
	    margin: 0;
	    list-style: none;
		@include  display-flex();
		@include flex-flow(column wrap);
		@include align-content(flex-start);
	    @include align-items(flex-start);
	    width:100%;
	    height:155em; 
	}
	
	li[data-ct-id='5'] { //auto
		@include order(10);
	}
	li[data-ct-id='2'] { //property
		@include order(8);
	}
	li[data-ct-id='8'] { // job
		@include order(13);
	}
	li[data-ct-id='9178'] { // electronics
		@include order(2);
	}
	li[data-ct-id='9175'] { // home && Garden
		@include order(7);
	}
	li[data-ct-id='9389'] { // job seekers
		@include order(14);
	}
	li[data-ct-id='9101'] { // boats & watercraft
		@include order(3);
	}
	li[data-ct-id='9176'] { // baby & kids
		@include order(9);
	}
	li[data-ct-id='9'] { // services
		@include order(15);
	}
	li[data-ct-id='9171'] { // business-to-business
		@include order(4);
	}
	li[data-ct-id='9177'] { //fasion
		@include order(1);
	}
	li[data-ct-id='6'] { // community
		@include order(5);
	}
	li[data-ct-id='9122'] { // pets
		@include order(11);
	}
	
	li[data-ct-id='9067'] { // events
		@include order(21);
	}
	
	li[data-ct-id='9179'] { // sports & leisure
		@include order(20);
	}
	li[data-ct-id='9067'] { // freebies && swap
		@include order(21);
	}
	li[data-ct-id='rightBucket'] { // right bucket
		@include order(12);
	}
	
	.category-list .parent-category {
  		padding-left: 0em; 
	}
	
	// hide job seekers
	li[data-category-id="9389"] > ul,
	li.l1swaptrade, li.l1freebies  { display:none}
	.hp-category-wrapper h1 {
		position:static;
	}
	.hp-category-wrapper, .hp-list-wrapper {
  		padding-bottom: 0em;
	}
}

@include from-breakpoint($medium-break){
	
	#flexLftBuckt .item {
	  margin: 1em 1em;
	}
	
	#flexLftBuckt {
		padding: 0;
	    margin: 0;
	    list-style: none;
		@include  display-flex();
		@include flex-flow(column wrap);
		@include align-content(flex-start);
	    @include align-items(flex-start);
	    width:100%;
	    height:100em; 
	}
	
	
	li[data-ct-id='9179'] { // sports & leisure
		@include order(12);
	}
	
	li[data-ct-id='rightBucket'] { // right bucket
		@include order(20);
	}
}