
.results{

	.result{
		position: relative;

		.description{
			@include hyphenation;
		}
	}

}

 .breadcrumbs{
    padding: $medium-padding 0 0;
 }   

 .wl_heading{
     float: left;
     margin-left: $medium-margin;
  }
  
 .column-labels{
    display:block;
    font-weight: bold;
	margin: $medium-margin 0 $small-margin 0;
	padding: $small-padding 0;
	background: $rowHead-bg-color;
	@include box-shadow(0px 1px 3px transparentize($color-black, 0.75));
 }  
 
.otherlinks{
 
 display:inline-block;
 float:right;
 padding-right: $small-padding;
     
 .syncbutton, .email, .clearAll{
     @include inline-block;
     font-size: inherit;
     font-weight: bold;
     white-space:nowrap;
     cursor: pointer;
     margin: 0em .2em 0em;

     .email {
         &:hover{
              background-color: transparent;
               text-decoration:underline;
          }
     }     
  }
                
 .syncbutton.disabled{
      color: #808080;
      cursor: auto;
 }
  
 .clearAll {
             
     &:hover{
        text-decoration:underline;
        background-color: transparent;
     }
 }

}

.result-link{
  cursor: pointer;
}

.starIcon
{
    @include inline-block;
    width:24px;
    height:24px;
    background:{
        size: 24px 24px;
    }
    cursor: pointer;
}

@include in-breakpoint($no-break){

 .breadcrumbs > span:nth-child(2):after {
    content: none;
 }
 
}

@include in-breakpoint($medium-break){
	.results{
		@include span-columns($medium-break - 2, $medium-break);
		float: right;
		margin-right: 0;
	 }
	
	  .watchlist {
	    	width:100% !important
	   }
	    
}


@include from-breakpoint($large-break, $lt-ie9-class-name){
	.results{
		@include span-columns($large-break - 3, $large-break);
		float: right !important;
		margin-right: 0;
	}
	
	.watchlist {
		width:100%;
	}
	
}


