.tooltipContainer{
	color: $tooltip-content-color;
	position: absolute;
	max-width: 250px;
	@include border-radius(5px);
	border: 1px solid #ccc;
	background-color: $tooltip-background-color;
	z-index: 320;
	display: none;
}

.tooltipContent {
    position: relative;
    background: inherit;
    padding: 8px 17px 10px;
}