{{#unlessMobile this.device}}
	{{#partial "AdsenseTop-Content"}}
		<div id="adcontainer0" class="googleAdContainer"></div>
	{{/partial}}


	{{#partial "AdsenseBottom-Content"}}
		<div id="adcontainer1" class="googleAdContainer"></div>
	{{/partial}}

	{{#partial "Adsense-Script"}}
		<script src="https://www.google.com/adsense/search/ads.js" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8">
			var x = {{json this.footer.adsenseConfig.default}};

	        var defaultBlock = {
	             'lines':'3',
	             'longerHeadlines': x.longerHeadlines,
	             'fontSizeTitle': '14',
	             'fontSizeDescription' : '14',
	             'lineHeightDescription' : 21,
	             'fontSizeDomainLink' : '14',
	             'lineHeightDomainLink' : 21,
	             'fontFamily' : 'tahoma',
	             'noTitleUnderline': true,
	             'colorTitleLink': x.colorTitleLink,
	             'colorDomainLink' : '#333333',
	             'colorText' : '#333333',
	             'colorAdSeparator':'#ffffff',
	              'colorAdBorder' : '#EEEEEE',
	              'adBorderSelections' : 'bottom',
	             'width' : '100%'
	        };
	        var defaultBlock_ext = {
	            //defaultvalue
	            'adIconUrl':'{{this.header.noPhotoUrl}}',
	            'adIconSpacingAbove' : 5,
	            'adIconSpacingBefore' : 6,
	            'adIconSpacingAfter' : 10,
	            'adIconLocation' : 'ad-left'
	        }

	        var pageOptions = {
	            'query': x.query,
	            'hl': x.h1,
	            'adtest' : x.adtest,
	            'channel' : x.channel,
	            'adPage' : x.adPage,
	            'linkTarget' : '_blank',
	            'numRepeated': x.numRepeated,
	            'titleBold' : true,
	            //new call back method through all the market
	            'adLoadedCallback':function(containerName, adsLoaded) {
	                if (adsLoaded) {
	                	if(containerName == 'adcontainer0'){
	                        var exP0, newP;
	                        newP = document.createElement("div");
	                        newP.className='section-divider';
	                        newP.innerHTML = '{{i18n "adsense.title"}}';
	                        exP0 = document.getElementById('adcontainer0');
	                        exP0.parentNode.insertBefore(newP,exP0);
	                        $('.content #adcontainer0').css({'background-color':'#ffffff'});
	                    };

	                    if(containerName == 'adcontainer1'){
	                        var exP1, newP1;
	                        newP1 = document.createElement("div");
	                        newP1.className='section-divider';
	                        newP1.innerHTML = '{{i18n "adsense.title"}}';
	                        exP1 = document.getElementById('adcontainer1');
	                        exP1.parentNode.insertBefore(newP1,exP1);
	                        $('.content #adcontainer1').css("background-color", "#ffffff");
	                    }
	                }
	            }

	        };

		    function init(numAdsTop, numAdsBottom, siteLinks, pubId, clickableBackground, rolloverAdBackgroundColor, adIconW, adIconH){
		    	pageOptions.siteLinks = siteLinks;
		        pageOptions.pubId = pubId;
	            pageOptions.rolloverAdBackgroundColor = rolloverAdBackgroundColor;

	            var targetArr = [];
	            if(numAdsTop>0){
	                var adblock1 = {
	                    'container': 'adcontainer0',
	                    'maxTop': numAdsTop,
	                    'clickableBackgrounds': clickableBackground,
	                    'adIconWidth' : adIconW,
	                    'adIconHeight' : adIconH
	                };
	                jQuery.extend(adblock1,defaultBlock);
	                if(adIconW)
	                {
	                    jQuery.extend(adblock1,defaultBlock_ext);

	                }
	                targetArr.push(adblock1);
	            }

	            if(numAdsBottom>0){
	                var adblock2 = {
	                    'container': 'adcontainer1',
	                    'number': numAdsBottom,
	                    'clickableBackgrounds': clickableBackground,
	                    'adIconWidth' : adIconW,
	                    'adIconHeight' : adIconH
	                };
	                jQuery.extend(adblock2,defaultBlock);
	                if(adIconW)
	                {
	                    jQuery.extend(adblock2,defaultBlock_ext);

	                }
	                targetArr.push(adblock2);
	            }
	            // new google.ads.search.Ads(pageOptions, targetArr);
	        }

		    {{#block "Adsense-Script-ext"}}{{/block}}
		</script>

	{{/partial}}
{{/unlessMobile}}
