.ad-details-container {
	.pri-attrs {
		background-color: $common-background-color;
		.title-fav {
			display: inline-block;
			width: 100%;
			.ad-title {
				font-size: 24px;
				font-weight: bold;
				float: left;
				padding-left: 15px;
				width: 65%;
			}
			.edit-favorite {
				color: $vivaGray1;
				font-size: 14px;
				float: right;
				font-weight: 100;
				margin-right: 10px;
				.edit-favorite-icon {
					position: relative;
					top: 10px;
					display:inline-block;
				}
				.icon-heart-orange {
					left: -2px;
				}
			}
		}
		.price-update {
			.ad-price {
				display: inline;
				font-size: 20px;
				font-weight: bold;
				padding-left: 15px;
			}
			.ad-last-updated {
				margin-right: 10px;
				display: inline;
				float: right;
				color: $vivaGray1;
				font-weight: 100;
				font-size: 14px;
				position:relative;
				top: 5px;
				margin-right: 10px;
			}
		}
		.category-pri-attrs {
			margin-left: 15px;
			.pri-props {
				&:nth-child(even){
					font-size: 14px;
					display:inline;
					width: 50%;
				}
				&:nth-child(odd){
					font-size: 14px;
					width: 50%;
					display:inline-block;
				}
			}
		}
	}
	.sec-attrs {
		display: inline-block;
		margin: 10px 20px;
		.ad-description {
			color: $vivaGray1;
			font-size: 12px;
			.ad-phone {
				color: $vivaBlue;
			}
		}
		.ad-category {
			.category-attr {
				display: block;
				font-size: 12px;
				color: $vivaGray1;
			}
		}
		.ad-user-attrs {
			margin-top: 10px;
			padding-bottom: 15px;
			border-bottom: 1px solid $vivaGray2;
		}
		.ad-location {
			position:relative;
			display:inline-block;
			width: 32%;
			.location-attr {
				font-size: 12px;
				color: $vivaGray1;
			}
		}
		.ad-last-updated {
			position: relative;
			display: inline-block;
			width: 32%;
			.last-updated-attr {
				font-size: 12px;
				color: $vivaGray1;
			}
		}
		.ad-posted-by {
			position: relative;
			display: inline-block;
			width: 32%;
			.posted-by-attr {
				font-size: 12px;
				color: $vivaGray1;
			}
		}
		.ad-desktop-only {
			display: none;
		}
		.ad-mobile-only {
			display: block;
		}
	}
}
.clear-line {
	display: block;
	clear: both;
	margin-top: 15px;
	margin-bottom: 10px;
	border-top: 2px solid $vivaGray2;
}

@include from-breakpoint($medium-break) {
	.ad-details-container {
		.pri-attrs {
			background-color: $vivaWhite;
		}
		#desktop-pri-props {
			font-size: 18px;
			font-weight: 900;
		}
		.sec-attrs {
			.ad-last-updated {
				text-align: center;
			}

			.ad-posted-by {
				text-align: right;
			}

			.ad-desktop-only {
				display: inline-block;
			}

			.ad-mobile-only {
				display: none;
			}
		}
	}
}
