$textColor: white;
.safety-tips-container {
    width: 100%;
    margin: .5em auto;
    height: auto;
    //this is so wrong, we should never target breakpoint with pixels
    //there are classes made for it for consistency etc.
    //should be something like this @include breakpoint($medium-break){...}
    //Please refactor every where you see it in this file
    @media(min-width: 768px) {
        width: 100%;
    }

    .advertisement-placeholder {
        display: none;
        width: 33.3334%;
        height: 316px;
        float: left;
        @media(min-width: 768px) {
            display: inline-block;
        }
        .ad {
            background-size: contain;
            background-position: center;
            width: 90%;
            height: 100%;
            margin: auto;
        }
    }
}

.vip-safety-tips .safety-tips-card {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.safety-tips-card {
    min-height: 280px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: $safety-card-background-color;
    float: left;
    margin-bottom: 0.5em;

    @media (min-width: 768px) {
        width: 27.6667%;;
    }

    .safetyTips {
		height: 320px;
		@media (min-width: 768px) {
			height: 280px;
		}
        max-width: 800px;
        width: 100%;
        margin: auto;
        position: relative;

        .title {
			padding-top: 10px;
        }

        .safety-icon {
			margin-right: 6px;
			width: 24px;
			height: 25px;
			background-image: url("../../../../../images/es_MX/shield.png");
            vertical-align: sub;
            display: inline-block;
            align-self: center;
        }

        .safety-text {
            display: inline-block;
            height: 36px;
        }

        .safety-block {
            max-width: 100%;
            width: 100%;
            float: left;
            @media (min-width: 768px) {

            }
            &.block-right {
                margin-left: 10px;
                display: none;
                @media (min-width: 768px) {
                    display: inline-block;
                }
            }

        }

		.image-container {
			height: 193px;
			@media (min-width: 768px) {
				height: 151px;
			}
		}

        .image {
            height: 193px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            @media (min-width: 768px) {
                height: 151px;
            }
            &.image-left {
                background-image: url('../../../../../images/safety-tips.jpg');
            }
        }

        .faq {
			position: absolute;
			bottom: 22px;
            width: 100%;
            padding-top: 5px;
            clear: both;
			font: $h3;
			line-height: 29px;
			color: $textColor;
        }

        a {
            font: $secondary-link-font;
			color: $textColor;
            text-decoration: underline;
        }

        h2 {
            font: $h1;
            line-height: 37px;
            font-weight: bold;
			color: $textColor;
        }

        .help-text {
            font: $p2;
			color: $textColor;
        }
    }
}


.dfp-banner {
	text-align: center;
   }


@include in-breakpoint($no-break){
	.vip-safety-tips .safety-tips-card {
		max-width: 20em;
	}
}

@include in-breakpoint($small-break) {
	.safety-tips-card {
		width: 100%;
		margin-bottom: 1.5em;
		display: none;
	}
	.home_rghtbanner {
		float: left;
	}

	.dfp-banner {
		margin-left: 3em
	}

}

@include in-breakpoint($medium-break) {
	.safety-tips-container {
		width: 64em;
	}
	.safety-tips-card {
		width: 24.6667%;
        margin-left: 25px;
	}
}

@include from-breakpoint($medium-break) {

	.home_rghtbanner {
		float: left;
		width: 31%;
		height: 280px;
		margin: auto 10px;
		text-align: center;
		margin-right: 22px;
	}

	.home_rghtbanner2 {
		float: left;
		width: 31%;
		height: 280px;
		margin: auto;
		text-align: center;
	}

	.safety-tips-container {
		height: 280px;

	}

	.safety-tips-card {
		margin-right: 12px;
		width: 30%;
	}

}
