$textColor: white;
$maxWidtCards: 300px;
$minHeightCards: 250px;
$cardsSpacing: 20px;
$imageContainerHeight: 130px;
$textContainerHeight: 120px;
$small-breakpoint: 619px;
$medium-breakpoint: 939px;
$large-breakpoint: 940px;

.safety-tips-wrapper {
	text-align: center;
	padding-top: 18px;
	padding-bottom: $cardsSpacing;
	.safety-tips-container {
	    height: auto;
	    display: inline-block;
	    margin: 0 auto;
	}
}

.vip-safety-tips .safety-tips-card {
	width: 100%;
	display: block;
}

.safety-tips-card, .home_rghtbanner, .home_rghtbanner2 {
	display: inline-block;
	height: auto;
	vertical-align: top;
	width: $maxWidtCards;
	height: $minHeightCards;
}

.safety-tips-card {
    text-align: center;
    background-color: $safety-card-background-color;

    .safetyTips {
		height: 250px;
        .title {
			padding-top: 10px;
        }
        .safety-icon {
			width: 24px;
			height: 25px;
			background-image: url("../../../../../images/es_MX/shield.png");
            vertical-align: sub;
            display: inline-block;
            align-self: center;
        }
        .safety-text {
            display: inline-block;
        }

        .safety-block {
            max-width: 100%;
            width: 100%;
            @media (min-width: 768px) {

            }
            &.block-right {
                display: none;
                @media (min-width: 768px) {
                    display: inline-block;
                }
            }

        }

		.image-container {
			height: $imageContainerHeight;
		}
		.text-container {
			height: $textContainerHeight;
		}

        .image {
            height: $imageContainerHeight;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            &.image-left {
                background-image: url('../../../../../images/safety-tips.jpg');
            }
        }

        .faq {
            padding-top: 15px;
			font: $h4;
			color: $textColor;
        }

        a {
            font: $secondary-link-font;
			color: $textColor;
            text-decoration: underline;
        }

        h2 {
            font: $h2;
            font-weight: bold;
			color: $textColor;
        }

        .help-text {
            font: $p2;
			color: $textColor;
			padding-top: 15px;
        }
    }
}

@media (min-width: $large-breakpoint) {
	.safety-tips-wrapper {
	    .safety-tips-container {
	        .safety-tips-card, .home_rghtbanner {
	            margin: 0px 16px 0 0;
	        }
	    }
	}
}

@media (max-width: $medium-breakpoint) {
	.safety-tips-wrapper {
		.safety-tips-container {
			.safety-tips-card {
				display: none;
			}
		}
	}
}

@media (max-width: $small-breakpoint) {
	.safety-tips-wrapper {
		.safety-tips-container {
			.home_rghtbanner {
				margin: 0;
			}
			.safety-tips-card, .home_rghtbanner2 {
				display: none;
			}
		}
	}
}
