// Hide the "X" icon in the email reply section of VIP.
.gl-messages-replyAds-srp {
  display: none;
}

@mixin input-urgent-btn(){
	.vip-title{
		.adTitle{
			margin-right: 0.5em;
		}
		.urgentBtn{
			background-color: #dc1f26;
			padding: 0em 0.35em 0em 0.3em;
			//font-size: 0.7em;
			color: white;
			display: inline-block;
			text-align: center;
			text-transform: uppercase;
			@include border-radius(5px);
		}
	}
}

@mixin input-text-field{
	.reply_controls {
	   .icon-envelope-alt-green, .icon-envelope-alt-white,.icon-phone-green,.icon-phone-white{

			margin-top: -0.2em;
			vertical-align: middle;

		}
		.icon-envelope-alt-green{
		  height: 1.2em;
		  display: inline-block;
		   width: 1.52em;
		}
		.icon-envelope-alt-white{
		  height: 1.2em;
		  display: none;
		   width: 1.15em;
		}
		.icon-phone-white{
		  display:none;
		  width: 1.5em;
		   height: 1.5em;
		}
		.icon-phone-green{
		  display:inline-block;
		  width: 1.5em;
		  height: 1.5em;
		  margin-left:-.2em;
		}
	}
	.vip-flagad{
	  .icon-lock{
			  display:inline-block !important;
			  background-size:contain;
			  width: 1em;
			  height:1em;
			  vertical-align: middle;
			  margin-top:-.1em;
		 }
	}
	.vip-contact, .vip-flagad{
		form{
			label span.label {
				display: block;
			}
			input[type="text"],
			input[type="email"],
			textarea {
				@include text-input;
				width: 100%;

				padding: $medium-padding;
				@include background-image(none);
				@include box-shadow(none);
			}
			.privacypolicy {
				  margin-top: 0.5em;
			}
		}
	}
}

@mixin apply-collapse-color-email(){
	.reply_controls{
		.telephone{
			padding: 0em 0.25em;
			display: inherit;
			text-align: left;

			&:hover, .tmpNumber:hover{
				background-color : #e3e6c9;
			}
		}

		.title,.title:focus{
			border: none;
			color: black;
			cursor: text;
			display: inline-block;
			margin-top: -0.5em;
			margin-bottom: -1em;
			white-space: nowrap;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;

			font-weight: bold;
			width: 100%;
			&:hover{
				text-decoration: none;
				color: black;
			}

		}
	}

	.vip-contact{
		margin-top:1em;
	}
}

@include to-breakpoint($no-break){
	@include input-text-field();
	.reply_controls{
		.title {
			@include vip-contact-title-form-button;
			float: left;
		}
		.telephone
		{
			  @include vip-contact-telephone-form-button2;
			  float: right;
		  }
		  
		  .title,.telephone {
			margin-top:0;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			font-size:1em;
			   width: 48%;
		}
		  

		.icon-envelope-alt-green,.icon-phone-green{
		  display: none;
		}

		.icon-envelope-alt-white,.icon-phone-white{
		  display: inline-block;
		}
		.telephone #phone-number .tmpNumber:hover{
			background-color: inherit;
		}

		&.smartStickyBottom
		{
			padding:1em 1em;
			margin:0em;
			background-color: $color-white;
			border-top:1px solid gainsboro;
		}
	}

	.email-only.reply_controls .title {
	  width: 100%;
	  float: none;
	}
	
	.vip-contact .reply_controls
	{
	   display:none;
	}
}

@include from-breakpoint ($small-break, $lt-ie9-class-name) {
  .vip-contact .telephone #phone-number,
  .vip-contact span.label {
	display: inline;
  }
}

@include from-breakpoint($small-break, $lt-ie9-class-name){
	.reply_controls.cloned {
		display:none !important;
	}
	.vip-contact .reply_controls
	{
	   display:block;
	}

	@include apply-collapse-color-email();
	@include input-text-field();
	@include input-urgent-btn();
}

@include in-breakpoint($no-break){
	@include input-urgent-btn();
	.vip-title{
		.urgentBtn{
			//font-size: 0.8em;
		}
	}
}

@include in-breakpoint( $lt-ie9-class-name){
   .vip-contact{
	 .icon-envelope-alt-green, .icon-envelope-alt-white,.icon-phone-green,.icon-phone-white{
		height:1.9em !important;
		width:2em !important;
	 }
	}
	.vip-flagad{
	  .icon-lock{
		 width:1.7em;
		height:2.1em;
	  }
	 }
 }

