
//legacy theme variables from default flash message on V1
$color-black: rgb(51, 51, 51);
// margins
$small-margin: .25em;
$medium-margin: .5em;
$large-margin: 1em;

// paddings
$small-padding: .25em;
$medium-padding: .5em;
$large-padding: 1em;

$form-element-error-color: #FF7282;

.js-message-error {
	background-color: $form-element-error-color;
	color: white;
	padding: 1em;
	text-align: center;

	.icon-warning-sign {
		width: 2em;
		height: 2em;
		display: inline-block;
		vertical-align: middle;
	}

	.no-js {
		display: inline-block;
		background: {
			image: url(../../../../../../images/no-javascript-en_MX.gif);
			repeat: no-repeat;
			position: left center;
		}
		width: 340px;
		height: 2em;
		vertical-align: middle;

		&.es_MX, &.es_MX, &.es_AR {
			background-image: url(../../../../../../images/no-javascript-es_MX.gif);
			width: 400px;
		}
		&.pl_PL {
			background-image: url(../../../../../../images/no-javascript-pl_PL.png);
			width: 420px;
		}

	}
}

.gl-messages {
	margin-top: 0.5em;
	background-color: #eaedb8;

	> div {
		color: $color-black;
		font-weight: bold;
		padding: 1em 2em; // $large-padding $large-padding * 2;
		max-width: $container-width;
		margin: 0 auto;
		position: relative;
		padding-right: 2.5em;

		> div {
			line-height: 2em;
			padding-left: 3em;
			width: 96%;
		}
	}

	.msg-icon {
		display: block;
		position: absolute;
		margin-left: 0.5em;

		> span {
			width: 28px; // 2.2em;
			height: 28px; // 2.2em;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.warning-msg {
		display: none;
	}

	a {
		color: $color-black;
		text-decoration: underline;
	}

	.survey, .survey:visited {
		color: rgb(24, 103, 195);
		text-decoration: underline;
	}

}

.gl-messages, .gl-messages-replyAds-srp {
	.close_btn {
		position: absolute;
		right: $large-margin;
		top: $small-margin;
		padding: $medium-padding $medium-padding;
		text-decoration: none;
		display: block;
		border: none;
		cursor: pointer;

		&:active {
			background-color: transparentize($color-white, 0.9);
		}

		> span {
			padding: $medium-padding $medium-padding;
			background-size: initial;
			width: 20px;
			height: 20px;
			display: block;
		}
	}
}

@include in-breakpoint($no-break) {
	.js-message-error {
		.no-js {
			width: 175px;

			&.es_MX {
				width: 200px;
			}
			&.es_MX, &.es_AR {
				width: 200px;
			}
			&.pl_PL {
				background-image: url(../../../../../../images/no-javascript-pl_PL.Mobile.png);
				width: 299px;
				background-position: center;
			}
		}
	}
	.gl-messages {
		margin: 0.5em 0;

		> div {
			padding: 0.25em 1.5em 0.25em 0.25em;
		}

		.msg-icon {
			margin-left: 0;
			left: 0.25em;
			top: 0;
		}

		.message {
			font-size: 0.85em;
			line-height: 1.75em;

			width: initial;
			// To make message not covered by close button.
			// Width of close button is 20px + 2em but padding-right of gl-message is 1.5em
			padding-right: calc(20px + 0.5em);
		}

		.close_btn {
			top: 0;
			right: 0;
		}
	}

	// we need to reduce the margin on pages with no searchbar
	// to avoid overflowing on the sides
	.subheader + .gl-messages.error {
		margin: 0;
	}
}

@include from-breakpoint($large-break, $lt-ie9-class-name) {
	.gl-messages {
		> div {
			padding: {
				left: 0;
			}
		}
	}
}

