// form.order is the "payment page container"
form.order {
    h2 {
        @extend %section-header;
        @extend %small-title;
        margin-top: 1em;
    }

    .subheader {
        @extend %section-header;
    }
}

@include from-breakpoint($small-break) {
    form.order {
        .subheader {
            border-bottom: none;

            h1 {
                text-align: left;
                font-size: $font-size-xlarge;
                color: #000;
                padding: 1em 0;
            }
        }
    }
}

