<div class="category-component form-field" data-field="Category">
	<div class="all-categories hidden">{{json this.categoryAll}}</div>
	<div class="initial-category hidden">{{json this.initialCategory}}</div>
	<div class="label-wrapper">
		<label for="category-selection">{{i18n "editAd.mainDetails.labels.category"}}</label>
	</div>
	<div id='category-selection' class="category-selection input-wrapper"></div>
</div>

