@import
    //'swatches',
    'palette',
    "../partials/base",
    "../partials/main/theme",
    "typography-scale";

$container-width: 73em;

$bodyFont: Lato;    // attach this to body element

// Headlines
$viva-h1: bold 1.5em $bodyFont;      // 24px
$viva-h2: normal 1.5em $bodyFont;    // 24px
$viva-h3: normal 1.25em $bodyFont;   // 20 px
$viva-h4: normal 1em $bodyFont;      // 16 px

$h1: $viva-h1;
$h2: $viva-h2;
$h3: $viva-h3;
$h4: $viva-h4;

$h1-color: $vivaBlack;
$h3-secondary-color: $vivaOrange;

// Paragraphs
$viva-p1: normal 0.875em $bodyFont;  //14px
$viva-p2: normal 0.75em $bodyFont;   //12px
$viva-p3: normal 0.625em $bodyFont;  //10px

$p1: $viva-p1;
$p2: $viva-p2;
$p3: $viva-p3;

$p2-secondary-color: $vivaGray1;

$safety-card-background-color: #1E98D5;
$common-background-color: color(foxtail, medium);
$recent-activity-background-color: white;

// Primary link
$primary-link-color: $vivaBlack;
$primary-link-font: bold 1.5em $bodyFont;


// Secondary link
$secondary-link-color: $vivaOrange;
$secondary-link-font: bold 1em $bodyFont;


// Tertiary link
$tertiary-link-color: $vivaWhite;

// SEO h1 tag
$seo-bordercolor: #FAFAFA;

//Page
$gumtree-bg-color: color(foxtail, medium);
$gumtree-bg-container-color: color(foxtail, light);
$page-bgcolor : $vivaWhite;
$page-bordercolor : #f7f7f7;

// Buttons
$button-color: $vivaWhite;
$button-bgcolor: color(crane);
$button-fontsize: 1.125em;

//App Download
$appdownload-bgcolor: #f7f7f7;
$appdownloadreview-bgcolor: $vivaWhite;
$appdownloadreview-font: $viva-p2;
$appdownloadreview-color: $vivaGray1;

//Welcomescreen
$welcomeSreen-bgcolor: color(foxtail, light);


// Section Menu
$secmenu-link-color: color(swirl, dark);
$secmenu-link-color-hover: $vivaOrange;


// modal
$modal-color: color(swirl, shade);
$modal-bgcolor: $vivaBlack;
$modal-info: color(swirl, medium);
$modal-autocomplete-color: $vivaGray1;
$modal-autocomplete-color-hover: $vivaWhite;
$modal-autocomplete-bgcolor-hover: $vivaGray1;

//Seolinks

$seofooter-color: $vivaWhite;


// Recent Activity
$recentactivity-bgcolor:$vivaGray2;



// color palette, independent of viva, map your "viva" to local independent names here
// use the naming convention: <where used><thing (font, color, etc)>

$cardBackgroundColor: $vivaGray4;
$cardLinksColor: $vivaOrange;

$cardStatsFont: $viva-p3;
$cardHeadersFont: $viva-h4;

// Activity card and header profile image circlular border
$profile-border: $vivaOrange;



// Conventions:  all SCSS is camelCase, all css classes are dash separated

/*
    Here is an example of font treatement in css:

    .example {
        // assume font is already specified at body
        font-weight: $fontWeightNormal;
        font-size: $h1FontSize;
    }
*/

// Font Weights

$fontWeightNormal: 500;
$fontWeightBold: 700;

// Font Sizes
$menuFontSize: 1.5em;    // 24px

$fontSizeH1: 1.5em;    // 24px
$fontSizeH2: 1.5em;    // 24px
$fontSizeH3: 1.25em;   // 20 px
$fontSizeH4: 1em;      // 16 px
$fontSizeLabel: .625em;      // 10 px

// Colors, by specific item

// Header

$headerBackgroundColor: color(foxtail, medium);
$headerTextColor: color(swirl, dark);
$headerMenuBorderColor: color(swirl, shade);
$headerMenuItemSecondaryColor: $vivaGray6;
$headerMenuItemSeparatorColor: color(swirl);
$headerMessagesBackgroundColor: $vivaOrange;
$profileDropdownLoginBtnColor: color(crane);
$headerMenuItemHighlightColor: color(swirl);
$imagePlaceholderBackground: color(swirl);
$headerBlue: color(crane);

$searchBarTextColor: $vivaBlack;
$searchBarTypeAheadWrapperBackground: $vivaGray5;
$searchBarTypeAheadContainerBackgroundMobile: $vivaWhite;
$searchBarTypeAheadContainerBackgroundDesktop: $vivaGray8;
$searchBarTypeAheadBorder: $vivaGray1;
$searchBarLocationLinkColor: color(swirl, medium);
$searchBarTextBoxBorder: color(swirl, shade);
$searchBarButtonColor: color(crane);
$searchBarButtonTextColor: $vivaWhite;
$searchBarButtonMouseOverColor: color(crane, shade) !default;

// Get the App card
$getAppCardMainBlue: $vivaBlue6;

// Cards

$gallerySponsoredTextColor: $vivaGray10;
$galleryViewMoreColor: $vivaGreen1;

// Ad Tile

$featuredBorderColor: $vivaGreen1;
$galleryBorderColor: $vivaGreen1;

// Post Ad page

$postAdBackgroundColor: color(foxtail, light);
$loginModalLinkColor: color(crane);
$photoCarouselMaxPhotosMsgColor: $vivaBlue4;
$photoCarouselRequiredMsgColor: $vivaRed;
$postAdShadowColor: color(swirl, medium);
$postAdOrange: color(leaf);
$postAdHeaderBlue: color(crane);
$postAdHeaderBackground: color(foxtail, medium);
$postAdTextGray: color(swirl, medium);

//Edit Ad Page
$mainDetailsBackgroundColor: color(foxtail, light);
$mainDetailsTitleTextColor: color(swirl, medium);
$formSubmitButtonColor: color(crane);
$formSubmitButtonTextColor: $vivaWhite;
$formCancelTextColor: $vivaBlack;
$formSeparatorBarColor: $vivaGray9;
$addWebsiteLinkTextColor: $vivaGreen1;
$formLabelTextColor: color(swirl, medium);
$categoryDisplayTextColor: color(swirl, medium);
$buttonAreaBackgroundColor: color(foxtail, medium);
$categorySelectionActiveListRowBgColor: $vivaGray5;
$categorySelectionModalBgColor: $vivaWhite;
$categorySelectionSeparatorColor: $vivaGray10;
$leafNodeWarningColor: $vivaOrange;
$categoryNameColor: $vivaBlue7;
