$font-size-base-new: 0.875em; // 14px
$font-size-micro: $font-size-base-new * 0.9795918367; // 12px
$font-size-medium: $font-size-base-new * 1.306122449; // 16px
$font-size-large: $font-size-base-new * 1.6326530613; // 20px


// FONT FAMILY
$blueprint-font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;









// ------------------------------------------
// VIVA COMPATIBILITY TEXT SIZE PLACEHOLDERS
// ------------------------------------------

$font-size-viva-xsmall: 0.625em !default; // 10px
$font-size-viva-small: 0.75em !default; // 12px
$font-size-viva-medium: 0.875em !default; // 14px
$font-size-viva-large: 1em !default; // 16px
$font-size-viva-xlarge: 1.5em !default; // 24px


// ------------------------------------------
// TEXT GLOBAL CLASSES
// ------------------------------------------
$defaultParagraphTextColor:#333 !default;

%title-abstract {
	font-weight: bold;
	color: #000;
}
%title-regular-abstract {
	font-weight: normal;
}
%paragraph-abstract {
	font-weight: normal;
	color: $defaultParagraphTextColor;
}


%xlarge-title {
	@extend %title-abstract;
	font-size: $font-size-viva-xlarge;
}
%xlarge-regular-title {
	@extend %xlarge-title;
	@extend %title-regular-abstract;
}

%large-title {
	@extend %title-abstract;
	font-size: $font-size-viva-large;
}
%large-regular-title {
	@extend %large-title;
	@extend %title-regular-abstract;
}


%medium-title {
	@extend %title-abstract;
	font-size: $font-size-viva-medium;
}
%medium-regular-title {
	@extend %medium-title;
	@extend %title-regular-abstract;
}

%small-title {
	@extend %title-abstract;
	font-size: $font-size-viva-medium;
}
%small-regular-title {
	@extend %small-title;
	@extend %title-regular-abstract;
}

%p-regular {
	@extend %paragraph-abstract;
	font-size: $font-size-viva-medium;
}
%p-small {
	@extend %paragraph-abstract;
	font-size: $font-size-viva-small;
}
%p-xsmall {
	@extend %paragraph-abstract;
	font-size: $font-size-viva-xsmall;
}
// ------------------------------------------
// TEXT GLOBAL CLASSES
// ------------------------------------------

