@import "../../theme";

@import "../../../partials/pages/PostPage/postcontent";
@import "../../../partials/pages/PostPage/price";
@import "../../../partials/pages/PostPage/cascademenu";
@import "../../../partials/pages/PostPage/postform";
@import "../../../partials/pages/PostPage/imageuploader";
@import "../../../partials/common/popup";
@import "../../../partials/pages/PostPage/geopopupcontent";
@import "../../../partials/pages/PostPage/fixedsticky";
@import "../../../partials/pages/PostPage/adcompleteness";
@import "../../../partials/pages/PostPage/overlay";
@import "../../../partials/common/featurelegend";
@import "../../../partials/pages/PostPage/featureTable";

//country/locale specific CSS, overrides
@import "../../partials/pages/PostPage/price";

// BOLT-17333
@import "../../../_jquery.mmenu.app";
@import "../../../font-awesome.min";
@import "../../../_jquery.mmenu.all";

//common styles for all medias/browsers, which is also the default styles for mobile ( mobile first)
@include postcontent_default;
@include price_default;
@include price_default_ZA;
@include cascademenu_default;
@include postform_default;
@include popup_default;
@include imageuploader_default;
@include geopopupcontent_default;
@include hide_header_post_ad_button;
@include overlay_default;
@include featurelegend_default;
@include featurelegend_popup_images;
@include featuretable_default;

@import "../../partials/pages/PostPage/postform";

//medium size( small tablet size)
@include from-breakpoint($small-break){
   @include featurelegend_medium;
   @include postcontent_mediumsize;
   @include price_medium;
   @include cascademenu_mediumsize;
   @include popup_mediumsize;
   @include postform_mediumsize;
   @include featuretable_medium;
}

//large size ( big tablets/desktop size) . For < ie9 browsers we support only large size
@include from-breakpoint($medium-break, $lt-ie9-class-name){
	@include postcontent_largesize;
    @include price_large;
    @include cascademenu_largesize;
    @include postform_largesize;
    @include popup_largesize;
    @include featuretable_large;
	@include featurelegend_large;
}

//<IE9 specific
@include in-breakpoint($lt-ie9-class-name){
   @include postcontent_lt_ie9;
   @include cascademenu_lt_ie9;
   @include postform_lt_ie9;
   @include popup_lt_ie9;

   @include featuretable_medium;
   @include featuretable_large;
	@include featuretable_lt_ie9;
}

//IE9 specific 
@include in-breakpoint($ie9-class-name){
   @include postform_ie9;
   @include featurelegend_medium;
   @include featurelegend_large;
   @include feature-legend-ltie9;
}
//only for browsers that support CSS3
@media only all {
  @include postform_CSS3only;
}

// Welcome sign-in msg.
.form_out .welcome {
  clear: both;
  color: #468100;
  margin-top: 0;
}

// Override from cascademenu.scss
.form-sect #curLoc {
    	color: #569110;
}
.cat-search {
  form fieldset button {
    background-color: $brand-text-color;
  }
}

.img-upload-cnt{
	
	#dnd {
		border: 2px dashed #468100;
	}
	.featured {
		border:1px solid #468100 ;
	}
	
	#featuredImage {
		color:#fff;
		background:#90bf00;
	}
}

@include to-breakpoint($no-break){
	.featured {
		border:1px solid #468100;
	}
	
	#featuredImage {
		color:#fff;
		background:#90bf00;
	}
}



@include from-breakpoint($medium-break){
    .viewport .page .post-ad-subheader-container h1.subheader {
        padding-left: 6em;
        padding-top: .25em;
        padding-bottom: .25em;
        font-size: 1.5em;
    }
}

