@mixin cover-photo-common {
	cursor: pointer;
	position: relative;
	border: 1px solid black;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
@mixin delete-wrapper-mix {
	.delete-wrapper {
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		border-radius: 50%;
		border: 1px solid black;

		.icon-close {
			margin-left: 2px;
			margin-top: 2px;
		}
	}
}

.photo-switcher {
	display: inline-block;
	width: 300px;  // Align with banner asset
	float: left;
	background-color: $postAdBackgroundColor;
	box-shadow: 1px 1px 6px $postAdShadowColor;

	.photo-container-title {
		padding: 0.618em 0;
		text-align: center;
		font-size: large;
		color: $formLabelTextColor;
	}
	.drag-reorder {
		padding: 1em 0;
		text-align: center;
		font-size: medium;
		color: $formLabelTextColor;
	}

	.photo-limits {
		padding: 1em 0;
		text-align: center;
		font-size: medium;
		color: $formLabelTextColor;
	}

	.icon-camera-v2 {
		margin-top: 15%;
		margin-left: 50%;
		transform: translateX(-50%);
		opacity: 0.6;
	}

	.image-container {
		margin: 5% 5%;
	}

	.cover-photo-big {
		width: 120px;
		height: 120px;
		margin: 0 auto;
		margin-top: 10%;
		margin-bottom: 10%;
		padding: 1px;
		@include cover-photo-common;
		@include delete-wrapper-mix;

		.icon-camera-v2 {
			width: 50px;
			height: 50px;
		}

		.add-photo-text {
			font-size: medium;
		}
	}

	.cover-photo-small {
		width: 72px;
		height: 72px;
		margin: 2% 2.8%;
		float:left;
		border-radius: 5px;
		@include cover-photo-common;
		@include delete-wrapper-mix;

		.icon-camera-v2 {
			width: 21.5px;
			height: 18.8px;
		}

		.add-photo-text {
			font-size: small;
		}
	}

	.red-border {
		padding: 0;
		border: 2px solid red;
	}



	.icon-camera-v2, .add-photo-text {
		display: none;
	}

	.no-photo {
		.delete-wrapper {
			display: none;
		}

		.icon-camera-v2 {
			display: block;
		}

		.add-photo-text {
			display: block;
			text-align: center;
			color: $postAdTextGray;
		}
	}

	.delete-wrapper {
		position: relative;
		.icon-photo-close {
			position: absolute;
			right: -6px;
			top: -6px;
		}
	}

	.error-msg-wrapper {
		min-height: 21px;
		font-size: 14px;
		text-align: center;

		.hidden {
			display: none !important;
		}

		div {
			display: inline-block;
		}

		.max-photo-msg {
			color: $photoCarouselMaxPhotosMsgColor;
		}

		.photos-required-msg {
			color: $photoCarouselRequiredMsgColor;
		}

		.icon-contextual-info {
			vertical-align: sub;
			width: 15px;
			height: 15px;
		}
	}
}
