.photo-switcher {
	display: inline-block;
	width: 32%;
	float: left;
	background-color: $postAdBackgroundColor;
	box-shadow: 1px 1px 6px $postAdShadowColor;

	.icon-camera-v2 {
		margin-top: 25%;
		margin-left: 50%;
		transform: translateX(-50%);
		opacity: 0.6;
	}

	.add-photo-text {
		color: $postAdTextGray;
	}

	.image-container {
		margin: 5% 5%;
	}

	.cover-photo-big {
		cursor: pointer;
		position: relative;
		width: 150px;
		height: 150px;
		margin: 0 auto;
		margin-top: 25%;
		margin-bottom: 25%;
		padding: 1px;
		border: 1px solid black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		.delete-wrapper {
			position: absolute;
			right: 0;
			top: 0;
			background-color: transparent;
			border-radius: 50%;
			border: 1px solid black;

			.icon-close {
				margin-left: 2px;
				margin-top: 2px;
			}
		}
	}

	.cover-photo-small {
		cursor: pointer;
		position: relative;
		width: 28%;
		height: 110px;
		margin: 2% 2.3%;
		border: 1px solid black;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		float:left;
		border-radius: 10px;

		.delete-wrapper {
			position: absolute;
			right: 0;
			top: 0;
			background-color: transparent;
			border-radius: 50%;
			border: 1px solid black;

			.icon-close {
				margin-left: 2px;
				margin-top: 2px;
			}
		}
	}

	.red-border {
		padding: 0;
		border: 2px solid red;
	}



	.icon-camera-v2, .add-photo-text {
		display: none;
	}

	.no-photo {
		.delete-wrapper {
			display: none;
		}

		.icon-camera-v2 {
			display: block;
			width: 50px;
			height: 50px;
		}

		.add-photo-text {
			display: block;
			text-align: center;
			font-size: 20px;
		}
	}

	.delete-wrapper {
		position: relative;
		.icon-photo-close {
			position: absolute;
			right: -6px;
			top: -6px;
		}
	}

	.error-msg-wrapper {
		min-height: 21px;
		font-size: 14px;
		text-align: center;

		.hidden {
			display: none !important;
		}

		div {
			display: inline-block;
		}

		.max-photo-msg {
			color: $photoCarouselMaxPhotosMsgColor;
		}

		.photos-required-msg {
			color: $photoCarouselRequiredMsgColor;
		}

		.icon-contextual-info {
			vertical-align: sub;
			width: 15px;
			height: 15px;
		}
	}

	.slick-prev, .slick-next {
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		border: none;
		color: transparent;
		outline: none;
		top: 30px;
	}

	.slick-prev {
		left: -20px;
		padding: 0;
	}

	.slick-next {
		right: -25px;
		transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		padding: 0;
	}

	.slick-carousel {
		text-align: center;
		margin: 0 auto;
		width: 80%;

		.carousel-item {
			background-color: white;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			margin: 5px;
			border: 1px solid black;
			outline: none;

			&.selected {
				border: 3px solid $postAdOrange;
				margin: 3px;
			}

			.spinner {
				height: 100%;
			}
		}

		.add-photo-item {
			position: relative;
			background-color: white;
			margin: 5px;
			outline: none;
			border: 1px solid $postAdTextGray;

			&.hidden {
				display: none !important;
			}

			.icon-text-wrapper {
				left: 0;
				right: 0;
				margin: auto;
				position: absolute;
				width: inherit;
				height: inherit;

				.icon-camera-v2 {
					width: 24px;
					height: 24px;
				}

				.add-photo-text {
					font-size: 10px;
				}
			}

			form {
				height: inherit;
			}

			.file-input-wrapper {
				cursor: pointer;
				position: relative;
				width: 100%;
				height: 100%;

				.input-click-area {
					width: 100%;
					height: 100%;
				}

				.file-input {
					width: 0;
					height: 0;
					opacity: 0;
				}
			}
		}
	}
}
