.page{
  padding-left: 0;
  padding-right: 0;
}

.qpHeader{
  background-color: green;
  display: inline-block;
  width: 100%;
  padding-left: 1em;
  margin-bottom: 1em;
  .logo{
    float: left;
    height: 60px;
  }
  .pageTitle{
    margin-left: 1em;
    color: white;
    margin-top: 0.7em;
    float: left;
    font-size: 1.5em;
  }
}

.icon-remove-gray{
  height: 1em;
  width: 1em;
  position: absolute;
  left: 3.63em;
  background-color: white;
}

.imgUploadContainer{
  display: inline-block;
  width: 96%;
  margin-left: 0.5em;
  .uploadWrapper{
    float: left;
    cursor: pointer;
  }
  #thumb-nails{
    float: left;
    li{
      float: left;
      margin-left: 0.5em;
      position: relative;
      .upload-status {
        display: none !important;
      }
    }
  }
}

#featuredImage, .uploading{
  display: none;
}

#fileUpload{
  position: absolute;
  top: -1.7em;
  left: -0.15em;
  cursor: pointer;
  width: 6em;
  height: 7.5em;
  z-index: 40;
  opacity: 0;
}

.upload-icon {
  border: 2px dotted grey;
  width: 1.6em;
  height: 1.55em;
  float: left;
  margin-left: 0.2em;
  text-align: center;
  padding-top: 0.1em;
  font-weight: bold;
  font-size: 3em;
  color: green;
  position: relative;
}

.upload-icon-content{
  position: absolute;
  top: -0.11em;
  left: 0.37em;
}

.inner {
  border-radius: 1em;
  border: 1px solid #8FBA31;
  height: 1em;
  width: 1em;
  display: inline-block;
  position: absolute;
  top: 0.22em;
  left: 0.27em;
}

.qpWrapper{
  padding: 1em;
  background-color: #ebeeb9;
  border-radius: 10px;
  margin: 1em;
}

#postForm{
  margin-bottom: 2em;
}

.description{
  margin-top: 0.4em;
  textarea{
    background: transparent;
    border-radius: 5px;
    width: 99%;
    height: 10em;
    min-height: 10em;
    font-size: 1.2em;
  }
}

.socialMedia{
  border-bottom: solid 1px #a2a2a1;
  margin-top: 1em;
  .smedia{
    font-size: 1.3em;
  }
}

.select-category{
  border-bottom: solid 1px #a2a2a1;
  margin-top: 0.6em;
}

.price, .select-location{
  border-bottom: solid 1px #a2a2a1;
  padding-left: 0.4em;
  margin-top: 1em;
}

input, select{
  &.custom-input{
    background: transparent;
    border: 0;
    outline: none;
    font-size: 1.3em;
    width: 99%;
    margin-left: -0.4em;
  }
}

.toggleswitch{
  float: right;
  margin-top: -0.3em;
  display: inline-block;
  clear: right;
}

.infos{
  cursor: auto;
  color: #698DA7;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  border: 1px solid #97C3CE;
  background-color: #D9EDF6;
  white-space: normal;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  padding: 0 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

#maps-link{
  color: #2F68B2;
  text-decoration: underline;
  cursor: pointer;
}

.qpost{
  padding: 0 1em;
  margin-top: 1.5em;
}

.quickSubmit {
  color: #fff;
  font-weight: 700;
  border: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-size: 1.3em;
  background-color: green;
  margin: 0 auto;
  margin-top: 0.5em;
  width: 100%;
}

.noHeaderError{
  font-weight: 700;
  color: #bb3027;
  font-size: .85em;
}

textarea.error{
  border: 1px solid #bb3027;
  background: #EFDBD6;
}

.inforules {
   cursor: auto;
   color: #698DA7 ;
   font-weight: 400;
   font-size: 10px;
   line-height: 160%;
   white-space: normal;
   text-align: center;
   overflow: hidden;
   border-radius: 10px;
   padding: 0 0.5em;
   margin-bottom: 0.5em;
   margin-top: 1em;
}
