.order-summary {
    max-width: 725px;

    .order {
        @extend %box;
        padding-left: 0;
        padding-right: 0;

        #total-line {
            @extend %line-separated-items;
            text-align: center;

            .label {
                @extend %p-regular;
                color: $vivaBlack60;
            }

            .price {
                @extend %xlarge-regular-title;
                margin-top: -.125em;
            }
        }

        .feature-group {
            @extend %line-separated-items;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
                margin-bottom: 0;
            }

            .price,
            .feature {
                @extend %small-title;
            }

            .price,
            .vat {
                float: right;
            }

            .feature {}

            .vat {
                @extend %p-small;
                color: $vivaBlack60;
            }

            .title {
                @extend %p-regular;
                color: $vivaBlack60;
            }
        }


        .infolink {
            font-size: $font-size-medium;

            .input-checkbox + label:before {
                margin: 0.15em .5em;
                vertical-align:bottom;
            }

            .link {
                margin-left: 1.75em;
                margin-top: .25em;
                padding-left: 1.75em;
                color: $link-color;
                line-height: 125%;
                cursor: pointer;

                &.more {
                    display: block;
                }
                &.less {
                    display: none;
                }
            }
            &.active .link {
                &.less {
                    display: block;
                }
                &.more {
                    display: none;
                }
            }

            .desc {
                display: none;
                padding-top: 1em;
                margin: 0;

                h3 {
                    @extend %large-title;
                }

                p {
                    @extend %large-regular-title;
                    margin-top: .75em;
                    margin-bottom: .25em;

                    &:last-child {
                        display: none;
                    }
                }

                li {
                    position: relative;
                    padding-left: 1em;
                    font-size: $font-size-medium;
                    margin-bottom: .5em;

                    &:before {
                        display: inline-block;
                        width: .5em;
                        height: .5em;
                        content: '';
                        background-color: #ccc;
                        position: absolute;
                        left: 0;
                        top: .5em;
                        border-radius: 1em;
                    }

                    em {
                        color:#000;
                        font-weight:normal;
                        font-style: normal;
                    }
                }
            }
            &.active .desc {
                display: block;
            }
        }
    }
}
.ad {
    margin:0.5em;
    .price {
        float:right;
        margin-right:1em;
    }
    .feature {
        margin-top:0.7em;
    }

}

.order-summary .order #total-line{
	.labeled{
		float: left;
	}
	 .wrapper-price .price{
		float: none; //will look into optimizing it later
	}
}

.wrapper-price{
	float: right;
	text-align: right;
	.vat{
		color: $vivaBlack60;
		font-size: 0.75em;
	}
}


@include from-breakpoint($small-break) {
    .order-summary {
        .order {
            background-color: $background-color;

            #total-line {
                overflow: hidden;

                .label {
                    float: left;
                    display: block;
                    line-height: 1.75em;
                }

                .price {
                    float: right;
                    margin: 0;
                    line-height: 100%;
                }
            }


            .infolink {
                .link {
                    &.more {
                        display: inline-block;
                        background-size: 16px;
                    }
                }
                &.active .link {
                    &.less {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
