/*
    @mixin input-facade
    @description cross browser styles for consistent checkboxes on site
    @usage
        <input type="checkbox" class="input-checkbox" id="terms" name="terms" required="required" checked disabled />
        <label for="terms">{{{i18n "your.i18n.key.here"}}}</label>

    * id attr in the checkbox and for attr in the label
    * input immediately before the label

    Todo: Move input-facade to base styles
    Todo: Fix all checkboxes on the site
*/
.vip-seller {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eba921;
}

.lt-ie9.ng-cloak,
.lt-ie9 .ng-cloak {
  display: none !important;
}

.ng-cloak {
  opacity: 0 !important;
}

.thumb .thumbM {
  position: relative;
  top: -1em;
}
.thumb #pht-cnt {
  position: relative;
  top: -2.2em;
  background: none;
  line-height: 1;
  font-size: 80%;
  text-align: center;
  height: 15%;
}

#menu-link a {
  text-decoration: none;
}

.myads-title {
  color: #124f96;
}

#menu-link .active {
  background-color: #1867c3;
  color: white;
}

#menu-link .active .bold {
  color: #fff !important;
}

#menu-link .active .bold a {
  color: #124f96 !important;
  font-weight: normal !important;
}

#menu-link #menu ul {
  background-color: white;
}

@media screen and (min-width: 35em) {
  #menu-link #menu {
    width: 100% !important;
  }
}
@media screen and (max-width: 47em) {
  a.promote, a.promote:visited {
    width: 94% !important;
  }
}
@media screen and (min-width: 48.25em) {
  .select-ads {
    margin-top: 0em !important;
  }

  #menu-link #menu {
    width: 50em !important;
  }

  #menu-link #menu {
    width: 50em !important;
  }

  a.promote, a.promote:visited {
    width: 99% !important;
  }

  .myads-title {
    display: inline-block;
    position: static;
    top: 0em;
    margin-top: 1em;
  }

  .header-myad {
    display: block;
    height: 3.0em;
  }

  #menu li .serperator {
    border-left: 0.1em solid #468100;
    border-right: 0.1em solid #000;
  }
}
@media screen and (min-width: 69em) {
  .expire-msg {
    float: right !important;
    position: absolute !important;
    right: 0% !important;
  }

  #menu {
    width: auto !important;
    float: left !important;
  }
}
.vip-seller-form-details .security-tips span[data-o-uri]:hover,
.vip-seller-form-details .security-tips span[data-o-uri]:focus {
  color: #1867c3;
}

.vip-seller-form-details .reported-ad span {
  color: #a6a6a6;
}

.gl-messages {
  background-color: #fbf5db;
}

.gl-messages {
  background-color: #fbf5db;
}

#profile-cnt input[type='radio']:checked:before {
  border: 4px solid #1867c3;
}

#profile {
  color: #579bea;
}

#profile-cnt .btn {
  background: #1867c3;
  border: 5px solid #1867c3;
}
#profile-cnt .btn:not(.disabled):hover, #profile-cnt .btn:not(.disabled):focus {
  background: #1867c3;
}

#profile #profile-span:hover {
  text-decoration: underline;
}

#profile #profile-span:visited {
  color: #333333;
  font-weight: bold;
}

.hp-city-wrapper ul, .hp-map-wrapper ul, .hp-province-wrapper ul,
.hp-popular-searches-wrapper ul, .hp-trending-searches-wrapper ul {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}

/*
    @mixin input-facade
    @description cross browser styles for consistent checkboxes on site
    @usage
        <input type="checkbox" class="input-checkbox" id="terms" name="terms" required="required" checked disabled />
        <label for="terms">{{{i18n "your.i18n.key.here"}}}</label>

    * id attr in the checkbox and for attr in the label
    * input immediately before the label

    Todo: Move input-facade to base styles
    Todo: Fix all checkboxes on the site
*/
.category-list {
  font-size: 110%;
  overflow: hidden;
  *zoom: 1;
}
.category-list .parent-category > a {
  font-size: 110%;
  position: relative;
  display: block;
}
.category-list .parent-category > a .icon {
  position: absolute;
  text-align: right;
  width: 100%;
  display: block;
  height: 100%;
}
.category-list .parent-category > a .label {
  font-weight: bold;
  padding-left: 1.75em;
}
.category-list .parent-category > a .arrow {
  display: none;
}
.category-list .parent-category > a:hover .icon {
  color: #ce5426;
}
.category-list .parent-category ul li.all-label {
  display: none;
}

@media (max-width: 37em) {
  .category-list .parent-category {
    margin-top: 0;
    padding-top: 0;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    line-height: 1.5em;
  }
  .category-list .parent-category .label {
    padding-left: 2em;
  }
  .category-list .parent-category:nth-child(1) {
    border-top: none;
  }
  .category-list .parent-category > a {
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 100%;
  }
  .category-list .parent-category > a .icon {
    top: 0.5em;
    height: 1.4em;
    width: 1.4em;
  }
  .category-list .parent-category > a .arrow {
    display: inline-block;
    width: 1em;
    height: 1.1em;
    position: absolute;
    right: 0;
    top: 30%;
    text-align: center;
    line-height: 2.5;
  }
  .category-list .parent-category ul {
    display: none;
    padding: 0;
  }
  .category-list .parent-category ul.visible {
    display: block;
  }
  .category-list .parent-category ul li.all-label {
    position: relative;
    display: block;
    color: #1867c3;
    text-decoration: none;
    padding-left: 2.75em;
    line-height: 2.724609375em;
    cursor: pointer;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }
  .category-list .parent-category ul li.all-label:hover {
    text-decoration: underline;
    color: #579bea;
    background-color: #e6e6e6;
  }
  .category-list .parent-category ul a {
    display: block;
    padding-left: 2.75em;
    line-height: 2.724609375em;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  .parent-category a:hover {
    background-color: #e6e6e6;
  }
}
.category-list .parent-category > a .icon {
  height: 1.1em;
  width: 2em;
}
.category-list .parent-category > a .icon.icon-cat-64 {
  width: 1.5em;
}

/*
    @mixin input-facade
    @description cross browser styles for consistent checkboxes on site
    @usage
        <input type="checkbox" class="input-checkbox" id="terms" name="terms" required="required" checked disabled />
        <label for="terms">{{{i18n "your.i18n.key.here"}}}</label>

    * id attr in the checkbox and for attr in the label
    * input immediately before the label

    Todo: Move input-facade to base styles
    Todo: Fix all checkboxes on the site
*/
.category-list {
  font-size: 110%;
  overflow: hidden;
  *zoom: 1;
}
.category-list .parent-category > a {
  font-size: 110%;
  position: relative;
  display: block;
}
.category-list .parent-category > a .icon {
  position: absolute;
  text-align: right;
  width: 100%;
  display: block;
  height: 100%;
}
.category-list .parent-category > a .label {
  font-weight: bold;
  padding-left: 1.75em;
}
.category-list .parent-category > a .arrow {
  display: none;
}
.category-list .parent-category > a:hover .icon {
  color: #ce5426;
}
.category-list .parent-category ul li.all-label {
  display: none;
}

.category-list .parent-category {
  margin-top: 0;
  padding-top: 0;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  line-height: 1.5em;
}
.category-list .parent-category .label {
  padding-left: 2em;
}
.category-list .parent-category:nth-child(1) {
  border-top: none;
}
.category-list .parent-category > a {
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 100%;
}
.category-list .parent-category > a .icon {
  top: 0.5em;
  height: 1.4em;
  width: 1.4em;
}
.category-list .parent-category > a .arrow {
  display: inline-block;
  width: 1em;
  height: 1.1em;
  position: absolute;
  right: 0;
  top: 30%;
  text-align: center;
  line-height: 2.5;
}
.category-list .parent-category ul {
  display: none;
  padding: 0;
}
.category-list .parent-category ul.visible {
  display: block;
}
.category-list .parent-category ul li.all-label {
  position: relative;
  display: block;
  color: #1867c3;
  text-decoration: none;
  padding-left: 2.75em;
  line-height: 2.724609375em;
  cursor: pointer;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.category-list .parent-category ul li.all-label:hover {
  text-decoration: underline;
  color: #579bea;
  background-color: #e6e6e6;
}
.category-list .parent-category ul a {
  display: block;
  padding-left: 2.75em;
  line-height: 2.724609375em;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.parent-category a:hover {
  background-color: #e6e6e6;
}

.category-list .parent-category > a .icon {
  height: 1.1em;
  width: 2em;
}
.category-list .parent-category > a .icon.icon-cat-64 {
  width: 1.5em;
}

.hp-list-wrapper {
  padding-bottom: 1em;
}

.hp-content {
  position: relative;
  margin-top: .5em;
}

.hp-recommend-sidebar {
  text-align: center;
}

.social-media-container {
  text-align: center;
}

.hp-category-wrapper {
  position: relative;
  padding-bottom: 3em;
}

.hp-category-wrapper h1 {
  position: absolute;
  bottom: .2em;
  width: 100%;
  margin-right: 310px;
  font-weight: bold;
  font-size: 110%;
  padding: 0.5em 1em;
}

.hp-location-wrapper p.subTitle {
  display: none;
}

.post-ad-button {
  display: none;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}
.post-ad-button a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 1em;
}

.post-ad-button .primary-button.postcommercial {
  background-color: #FF0000;
}

#home_topbanner {
  width: 970px;
  text-align: center;
  margin: 15px auto 0 auto;
  max-width: 100%;
  overflow: hidden;
}

#rightBottomBanner {
  margin-top: 1em;
}

.hp-city-wrapper, .hp-map-wrapper, .hp-province-wrapper,
.hp-popular-searches-wrapper, .hp-trending-searches-wrapper {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #a2a2a1;
}
.hp-city-wrapper:last-child, .hp-map-wrapper:last-child, .hp-province-wrapper:last-child,
.hp-popular-searches-wrapper:last-child, .hp-trending-searches-wrapper:last-child {
  margin-right: 0;
}
.hp-city-wrapper h5, .hp-map-wrapper h5, .hp-province-wrapper h5,
.hp-popular-searches-wrapper h5, .hp-trending-searches-wrapper h5 {
  font-weight: bold;
  font-size: 110%;
}
.hp-city-wrapper ul, .hp-map-wrapper ul, .hp-province-wrapper ul,
.hp-popular-searches-wrapper ul, .hp-trending-searches-wrapper ul {
  width: 100%;
  display: block;
}
.hp-city-wrapper ul li, .hp-map-wrapper ul li, .hp-province-wrapper ul li,
.hp-popular-searches-wrapper ul li, .hp-trending-searches-wrapper ul li {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.facebook-module {
  margin-top: 1em;
}
.facebook-module iframe {
  border: none !important;
  overflow: hidden;
  height: 400px !important;
  border-bottom: 1px solid #AAAAAA !important;
}

.post-ad-button {
  display: block;
  margin: 0 -1em;
  padding: 1em 1em;
}

.hp-city-wrapper {
  margin-top: 0;
}

.hp-link-wrapper,
.hp-map-wrapper,
.hp-city-wrapper, .hp-province-wrapper,
.hp-popular-searches-wrapper, .hp-trending-searches-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

.item-img-wrap {
  position: relative;
  top: 1em;
  margin-bottom: 1em;
}
.item-img-wrap > div {
  margin: 0 auto;
}

.home_rghtbanner {
  display: none;
}

@media (max-width: 680px) {
  #home_topbanner {
    display: none;
  }
}
.hp-total-ad-count {
  display: none;
}
