//:::::::: Desktop / Medium / Small ::::::::::
.seo-wrapper{
  background-color: color(foxtail, base);
  display:inline-block;
  &,.top-links{color: color(swirl, shade);}
  h1{
    font-weight: 500;
    text-align: center;
    margin: 0 auto 20px;
    //max-width: 941px;
    border-bottom: 1px solid color(swirl, medium);
  }
  
  .top-locations-header, .top-headers{
    margin: 0;
    padding: 0;
  }
  .view-more-locations, .view-more-searches{
    float: left;
    width: 100%;
  }
}


//:::::::: Small Only::::::::::
@include to-breakpoint($small-break){
  .seo-wrapper{
    .seo-line{
      border-bottom: 1px solid color(swirl, shade); 
    }
    .thick-underline {
      border-bottom: 3px solid color(swirl, shade);
    }
    .top-headers-text {
      padding-bottom: 6px;
    }
  }
}


//:::::::: Desktop Only::::::::::
@include from-breakpoint($medium-break){
  .seo-wrapper{
    .tab-content{
      margin:0;
      text-align: center;
      .top-content{
        float: left;
        width: 49%;
      }
      .top-content-wrapper .top-content .top-links{
        position: relative;
        left: 0;
      }
    }
  }
}