.header-wrapper {
	border-bottom-color: color(leaf);

	.headerV2 {
		height: auto;
		margin: auto;
		max-width: 942px;
		padding: 20px 40px 0;

		.app-icon {
			top: 25px;
		}

		.item-text {
			background-color: $common-background-color;
			cursor: pointer;
			margin-top: -20px;
			max-width: none;
			padding: 20px 5px 1px;
			z-index: 1;
		}

		.left-items {
			width: auto;

			&.logged-out {
				left: auto;
				margin-left: 35px;
			}

			.browse {
				line-height: 35px;
				min-width: 0;
				width: auto;
			}
		}

		.logo {
			background: url("../../../../../images/en_ZA/logo_v2.png") no-repeat 50% 50%;
			background-size: contain;
			display: inline-block;
			height: 35px;
			margin-left: 20px;
			position: static;
			width: 127px;
			@include from-breakpoint($medium-break) {
				height: 35px;
				margin: 0 0 0 20px;
				top: 0;
			}
		}

		.menu-dropdown {
			position: absolute;
			left: 0;
			top: 100%;
		}

		.mobile-menu {
			top: 25px
		}

		.post-ad-button	{
			margin: 0 0 0 35px;
			min-width: 0;

			.btn {
				height: 35px;
				line-height: 35px;
				min-width: 0;
				padding: 0 15px;
				width: auto;

				&:hover {
					background-color: color(crane, shade);
				}
			}
		}

		.right-item {
			margin-right: 0;
			width: auto;

			.item-text {
				padding: 20px 5px 1px;
			}
		}

		.right-items {
			float: right;
			margin-right: 20px;
			position: static;
			width: auto;

			.help {
				line-height: 35px;
				margin-left: 35px;
				padding: 0;
				width: auto;
			}

			.profile {
				.header-item-icon {
					right: 0;
				}

				.profile-icon {
					height: 35px;
					width: 35px;
				}
			}
		}
	}
}

.profile-dropdown {
	position: absolute;
}

@include to-breakpoint($medium-break) {
	.header-wrapper {
		.headerV2 {
			.logo {
				margin-left: 0;
			}

			.post-ad-button {
				margin-left: 25px;
			}

			.right-items {
				margin-right: 0;

				.help {
					margin-left: 25px;
				}
			}
		}
	}
}

@include to-breakpoint($small-break) {
	.header-wrapper {
		&.header-distraction-free {
			.headerV2 {
				height: 40px;

				.logo {
					top: 15px;
				}
			}
		}

		.headerV2 {
			height: 30px;

			.logo {
				left: 50%;
				margin: 0 0 0 -63.5px;
				position: absolute;
				top: 23px;
			}
		}
	}
}
