.filters {
    .location-filter{
    	.field {
            padding: 0 0;
    
            input,select {
                width: 75%;
            }
            .warningMsg
            {
                margin-bottom:0;
                //font-size:0.8em;
                color:red;
                display:none;
            }
            
            &.disable
            {
                .warningMsg
                {
                    display:block;
                }
            }
        }
    }
}
