//Please do duplicate code here!
// topSearches / topLocations and topCategories should be seo.scss

.top-locations-header {
	&:first-child {
		margin-left: 0px;
	}
}

.top-headers-text {
	padding-bottom: 5px;
}

@include from-breakpoint($medium-break) {

	.desktop-hide {
		display: none;
	}

	.top-content {
		&:nth-child(even){
			display:inline;
			width: 50%;
		}
		&:nth-child(odd){
			width: 50%;
			display:inline-block;
		}
		&.hide {
			display:none;
		}
	}
	.thick-underline {
		border-bottom: 0px;
	}
	.view-more-locations {
		text-align: center;
		cursor: pointer;
	}
}
