.top-locations-header {
	&:first-child {
		margin-left: 0px;
	}
	margin-left: 10px;
	font-weight: bold;
}

.seo-line {
	margin-top: 6px;
	border-bottom: 1px solid #fafafa;
	width: 95%;
}

.top-content {
	margin-top: 20px;
	cursor: pointer;

	.top-links {
		color: #fafafa;
	}
}

.top-headers-text {
	padding-bottom: 5px;
}

.top-links {
	text-decoration: underline;
}

.thick-underline {
	border-bottom: 3px solid #fafafa;
}

.view-more-locations {
	margin-top: 20px;
	cursor: pointer;
}

@include from-breakpoint($medium-break) {

	.desktop-hide {
		display: none;
	}

	.seo-wrapper {
		.locations-wrapper {
			display: inline-block;
			width: 46%;
		}
		.top-content-wrapper {
			padding-left: 18px;
		}
	}
	.top-content {
		&:nth-child(even){
			display:inline;
			width: 50%;
		}
		&:nth-child(odd){
			width: 50%;
			display:inline-block;
		}
		&.hide {
			display:none;
		}
	}
	.thick-underline {
		border-bottom: 0px;
	}
	.view-more-locations {
		&:hover {
			text-decoration: underline;
		}
		text-align: center;
		cursor: pointer;
	}
}
