.top-locations-header {
	&:first-child {
		margin-left: 0px;
	}
}

.seo-line {
	border-bottom: 1px solid #fafafa;
	width: 99%;
	margin-top: -1px;
}

.top-content {
	cursor: pointer;
	.top-links {
		color: #fafafa;
	}
}

.top-headers-text {
	padding-bottom: 5px;
}

.thick-underline {
	border-bottom: 3px solid #fafafa;
	padding-bottom: 4px;
}

@include from-breakpoint($medium-break) {

	.desktop-hide {
		display: none;
	}

	.top-content {
		&:nth-child(even){
			display:inline;
			width: 50%;
		}
		&:nth-child(odd){
			width: 50%;
			display:inline-block;
		}
		&.hide {
			display:none;
		}
	}
	.thick-underline {
		border-bottom: 0px;
	}
	.view-more-locations {
		text-align: center;
		cursor: pointer;
	}
}
