// -------------------------------------------------- //
// sub elements should be contained in this file      //
// -------------------------------------------------- //

@import "../../partials/components/button/button";

.btn-wrapper{
  width: 80%;
  margin: 2em auto;
  max-width: 15em;
  min-width: 10em;
}

.btn{
  @include vivaBtn(off, 0.875em 0, "continue");
}

.btn-icon{
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  margin-left: 0.5em;
}

.modal{
  @include modal();
}
