
// -------------------------------------------------- //
// sub elements should be contained in this file      //
// -------------------------------------------------- //

@import "../../partials/components/button/button";

.btn-wrapper{
  margin: auto;
  min-width: 10em;
}

.btn{
  @include vivaBtn(off, 0.875em 0, Confirm);
}


.btn-icon{
  display: inline-block;
  width: 2em;
  height: 2em;
  vertical-align: middle;
}



.modal{
  @include modal();
}

.modal{
  .container {
   height: auto;
   overflow: hidden;
   border: 2px solid gray;
  }
  .right {
      float: right;
  }
  .left {
      float: none; /* not needed, just for clarification */
      /* the next props are meant to keep this block independent from the other floated one */
      width: auto;
      overflow: hidden;
  }
}
