.ad-statistics {
	position: relative;
	width: 80%;
	margin: 20px 10% 10px 10%;

	.stat-views {
		width: 35px;
		height: 50px;
	}
	.stat-label {
		text-transform: uppercase;
		color: $formLabelTextColor;
		text-align: center;
		font-size: 10px;
		width: 100%;
	}

	.stat-count {
		font-size: 21px;
		text-align: center;
	}

	.stats-messages {
		position: absolute;
		left: 33%;
		transform: translateX(-50%);
	}

	.stats-views {
		position: absolute;
		right: 33%;
		transform: translateX(50%);
	}
}

.view-replies-count {
	margin: 10px 0px;
	padding: 10px 0px;
	width: 100%;
	border-top: 1px solid $vivaGray2;
	border-bottom: 1px solid $vivaGray2;

	.ad-view-count {
		display: inline-block;
		text-align: center;
		width: 48%;
		border-right: 1px solid $vivaGray2;
		font-size: 18px;
		.views-text {
			font-size: 14px;
			color: $vivaGray1;
		}
	}
	.ad-replies-count {
		text-align: center;
		display: inline-block;
		width: 48%;
		font-size: 18px;
		.replies-text {
			font-size: 14px;
			color: $vivaGray1;
		}
	}
}
