@import "../../../../../partials/common/categoryListBase";


$ad-height: 3em;
$social-container-height: 6em;
$right-column-top: 16em;

//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@media (max-width: 37em) {
  
  @include category-list-to-no-breakpoint;
  .parent-category{
    a{
     &:hover{
      background-color: $content-link-bg-color;
     }
    }
   }  
             
}


//--------------------------------------------------------
//--------------------------------------------------------
//  the code bellow fixes the category list on IE8
//--------------------------------------------------------
//--------------------------------------------------------


//--------------------------------------------------------
// large breakpoint starts
//--------------------------------------------------------
@include to-breakpoint($lt-ie9-class-name) {
	
	li[data-ct-id='rightBucket'] { // right bucket
		position:relative;
		display:inline-block;
		right:-70%;
		width:30%;
	}
    
    .category-list{
        position:relative;
        height:42em;

        .parent-category{
            position:absolute;

            //column1
            //&.l1category1{
            //}
            &.l1category53{
               @include column-border-top;
               margin-top: 0;
                top:27em;
            }



            $column2left: 23%;
            //column2
            &.l1category64{
                left:$column2left;
            }
            &.l1category36{
                @include column-border-top;
                margin-top: $xlarge-margin;
                left:$column2left;
                top:18em;
            }



            $column3left: 47%;
            //column3
            &.l1category30{
                left:$column3left;
            }

            &.l1category20{
                @include column-border-top;
                margin-top: $xlarge-margin;
                top:13.5em ;
                left:$column3left;
            }

            &.l1category48{
                @include column-border-top;
                top:28em;
                left:$column3left;
            }
        }
    }

    //--------------------------------------------------------
    // General rules included throughout all sizes
    //--------------------------------------------------------
    .category-list {
        .parent-category{
           > a{
              .icon{
                 height:1.1em;
                 width:2em;
                 &.icon-cat-64{
                    width:1.5em;
                  }
              }
            }
        }
    }

    //-----------------------------------------------------------
    // Home page Right Adbanner 
    //-----------------------------------------------------------
    .home_rghtbanner{
        margin-bottom:10px;
    }
}
