@import "../../../../../partials/common/categoryListBase";


$ad-height: 15em;
$social-container-height: 6em;
$right-column-top: 16em;

//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@include to-breakpoint($no-break){
  
  @include category-list-to-no-breakpoint;
  .parent-category{
    a{
     &:hover{
      background-color: $content-link-bg-color;
     }
    }
   }  
             
}

//--------------------------------------------------------
// small breakpoint starts
//--------------------------------------------------------
@include in-breakpoint($small-break){
     .category-list{
        position:relative;
        
        .parent-category{
            position:absolute;
            
            //column1
            //&.l1category1{
            //}
            &.l1category30{
                @include column-border-top;
                top:26em;
            }
            
            &.l1category20{
                @include column-border-top;
			    margin-top: $xlarge-margin;
                top:39em;
            }
            
            &.l1category53{
                @include column-border-top;
                top:54em;
            }
            
        }
        
         li[data-ct-id='rightBucket'] { // right bucket
			position: relative;
			left: 50%;
		 }
    }
    
    //columnright
    //column2
    $right-column-left: 50%;
    
     .hp-content {
        .category-list 
        {
            height:86em;
            .parent-category{
                &.l1category64{
                    top:$right-column-top;
                    left:$right-column-left;
                }
                &.l1category36{
                    @include column-border-top;
                    top:$right-column-top + 17em;
                    left:$right-column-left;
                }
                &.l1category48{
                    @include column-border-top;
                    top:$right-column-top + 40em;
                    left:$right-column-left;
                }
            }
        }
        &.googleAdSensei
        {
            .category-list {
                height:90em !important;
                
                .parent-category{
                    &.l1category64{
                        top:$right-column-top + $ad-height + 4em;
                    }
                    &.l1category36{
                        top:$right-column-top + $ad-height + 22em;
                    }
                    &.l1category48{
                        top:$right-column-top + $ad-height + 45em;
                    }
                }
            }
        }
       
    }
}

//--------------------------------------------------------
// medium breakpoint starts
//--------------------------------------------------------
@include in-breakpoint($medium-break){
     #flexLftBuckt {
        height: 59em;
    }

     .category-list {
        position:relative;
        
        
        .parent-category{
            position:absolute;
            
            //column1
            //&.l1category1{
            //}
            
            &.l1category36{
                @include column-border-top;
                top:26em;
                
            }
            
            
            
            $column2left: 30%;
            //column2
            &.l1category64{
                left:$column2left;
            }
            
            &.l1category30{
                @include column-border-top;
			    margin-top: $xlarge-margin;
                top:18em;
                left:$column2left;
            }
            
            &.l1category20{
                @include column-border-top;
			    margin-top: $large-margin + $xlarge-margin;
                top:32em;
                left:$column2left;
            }



            //columnright
            &.l1category48{
                top:16em;
                left:67%;
            }
            
            &.l1category53{
                @include column-border-top;
                top:28em;
                left:67%;
            }
        }
        
         li[data-ct-id='rightBucket'] { // right bucket
			position: relative;
			left: 62%;
		 }
    }
    
     .hp-content {
        .category-list .parent-category{
            &.l1category48{
                top:$right-column-top;
            }
            &.l1category53{
                top:$right-column-top  + 13;
            }
        }
        
        &.googleAdSensei
        {
            .category-list 
            {
                .parent-category{
                    &.l1category48{
                        top:$right-column-top + $ad-height + 4;
                    }
                    &.l1category53{
                        top:$right-column-top + $ad-height  + 16;
                    }
                }
            }
        }
        
    }
}


//--------------------------------------------------------
// large breakpoint starts
//--------------------------------------------------------
@include from-breakpoint($large-break, $lt-ie10-class-name){
    
     .category-list {
        position:relative;
        height:42em;
        
        .parent-category{
            position:absolute;
            
            //column1
            //&.l1category1{
            //}
            &.l1category53{
               @include column-border-top;
			   margin-top: 0;
                top:27em;
            }
            
            
            
            $column2left: 23%;
            //column2
            &.l1category64{
                left:$column2left;
            }
            &.l1category36{
                @include column-border-top;
			    margin-top: $xlarge-margin;
                left:$column2left;
                top:18em;
            }



            $column3left: 47%;
            //column3
            &.l1category30{
                left:$column3left;
            }

            &.l1category20{
                @include column-border-top;
			    margin-top: $xlarge-margin;
                top:13em;
                left:$column3left;
            }
            
            &.l1category48{
                @include column-border-top;
                top:27em;
                left:$column3left;
            }
        }
         li[data-ct-id='rightBucket'] { // right bucket red
				position: relative;
				left: 70%;
		 } //now
    }
}

//--------------------------------------------------------
// General rules included throughout all sizes
//--------------------------------------------------------
 .category-list {
    .parent-category {
       > a{
          .icon{
                 height:1.1em;
                 width:2em;
                 &.icon-cat-64{
                    width:1.5em;
                  }
               
              }
            
            }

        }
}

//-----------------------------------------------------------
// Home page Right Adbanner 
//-----------------------------------------------------------

.ie9 .home_rghtbanner {
    margin-bottom:10px;
}