@import "../partials/base", "../partials/main/theme";
@import "typography-scale";


$container-width: 83.428571429em;
$blueprint-font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;

$iborange:#EBA921;
$ibltorange:#eac375;
$ibltyellow:#fff1ad;
$ibwhite:#ffffff;
$ibdkblue:#1963B9;
$ibblue:#1963B9;
$ibltblue:#D6F0FF;
$ibltgreen:#2f9e41;

$default-transition-time:400ms;

$rowHead-bg-color:#e6e6e6;
$rowHead-color:#333333;
$rowHead2-bg-color:#e6e6e6;
$rowHead2-color:#333333;
$row0-bg-color:transparent;
$row1-bg-color:#f9f9f9;
$postad-btn-color: #FF0000;

// Generic form element styles
$form-element-error-color: $color-red;
$form-element-error-bgcolor: #EFDBD6;
$form-element-border-color: #E6E6E6;
$form-element-valid-color:#336234;
$form-element-valid-bgcolor:#F0FFC1;

// Category and Location dropdowns
$menu-hover-parent-bg-color: $color-navy-10;
$menu-hover-parent-text-color: $color-black;
$menu-hover-current-bg-color: $color-navy;
$menu-hover-current-text-color: $color-white;

// PAGE
$search-bg-color:$iborange;
$search-color:$ibwhite;
$banner-bg-color:$ibltgreen;
$banner-color:$ibwhite;

// CAROUSEL
$carousel-arrow-color:$ibwhite;
$carousel-bg-color:tint($ibltblue,80%);
$carousel-border:1px solid $ibltblue;
$carousel-button-border:1px solid $iborange;
$carousel-button-color:$ibwhite;
$carousel-button-bg-color:$iborange;
$carousel-button-bg-gradient:linear-gradient(top left, $ibltorange 0%, $iborange 100%);
$carousel-nav-active-bg-color:$ibblue;
$carousel-nav-active-gradient:linear-gradient(bottom left, $ibblue 0%, $ibltblue 100%);
$carousel-nav-inactive-bg-color:$ibwhite;
$carousel-nav-inactive-gradient:linear-gradient(bottom left, tint($ibblue,70%) 0%, tint($ibltblue,70%) 100%);
$carousel-see-all-color:$ibdkblue;
$carousel-see-all-bg-color:$ibltblue;
$carousel-title-color:$ibdkblue;

// COLUMN-STATUS
$column-status-feature-icon-width:36px;
$column-status-feature-icon-height:24px;
$column-status-feature-icon-border:1px solid #CCC;

// FEATURE LEGEND
$feature-legend-shadow:-1px 1px 1px rgba(black,0.75);
$feature-legend-icon-width:96px;
$feature-legend-icon-height:66px;
$feature-legend-small-icon-width:64px;
$feature-legend-small-icon-height:64px;
$feature-legend-popup-icon-height:260px;
$feature-legend-popup-width:395px;
$feature-legend-popup-icon-width:$feature-legend-popup-width;
$feature-legend-bg-color: #ECECEC;
$feature-legend-separator-color:#CCCCCC;
$feature-legend-color-light-accent: $iborange;
$feature-legend-color-title-accent: $ibblue;
$feature-legend-dialog-title-bg-color:$ibblue;
$feature-legend-tip-color: $ibblue;
$feature-legend-popup-icon-bumpup:url('../../../../../images/es_MX/promoteAds/tooltip_bumpUp.png');
$feature-legend-popup-icon-urgent:url('../../../../../images/es_MX/promoteAds/tooltip_urgent.png');
$feature-legend-popup-icon-highlight:url('../../../../../images/es_MX/promoteAds/tooltip_highlight.png');
$feature-legend-popup-icon-topads:url('../../../../../images/es_MX/promoteAds/tooltip_top.png');
$feature-legend-popup-icon-homepage-gallery:url('../../../../../images/es_MX/promoteAds/tooltip_homepageGallery.png');
$feature-legend-popup-icon-category-gallery:url('../../../../../images/es_MX/promoteAds/tooltip_homepageGallery.png');
$feature-legend-popup-icon-websiteurl:url('../../../../../images/es_MX/promoteAds/tooltip_sellerURL.png');

$controls-bg-color: $ibblue;
$controls-color: $ibwhite;

$brand-text-color:$color-navy;
$srp-ad-title-color:$link-color;
$section-divider-bg-color: #d9d9d9;
$content-link-bg-color: #e6e6e6;
$srp-nophoto-imageurl: url('../../../../../images/es_MX/no-photo.jpg') ;
$selectall-hl-color: $color-yellow;
$selectall-text-color: $color-white;

$savedsearch-btn-on: #468100;
$savedsearch-btn-off: red;
$savedsearch-control-bg: $content-link-bg-color;
$ssp-column-label-color: #333;

// -------------------------------
// Quick Post page
// -------------------------------
$quickpost-header-bgcolor:#EBEBEB;
$quickpost-form-wrapper:#F7F7F7;
$quickpost-selected-cat-bgcolor:#DDDDDD;
$quickpost-selected-cat-color:#4A90E2;
$quickpost-cat-hover-color:#4A90E2;
$quickpost-form-submitBtn:orange;


// -------------------------------
// Post Ad Preview page
// -------------------------------
$preview-gallery-image-padding-top: 4em;
$preview-gallery-image-padding-left: 2em;
$preview-gallery-image-padding-bottom:3em;
$preview-gallery-image-padding-right: 2em;
$preview-image-gallery-right-margin: 40px;

//@mixin set-masthead-fonts() {
//  #tags, #cat-q, #catSelect, #searchbar-locFilter,
//  #search_bar button, .search form fieldset button {
//    font-size: $font-size-medium;
//  }
//}
//
//@mixin set-masthead-margins() {
//
//  .header .links .menu-items {
//    max-width: 11.5em;
//  }
//
//  @include from-breakpoint($small-break) {
//    .header .links .menu-items {
//      right: 13.5em;
//    }
//
//    .header .links .help {
//      right: 10.5em;
//    }
//  }
//
//  @include from-breakpoint($large-break, $lt-ie9-class-name) {
//    .header .links .menu-items {
//      right: 26.5em;
//    }
//
//    .header .links .help {
//      right: 23.5em;
//    }
//  }
//
//}

@mixin hide_header_post_ad_button {}

#menu-link a {
	text-decoration: none;
}

.myads-title {
		color:#124f96;
}
.expire-msg {
}

#menu-link .active {
	background-color: #1867c3;
	color: white;
}

#menu-link .active .bold{
	color:#fff !important;
}
#menu-link .active .bold a{
	color: #124f96 !important;
	font-weight:normal !important;
}


	 #menu-link #menu ul {
	    background-color: white;
	 }

@media screen and (min-width: 35em) {
	#menu-link #menu {
    width: 100% !important;
  }
}

@media screen and (max-width:47em) {
	a.promote, a.promote:visited {
		width:94% !important;
	}
}

@media screen and (min-width: 48.25em) {
	.select-ads {
		margin-top:0em !important;
	}
	#menu-link #menu {
		width: 50em !important;
	}


	#menu-link #menu {
		width: 50em !important;
	}
	a.promote, a.promote:visited {
		width:99% !important;
	}
	.myads-title {
		display:inline-block;
		position: static;
		top: 0em;
		margin-top:1em;
	}

	.header-myad {
		display: block;
		height: 3.0em;
	}
	#menu li .serperator{border-left:0.1em solid #468100;border-right:0.1em solid #000}

}
@media screen and (min-width: 69em) {
	 .expire-msg {
	 	float:right !important;
	    position:absolute !important;
    	right: 0% !important;
  }
  #menu {
  	width:auto !important;
  	float:left !important;
  }
}
@include in-breakpoint($lt-ie9-class-name) {
	#menu .serperator{ border-left:0.1em solid #468100;border-right:0.1em solid #000}

	.header-myad {margin-top:-2em}
	.select-ads {margin-top:0.5em !important}
	 #menu-link #menu {
	 	width:100% !important;
	 }
}

.vip-seller-form-details .security-tips span[data-o-uri]:hover,
.vip-seller-form-details .security-tips span[data-o-uri]:focus {
  	color: #1867c3;
}
.vip-seller-form-details .reported-ad span{ color: darken($button-disabled-text-color, 25%);}

// ------------------------------------------
// POSTAD BUTTON OVERRIDES
// ------------------------------------------

//.post-btn.postcommercial {
//	background-color: $postad-btn-color;
//}

// ------------------------------------------

// ------------------------------------------
// MESSAGE OVERRIDES (_message.scss)
// ------------------------------------------
.gl-messages {
	background-color: #fbf5db;
}
// ------------------------------------------



// ------------------------------------------
// MESSAGE OVERRIDES (_message.scss)
// ------------------------------------------
.gl-messages {
	background-color: #fbf5db;
}
// ------------------------------------------

#profile-cnt input[type='radio']:checked:before {
       border:4px solid #1867c3;
}

#profile {
	color: #579bea;

}

#profile-cnt {

	 .btn {
         background:#1867c3;
          border: 5px solid #1867c3;
         &:not(.disabled):hover, &:not(.disabled):focus {
             background: #1867c3;
         }
      }
}

#profile #profile-span:hover{
    text-decoration:underline;
}

#profile #profile-span:visited {
	color:#333333;
    font-weight:bold;
}
