<div id='div-gpt-ad-1318934199048-1' class="home_rghtbanner2"></div>

{{#partial "googleBannerAdsRightBottomV2_Script"}}
	{{#unlessMobile this.device}}
		{{!-- if condition is added to keep backward compatibility --}}
		BOLT.displayBanner($.extend( {pos:"{{#if this.banners.rightBottom.pos}}{{this.banners.rightBottom.pos}}{{else}}bottom{{/if}}",slotDim:  [[300, 250],[336 ,280]], slotId : 'div-gpt-ad-1318934199048-1' {{#if this.banners.rightBottom.adPos}}, adPos: '{{this.banners.rightBottom.adPos}}'{{/if}} },bP));
	{{/unlessMobile}}
{{/partial}}
