<div id='div-gpt-ad-1318934199048-1' class="home_rghtbanner2"></div>

{{#partial "googleBannerAdsRightBottomV2_Script"}}
			BOLT.displayBanner($.extend( {pos:"2",slotDim:  [[300, 250],[336 ,280]], slotId : 'div-gpt-ad-1318934199048-1', adPos: 'MREC_2_HP'},bP));
{{/partial}}
