<div id='div-gpt-ad-1318934199048-1' class="home_rghtbanner" style="float:right;width:336px;height:280px;margin: auto 10px;
    text-align: center;"></div>

{{#partial "googleBannerAdsRightBottomV2_Script"}}
	
    	BOLT.displayBanner($.extend( {pos:"right",slotDim:  [[300, 250],[336 ,280]], slotId : 'div-gpt-ad-1318934199048-1'},bP));

{{/partial}}