.login-modal {
	overflow-y: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transition: 1.3s height;
	// height: 210px;
	height: 350px;
	width: 85%;
	max-width: 400px;
	background: white;
	text-align: center;
	z-index: 10;

	&.open {
		height: 330px
	}

	.consent-error {
		left: 0;
		right: 0;
		margin: auto;
		color: red;
		font-size: 12px;
		padding-top: 15px;
		background-color: white;
		&.invisible {
			visibility: hidden;
		}
	}

	.login-title {
		font-weight: bold;
		margin-bottom: 15px;
		font-size: 20px;
	}

	.email-login-btn, .facebook-button {
		font-size: 14px;
	}

	.email-login-btn {
		width: 90%;
		margin-top: 15px;
		margin-bottom: 15px;
		.btn {
			padding: 0.715em 0;
			font-size: 1.1em;
			.sudolink {
				vertical-align: top;
			}
		}
	}

	.facebook-button {
		margin: auto;
		min-width: 10em;

		.icon-facebook_white {
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: inherit;
		}

		a {
			color: white;
			cursor: pointer;
			background-color: #3C5A96;
			border-radius: 2px;
			display: inline-block;
			font: bold 1.125em Lato;
			padding: 0.794em 0;
			text-align: center;
			&:hover {
				text-decoration: none;
			}
			width: 90%;
			vertical-align: top;
		}
	}

	.register-link {
		color: $postAdTextGray;
		text-decoration: underline;
		cursor: pointer;
	}

	.legal-wrapper {
		color: $postAdTextGray;
		font-size: 12px;
		width: 95%;
		padding: 15px 2.5% 15px 2.5%;
		background-color: white;

		a {
			color: $loginModalLinkColor;
			cursor: pointer;
			text-decoration: underline;
		}
	}

}

.login-modal-mask {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: .5;
	z-index: 9;
}
