<div id="terms-and-conditions" class="terms-and-conditions">
	<div class="checkbox-wrapper terms-and-conditions-container">
		<input id="accept-terms" type="checkbox" name="accept-terms" class="accept-terms">
		<label for="accept-terms">{{i18n "registrationForm.termsAndConditions"}}</label>
	</div>
	<div class="checkbox-wrapper marketing-consent-container">
		<input id="marketing-consent" type="checkbox" name="marketing-consent" class="marketing-consent" checked>
		<label for="marketing-consent">{{i18n "registrationForm.emailConsent"}}</label>
	</div>
</div>
