{{#ifMobile this.device}}
	<div class='full-screen-smartbanner' data-oldwidth="">
	
	    <div class='top-bar'>{{> (dynamic "logo") }}</div>
	
	    <div class='smartbanner-image'>
	        <div class='smartbanner-content'>
	            <a  class='smartbanner-button' href='{{i18n "smartmobilebanner.branchiolink"}}'>{{i18n "smartmobilebanner.title"}}</a>
	            <div class='mobile-site-link'>{{i18n "smartmobilebanner.mobilelink"}}</div>
	
	         </div>
	
	    </div>
	
	 </div>
{{/ifMobile}}