<div class="share-my-ad-card">
    <div class="share-link share-fb"></div>
    <div class="share-link share-fb-messager"></div>
    <div class="share-link share-whats-app"></div>
    <div class="share-link share-link"></div>
    <div class="share-link share-more"></div>
</div>
