<div class="share-my-ad-card">
    <div class="title-wrapper">
        <span class="title">{{i18n "shareAd.title"}}</span>
        <span class="posted-date-string">{{i18n "shareAd.dateString" adResult.daysUntil}}</span>
    </div>
    <!--<div role="button" class="share-link icon-share-facebook"></div>-->
    <!--<div role="button" class="share-link icon-share-fb-messenger"></div>-->
    <!--<div role="button" class="share-link icon-share-whatsapp"></div>-->
    <!--<div role="button" class="share-link icon-share-link"></div>-->
    <!--<div role="button" class="share-link icon-share-more"></div>-->
</div>
