<div class="cover-photo no-photo">
	<div class="icon-camera-v2"></div>
	<div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div>
</div>
<div id="photo-carousel" class="slick-carousel">
	<div class="add-photo-item">
        <div class="icon-text-wrapper">
            <div class="icon-camera-v2"></div>
            <div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div>
		</div>

		<form method="post" id="postForm" novalidate="novalidate">
			<div class="file-input-wrapper">
				<input class="file-input" type="file" name="pic" accept="image/*" id="fileUpload" multiple>
			</div>
		</form>
	</div>
</div>
