<div class="cover-photo no-photo">
	<div class="icon-camera-v2"></div>
	<div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div>
</div>
<div id="photo-carousel" class="slick-carousel">
	<div class="add-photo-item">
		<div class="icon-camera-v2"></div>
		<div class="add-photo-text">{{i18n "postAd.createAds.form.addPhotos"}}</div>
	</div>
</div>
