$searchbar-autocomplete-link-color: cyan !default;
$searchbar-autocomplete-border-color: cyan !default;
$searchbar-autocomplete-background: $color-white !default;

.autocomplete { width:100%; position:absolute; left:0; top:100%; background:$searchbar-autocomplete-background; display:none; margin-top:-0.25em; z-index:1;
    border:1px solid $searchbar-autocomplete-border-color; border-top:none; padding:0.25em;
    @include border-radius(0 0 0.25em 0.25em); @include box-shadow(0 2px 3px $color-black-15);

    a{ display:block; padding:0.25em 0.5em; text-decoration:none; @include border-radius(0.25em); color:lighten($searchbar-autocomplete-link-color, 10%); white-space:nowrap; @include ellipsis;

        b{ color:$searchbar-autocomplete-link-color; }
        i{ color:lighten($searchbar-autocomplete-link-color, 20%); }

//        &:hover,
        &.active{ background:$searchbar-autocomplete-link-color; color:transparentize($color-white, 0.1);

            b{ color:$color-white; }
            i{ color:transparentize($color-white, 0.2); }
        }

        &.saved{ font-style:italic; padding-left:1.75em;
            background:{
                image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACf0lEQVRYR8VXS1ICMRA1RcFWb+B4AuEEjidQNlCsxBPoDdQb6AnUFQUswBM4nEA8AXID2PIpfI9KqBCSSQbHIlXU/Drdr99LOo04OvAQB45/tBeATqdTFkJcrVarGL8I95FMZIjrBM8J3n/UajU+p45MANrt9g28PWoBU50DxA/t6/X6u8swCECr1YoKhUIPTsq+jBzfk+VyedtoNAhoa3gBdLtd0szgJ9rMKd718dwHGz+KakpDSfD+Gu+vcT3W5kxwf2nKkgqADjHpUwvOwM+lUum5Wq3SoXP0er2T2Wx2DyD3BpCKDsIJQNL+pQfHfRyysHRUMolEAzGBHBUlhxMAJjLzWDobF4vFsi1r2K30gAC445NszOdz6q8kSWB3yXlWAHDaxLdXzfEWbUaGXgC0N5mAlFXsjr4VALbbSG01GD7B8NEldggDai78cgs/8JlbFH7PdgBIpNSeYwrqo7QFlwWARYrKDgAdJQC8QCuuYufIAoBO4P8NLLCgkYUnGwMJvl1Ig7VOOQNgjWBd4RgIM4O0YBLUO0A1lZ1vvrkrDImHQqcka3DaZwVgzhGyYiWg5TwNAPT6RgWMzQX5ZwAM6gPhCr4PA7oE9LtZhJaSqQiZ4iZzCXaxCcm3F6FuaAGRa/DQbcgVrsrwLVbxm29xhn6XhWgEe3W07xYiqet6m+UZXGa/KcV4HsN/5G1IQrPz2Zm9Reph5HOW9buF+gGyj+nn3xmwdVVoSMrehiRrlqY9s14sFnegmoeZ3k+GtWT7AJD/F04RlA0pf1uNrK2e5CaBpyQPQHtzr7Y8lAkHgDElSDvSc2VgXduFmODKw60f0kHnBiCUKdPu4AB+AexlgZB0l/yaAAAAAElFTkSuQmCC);
                position: 0.5em center;
                repeat: no-repeat;
            }
            @include background-size(1em auto);

            &:hover{ background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACQElEQVRYR8VXgVHDMAxsJoANCBPQTkA6ATABZQK6Ae0GMAF0AsoEtBPQTkC7AUwQ/oPcUxw7dnLu1Xc64GLpXy9ZNtngxCs7Mf6gF4GyLIcgfgMrYLkYc9nAfmAr2EeWZfy7dXUiAOB7RJspwFD8HfeDyMK3MYoAgJnlO4yZ91lU5AFESKi2ggQAXgj4ufL8xe9LsZ2RWkpDsrdiZ8qHpRnbZWklIAE/4WjACfxMQyAG9C740mcqpomMNAkvAZH9ywIvYhpLs5IkWAJDgsRJoipHGwFmTvm59rChK2sAlBoQexoxRQ0CGhIrbBt7CcBhgo+vKnBNNivDIAHudyhxBxJLpwLY/A2fXIDm2DjToH0ICAnGeRJ/Nu+lSy4eNdaei02XtzVcTAkMYUcpRi4CmuULwNnJ3tWFgKjwhp8caFxzF4EVPlzLhqpOiQlwRnCoca0zO4M2MPm2AKmJkrXWhLa/fSqkGU2JNySgJQnh18BF0k4EbB8S4MSi7FcB9C2+cxDVJmBIQc9cOJCueiCChBO8jwJWCbaHJnQMCiMIj2LnEexTEzj1JtQbHSSSgotiuuecx5AdbsYw73A6JFlSak5Zc7s2B5GwrI5ZSnCJO8NPM4r3iJ8HHyRJUv9vdI54/bbwX0apQE0ch/RrZF9UKqcGs+N5XlV8W+yOSkCyfgQILzP9nox7kvVRRrK9gK95lNoP2cY8SVaCwEheg9TEyK6TOzYBviWnbVd6agK8M8y/ZsuYF3QyAn165qinIJbQH9spHI+Z5NEcAAAAAElFTkSuQmCC); }
        }

        &.clear{ text-align:center; font-size:0.75em; border: 1px solid $color-black-15; }

    }
}

