
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-cat-jobs, .icon-cat-auto, .icon-cat-5, .icon-cat-5-white, .icon-cat-prop, .icon-cat-2, .icon-cat-2-white, .icon-cat-8, .icon-cat-jobs, .icon-cat-8-white, .icon-cat-9, .icon-cat-services, .icon-cat-9-white, .icon-cat-4, .icon-cat-elect, .icon-cat-4-white, .icon-cat-6, .icon-cat-community, .icon-cat-6-white,
.icon-cat-9067, .icon-cat-pets, .icon-cat-9124-white, .icon-cat-all-white, .icon-cat-sale, .icon-cat-sale-white, .icon-cat-boats, .icon-cat-9218, .icon-cat-boats-white, .icon-cat-elect, .icon-cat-elect-white, .icon-cat-9459, .icon-cat-9237, .icon-cat-baby, .icon-cat-baby-white, .icon-cat-sports, .icon-cat-sports-white
.icon-cat-9490, .icon-cat-jobseek, .icon-cat-jobseek-white, .icon-cat-9290, .icon-cat-fashion, .icon-cat-fashion-white, .icon-cat-9541{
	
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	height:1.4em;
}


/*
What does this file do? I don't see any difference on the homepage in Chrome
when I remove everything. Also some cats defined here are no longer present
etc... Instead of maintaining specific problematic icons can we force the
style on all icons w/ something like
	.category .options a span.icon {...}

Here is a list of every cat for PL
==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ====
.icon-basename, .icon-basename-white, .icon-basecatnum, .icon-basecatnum-white
==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ====
.icon-cat-sale, .icon-cat-sale-white, .icon-cat-4, .icon-cat-4-white,
.icon-cat-antiques, .icon-cat-antiques-white, .icon-cat-9672, .icon-cat-9672-white,
.icon-cat-auto, .icon-cat-auto-white, .icon-cat-5, .icon-cat-5-white,
.icon-cat-baby, .icon-cat-baby-white, .icon-cat-9459, .icon-cat-9459-white,
.icon-cat-beauty, .icon-cat-beauty-white, .icon-cat-9690, .icon-cat-9690-white,
.icon-cat-boats, .icon-cat-boats-white, .icon-cat-9218, .icon-cat-9218-white,
.icon-cat-community, .icon-cat-community-white, .icon-cat-6, .icon-cat-6-white,
.icon-cat-elect, .icon-cat-elect-white, .icon-cat-9237, .icon-cat-9237-white,
.icon-cat-entertainment, .icon-cat-entertainment-white, .icon-cat-9490, .icon-cat-9490-white,
.icon-cat-fashion, .icon-cat-fashion-white, .icon-cat-9541, .icon-cat-9541-white,
.icon-cat-jobs, .icon-cat-jobs-white, .icon-cat-8, .icon-cat-8-white,
.icon-cat-jobseek, .icon-cat-jobseek-white, .icon-cat-9290, .icon-cat-9290-white,
.icon-cat-pets, .icon-cat-pets-white, .icon-cat-9124, .icon-cat-9124-white,
.icon-cat-prop, .icon-cat-prop-white, .icon-cat-2, .icon-cat-2-white,
.icon-cat-services, .icon-cat-services-white, .icon-cat-9, .icon-cat-9-white,
.icon-cat-sports, .icon-cat-sports-white, .icon-cat-9706, .icon-cat-9706-white
==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ==== ====
*/
