{{> (base "adFeatureSelection")}}
<div id="translation-block" class="hidden">
    {
        "feature": {
            "promotetitle": "Promocionar este anuncio",
            "promotehint": "Promocionar y vender más rápido",
            "displayname": {
                "bumpUpXY": "Mejorar la posición en las búsquedas",
                "topAd": "Anuncio superior",
                "hpGallery": "Galería de la página de inicio",
                "urgent": "Urgente",
                "highlight": "Anuncios destacados",
                "srpGallery": "Galería de categorías",
                "WebSiteUrl": "Enlace al sitio web"
            },
            "description": {
                "bumpUpXY": "La opción Mejorar la posición en las búsquedas es una manera asequible que hacer que tus anuncios tengan más visitas, ya que al ubicarse en los primeros lugares dentro de la categoría serán vistos por más gente y obtendrán más respuestas. La opción Mejorar la posición en las búsquedas subirá tu anuncio a los primeros lugares de la lista, debajo de los \"Anuncios superiores\". De forma automática, subiremos tu anuncio 10 veces en 5 días.",
                "topAd": "La opción Mejorar la posición en las búsquedas es una manera asequible que hacer que tus anuncios tengan más visitas, ya que al ubicarse en los primeros lugares dentro de la categoría serán vistos por más gente y obtendrán más respuestas. La opción Mejorar la posición en las búsquedas subirá tu anuncio a los primeros lugares de la lista de anuncios, debajo de los \"Anuncios superiores\", hasta que se publiquen más anuncios en la categoría.",
                "hpGallery": "La Galería de la página de inicio es una sección de dicha página en donde tus anuncios se pueden exhibir durante varios días. Muchas más personas leen y responden estos anuncios debido a su posición destacada en la página de inicio.",
                "urgent": "En las listas de anuncios y los resultados de búsquedas aparecerá una etiqueta de \"urgente\" junto a tu anuncio. Los usuarios pueden buscar específicamente anuncios etiquetados \"urgentes\". Esto es ideal si tienes apuro por vender, rentar o contratar. Los anuncios se marcan como \"urgentes\" durante 7 días.",
                "highlight": "Los anuncios destacados sobresalen entre el resto de los anuncios que aparecen en los resultados de búsqueda y exploración debido a que tienen un fondo de color más oscuro. Los Anuncios destacados tienen mayor visibilidad y, por lo tanto, podrían recibir más cantidad de visitas y respuestas. Los anuncios se marcan como \"destacados\" durante 7 días.",
                "srpGallery": "Tu anuncio aparecerá en una sección en  la parte superior de la página de una categoría Muchas más personas leen y responden los anuncios que se encuentran en la parte superior debido a su posición destacada. Puedes elegir que tu anuncio aparezca en la parte superior la cantidad de días que quieras.",
                "WebSiteUrl": "El enlace a tu sitio web aparecerá en la página de tu anuncio para que otros usuarios puedan visitarlo con tan solo un clic. Haz que los usuarios obtengan más información sobre lo que estás vendiendo."
            },
            "total": "Total",
            "cancel": "Cancelar",
            "checkout": "Proceder al pago",
            "noThanks": "No gracias, quiero ver mi anuncio",
	        "close": "Cerrar",
            "addUrl": "Agregar URL"
        }
	}
</div>

