<div class="sectionMenuWrapper">
  <ul class="sectionMenu">
    <li><a class="active" href="#" title="Trending">Trending</a></li>
    <li><a href="#" title="Goods">Goods</a></li>
    <li><a href="#" title="Cars">Cars</a></li>
    <li><a href="#" title="Real Estate">Real Estate</a></li>
    <li><a class="last" href="#" title="Jobs">Jobs</a></li>
  </ul>
</div>
