<!-- DateInput.html -->

<input type="date" class="dateselect {{#if hasErrors}}errorField{{/if}}">


{{#if errorMessage}}
        <p class="error"><span class="icon-alert-blue"></span>{{errorMessage}}</p>
{{/if}}
