// Image for ZA.
// @todo: Refactor this and remove !important declarations.
// Thumb container.
.thumb {
  background-image: none !important;
  border: 0 !important;
}

// Actual image
.icon-picture {
  display: block;
  border: none !important;
  background-image: $srp-nophoto-imageurl !important;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: top !important;
  height: 98px !important;
  width: 100% !important;
}

// For mobile breakpoint
@include to-breakpoint($no-break) {
  // No Image icon.
  .icon-picture {
    height: $thumbnail-size-asha !important;
    width: $thumbnail-size-asha !important;
  }
}

// leaving this here for now
#column-labels{
      color: white;
      &.smartStickyTop{
        max-width: 73em;
      margin: 0 auto;
    }
      &~ .ad{
         border-bottom: 0;
         &.clearfix:nth-child(even){
         @include border-radius(5px);
          background-color: #E3E3C9;
       }
    }
}

 .column-labels {
    background: #468100;
 }

@include in-breakpoint( $lt-ie9-class-name){
  .column-labels {
      background: #468100;
   }
}

