{{#block "postBtn"}}
<div class="post">
    <a class="sudo-link sudo-link post-btn postcommercial" data-gtm="pc|PostAdBegin" href="{{this.header.postAdPageUrl}}">
        <span>
        	{{#ifMobile this.device}}
                {{i18n "header.postad-medium"}}
            {{else}}
                {{i18n "header.postad-long"}}
            {{/ifMobile}}
        </span>
    </a>
</div>
{{/block}}
