$grey-text-color: #808080;

.upload-success-modal {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	background: white;
	text-align: center;
	z-index: 10;

	.close-button {
		position: absolute;
		top: 15px;
		right: 15px;

		.icon-close, .close-text {
			display: inline-block;
			font-size: 12px;
			color: grey;
		}

		.icon-close {
			background-size: 1800%;
			height: 16px;
			width: 16px;
			vertical-align: text-bottom;
		}
	}

	.success-title {
		font-weight: bold;
		font-size: 24px;
		margin-top: 50px;
		margin-bottom: 15px;
	}

	.tip {
		width: 75%;
		margin: 0 auto;
		text-align: left;
		font-size: 12px;
		color: $postAdTextGray;
		margin-bottom: 15px;
	}

	.more-details-link {
		font-size: 20px;
		color: $postAdTextGray;
		text-decoration: underline;
		cursor: pointer;
		margin-bottom: 15px;
	}

	.post-more-btn {
		width: 90%;
		margin-bottom: 15px;
	}
}

.success-modal-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #808080;
	opacity: .5;
	z-index: 9;
}
