{{#partial "content"}}
  <div class="quickpost">

    <div class="qpHeader">
      {{> (dynamic "logo") }}
      <div class="pageTitle">Sell your item</div>
      <div class="clear"></div>
    </div>

    <form action="" method="post">
      <div class="imgUploadContainer">
        <div class="uploadWrapper">
          <div class="upload-icon one"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="qpWrapper">
        <div class="description">
          <textarea id="description" name="description" placeholder="{{this.formContent.descriptionValue}}"></textarea>
        </div>

        <div class="select-category">
          <select class="custom-input">
              {{#each this.category.children}}
                  <option>{{this.localizedName}}</option>
              {{/each}}
          </select>
        </div>

        <div class="price">
            <input class="custom-input" type="text" name="price" placeholder="Price"/>
        </div>
        <div class="socialMedia">
            <span class="smedia">Share on Facebook</span>
            {{> (dynamic "switchButton" ) }}
        </div>

        <div class="select-location">
            <input class="custom-input" type="text" name="location" placeholder="Select Location"/>
        </div>
      </div>

      <div class="qpost">
        <input class="quickSubmit" type="submit" value="{{this.formContent.sellitText}}" />
      </div>
    </form>

  </div>
{{/partial}}

{{#partial "headerWrapper"}}{{/partial}}
{{#partial "footerWrapper"}}{{/partial}}
