{{#partial "content"}}
  <div class="quickpost">

    <div class="qpHeader">
      {{> (dynamic "logo") }}
      <div class="pageTitle">Sell your item</div>
      <div class="clear"></div>
    </div>

    <form action="" method="post">
      <div class="imgUploadContainer">
        <div class="uploadWrapper">
          <div class="upload-icon one"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="upload-icon"><span class="upload-icon-content">+</span><span class="inner"></span></div>
          <div class="clear"></div>
        </div>
      </div>

      <div class="qpWrapper">
        <div class="description">
          <textarea id="description" name="description" placeholder="{{this.formContent.descriptionValue}}"></textarea>
        </div>

        <div class="select-category">
          <select class="custom-input">
              {{#each this.category.children}}
                  <option>{{this.localizedName}}</option>
              {{/each}}
          </select>
        </div>

        <div class="price">
            <input class="custom-input" type="text" name="price" placeholder="Price"/>
        </div>
        <div class="socialMedia">
            <span class="smedia">Share on Facebook</span>
            {{> (dynamic "switchButton") }}
        </div>

        <div class="select-location">

          <!-- Map holder -->
          <div id="map_canvas_wrapper">
            <div id="map_canvas"></div>
          </div>
          {{> (dynamic "mapLatLong") }}

            <input class="custom-input" type="text" id="location" name="location" placeholder="Select Location"/>
            <input type="hidden" id="latitude" name="latitude" value = ""/>
            <input type="hidden" id="longitude" name="longitude" value = ""/>
            <input type="hidden" id="address" name="address" value = ""/>
        </div>
      </div>

      <div class="qpost">
        <input class="quickSubmit" type="submit" value="{{this.formContent.sellitText}}" />
      </div>
    </form>

  </div>
{{/partial}}

{{#partial "headerWrapper"}}{{/partial}}
{{#partial "footerWrapper"}}{{/partial}}


{{#partial "pageTailScripts"}}
<script type="text/javascript" src='/views/components/mapLatLong/js/mapLatLong.js'></script>
<script>
   $(document).ready(function () {
      var GMapObj = BOLT.MapLatLong;

      function openMap() {

        if (!openMap.opened) {
          $("#map_canvas_wrapper").slideDown("slow");
        } else {
          $("#map_canvas_wrapper").slideUp("slow", function () {
           var latlongData = GMapObj.getLatLong();

           /////////
           // @Nacer, please refactor this code
           $("#latitude").val(latlongData.lat);
           $("#longitude").val(latlongData.long);
           $("#address").val(latlongData.address);

           $("#location").val(latlongData.address);
           /////////
          });
        }
        openMap.opened = !openMap.opened;
      }
      openMap.opened = false;

      $("input[name=location]").click(openMap);

      $(document).on("applyLocation", function(e, latlongData) {
        ///////
        // @Nacer, please refactor this code
           $("#latitude").val(latlongData.lat);
           $("#longitude").val(latlongData.long);
           $("#address").val(latlongData.address);

           $("#location").val(latlongData.address);
        //////
      });

   });
</script>
{{/partial}}
