// import the base file
@import
    "../../theme",
    "../../typography-scale";


// Compass reset - runs global reset mixin and inserts styles
// Based on Eric Meyer's reset 2.0 Global reset rules.
// If more granular control is needed over reset rules, include and use reset utilities.
@import "compass/reset";




// include typography and other utilities
// necessary only once throughout the site
@include border-box-sizing;
@include blueprint-typography(1em);
@include blueprint-utilities;

// import the icons 
@import "../../../partials/main/icons";

// import global styles necessary throughout the site
@import "../partials/main/config",
    "../../../partials/main/circular",
    "../../../partials/main/matchMedia",
    "../../../partials/main/styles",
    "../../../partials/main/messages",
    "../../../partials/main/header",
    "../../../partials/main/jquerySmartbanner",
    "../../partials/main/othercountry",
//    "../../../partials/main/subHeaderMenu",
    "../../../partials/main/socialMedia",
    "../../../partials/main/searchbar",
    "../../../partials/main/pageTitle",
    "../../../partials/main/breadcrumbs",
    "../../../partials/main/content",
    "../../../partials/main/emptyStateMessages",
    "../../../partials/main/sectionDivider",

    "../partials/main/breadcrumbs",
    "../partials/main/footer";
    
@import "../../../Vivanuncios/partials/common/sub-header";

@include set-masthead-fonts;
@include set-masthead-margins;

.header .right .post {
  // this makes the button look a lot larger on desktop
  @include from-breakpoint($large-break) {
    a {
      padding: 0 3em;
      height: 2.25em;
      line-height: 2.25em;
    }
  }
}

// Overrides for Searchwrap
.searchbar .wrap {
    padding-top: 8px;
}

// setup selection colors
// not necessary, but nice to have
// when user selects any text
// keeps it consistent with styles
::selection {
  background: $color-navy;
  color: $color-white;
}
::-moz-selection {
  background: $color-navy;
  color: $color-white;
}



// limit the image to the maximum
// container width
img {
  max-width: 100%;
}





[data-uri],
[data-o-uri],
.sudo-link,
span[href]{
	@extend a;
	cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="checkbox"],
textarea,
select,
button {
  font-size: 1em;
  font-family: inherit;
  margin: 0;
}

a, [data-uri], [data-o-uri], .sudo-link, span[href] {
  font-size: 100%;  // override global setting of 88%
}

a, [data-uri], [data-o-uri], .sudo-link, span[href],
a:visited, [data-uri]:visited, [data-o-uri]:visited, .sudo-link:visited, span[href]:visited {
  color: $vivaBlue;
}

.search form .select ul li a {
  font-size: 0.875em;
  line-height: 1.5em;
  @include ellipsis;
}

.header .right .unreadMsg{
	@include in-breakpoint($no-break){
		top: 0em;
		left: -1.2em;
	}
}

// Fixes BOLT-18471
.header .right.isMcEnabled {
 
 @include in-breakpoint($no-break){
 	.profile{
 		margin-top: 0.7em;
 	}
 	.bubbles{
 		margin-top: 1em;
    	margin-bottom: -0.5em;
 	}
	.unreadMsg {
    	top: -0.7em;
    	left: 1.8em;
	}
 }
 
  @include in-breakpoint($small-break){
  	.nav{
  		min-width: 2.2em;
  		&.touched ul{
  			left: 0;
  		}
  	}
  	.post{
  		margin-top: 1em; 
  	}
  	.profile {
    	margin-left: -1em;
    	margin-right: 17em;
    	margin-top: 1em;
    	a{
    		 margin-left: 2em;
    	}
    }
    .bubbles {
    	margin-left: -2.5em;
    	margin-right: 0;
    	&+ .profile{
    		float: none;
    	}
    }
    
  }
  
  @include from-breakpoint($small-break) {
    .bubbles {
     	margin-top: 0.4em;
    }
 
  }
  
}

.postSection{
	font-size: 0.875em;
	.post{
		margin-top: 0.5em;
	}
}

.header.diff{  
    z-index: 1;
}

.header h1.title-header {
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto -12px;
  height: 12px;
  text-align: center;
}

@include in-breakpoint($no-break){
    .header h1.title-header {
        display: none;
    }

	.header.diff .post-btn-wrap {
    	width: 90%;
    	margin-left: 5%;
    	margin-right: 5%;
    	margin-top: 1em;
	}
  
	.header.diff .post-btn-wrap .long {
    	width: 100%;
    	margin-top: 17px;	
	}
	
	.header .wrap .left{
		width: 44%;
	}
	
	.postSection{
		display: block;
		.post{
			.post-btn{
				height: 2.8em;
				font-size: 1.3em;
				padding-top: 1em;
			}
		}
	}

  // Fixes BOLT-17989
  .searchbar .wrap .keyword {
    input[placeholder] {
      text-overflow: ellipsis;
    }
    ::-moz-placeholder {
      text-overflow: ellipsis;
    }
    /* firefox 19+ */
    input:-moz-placeholder {
      text-overflow: ellipsis;
    }
  }

}

@include in-breakpoint($small-break){
	.header .wrap .left{
		width: 35%;
	}
}

@include to-breakpoint($medium-break) {
  // Logo for Alamaula  BOLT-17606
  div.header div.logo a {
    width: 265px;
    height: 67px;
    background: url("../../../../../images/es_AR/logo-tablet.png") no-repeat;
    background-size: auto 100%;
    margin: 10px 10px 0 5px;
  }
}

@include to-breakpoint($no-break) {
  // Logo for Alamaula  BOLT-17606
  div.header div.logo a {
    height: 37px;
    width: 144px;
    position: relative;
    z-index: 1;
    background:  url("../../../../../images/es_AR/logo-mobile.png") no-repeat;
    background-size: auto 100%;
    margin: 10px 10px 0 10px;
  }
}

@include from-breakpoint($small-break) {
  // Overrides for Searchwrap
  .searchbar .wrap {
    padding-top: 0px;
  }
}

@include to-breakpoint($small-break) {
  .nav {
    width: 0;
  }
}

@include from-breakpoint($large-break, $lt-ie9-class-name) {
  // Logo for Alamaula BOLT-17606
    div.header div.logo a {
    //overflow: hidden;
    display: block;
    width: 331px;
    height: 84px;
    background: url("../../../../../images/es_AR/logo.png")  no-repeat 0 0;
    background-size: auto 100%;
  }
}

div.sitelogo {
    //overflow: hidden;
    display: block;
    width: 331px;
    height: 84px;
    background: url("../../../../../images/es_AR/logo.png")  no-repeat 0 0;
    background-size: auto 100%;
}
/*.sitelogo:after{
    content:url("../../../../../images/es_AR/logo.png");
    width: 331px;
    height: 84px;
    outline:1px solid orange;
}
*/
