
// Total Ad Count
.hp-total-ad-count {
  margin-top: 1em;
  padding: 0.25em;
  // background-color: #FFF1AD;
  .hp-live_ads_msg {
    color: #676767;
    font-size: 1em;
    .ad-count {
      color: $link-color;
      font-weight: bold;
    }
  }
}

@include in-breakpoint($no-break) {
  .hp-live_ads_msg {
    padding-left: 1em;
  }
}


// FOR IE<9 Total Ad count rendering
@include in-breakpoint($lt-ie9-class-name) {
    .hp-total-ad-count {
        margin-top: -2em;
    }
}