{{#partial "headerWrapper"}}
    {{> (dynamic "headerV2")}}
{{/partial}}

{{#partial "content"}}
	<section class="edit-ad-page">
        {{> (dynamic "postAdHeader")}}
		<div class="hidden">
            {{> (dynamic "uploadImage")}}
		</div>
        {{#block "editPhotoCarousel"}}
			<div class="photo-carousel">
				<div class="photo-switcher">
                    {{> (dynamic "photoCarousel")}}
				</div>
				<div class="reorder-images-link">
                <span role="link" class="reorder-images-link-text">
                    {{i18n "editAd.reorderImages"}}
				</span>
				</div>
				<div class="separator-div"></div>
                {{> (dynamic "adStats") }}
			</div>
        {{/block}}
        {{> (dynamic "editAdFormMainDetails") }}
    </section>

    {{> (dynamic "modal")}}
{{/partial}}

{{#partial "footerWrapper"}}
    {{> (dynamic "footerV2")}}
{{/partial}}
