{{#block "tileGrid"}}
    <div class="isotope-container">
        {{#each trendingCard.ads}}
            <div data-sort-position="1" class="isotope-item {{this.sizeClass}}">
                {{> (base "adTile") this}}
            </div>
        {{/each}}
        <!--{{#each feedTiles}}-->
            <!--<div data-sort-position="1" class="isotope-item feed-tile-size {{#unless @first}}hide-on-mobile{{/unless}}">-->
                <!--{{> (base "feedTile") this}}-->
            <!--</div>-->
        <!--{{/each}}-->
        <!--{{#each mostRecentAds}}-->
            <!--<div data-sort-position="1" class="isotope-item {{this.sizeClass}}">-->
                <!--{{> (base "adTile") this}}-->
            <!--</div>-->
        <!--{{/each}}-->
    </div>
{{/block}}
