{{#partial "verCategory-ar"}}
<div class="allCategoriesWrap">
    <span class='allCategories jsOnly'>{{i18n "home.allCategories"}}</span>
    <div class="clear"></div>
</div>
{{/partial}}

{{> (base "categoryDisplay")}}
