//:::::::: Desktop / Medium ::::::::::

.footer-wrapper{
	&,& a{
		color: color(swirl, shade);
		background-color: color(foxtail, light);
	}
	.top-links{
		color: color(swirl, shade);
		background-color: color(foxtail, medium);

	}
	.meet-team{
		margin-bottom: 17px;
	}

	.customer-service-container{
		height:88px;
		display: inline-block;
		width:100%;
		.team-photos{
			height: auto;
			width: 49%;
			.user-photo-wrapper {
				max-width: 103px;
				width: 103px;
				.user-photo {
					width: 64px;
					height: 64px;	
					border: 2px solid color(leaf);
				}
				&:nth-of-type(1) .user-photo {
				    background-image: url(../../../../../images/en_ZA/CS1.png);
				}
				&:nth-of-type(2) .user-photo {
				    background-image: url(../../../../../images/en_ZA/CS2.png);
				}
				&:nth-of-type(3) .user-photo {
				    background-image: url(../../../../../images/en_ZA/CS3.png);
				}
				&:nth-of-type(4) .user-photo {
				    background-image: url(../../../../../images/en_ZA/CS4.png);
				}
			}
		}
		.support-wrapper{
			width: 49%;
			.support-container{
				margin: 0 12.5px;
				.support-icon{
					width: 26px;
					height: 26px;
				}
				.chat-icon{
				  background-image: url(../../../../../images/en_ZA/chat-icon.png);
				}
				.email-icon{
				  background-image: url(../../../../../images/en_ZA/email-icon.png);
				}
				.call-icon{
				  background-image: url(../../../../../images/en_ZA/call-icon.png);
				}
				.support-text{
					position: relative;
					top:-3px;
					margin-left:0;
					font-size: 12px;
					text-transform:uppercase;
				}
			}
		}
	}

	.line-divider{
		width: 941px;
		margin: auto;
	}

	//-----------

	.footer-links{
		.menu-category{
			margin-top: 0;
			padding-top: 25px;
			padding-bottom: 20px;
			&:first-child span{
				//text-transform: uppercase;
				font-weight: bold;
			}
			.menu-items{
				margin: 25px 0 0 0;
				div{
					//margin-top: 25px;
				}
			}
			
		}
	}

	//-----------

	.social-container{
		margin:0;
		display: inline-table;
		padding-top:20px;
		.social-icon-wrapper{
			margin:0;
			.social-icon{
				margin-top: 0;
			}
		}
	}
	.mobile-only.social-container{
		display: none;
	}
	.desktop-only.social-container{
		display: block;
	}
	.footer-download{
		position: inherit;
		right: inherit;
		bottom: inherit;
		float: right;
		width:40%;
		padding-right: 35px;
		.menu-category{
			display: none;
		}
		.app-downloads-container{
			padding-top:20px;
			padding-bottom:9px;
			margin-top: inherit;				
			height:52px;
			text-align: right;
			width: 100%;
			.app-downloads{
				width: 100%;
				top:0;
				margin: 0 2.5px;
				&.icon-logo_app_store{
					background: url(../../../../../images/en_ZA/itunes.png) no-repeat;
					background-position: center;
					background-size: 100%;
				}
				&.icon-logo_google_play{
					background: url(../../../../../images/en_ZA/google-play.png) no-repeat;
					background-position: center;
					background-size: 100%;
				}
			}
		}
	}

	//-----
	
	.seo-wrapper{
		display:inline-block;
		color: inherit;
	}
	.footer-trademark {
		margin: 0;
		padding-bottom: 10px;
		font-size: 10px;
		text-align: center;
		&{
			background-color: color(foxtail, medium);
		}
	}
}
//:::::::: Small ::::::::::
@include to-breakpoint($small-break){
	.footer-wrapper{
		.meet-team{
			margin-top: 22px;
			margin-bottom: 14px;
		}
		.customer-service-container{
			height:auto;
			.team-photos{
				width:100%;
				.user-photo-wrapper{
					width: 25%;
					max-width: 25%;
					.user-photo{
						height: 50px;
						width: 50px;
					}
				}
			}
			.support-wrapper{
				text-align: center;
				width:80%;
				padding: 10px 10%;
				display: inline-table;
				margin: 0px;
				.support-container{
					display: inline-block;
					margin: 0;
					width: 33%;
					.support-text, .support-icon{
						margin:0;
					}
					.mobile-only.support-text, .chat-icon + .support-text{
						display:block;
					}
				}
			}

		}

		.seo-wrapper{
			.seo-line{
				border-bottom: 1px solid color(swirl, shade); 
			}
			.thick-underline {
				border-bottom: 3px solid color(swirl, shade);
			}
			.top-headers-text {
				padding-bottom: 6px;
			}
		}

		.footer-download{
			display: inline-block;
			width: 100%;
			padding: 0;
			.app-downloads-container{
				text-align: center;
				padding: 18px 0 9px 0;
			}
		}
	}
	.clear.line-divider{
		display: none;
	}
}
//:::::::: Desktop ::::::::::
@include from-breakpoint($medium-break){
	.footer-wrapper .desktop-only.social-container{
		display: inline-table;
		padding-left: 2.5%;
	}
}


