//:::::::: Desktop / Medium ::::::::::

.footer-wrapper{
	&,& a, .top-links{
		color: color(swirl, shade);
		background-color: color(foxtail, light);
	}
	.meet-team{
		margin-bottom: 17px;
	}

	.customer-service-container{
		height:88px;
		display: inline-block;
		width:100%;
		.team-photos{
			height: auto;
			width: 49%;
			.user-photo-wrapper {
				max-width: 103px;
				width: 103px;
				.user-photo {
					width: 64px;
					height: 64px;	
					border: 2px solid color(leaf);
				}
			}
		}
		.support-wrapper{
			width: 49%;
			.support-container{
				margin: 0 12.5px;
				.chat-icon{
					font-size: 26px;
					color: color(leaf);
				}
				.support-text{
					font-size: 12px;
					text-transform:uppercase;
				}
			}
		}
	}

	.line-divider{
		width: 941px;
		margin: auto;
	}

	//-----------

	.footer-links{
		.menu-category{
			margin-top: 0;
			padding-top: 25px;
			padding-bottom: 20px;
			&:first-child span{
				text-transform: uppercase;
				font-weight: bold;
			}
			.menu-items{
				margin: 25px 0 0 0;
				div{
					margin-top: 25px;

				}
			}
			
		}
	}

	//-----------

	.social-container{
		margin:0;
		.social-icon-wrapper{
			padding-top:20px;
			margin:0;
			.social-icon{
				margin-top: 0;
			}
		}
	}
	.mobile-only.social-container{
		display: none;
	}
	.desktop-only.social-container{
		display: block;
	}
	.footer-download{
		position: inherit;
		right: inherit;
		bottom: inherit;
		float: right;
		width:40%;
		padding-right: 35px;
		.menu-category{
			display: none;
		}
		.app-downloads-container{
			padding-top:20px;
			height:52px;
			text-align: right;
			width: 100%;
			margin-top: inherit;				
			.app-downloads{
				width: 100%;
				background: url("https://securelatam.classistatic.com/2.0.122/css/es_MX/svg/sprite.css-5329f80e.svg") 42.19653179190752% 0 no-repeat;
				top:0;
				margin: 0 2.5px;
			}
		}
	}

	//-----
	
	.seo-wrapper{
		display:inline-block;
		position: relative;
		top: -28px;
		color: inherit;
	}
}
//:::::::: Small ::::::::::
@include to-breakpoint($small-break){
	.footer-wrapper{
		.meet-team{
			margin-top: 22px;
			margin-bottom: 14px;
		}
		.customer-service-container{
			height:auto;
			.team-photos{
				width:100%;
				.user-photo-wrapper{
					width: 25%;
					max-width: 25%;
					.user-photo{
						height: 50px;
						width: 50px;
					}
				}
			}
			.support-wrapper{
				text-align: center;
				width:100%;
				
				.support-container{
					display: inline-block;
					.support-text, .support-icon{
						margin:0;
					}
					.mobile-only.support-text, .chat-icon + .support-text{
						display:block;
					}
				}
			}

		}

		.seo-wrapper{
			top: -1px;
			.seo-line{
				border-bottom: 1px solid color(swirl, shade); 
			}
			.thick-underline {
				border-bottom: 3px solid color(swirl, shade);
			}
			.top-headers-text {
				padding-bottom: 6px;
			}
		}

		.footer-download{
			display: inline-block;
			width: 100%;
			padding: 0;
			height: 80px;
			.app-downloads-container{
				text-align: center;
				padding: 18px 0 0 0;
			}
		}
	}
}
//:::::::: Desktop ::::::::::
@include from-breakpoint($medium-break){
	.footer-download{
		height: 109px;
	}
	.footer-wrapper .desktop-only.social-container{
		display: inline-block;
	}
}


