//:::::::: Desktop ::::::::::
.footer-wrapper{
	&,& a{
		color: color(swirl, shade);
		background-color: color(foxtail, light);
	}
	.support-wrapper{
		.chat-icon{
			color: color(leaf);
		}
		.support-text{
			text-transform:uppercase;
		}
	}

//------------------------
	
	.line-divider{
		width: 941px;
		margin: auto;
	}


//------------------------
	
	.seo-wrapper, .seo-wrapper a{
		color: color(swirl, shade);
	}
}

//::::::::Responsive :::::::
@import './footer/small.scss',
		'./footer/medium.scss',
		'./footer/desktop.scss'
