// BOLT-16631 User Reputation improvements for VIP.

@mixin abt1-seller-reputation {
// Enhancements for this version

// Flag icon (warning sign)
  .icon-report-flag {
    width: 0.8em;
    height: 0.8em;
    display: inline-block;
  }

  .abt1.vip-seller-container {
    padding: 0;
    border: none;

    span.username {
      width: 80%;
      float: right;
      text-align: left;
      span.more-ads {
        display: block; //  none;
      }
    }

    // Seller Reputation container
    .vip-seller div.user-reputation {
      margin-top: -0.4em;
      width: 80%;
      float: right;
      font-size: 12px;
      color: #878787;
      height: 35px;

      > span, > div {
        height: 35px;
        vertical-align: top;
      }

      // User since date
      .usersince {
        font-size: 11px;
        height: 25px;
        line-height: 25px;
        width: auto;
        text-align: left;
        border-right: none;
        display: block;
        color: #878787;
        span.usersince-date {
          display: inline;
          font-weight: bold;
        }
      }

      .email-verif-status {
        vertical-align: middle;
        width: 150px;
        display: table-cell;
        font-size: 10px;
        text-align: left; // center;
        padding-left: 2px;
        span.label {
          white-space: nowrap;
          vertical-align: top;
        }
      }

      // Icon email verified or non-verified
      .icon-email-verified,
      .icon-email-non-verified {
        display: inline-block; // table-cell;
        background-position: top center;
        width: 30px; // 35px;
        height: 15px; // 18px;
      }

      // Total number of Seller ads
      .num-total-ads-container {
        width: 30%;
        padding: 0 5px;
        display: table-cell;
        text-align: center;
        font-weight: bold;

        span {
          font-size: 14px;
          color: orange;
        }
      }

      // Number of active Seller ads
      .num-active-ads-container {
        width: 30%;
        padding: 0 5px;
        display: table-cell;
        border-left: 1px solid #C0C0C0;
        text-align: center;
        font-weight: bold;

        span {
          font-size: 14px;
          color: #85C980;
          a, a:visited {
            color: inherit;
          }
        }
      }

      // Label number of ads.
      .num-total-ads-container,  .num-active-ads-container  {
        span.num-label {
          display: block;
          margin-top: -0.3em;
          color: #878787; //  #C0C0C0;
          font-weight: normal;
          font-size: 10px;
        }
      }

    }

    // User Interactions (i.e., the Form to send the seller a message)
    .vip-usr-interactions {
      @include border-radius(5px);
      border: 1px solid #DCDCDC;
      margin: .4em 0;
      padding: 0 1em;
      background-color: #F4F5F7;

      a.button.telephone {
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 0.6em;
        margin-bottom: 0.6em;
      }
    }

    .vip-contact form, .vip-flagad form {
      background-color: #F4F5F7;
      border-top: 0;
      padding-top: 0; // 0.5em;
      margin-top: 0.2em; // 0.5em;

      textarea {
        border: 1px solid #CACACA !important;
        background-color: #FFFFFF;
        border-radius: 0.25em;
      }
    }
  }


  @include in-breakpoint($no-break) {
    // ***************************************
    // BOLT-16631 : User Reputation Container
    // ***************************************
    .abt1.vip-seller-container {
      span.username {
        width: 75%;
      }

      // Seller Reputation container
      .vip-seller div.user-reputation {
        width: 75%;
        height: 60px;
      }

      // Fixes BOLT-18961
      .vip-usr-interactions {
        display: none;
      }
    }

    // Ughhh
    @media (min-width: 300px) {
      .abt1.vip-seller-container {
        span.username {
          width: 80%;
        }

        // Seller Reputation container
        .vip-seller div.user-reputation {
          width: 80%;
        }
      }
    }
    // **************
    // End BOLT-16631
    // **************
  }

  @include from-breakpoint($small-break) {
    // ***************************************
    // BOLT-16631 : User Reputation Container
    // ***************************************
    .abt1.vip-seller-container {
      .vip-seller {
        padding-bottom: 1.5em;

        .usersince {
          font-size: 9px;
        }
      }

      span.username {
        width: 70%;
      }

      // Fixes BOLT-18961
      .vip-usr-interactions {
        display: block !important;
      }

      // Seller Reputation container
      .vip-seller div.user-reputation {
        width: 70%;

        .email-verif-status span.label {
          word-wrap: normal;
          width: 50px;

          white-space: normal;
          line-height: 1;
          display: inline-block; // table-cell; // block;
        }
      }

      // Ughhh
      @media (min-width: 550px) and (max-width: 600px) {
        .vip-seller div.user-reputation .usersince {
            font-size: 10px;
        }
      }

    }
    // **************
    // End BOLT-16631
    // **************
  }

  @include from-breakpoint($medium-break) {
    // ***************************************
    // BOLT-16631 : User Reputation Container
    // ***************************************
    .abt1.vip-seller-container {
      .vip-seller {
        padding-bottom : 1.5em;

        .usersince {
          font-size: 10px;
        }
      }

      span.username {
        width: 80%;
      }

      // Seller Reputation container
      .vip-seller div.user-reputation {
        width: 80%;

        .email-verif-status {
          width: 150px;
          white-space: normal;
          // white-space: nowrap;
        }

        // Total number of Seller ads
        .num-total-ads-container {
          width: 30%;
        }

        // Number of active Seller ads
        .num-active-ads-container {
          width: 20%;
        }
      }
    }
    // **************
    // End BOLT-16631
    // **************
  }


  @include from-breakpoint($large-break, $lt-ie9-class-name){
    // ***************************************
    // BOLT-16631 : User Reputation Container
    // ***************************************
    .abt1.vip-seller-container {
      .vip-seller {
        padding-bottom : 0.5em;
      }

      span.username {
        width: 85%;
      }

      // Seller Reputation container
      .vip-seller div.user-reputation {
        margin-top: 0;
        width: 85%;
        float: right;

        // User since date
        .usersince {
          height: 35px;
          line-height: 15px;
          width: 25%; // 30%;
          text-align: left;
          display: table-cell;
          border-right: 1px solid #C0C0C0;
          span.usersince-date {
            display: block;
          }
        }

        .email-verif-status {
          width: 70px;
          white-space: nowrap;
        }

        // Total number of Seller ads
        .num-total-ads-container {
          width: 20%;
        }

        // Number of active Seller ads
        .num-active-ads-container {
          width: 10%;
        }
      }
    }
    // **************
    // End BOLT-16631
    // **************
  }
}
