{{#partial "headerWrapper"}}
    {{> (dynamic "headerV2")}}
{{/partial}}

{{#partial "content"}}
    <div class="post-ad-header">
        <span class="back-button">
            <span class="icon-caret-left-blue"></span>
            {{i18n "postAd.confirm.back"}}
        </span>
        <div class="header-text">{{i18n "postAd.confirm.pageTitle"}}</div>
    </div>

    <div class="user-image margin-auto"></div>

    {{> (dynamic "button") hideIcon=true extraClasses='post-ad-button margin-auto' buttonLink="/post-TBD" i18nPath="quickpost.pageTitle"}}
    <div class="retake-photo-button underline">
        <a href="/retake-TBD">{{i18n "postAd.confirm.retakePhoto"}}</a>
    </div>
{{/partial}}

{{#partial "footerWrapper"}}
    {{> (dynamic "footerV2")}}
{{/partial}}
