@mixin modal(){
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 200;
  left: 0;
  > .modal-overlay{
      background-color: $modal-bgcolor;
      opacity: 0.5;
      position: absolute;
      height: 100%;
      width: 100%;
  }
  > .modal-container{
      background-color: white;
      width: 80%;
      position: relative;
      top: 0em;
      margin: 2em auto;
      padding: 1em;
      max-width: 23em;
      min-height: 14em;
      > .modal-close-section{
          text-align: right;
          cursor: pointer;
          color: gray;
          font-size: 0.8em;
          :hover{
			  .close-text {
				  text-decoration: underline;
			  }
          }
          > div .close-text {
            vertical-align: middle;
            margin-right: 0.5em;
		    font-size: 12px;
          }
          > div .icon-close{
              display: inline-block;
              vertical-align: middle;
			  cursor: pointer;
          }
		  .close-icon-font {
			  display: inline-block;
			  position: relative;
			  top: 2px;
			  right: 1px;
		  }
      }
  }
}

.modal {
  .modal-header-message {
    font: $h3;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
  }
  .modal-info{
    font: $p2;
    color: $modal-info;
    margin-top: 1em;
    margin-bottom: 0.25em;
    margin-left: 1em;
  }
  .modal-field{
    position: relative;
    .icon-placeholder1{
      border: 1px solid green;
      float: left;
    }
    .icon-placeholder2{
      border: 1px solid blue;
      float: left;
    }
	.icon-location-v2{
		margin-right: 0.2em;
		background-image: url("../../../../../svgsV2/#{$photoFolder}/location-v2.svg");
		&:hover{
			background-image: url("../../../../../svgsV2/#{$photoFolder}/location-v2-hover.svg");
		}
	}
  }
  input{
    border: transparent;
    width: 98%;
    height: 2em;
    margin-left: 0.5em;
    margin-top: 0.3em;
    &:focus{
      border: transparent;
      outline: none;
    }
  }
  .btn-wrapper{
    margin-top: 2em;
  }
}

.pac-container{
	.pac-item {
		.pac-icon {
			display: none;
		}
	}
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.disable-click {
	pointer-events: none;
	opacity: 0.5;
}
