.vip-header-and-details{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}

.vip-title {
	font-size: 2.0em;
	.myAdTitle{
		font-weight: bolder;
		color: #000000;
	}
}

.vip-itemid {
	font-size: 0.7em;
}
