{{! @social-media }}
{{! Template for Social media container icons }}

{{!-- #if model.socialMediaEnabled --}}
    <!--  social media -->
    <div class="social-media">
        <ul class="social-media-ul buttons">
            <li class="button"><a href="https://www.facebook.com/GumtreePolska" target="_blank"><span class="icon-seo-facebook sm-icons"></span></a></li>
            <li class="button"><a href="https://plus.google.com/103950977256553454134/posts" target="_blank"><span class="icon-seo-gmailplus sm-icons"></span></a></li>
            <li class="button"><a href="https://twitter.com/gumtreepolska" target="_blank"><span class="icon-seo-twitter sm-icons"></span></a></li>
            <li class="button"><a href="http://pinterest.com/gumtreepolska" target="_blank"><span class="icon-seo-pinterest sm-icons"></span></a></li>
            <li class="button"><a href="http://www.youtube.com/user/GumtreePolska" target="_blank"><span class="icon-seo-youtube sm-icons"></span></a></li>
        </ul>
    </div>
{{!-- /if --}}