.empty-state-content {
  font-size: $font-size-large;
}

@include in-breakpoint($no-break) {
    .content {
        background-color: $vivaWhite80;
        padding: 1em;
    }
}


@include from-breakpoint($large-break) {
    .content {
        padding: 0;
        padding-top: 0.4em;

        .wrap {
            margin: auto 4em;

            .my-top-navigation {
                margin-left: -2em;
                margin-right: -2em;
            }
        }
    }
}






%section-header {
    @extend %border-bottom;
    @extend %double-margin-bottom;
    display: block;
}

@include in-breakpoint($no-break) {
    %section-header {
        background-color: $background-color;
        margin-top: -1em;
        margin-left: -1em;
        margin-right: -1em;
        padding: 0 1em;
    }
}





// ------------------------------------------
// OVERRIDES
// ------------------------------------------


@include in-breakpoint($no-break) {
    // inherited display:none from
    // partials/pages/MyAdsPage/_layout.scss
    .commercial .price {
        display: block;
    }
}



