<div id='div-gpt-ad-1318934199048-0' class="home_rghtbanner" style="margin-left:10px;margin-right:10px;float:left;width:336px;height:280px;width: 336px;
    height: 280px;
    margin: auto 10px;
    text-align: center;"></div>

{{#partial "googleBannerAdsRightV2_Script"}}

    	BOLT.displayBanner( $.extend( {pos:"top",slotDim: [[300, 250],[300,280]], slotId : 'div-gpt-ad-1318934199048-0'},bP));

{{/partial}}
