<div id='div-gpt-ad-1318934199048-0' class="home_rghtbanner"></div>

{{#partial "googleBannerAdsRightV2_Script"}}
  	{{#unlessMobile this.device}}
    	BOLT.displayBanner( $.extend( {pos:"1",slotDim: [[300, 250],[336 ,280]], slotId : 'div-gpt-ad-1318934199048-0', adPos: 'MREC_1_HP'},bP));
   {{/unlessMobile}}
{{/partial}}
