<div id='div-gpt-ad-1318934199048-0' class="home_rghtbanner"></div>

{{#partial "googleBannerAdsRight_Script"}}
	{{#unlessMobile this.device}}
    	BOLT.displayBanner( $.extend( {pos:"top",slotDim: [[300, 250],[300,600]], slotId : 'div-gpt-ad-1318934199048-0'},bP));
	{{/unlessMobile}}
{{/partial}}

{{#partial "googleBannerAdsRightV2_Script"}}{{/partial}}
