<div id='div-gpt-ad-1318934199048-0' class="home_rghtbanner"></div>

{{#partial "googleBannerAdsRightV2_Script"}}
	BOLT.displayBanner( $.extend( {pos:"top",slotDim: [[300, 250],[336 ,280]], slotId : 'div-gpt-ad-1318934199048-0'},bP));
{{/partial}}
