@import "compass/css3/flexbox";

@import '../../../../../partials/pages/MyAdsPage/subMenuMyAds';



@media screen and (max-width:35em) {
	#menu ul {
		@include display-flex();
		@include flex-wrap(wrap);
		@include justify-content(center);

		li {
			float: left;
			margin-bottom: .5em;
			
			a {
				font-size: .95em;
			}

			&:nth-child(4) a {
				border-left: none;
			}
		}
	}
}
