.isotope-container {
	max-width: 1050px;
	.isotope-item {
		border-radius: 10px;

		&.two-by-one {
			width: 220px;
			height: 130px;
		}

		&.one-by-one {
			width: 110px;
			height: 130px;
		}

		&.two-by-two {
			width: 220px;
			height: 260px;
		}

		&.hide-on-mobile {
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
}

.visible-mobile, .visible-desktop {
	display: none !important;
}

.visible-mobile {
	@media(max-width: 767px) {
		display: block !important;
	}
}

.visible-desktop {
	@media(min-width: 768px) {
		display: block !important;
	}
}

.inline-block {
	display: inline-block;
}

.card {
	margin-top: 20px;
	background-color: lightgrey;
	.card-title {
		text-align: center;
		font-size: 18px;
		padding-top: 20px;
		padding-bottom: 20px;

		.fake-link {
			text-decoration: underline;
			font-weight: bold;
			color: #FF8300;
		}
	}
}
