@import "../../../../../partials/common/categoryListBase";

$homepage-ad-height: 14em;
$homepage-social-container-height: 6em;
$homepage-blog-height: 14.5;
$right-column-top: 17em;
$catListHackY: 0em;

.category-list {
	li {
		&.l1category9389 { // Job Seekers
			ul {
				display: none;
			}
		}
	}
}
//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@include to-breakpoint($no-break){
	@include category-list-to-no-breakpoint;
	//.parent-category.l1category5:before {content:"@ $no-break"}
}

//--------------------------------------------------------
// small breakpoint starts
//--------------------------------------------------------
@include in-breakpoint($small-break){
    .category-list{
        position:relative;
        .parent-category{
            position:absolute;

	        $catListHackY : 0em;
	        //&.l1category5:before {content:"@ $small-break"}
	        &.l1category5 { // Automotive Vehicles @ SMALL
		        top: $catListHackY;
		        $catListHackY : $catListHackY + 14em;
	        }
	        /*&.l1category5:after {
		        content:"SMALL";
	        }*/
	        &.l1category2{ // Property
		        @include column-border-top;
		        top:$catListHackY;
		        $catListHackY: $catListHackY + 18em;
	        }
            &.l1category9175{  // Home & Garden
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 15em;
            }
             &.l1category9178{ // Electronics
                @include column-border-top;
	             top:$catListHackY;
	             $catListHackY: $catListHackY + 15em;
            }
            &.l1category9176{ // Baby & Kids
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 18em;
            }
            
            &.l1category9101{ // Boats & Watercraft
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 12em;
            }
            &.l1category9171{ // B2B
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 12em;
            }
            &.l1category9177{ // Fashion
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 13em;
            }
            &.l1category9122{ // Pets
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 18em;
            }
            &.l1category9179{ // Sports & Leisure
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 15em;
            }
	        &.l1category4{ // Charity
		        @include column-border-top;
		        top:$catListHackY;
		        $catListHackY: $catListHackY + 4em;
	        }
            &.l1category6{ // Community
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 20em;
            }
            &.l1category9067{ // Events
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 9em;
            }
            &.l1swaptrade{ // SwapTrade
              @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 4em;
                padding-left: 0;
            }
            &.l1freebies{ // Freebies
              @include column-border-top;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 5em;
                padding-left: 0;
            }
        }
	    height: 194em;

	    li[data-ct-id='rightBucket'] { // right bucket
		    position: absolute;
		    right: 0;
	    }
    }
    
    //columnright
    .hp-content
    {
        $right-column-left: 57%;
        
        .category-list {
        	margin-top: 2.0em;
        }
        
        .category-list .parent-category{
	        $catListHackY : 0em;
            &.l1category8{ // Jobs
                left:$right-column-left;
	            top:$catListHackY;
	            $catListHackY : $catListHackY + 53em;
            }
            &.l1category9389{ // Job Seekers
                @include column-border-top;
	            top:$catListHackY;
	            $catListHackY : $catListHackY + 4em;
                left:$right-column-left;
            }
            &.l1category9{ // Services
                @include column-border-top;
                left:$right-column-left;
	            top:$catListHackY;
	            $catListHackY : $catListHackY + 41em;
            }
        }
        
        &.googleAdSensei
        {
	        $catListHackY : $right-column-top + $homepage-ad-height;
            .category-list .parent-category{
                &.l1category8{ // Jobs
                    top:$catListHackY + 4em;
	                $catListHackY : $catListHackY + 53em;
                }
                &.l1category9389{ // Job Seekers
	                top:$catListHackY;
	                $catListHackY : $catListHackY + 4em;
                }
                &.l1category9{ // Services
	                top:$catListHackY;
	                $catListHackY : $catListHackY + 41em;
                }
            }
        }
        
    }
}

@include from-breakpoint($small-break){
	.category-list{
		.parent-category{
			> ul {
				margin-top: .2em;
			}
          &.l1swaptrade a .label,
          &.l1freebies a .label {
            padding-left: 0;
          }
		}
	}
}

//--------------------------------------------------------
// medium breakpoint starts
//--------------------------------------------------------

@include in-breakpoint($medium-break){
    .category-list{
        position:relative;
        height:132em;
        .parent-category{
            position:absolute;
	        /*
	            When category grows or shrinks, adjust $catListHackY only for the given category
	        */
            //column1
	        $catListHackY : 0em;
	        //&.l1category5:before {content:"@ $medium-break"}
	        &.l1category5 {  // Automotive Vehicles @ MEDIUM
		        top: $catListHackY;
		        $catListHackY : $catListHackY + 13.5em;
	        }
            &.l1category9178{ // Electronics
	            @include column-border-top;
                top: $catListHackY;
	            $catListHackY : $catListHackY + 15em;
            }
            &.l1category9101{ // Boats & Watercraft
                @include column-border-top;
                top: $catListHackY;
	            $catListHackY : $catListHackY + 12em;
            }
            &.l1category9171 {
	            // Business-to-Business
	            @include column-border-top;
	            top: $catListHackY;
	            $catListHackY: $catListHackY + 12em;
            }
	        &.l1category4{ // Charity Donations
		        @include column-border-top;
		        top: $catListHackY;
		        $catListHackY: $catListHackY + 4em;
	        }
	        &.l1category6{ // Community
		        @include column-border-top;
		        top: $catListHackY;
		        $catListHackY: $catListHackY + 19.5em;
	        }
            &.l1category9177{ // Fashion
                @include column-border-top;
                top: $catListHackY;
	            $catListHackY: $catListHackY + 13em;
            }
	        &.l1category9179{ // Sports & Leisure
		        @include column-border-top;
		        top: $catListHackY;
		        $catListHackY: $catListHackY + 15em;
	        }
            &.l1category9122{ // Pets
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY: $catListHackY + 18em;
            }

            $column2left: 32%;
	        $catListHackY: 0em;
            //column2
            &.l1category2{ // Property
                left:$column2left;
	            $catListHackY: $catListHackY + 16em;
            }
            
            &.l1category9{ // Services
                @include column-border-top;
	            left:$column2left;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 41em;
            }
            
            &.l1category9175{ // Home & Garden
                @include column-border-top;
                left:$column2left;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 15em;

            }
            
            &.l1category9176{ // Baby & Kids
                @include column-border-top;
                left:$column2left;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 18em;
            }
            
            &.l1category9067{ // Events
                @include column-border-top;
                left:$column2left;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 9em;

            }

            &.l1swaptrade{ // Swap Trade
                @include column-border-top;
                left:$column2left;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 4em;
            }

            &.l1freebies{ // Freebies
                @include column-border-top;
                left:$column2left;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 4em;
            }
                        
            &.l1category9389{ // Job Seekers
                @include column-border-top;
                left:$column2left;
	            top:$catListHackY;
	            $catListHackY: $catListHackY + 4em;
            }

        }
         li[data-ct-id='rightBucket'] { // right bucket
				position: relative;
				left: 62%;
		 }
    }
    
    //columnright
    .hp-content
    {
        $right-column-left: 67%;
        
        .category-list {
        	margin-top: 2em;
        }
        
        .category-list .parent-category{
            &.l1category8{
                left:$right-column-left;
                top: $homepage-blog-height + 4em;
            }
        }
        &.googleAdSensei
        {
	        $catListHackY:$right-column-top + $homepage-ad-height + 7em;
            .category-list .parent-category{
                &.l1category8{
                    top:$catListHackY;
	                $catListHackY: $catListHackY + 53em;
                }
            }
        }
       
    }
}

//--------------------------------------------------------
// large breakpoint starts
//--------------------------------------------------------
// @include from-breakpoint($large-break, $lt-ie9-class-name){
@include from-breakpoint($large-break, $lt-ie9-class-name){
    .category-list{
        position:relative;
        margin-top: .5em;
	    $catListHackY:0;
        .parent-category {
            position:absolute;

	        //column1
	        //&.l1category5:before {content:"@ $large-break, $lt-ie9-class-name"}
	        &.l1category5{ // Automotive Vehicles @ LARGE
		        top: $catListHackY;
		        $catListHackY : $catListHackY + 14em;
	        }
            &.l1category9178{ // Electronics
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 15em;
            }
            &.l1category9101{ // Boats & Watercraft
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 12em;
            }
            &.l1category9171{ // Business-to-Business
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 12em;
            }
	        &.l1category4{ // Charity
		        @include column-border-top;
		        top: $catListHackY;
		        $catListHackY : $catListHackY + 4em;
	        }
	        &.l1category6{ // Community
		        @include column-border-top;
		        top: $catListHackY;
		        $catListHackY : $catListHackY + 20em;
	        }
	        &.l1category9067{ // Events
                @include column-border-top;
		        top: $catListHackY;
		        $catListHackY : $catListHackY + 9em;
            }
            &.l1swaptrade{ // SwapTrade
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 4em;
	            padding-left: 0;
            }
            &.l1freebies{ // Freebies
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 4em;
	            padding-left: 0;
            }
            // End BOLT-7653

            $column2left: 23%;
	        $catListHackY: 0;
            //column2
            &.l1category2{ // Property @ LARGE
	            left:$column2left;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 16em;
            }

            &.l1category9175{  // Home & Garden
	            left:$column2left;
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 15em;
            }
            
            &.l1category9176{ // Baby & Kids
	            left:$column2left;
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 18em;
            }
            
            &.l1category9177{ // Fashion
	            left:$column2left;
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 13em;
            }
            
            &.l1category9122{ // Pets
                left:$column2left;
	            @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 18em;
            }

            &.l1category9179{ // Sports & Leisure
	            left:$column2left;
                @include column-border-top;
	            top: $catListHackY;
	            $catListHackY : $catListHackY + 15em;
            }
            
            $column3left: 47%;
	        $catListHackY: 0;
            //column3
            &.l1category8{ // Jobs @ LARGE
                left:$column3left;
	            top:$catListHackY;
	            $catListHackY : $catListHackY + 52.5em;
            }
            &.l1category9389{ // Job Seekers
                @include column-border-top;
	            left:$column3left;
	            top:$catListHackY;
	            $catListHackY : $catListHackY + 4em;
            }
            &.l1category9{ // Services
                @include column-border-top;
	            left:$column3left;
	            top:$catListHackY;
	            $catListHackY : $catListHackY + 41em;
            }
        }
	    height:$catListHackY;
        
         li[data-ct-id='rightBucket'] {
				position: absolute;
				right: 0;
		 }
    }
    
}
