@mixin vivaBtn($hasIcon, $padding, $width: 100%) {
	cursor: pointer;
	background-color: $button-bgcolor;
	border-radius: 2px;
	display: inline-block;
	font-size: 1.125em;
	font-weight: bold;
	padding: $padding;
	text-align: center;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
	&:hover {
		text-decoration: none;
	}
	width: $width;
	vertical-align: top;
	> span {
		vertical-align: middle;
		+ span.btn-icon {
			@if ($hasIcon == 'off') {
				display: none;
			}
			@if ($hasIcon == 'on') {
				display: inline-block;
			}
			margin-top: 0;
			margin-left: 0.5em;
		}
	}
}
