.downloadapp-wrapper{
	#downloadapp-imagewrapper{
		background: url(../../../../../images/en_ZA/AppDownload.png) no-repeat;
		background-position: center;
		background-size: cover;
	}
	#downloadapp-content {
	  background-color: #4A4539;
	  .review-wrapper{
	  	.user-avatar{
	  		border: 1px solid #f66429;
	  	}
	  }
	  .app-button{
			.icon-app-store{
				background: url(../../../../../images/en_ZA/appstore.svg) no-repeat;
				border: none;
				background-position: center;
				background-size: 100%;
			}
			.icon-googleplay{
				background: url(../../../../../images/en_ZA/google-play.png) no-repeat;
				border: none;
				background-position: center;
				background-size: 115%;
			}
	  }
	}
}