.modal {
	color: color(swirl, shade);

	> .modal-container {
		background: color(foxtail, light);

		> .modal-close-section {
			color: color(swirl, medium);
		}
	}

	.container {
		border-color: color(swirl, shade);
	}

	.modal-field {
		background: white;
	}

	.modal-header-message {
		color: color(swirl, shade);
		font-weight: bold;
	}
}
