{{!-- {{> header}} 

<div>This is message Page</div>
<div>
	<a href='/homepage'>Homepage Page Link</a>
</div>
<div>
	<a href='/'>Welcome Page Link</a>
</div>
{{!--
{{> test}}
{{> part}}
{{> foo}}

{{#block "myBlock"}}hello 123{{/block}}
{{> header}}
--}}

{{!-- > footer --}}