/// ----------------------------------------------------------------------------
/// Mobile First Styles 
/// ----------------------------------------------------------------------------
.seoVip .main-bg + .thumbs{
	display: none;
}

.vip-gallery.seoVip .wrap{
	.icon-vip-arrow-left, .icon-vip-arrow-right {
		display: inline-block;
	}
	.icon-zoom-image {
		display: none;
	}
}

@include in-breakpoint($small-break, $medium-break){	
	.vip-content-header{
		width: 75%;
	}
	.vip-details.seoVip .attribute{
		.name{
			width: 50%;
		}
		.value{
			width: 40%;
		}
	}
	.noImages{
		.vip-content-header{
			width: 100%;
		}
	}
}

@include from-breakpoint($medium-break, $lt-ie9-class-name){
	.vip-gallery.seoVip .wrap{
		.main-bg{
			height: 250px;
			line-height: 246px;
		}
		.icon-vip-arrow-left, .icon-vip-arrow-right {
			top: 100px;
		}
		.main{
		  img{
		    max-height:250px;
		  }
		}
	}
}

@include in-breakpoint($large-break, $lt-ie9-class-name){	
	.vip-left-column{
		&.noImages{
			.vip-gallery.seoVip{
				float: none;
				max-width: 100%;
			}
		}
		&.hasImages{
			.vip-gallery.seoVip .main-bg:hover{
				.icon-zoom-image{
					display: inline-block;	
					top: 0;
				}
			}
		}
	}
}
