/// ----------------------------------------------------------------------------
/// Mobile First Styles 
/// ----------------------------------------------------------------------------
#mediaplex_tracking{
	display:none;
}

.vip-gallery.seoVip{
  cursor: pointer;
  .counter-pic{
    width: 100%;
    height: 2em;
    background-color: black;
    text-align: center;
    padding-top: 0.2em;
    line-height: normal;
    opacity: 0.5;
    position: absolute;
    vertical-align: middle;
    color: white;
    z-index: 95;
    top: 12.4em;
  }
  .no-thumbs .main span{
  	display: none;
  }
}

ul.selMenu{
	margin-top: 1em;
	margin-left: 1em;
}

.results.list-view{
	.section-divider{
		font-weight: bold;
		clear: none;
	}
}

.rightbanner{
	background: transparent;
}

.vip-right-column .vip-seller-form-details{
 	width: 100%;
}


/// ----------------------------------------------------------------------------
/// Mobile First Styles Exclusive
/// ----------------------------------------------------------------------------   
@include in-breakpoint($no-break){
	.vip-right-column{
		.contact-wrapper{
			position: relative;
			padding-bottom: 5em;
			&.hideSellersViewAdCount{
				padding-bottom: 6.5em;
				#sm-cnt{
					margin-bottom: 0.5em;
				}
			}
			#sm-share-cnt{
				position: absolute;
				right: 0;
				left: 0;
				bottom: 0;
			}
		}
	}
	.rightbanner{
			display: inline-block;
	}
}
    
/// ----------------------------------------------------------------------------
/// Tablet Styles
/// ----------------------------------------------------------------------------
@include in-breakpoint($small-break){
  .vip-gallery.seoVip .counter-pic{
    top: 19.5em;
  }
  	ul.selMenu{
		width: 116%;
	}
}

@include in-breakpoint($medium-break){
  	.vip-left-column{
  		&.noImages{
	  		ul.selMenu{
				width: 120%;
			}
		}
		&.hasImages{
			ul.selMenu{
				width: 140%;
			}
		}
	}
}

@include from-breakpoint($medium-break, $lt-ie9-class-name){
  .vip-gallery.seoVip .counter-pic{
    top: 15.9em;
  }
  .vip-right-columns{
  	+ .part2{
  		position: relative;
  		top: 66em;
  	}
  	&.state-changed{
  		+ .part2{
  			position: relative;
  			top: 102em;
  		}
  	}
  }
}



/// ----------------------------------------------------------------------------
/// Desktop Styles
/// ----------------------------------------------------------------------------
@include in-breakpoint($large-break, $lt-ie9-class-name){
	.vip-left-column{
		&.hasImages{
			.vip-title{
				float: right;
				h1{
					max-width: 95%;
				}
			}
			.vip-gallery.seoVip + ul.selMenu{
				float: right;
			}
		}
		&.noImages{
			ul.selMenu{
				li{
					font-size: 1em;
					.name{
						width: 40%;
					}
				}
			}
		}
		.vip-gallery.seoVip{
			float: left;
		    margin-top: 0.5em;
		    max-width: 300px;
		    max-height: 250px;
		    .main-bg{
		    	height: 250px;
		    	width: 300px;
		    	line-height: 250px;
		    }
		}
	}
	
	ul.selMenu{
		li .attribute{
			font-size: 0.95em;
			.name{
				width: 53%;
			}
			.value{
				width: 43%;
			}
		}
	}
	
	.vip-details.seoVip{
	 	.description{
			clear: both;
			border-top: 1px solid black;
			margin-top: 4em;
		}
		.websiteurl{
			margin-top: -0.5em;
		}
	}
}

@include from-breakpoint($small-break, $lt-ie9-class-name){
	.results.list-view{
		margin-bottom: 2em;
	}
	.vip-bottomBlock{
		clear: left;
		float: none;
	}
	.rightbanner.smartStickyTop{
		float: right;
		width: 31%;
		overflow: hidden;
		left: 67.925%;
	}
}

@include in-breakpoint($lt-ie9-class-name){
	.vip-left-column{
		&.hasImages{
			.vip-title{
				width: 51%;
			}
			.vip-gallery.seoVip + ul.selMenu{
				width: 51%;
			}
		}
	}
	.rightbanner.smartStickyTop{
		left: 52.5%;
		background: none;
	}
}

@include in-breakpoint($large-break){
	.vip-left-column{
		&.hasImages{
			.vip-title{
				width: 54%;
			}
			.vip-gallery.seoVip + ul.selMenu{
				width: 54%;
			}
		}
	}
	.rightbanner.smartStickyTop{
		left: 60.925%;
	}
}

.vip-left-column .vip-gallery.no-gallery{
  	float: none;
  	max-width: 100%;
}

