@include from-breakpoint($no-break){
}
@include from-breakpoint($small-break){
}
@include from-breakpoint($medium-break) {
}
@include from-breakpoint($large-break) {
}

.icon-spinner {
	display: inline-block;
	position: relative;
	top: 24px;
	width: 16px;
	height: 16px;
	background: url(../../../../../images/loading-small.gif) no-repeat;
	background-repeat: no-repeat;

	&.eft-margin {
		top: 8px;
	}
	&.row-spinner {
		top:0;
		float:right;
	}
}

$myorders-main-header-bg-color:#a6d934;
.MyOrdersContent {
	.exportOptions {
		float:right;
		display:none;
		a {
			text-decoration:underline;
			&:after {
				content: "|";
				margin:10px;
			}
			&:last-child:after {
				content: "";
			}
		}
	}
	.filters {
		margin:1em 0;
		label {
			display:inline-block;
			white-space: nowrap;
			width: 150px;
			text-align:right;
			select {
				width: 100px;
			}
		}
	}
	tr {
		background: #DCDCDC;
	}
	tr:nth-child(odd) {
		background: #EEE;
	}
	#invoiceTable {
		thead tr {
			background-color:$myorders-main-header-bg-color;
			margin:1px double #555;
			th {
				background-color:transparent;
				color:#FFF;
			}
		}
		tbody tr.invoiceRow {
			&:hover {
				cursor:pointer;
				background-color:#Fc3;
			}
			&.noDataRow:hover {
				background-color:transparent;
			}
			&.selected {
				background-color: #FFF;
				border-bottom: 0;
				border-top: 2px solid #CCC;
			}
			.invoiceId {
				color:$link-color;
				text-decoration:underline;
			}
		}
		tr.detailRow {
			.exportOptions {
				display:block;
			}
			background: #FFF;
			border:1px solid #EEE;
			border-top:0;
			label {
				font-weight:bold;
				margin-right:10px;
				width:145px;
				display:inline-block;
			}
		}
		tr .amt {
			text-align:right;
		}
		tr.noDataRow td {
			padding: 100px;
			text-align: center;
		}
		.features {
			margin:2%;
			width:98%;
			tr {
				background: #FFF;
			}
			tr:nth-child(odd) {
				background: #EEE;
			}
			th {
				padding: 0px 10px;
				border-right: 1px solid rgba(255,255,255,.15);
				background:#468100;
				color:#FFF;
			}
		}
	}
}
