@import "../../../../../partials/common/categoryListBase";

$homepage-ad-height: 14em;
$right-column-top: 35em;
$posHackX:0.25% !global;
$posHackY:100em !global;
$posHackYMax:0em !global;
$posHackYBuf:2em;

//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@include to-breakpoint($no-break){
    @include category-list-to-no-breakpoint;
}
@mixin bumpTop($height:'reset', $skipDivider:false){
    border-top: 1px solid transparent;
    left:$posHackX;
    top: $posHackY;
    @if $posHackY != 0em and $skipDivider == false {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 1px solid $color-black-10;
        $posHackY: ($posHackY + 2em) !global;
    } @else {
        margin-top: 0;
        padding-top: 0;
        border-top: 1px solid transparent;
    }
    $posHackY: ($posHackY + $height) !global;
    @if $posHackYMax <= $posHackY {
        $posHackYMax : $posHackY !global;
    }
}

@include from-breakpoint($small-break){
    .category-list{
        .parent-category{
            > ul {
                margin-top: .2em;
                li {
                    line-height:1.45em; // BOLT-16658, BOLT-17227 FF+IE prevents category group overlapping
                }
            }
            &.l1wanted a .label,
            &.l1swaptrade a .label,
            &.l1freebies a .label {
                padding-left: 0;
            }
        }
    }
}
#flexLftBuckt .item {
    white-space: nowrap;
}
//--------------------------------------------------------
// category heights
//--------------------------------------------------------
$cat-0002:10.5em; // Property
$cat-0004:21.0em; // Stuff For Sale
$cat-0005:11.0em; // Cars & Vehicles
$cat-0006:21.0em; // Community
$cat-0008:7.0em; // Jobs
$cat-0009: 8.0em; // Business Services
$cat-0041:15.0em; // Clothes & Accessories
$cat-0044:15.0em; // Home Furnishings
$cat-0146:15.0em; // Electronics
/*
$cat-9124:18.0em;
$cat-9218:15.0em;
$cat-9237:17.5em;
$cat-9290:20.5em;
$cat-9459:26.0em;
$cat-9490:16.5em;
$cat-9541:20.5em;
$cat-9672:22.0em;
$cat-9690: 8.0em;
$cat-9706:10.5em;
*/
$cat-free: 2.0em;
$cat-swap: 2.0em;
$cat-want: 2.0em;

//--------------------------------------------------------
// small breakpoint starts
//--------------------------------------------------------
@include in-breakpoint($small-break){
    .category-list{
        position:relative;
        .parent-category{
            position:absolute;
            //column1
            $posHackX: 0% !global;
            $posHackY: 0em !global;
            $posHackYMax: 0em !global;
            &.l1category4   { @include bumpTop($cat-0004); } // Stuff For Sale
            //&.l1category44  { @include bumpTop($cat-0044); } // Home Furnishings
            //&.l1category41  { @include bumpTop($cat-0041); } // Clothes & Accessories
            //&.l1category0146{ @include bumpTop($cat-0146); } // Electronics
            &.l1category2   { @include bumpTop($cat-0002); } // Property
            &.l1category5   { @include bumpTop($cat-0005); } // Cars & Vehicles
            &.l1category6   { @include bumpTop($cat-0006); } // Community
            //column2
            $posHackX: 57% !global;
            $posHackY: $right-column-top !global;
            &.l1category8   { @include bumpTop($cat-0008); } // Jobs
            &.l1category9   { @include bumpTop($cat-0009); } // Business Services
            &.l1swaptrade   { @include bumpTop($cat-swap); } // Swap/Trade
            &.l1freebies    { @include bumpTop($cat-free); } // Freebies
            &.l1wanted      { @include bumpTop($cat-want); } // Want
        }
        height:$posHackYMax + $posHackYBuf;
        li {
            line-height:1.45em; // BOLT-16658, BOLT-17227 FF+IE prevents category group overlapping
        }
    }
    li[data-ct-id='rightBucket'] { // right bucket
        position: absolute;
        right: 0;
    }
}

//--------------------------------------------------------
// medium breakpoint starts
//--------------------------------------------------------

@include in-breakpoint($medium-break){
    .category-list{
        position:relative;
        margin-top: .5em;
        .parent-category{
            position:absolute;
            //column1
            $posHackX: 0% !global;
            $posHackY: 0em !global;
            $posHackYMax: 0em !global;
            &.l1category4   { @include bumpTop($cat-0004); } // Stuff For Sale
            //&.l1category44  { @include bumpTop($cat-0044); } // Home Furnishings
            //&.l1category41  { @include bumpTop($cat-0041); } // Clothes & Accessories
            //&.l1category0146{ @include bumpTop($cat-0146); } // Electronics

            &.l1category9   { @include bumpTop($cat-0009); } // Business Services
            &.l1category5   { @include bumpTop($cat-0005); } // Cars & Vehicles
            &.l1swaptrade   { @include bumpTop($cat-swap); } // Swap/Trade

            //column2
            $posHackX: 32% !global;
            $posHackY: 0em !global;

            &.l1category8   { @include bumpTop($cat-0008); } // Jobs
            &.l1category2   { @include bumpTop($cat-0002); } // Property
            &.l1category6   { @include bumpTop($cat-0006); } // Community
            &.l1freebies    { @include bumpTop($cat-free); } // Freebies
            //column3
            $posHackX: 73% !global;
            $posHackY: $right-column-top !global;
            &.l1wanted      { @include bumpTop($cat-want); } // Want
            //&.l1freebies    { @include bumpTop($cat-free); } // Freebies
        }
        height:$posHackYMax + $posHackYBuf;
    }
    li[data-ct-id='rightBucket'] { // right bucket
        position: absolute;
        right: 0;
    }
}
//--------------------------------------------------------
// large breakpoint starts
//--------------------------------------------------------
@include from-breakpoint($large-break){
    #flexLftBuckt .item {
        width: 19%;
    }
    .category-list{
        .parent-category{
            position:absolute;
            //column1
            $posHackX: 0% !global;
            $posHackY: 0em !global;
            $posHackYMax: 0em !global;
            &.l1category4   { @include bumpTop($cat-0004); } // Stuff For Sale
            &.l1category9   { @include bumpTop($cat-0009); } // Business Services
            //&.l1category44  { @include bumpTop($cat-0044); } // Home Furnishings
            //&.l1category41  { @include bumpTop($cat-0041); } // Clothes & Accessories
            //&.l1category0146{ @include bumpTop($cat-0146); } // Electronics

            //column2
            $posHackX: 22.5% !global;
            $posHackY: 0em !global;
            &.l1category2   { @include bumpTop($cat-0002); } // Property
            &.l1category6   { @include bumpTop($cat-0006); } // Community
            //column3
            $posHackX: 47% !global;
            $posHackY: 0em !global;
            &.l1category8   { @include bumpTop($cat-0008); } // Jobs
            &.l1category5   { @include bumpTop($cat-0005); } // Cars & Vehicles
            &.l1swaptrade   { @include bumpTop($cat-swap); } // Swap/Trade
            &.l1freebies    { @include bumpTop($cat-free); } // Freebies
            //column4
            $posHackX: 73% !global;
            $posHackY: $right-column-top !global;
            &.l1wanted      { @include bumpTop($cat-want); display:none; } // Want
        }
        position:relative;
        margin-top: .5em;
        height:$posHackYMax + $posHackYBuf;
    }
    li[data-ct-id='rightBucket'] { // right bucket
        position:relative;
        display:inline-block;
        right:-$posHackX;
        width:30%;
    }

}