/*
    @mixin input-facade
    @description cross browser styles for consistent checkboxes on site
    @usage
        <input type="checkbox" class="input-checkbox" id="terms" name="terms" required="required" checked disabled />
        <label for="terms">{{{i18n "your.i18n.key.here"}}}</label>

    * id attr in the checkbox and for attr in the label
    * input immediately before the label

    Todo: Move input-facade to base styles
    Todo: Fix all checkboxes on the site
*/
.vip-seller {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eba921;
}

.lt-ie9.ng-cloak,
.lt-ie9 .ng-cloak {
  display: none !important;
}

.ng-cloak {
  opacity: 0 !important;
}

.thumb .thumbM {
  position: relative;
  top: -1em;
}
.thumb #pht-cnt {
  position: relative;
  top: -2.2em;
  background: none;
  line-height: 1;
  font-size: 80%;
  text-align: center;
  height: 15%;
}

#menu-link a {
  text-decoration: none;
}

.myads-title {
  color: #124f96;
}

#menu-link .active {
  background-color: #1867c3;
  color: white;
}

#menu-link .active .bold {
  color: #fff !important;
}

#menu-link .active .bold a {
  color: #124f96 !important;
  font-weight: normal !important;
}

#menu-link #menu ul {
  background-color: white;
}

@media screen and (min-width: 35em) {
  #menu-link #menu {
    width: 100% !important;
  }
}
@media screen and (max-width: 47em) {
  a.promote, a.promote:visited {
    width: 94% !important;
  }
}
@media screen and (min-width: 48.25em) {
  .select-ads {
    margin-top: 0em !important;
  }

  #menu-link #menu {
    width: 50em !important;
  }

  #menu-link #menu {
    width: 50em !important;
  }

  a.promote, a.promote:visited {
    width: 99% !important;
  }

  .myads-title {
    display: inline-block;
    position: static;
    top: 0em;
    margin-top: 1em;
  }

  .header-myad {
    display: block;
    height: 3.0em;
  }

  #menu li .serperator {
    border-left: 0.1em solid #468100;
    border-right: 0.1em solid #000;
  }
}
@media screen and (min-width: 69em) {
  .expire-msg {
    float: right !important;
    position: absolute !important;
    right: 0% !important;
  }

  #menu {
    width: auto !important;
    float: left !important;
  }
}
.vip-seller-form-details .security-tips span[data-o-uri]:hover,
.vip-seller-form-details .security-tips span[data-o-uri]:focus {
  color: #1867c3;
}

.vip-seller-form-details .reported-ad span {
  color: #a6a6a6;
}

.gl-messages {
  background-color: #fbf5db;
}

.gl-messages {
  background-color: #fbf5db;
}

#profile-cnt input[type='radio']:checked:before {
  border: 4px solid #1867c3;
}

#profile {
  color: #579bea;
}

#profile-cnt .btn {
  background: #1867c3;
  border: 5px solid #1867c3;
}
#profile-cnt .btn:not(.disabled):hover, #profile-cnt .btn:not(.disabled):focus {
  background: #1867c3;
}

#profile #profile-span:hover {
  text-decoration: underline;
}

#profile #profile-span:visited {
  color: #333333;
  font-weight: bold;
}

.hp-city-wrapper ul, .hp-map-wrapper ul, .hp-province-wrapper ul,
.hp-popular-searches-wrapper ul, .hp-trending-searches-wrapper ul {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
}

/*
    @mixin input-facade
    @description cross browser styles for consistent checkboxes on site
    @usage
        <input type="checkbox" class="input-checkbox" id="terms" name="terms" required="required" checked disabled />
        <label for="terms">{{{i18n "your.i18n.key.here"}}}</label>

    * id attr in the checkbox and for attr in the label
    * input immediately before the label

    Todo: Move input-facade to base styles
    Todo: Fix all checkboxes on the site
*/
.category-list {
  font-size: 110%;
  overflow: hidden;
  *zoom: 1;
}
.category-list .parent-category > a {
  font-size: 110%;
  position: relative;
  display: block;
}
.category-list .parent-category > a .icon {
  position: absolute;
  text-align: right;
  width: 100%;
  display: block;
  height: 100%;
}
.category-list .parent-category > a .label {
  font-weight: bold;
  padding-left: 1.75em;
}
.category-list .parent-category > a .arrow {
  display: none;
}
.category-list .parent-category > a:hover .icon {
  color: #ce5426;
}
.category-list .parent-category ul li.all-label {
  display: none;
}

@media (max-width: 37em) {
  .category-list .parent-category {
    margin-top: 0;
    padding-top: 0;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    line-height: 1.5em;
  }
  .category-list .parent-category .label {
    padding-left: 2em;
  }
  .category-list .parent-category:nth-child(1) {
    border-top: none;
  }
  .category-list .parent-category > a {
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 100%;
  }
  .category-list .parent-category > a .icon {
    top: 0.5em;
    height: 1.4em;
    width: 1.4em;
  }
  .category-list .parent-category > a .arrow {
    display: inline-block;
    width: 1em;
    height: 1.1em;
    position: absolute;
    right: 0;
    top: 30%;
    text-align: center;
    line-height: 2.5;
  }
  .category-list .parent-category ul {
    display: none;
    padding: 0;
  }
  .category-list .parent-category ul.visible {
    display: block;
  }
  .category-list .parent-category ul li.all-label {
    position: relative;
    display: block;
    color: #1867c3;
    text-decoration: none;
    padding-left: 2.75em;
    line-height: 2.724609375em;
    cursor: pointer;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }
  .category-list .parent-category ul li.all-label:hover {
    text-decoration: underline;
    color: #579bea;
    background-color: #e6e6e6;
  }
  .category-list .parent-category ul a {
    display: block;
    padding-left: 2.75em;
    line-height: 2.724609375em;
    border-top: 1px solid rgba(51, 51, 51, 0.1);
  }

  .parent-category a:hover {
    background-color: #e6e6e6;
  }
}
/*
    @mixin input-facade
    @description cross browser styles for consistent checkboxes on site
    @usage
        <input type="checkbox" class="input-checkbox" id="terms" name="terms" required="required" checked disabled />
        <label for="terms">{{{i18n "your.i18n.key.here"}}}</label>

    * id attr in the checkbox and for attr in the label
    * input immediately before the label

    Todo: Move input-facade to base styles
    Todo: Fix all checkboxes on the site
*/
.category-list {
  font-size: 110%;
  overflow: hidden;
  *zoom: 1;
}
.category-list .parent-category > a {
  font-size: 110%;
  position: relative;
  display: block;
}
.category-list .parent-category > a .icon {
  position: absolute;
  text-align: right;
  width: 100%;
  display: block;
  height: 100%;
}
.category-list .parent-category > a .label {
  font-weight: bold;
  padding-left: 1.75em;
}
.category-list .parent-category > a .arrow {
  display: none;
}
.category-list .parent-category > a:hover .icon {
  color: #ce5426;
}
.category-list .parent-category ul li.all-label {
  display: none;
}

.category-list .parent-category {
  margin-top: 0;
  padding-top: 0;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  line-height: 1.5em;
}
.category-list .parent-category .label {
  padding-left: 2em;
}
.category-list .parent-category:nth-child(1) {
  border-top: none;
}
.category-list .parent-category > a {
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 100%;
}
.category-list .parent-category > a .icon {
  top: 0.5em;
  height: 1.4em;
  width: 1.4em;
}
.category-list .parent-category > a .arrow {
  display: inline-block;
  width: 1em;
  height: 1.1em;
  position: absolute;
  right: 0;
  top: 30%;
  text-align: center;
  line-height: 2.5;
}
.category-list .parent-category ul {
  display: none;
  padding: 0;
}
.category-list .parent-category ul.visible {
  display: block;
}
.category-list .parent-category ul li.all-label {
  position: relative;
  display: block;
  color: #1867c3;
  text-decoration: none;
  padding-left: 2.75em;
  line-height: 2.724609375em;
  cursor: pointer;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}
.category-list .parent-category ul li.all-label:hover {
  text-decoration: underline;
  color: #579bea;
  background-color: #e6e6e6;
}
.category-list .parent-category ul a {
  display: block;
  padding-left: 2.75em;
  line-height: 2.724609375em;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.parent-category a:hover {
  background-color: #e6e6e6;
}

.category-list .parent-category > a .icon {
  height: 1.1em;
  width: 2em;
}
.category-list .parent-category > a .icon.icon-cat-64 {
  width: 1.5em;
}

.ie9 .home_rghtbanner {
  margin-bottom: 10px;
}

.tutorial-module {
  background: url("../../../../../images/es_MX/tutorial-imgs/tutorial-ad-desktop.png") no-repeat;
  width: 300px;
  height: 250px;
  display: block;
}

.tutorial-module {
  background: url("../../../../../images/es_MX/tutorial-imgs/tutorial-module-mobile.png") no-repeat;
  background-size: 100% 100%;
  width: 300px;
  height: 50px;
  margin: auto;
}

.hp-list-wrapper {
  padding-bottom: 1em;
}

.hp-content {
  position: relative;
  margin-top: .5em;
}

.hp-recommend-sidebar {
  text-align: center;
}

.social-media-container {
  text-align: center;
}

.hp-category-wrapper {
  position: relative;
  padding-bottom: 3em;
}

.hp-category-wrapper h1 {
  position: absolute;
  bottom: .2em;
  width: 100%;
  margin-right: 310px;
  font-weight: bold;
  font-size: 110%;
  padding: 0.5em 1em;
}

.hp-location-wrapper p.subTitle {
  display: none;
}

.post-ad-button {
  display: none;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
}
.post-ad-button a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 1em;
}

.post-ad-button .primary-button.postcommercial {
  background-color: #FF0000;
}

#home_topbanner {
  width: 970px;
  text-align: center;
  margin: 15px auto 0 auto;
  max-width: 100%;
  overflow: hidden;
}

#rightBottomBanner {
  margin-top: 1em;
}

.hp-city-wrapper, .hp-map-wrapper, .hp-province-wrapper,
.hp-popular-searches-wrapper, .hp-trending-searches-wrapper {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #a2a2a1;
}
.hp-city-wrapper:last-child, .hp-map-wrapper:last-child, .hp-province-wrapper:last-child,
.hp-popular-searches-wrapper:last-child, .hp-trending-searches-wrapper:last-child {
  margin-right: 0;
}
.hp-city-wrapper h5, .hp-map-wrapper h5, .hp-province-wrapper h5,
.hp-popular-searches-wrapper h5, .hp-trending-searches-wrapper h5 {
  font-weight: bold;
  font-size: 110%;
}
.hp-city-wrapper ul, .hp-map-wrapper ul, .hp-province-wrapper ul,
.hp-popular-searches-wrapper ul, .hp-trending-searches-wrapper ul {
  width: 100%;
  display: block;
}
.hp-city-wrapper ul li, .hp-map-wrapper ul li, .hp-province-wrapper ul li,
.hp-popular-searches-wrapper ul li, .hp-trending-searches-wrapper ul li {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.facebook-module {
  margin-top: 1em;
}
.facebook-module iframe {
  border: none !important;
  overflow: hidden;
  height: 400px !important;
  border-bottom: 1px solid #AAAAAA !important;
}

.post-ad-button {
  display: block;
  margin: 0 -1em;
  padding: 1em 1em;
}

.hp-city-wrapper {
  margin-top: 0;
}

.hp-link-wrapper,
.hp-map-wrapper,
.hp-city-wrapper, .hp-province-wrapper,
.hp-popular-searches-wrapper, .hp-trending-searches-wrapper {
  padding-left: 1em;
  padding-right: 1em;
}

.item-img-wrap {
  position: relative;
  top: 1em;
  margin-bottom: 1em;
}
.item-img-wrap > div {
  margin: 0 auto;
}

.home_rghtbanner {
  display: none;
}

@media (max-width: 680px) {
  #home_topbanner {
    display: none;
  }
}
/**
 * Mixin for handling the Tablet country map
 */
/**
 * Mixin for handling the country map rendered in the homepage
 */
.hp-total-ad-count {
  display: none;
}

/* --------------------------------------- */
/* --------------- HP Gallery ------------ */
/* --------------------------------------- */
#gallery {
  width: 100%;
  height: 135px;
  margin: -20px auto 0;
  display: none;
}
#gallery .galleryCntr {
  margin: 20px 28px;
  height: 93px;
  width: auto;
  position: relative;
  top: 10px;
}
#gallery .galleryCntr ul {
  margin: 0px 0px;
}
#gallery .galleryCntr li {
  float: left;
}
#gallery .galleryCntr .ctrlCntr {
  position: absolute;
  top: 5px;
  height: 100%;
}
#gallery .galleryCntr .c-nav {
  overflow: visible;
}
#gallery .galleryCntr .c-nav div {
  position: absolute;
  width: 18px;
  height: 104px;
  top: 3px;
}
#gallery .galleryCntr .c-nav .active {
  cursor: pointer;
}
#gallery .galleryCntr .c-nav .prev {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#gallery .galleryCntr .c-nav .next {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#gallery .galleryCntr .galleryWrapper {
  width: 100%;
  height: 119%;
  position: absolute;
  left: 0px;
  top: 5px;
  overflow: hidden;
  border: 1px solid #D6F0FF;
}
#gallery .galleryCntr .galleryWrapper .galleryInner {
  background-color: #f7fcff;
  margin-left: 10px;
  width: 300%;
  height: 100%;
  position: relative;
  left: -100%;
}
#gallery .galleryCntr .galleryWrapper .galleryInner .leftContainer {
  width: 33.3%;
  height: 100%;
  position: absolute;
  left: 0;
}
#gallery .galleryCntr .galleryWrapper .galleryInner .leftContainer .left ul li {
  margin-right: 10px;
}
#gallery .galleryCntr .galleryWrapper .galleryInner .midContainer {
  width: 33.3%;
  height: 100%;
  position: absolute;
  left: 33.3%;
}
#gallery .galleryCntr .galleryWrapper .galleryInner .midContainer .mid ul li {
  margin-right: 10px;
}
#gallery .galleryCntr .galleryWrapper .galleryInner .midContainer .mid ul li a {
  display: block;
  text-decoration: none;
}
#gallery .galleryCntr .galleryWrapper .galleryInner .rightContainer {
  width: 33.3%;
  height: 100%;
  position: absolute;
  right: 0;
}
#gallery .galleryCntr .galleryWrapper .galleryInner .rightContainer .right ul li {
  margin-right: 10px;
}

.gallery .ol, .gallery ul {
  list-style: none outside none;
  margin: 5px 10px;
  padding: 0;
}

.prev.active,
.next.active {
  background-color: #1963B9;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#1963B9',GradientType=0 );
  /* IE6-9 */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NjNiOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZjBmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #1963b9), color-stop(100%, #d6f0ff));
  background-image: -moz-linear-gradient(bottom left, #1963b9 0%, #d6f0ff 100%);
  background-image: -webkit-linear-gradient(bottom left, #1963b9 0%, #d6f0ff 100%);
  background-image: linear-gradient(to top right, #1963b9 0%, #d6f0ff 100%);
}

.prev.inactive,
.next.inactive {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#5196e7',GradientType=0 );
  /* IE6-9 */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhZDBlYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzZmJmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #bad0ea), color-stop(100%, #f3fbff));
  background-image: -moz-linear-gradient(bottom left, #bad0ea 0%, #f3fbff 100%);
  background-image: -webkit-linear-gradient(bottom left, #bad0ea 0%, #f3fbff 100%);
  background-image: linear-gradient(to top right, #bad0ea 0%, #f3fbff 100%);
  cursor: default;
}

.arrow {
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 16px;
}

.left-arrow {
  top: 45px;
  left: 15px;
  color: #ffffff;
}

.right-arrow {
  top: 45px;
  right: 13px;
  color: #ffffff;
}

.arrow.inactive {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

.seeAllContainer {
  display: none;
}

.endAd {
  width: 59px;
  height: 59px;
  border-radius: 5px;
  position: relative;
  top: 4px;
  left: 4px;
  border: 1px solid #EBA921;
  font-size: 1em;
  line-height: 1em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
  background-color: #EBA921;
  color: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8dfad', endColorstr='#694a0a',GradientType=0 );
  /* IE6-9 */
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYzM3NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViYTkyMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #eac375), color-stop(100%, #eba921));
  background-image: -moz-linear-gradient(top left, #eac375 0%, #eba921 100%);
  background-image: -webkit-linear-gradient(top left, #eac375 0%, #eba921 100%);
  background-image: linear-gradient(to bottom right, #eac375 0%, #eba921 100%);
  /*background: #f89600;
  background: -moz-linear-gradient(top, #f89600 0%, #f46c00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f89600), color-stop(100%,#f46c00));
  background: -webkit-linear-gradient(top, #f89600 0%,#f46c00 100%);
  background: -o-linear-gradient(top, #f89600 0%,#f46c00 100%);
  background: -ms-linear-gradient(top, #f89600 0%,#f46c00 100%);
  background: linear-gradient(to bottom, #f89600 0%,#f46c00 100%);
  */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f89600', endColorstr='#f46c00',GradientType=0 );
}
.endAd a {
  color: #ffffff;
}
.endAd a:hover {
  color: #ffffff;
}

.c-img-container {
  position: relative;
  background-color: white;
  width: 66px;
  height: 96px;
  border: 1px solid #EFEFEF;
}
.c-img-container img {
  border: 0;
  position: relative;
  top: 2px;
  left: 2px;
  width: 60px;
  height: 60px;
}
.c-img-container .dContainer {
  line-height: 100%;
  padding: 4px;
  white-space: nowrap;
  font-size: small;
  margin-top: -4px;
  width: 66px;
  height: 30px;
}
.c-img-container .dContainer .title {
  color: #1963B9;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-img-container .dContainer .price {
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-img-container:hover {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}

/* Without Respond.JS, we need to duplicate the 29.6875em breakpoint */
.lt-ie9 #gallery {
  display: block;
  height: auto;
}
.lt-ie9 #gallery .galleryCntr {
  height: 140px;
}

.lt-ie9 .c-img-container {
  width: 110px;
  height: 150px;
}

.lt-ie9 .mid img {
  border: 0;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 100px;
  height: 100px;
}

.lt-ie9 .c-nav div {
  position: absolute;
  min-width: 29px;
  width: 29px;
  min-height: 160px;
  height: 160px;
  top: 3px;
  cursor: pointer;
}

.lt-ie9 .c-nav div.next {
  right: 10px;
}

.lt-ie9 .c-nav .left-arrow,
.lt-ie9 .c-nav .right-arrow {
  top: 75px;
}

.lt-ie9 .c-nav .left-arrow {
  left: 9px;
}

.lt-ie9 .c-nav .right-arrow {
  left: -28px;
}

.lt-ie9 .dContainer {
  font-size: inherit;
  margin-top: 104px;
  line-height: 115%;
  width: 110px;
  height: 50px;
}

.lt-ie9 .seeAllContainer {
  display: block;
  overflow: hidden;
  margin: 42px 45px 6px 0;
  color: #1963B9;
  cursor: pointer;
  font-family: "ProximaNovaCondensed","Helvetica Neue",Arial,Helvetica,sans-serif;
}

.lt-ie9 .seeAllContainer .sudo-link {
  line-height: 204%;
  float: right;
  height: 28px;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 7px;
  background-color: #D6F0FF;
}

/*.lt-ie9 .endAd {
  position: relative;
  max-width: 90px;
  min-width: 90px;
  width: 90px;
  height: 90px;
  top: 9px;
  left: 5px;

}*/
@media (min-width: 310px) {
  #gallery {
    width: 107%;
    height: 126px;
    margin-left: -9px;
  }
  #gallery .galleryCntr .c-nav .prev {
    left: 10px;
  }
  #gallery .galleryCntr .c-nav .next {
    right: 10px;
  }
}
/* End Duplicate 29.6875em breakpoint */
@media (min-width: 29.6875em) {
  #gallery .galleryCntr .c-nav .prev {
    left: 10px;
  }
  #gallery .galleryCntr .c-nav .next {
    right: 10px;
  }

  .c-img-container {
    width: 66px;
    height: 96px;
  }
  .c-img-container img {
    width: 60px;
    height: 60px;
  }

  .c-img-container:hover {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }
}
/* Medium */
@media (min-width: 35em) {
  /*
  body:after {
    content: 'medium';
    display: none;
  }
  */
  #gallery {
    width: 100%;
    height: 200px;
    margin: -20px auto 0;
  }
  #gallery .galleryCntr {
    height: 140px;
  }
  #gallery .galleryCntr .c-nav div {
    height: 160px;
    width: 29px;
    top: 3px;
  }
  #gallery .galleryCntr .c-nav .prev {
    left: -1px;
  }
  #gallery .galleryCntr .c-nav .next {
    right: -1px;
  }

  .c-img-container {
    width: 110px;
    height: 150px;
  }
  .c-img-container img {
    width: 100px;
    height: 100px;
    top: 4px;
    left: 4px;
  }
  .c-img-container .dContainer {
    font-size: inherit;
    margin-top: -2px;
    line-height: 115%;
    width: 110px;
    height: 50px;
  }

  .c-nav .left-arrow,
  .c-nav .right-arrow {
    top: 75px;
  }

  .c-nav .left-arrow {
    left: 9px;
  }

  .c-nav .right-arrow {
    right: 9px;
  }

  .seeAllContainer {
    display: block;
    overflow: hidden;
    margin: 42px 45px 6px 0;
    color: #1963B9;
    cursor: pointer;
    font-family: "ProximaNovaCondensed","Helvetica Neue",Arial,Helvetica,sans-serif;
  }
  .seeAllContainer .sudo-link {
    line-height: 204%;
    float: right;
    height: 28px;
    vertical-align: middle;
    font-size: 14px;
    padding: 0 7px;
    background-color: #D6F0FF;
  }

  .endAd {
    width: 97px;
    height: 97px;
    border-radius: 10px;
    position: relative;
    top: 7px;
    left: 5px;
    line-height: 1.4em;
    font-size: 1.4em;
  }
}
/* Large */
@media (min-width: 53em) {
  /*
    body:after {
      content: 'large';
      display: none;
    }
  */
  #gallery {
    width: 100%;
    height: 200px;
    margin: -20px auto 0;
  }
  #gallery .galleryCntr {
    height: 139px;
  }
  #gallery .galleryCntr .c-nav div {
    height: 160px;
    width: 29px;
    top: 3px;
  }
  #gallery .galleryCntr .c-nav .prev {
    left: -1px;
  }
  #gallery .galleryCntr .c-nav .next {
    right: -1px;
  }

  .c-img-container {
    width: 110px;
    height: 150px;
  }
  .c-img-container img {
    width: 100px;
    height: 100px;
    top: 4px;
    left: 4px;
  }
  .c-img-container .dContainer {
    font-size: inherit;
    margin-top: -2px;
    line-height: 115%;
    width: 110px;
    height: 50px;
  }

  .endAd {
    width: 97px;
    height: 97px;
    border-radius: 10px;
    top: 7px;
    left: 5px;
    line-height: 1.4em;
    font-size: 1.4em;
  }
}
.hp-location-wrapper p.subTitle {
  display: none;
  width: 100%;
  margin-right: 310px;
  font-weight: bold;
  font-size: 110%;
  padding: 0;
  margin: 0;
}

.hp-location-wrapper p.subTitle {
  display: block;
}

.hp-map-wrapper {
  display: none;
}

/* Establishes the correct position of the whole map */
.mapbox {
  float: left;
  margin-left: 2px;
}

#completeMap {
  background: none no-repeat scroll center top transparent;
}

/* Prevent the outline to be shown when user clicks on a map region */
.mapbox img,
.mapbox area,
#MapAreasContainer {
  border: 0;
  outline: none !important;
  border: none !important;
}

.map_image {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../../../images/es_MX/MAP/mx_sprite.gif) !important;
}

#completeMap.focusState {
  background: no-repeat top center;
}

#completeMap.Aguascalientes {
  background: url("../../../../../images/es_MX/MAP/locations/Aguascalientes.gif");
}

#completeMap.Baja_California {
  background: url("../../../../../images/es_MX/MAP/locations/Baja_California.gif");
}

#completeMap.Baja_California_Sur {
  background: url("../../../../../images/es_MX/MAP/locations/Baja_California_Sur.gif");
}

#completeMap.Campeche {
  background: url("../../../../../images/es_MX/MAP/locations/Campeche.gif");
}

#completeMap.Chiapas {
  background: url("../../../../../images/es_MX/MAP/locations/Chiapas.gif");
}

#completeMap.Chihuahua {
  background: url("../../../../../images/es_MX/MAP/locations/Chihuahua.gif");
}

#completeMap.Coahuila {
  background: url("../../../../../images/es_MX/MAP/locations/Coahuila.gif");
}

#completeMap.Colima {
  background: url("../../../../../images/es_MX/MAP/locations/Colima.gif");
}

#completeMap.df {
  background: url("../../../../../images/es_MX/MAP/locations/df.gif");
}

#completeMap.Durango {
  background: url("../../../../../images/es_MX/MAP/locations/Durango.gif");
}

#completeMap.Estado_de_Mexico {
  background: url("../../../../../images/es_MX/MAP/locations/Estado_de_Mexico.gif");
}

#completeMap.Guanajuato {
  background: url("../../../../../images/es_MX/MAP/locations/Guanajuato.gif");
}

#completeMap.Guerrero {
  background: url("../../../../../images/es_MX/MAP/locations/Guerrero.gif");
}

#completeMap.Hidalgo {
  background: url("../../../../../images/es_MX/MAP/locations/Hidalgo.gif");
}

#completeMap.Jalisco {
  background: url("../../../../../images/es_MX/MAP/locations/Jalisco.gif");
}

#completeMap.Michoacan {
  background: url("../../../../../images/es_MX/MAP/locations/Michoacan.gif");
}

#completeMap.Morelos {
  background: url("../../../../../images/es_MX/MAP/locations/Morelos.gif");
}

#completeMap.Nayarit {
  background: url("../../../../../images/es_MX/MAP/locations/Nayarit.gif");
}

#completeMap.Nuevo_Leon {
  background: url("../../../../../images/es_MX/MAP/locations/Nuevo_Leon.gif");
}

#completeMap.Oaxaca {
  background: url("../../../../../images/es_MX/MAP/locations/Oaxaca.gif");
}

#completeMap.Puebla {
  background: url("../../../../../images/es_MX/MAP/locations/Puebla.gif");
}

#completeMap.Queretaro {
  background: url("../../../../../images/es_MX/MAP/locations/Queretaro.gif");
}

#completeMap.Quintana_Roo {
  background: url("../../../../../images/es_MX/MAP/locations/Quintana_Roo.gif");
}

#completeMap.San_Luis_Potosi {
  background: url("../../../../../images/es_MX/MAP/locations/San_Luis_Potosi.gif");
}

#completeMap.Sinaloa {
  background: url("../../../../../images/es_MX/MAP/locations/Sinaloa.gif");
}

#completeMap.Sonora {
  background: url("../../../../../images/es_MX/MAP/locations/Sonora.gif");
}

#completeMap.Tabasco {
  background: url("../../../../../images/es_MX/MAP/locations/Tabasco.gif");
}

#completeMap.Tamaulipas {
  background: url("../../../../../images/es_MX/MAP/locations/Tamaulipas.gif");
}

#completeMap.Tlaxcala {
  background: url("../../../../../images/es_MX/MAP/locations/Tlaxcala.gif");
}

#completeMap.Veracruz {
  background: url("../../../../../images/es_MX/MAP/locations/Veracruz.gif");
}

#completeMap.Yucatan {
  background: url("../../../../../images/es_MX/MAP/locations/Yucatan.gif");
}

#completeMap.Zacatecas {
  background: url("../../../../../images/es_MX/MAP/locations/Zacatecas.gif");
}
