<div class="post-ad-header">
        <span class="back-button">
            <span class="icon-caret-left-blue"></span>
            <span>{{i18n "postAd.confirm.back"}}</span>
        </span>
	<div class="header-text">
		<div class="title-text">{{i18n "postAd.confirm.pageTitle"}}</div>
		<div class="header-accent">-</div>
	</div>
</div>
