<div class="post-ad-header">
    <div class="post-ad-content">
        {{#if this.backUrl}}
			<div class="header-back">
				<span>&lt;</span>
				<a href="{{this.backUrl}}" data-gtm="pc|PostAdCancel">{{i18n this.backKey}}</a>
			</div>
        {{/if}}
		<div class="header-text">
			<div class="title-text">{{i18n this.titleKey}}</div>
			<div class="header-accent">-</div>
		</div>
    </div>
</div>
