// -------------------------------------------------- //
// Vars containing color codes should be in this file //
// -------------------------------------------------- //


$background-color: #fff;

// Primary ColorS
$vivaBlue: #1E98D5;	    $vivaBlue80: #4FACDD;	$vivaBlue60: #7CC2E6;	$vivaBlue40: #A8D6EE; 	$vivaBlue20: #D3EBF7;
$vivaRed: #ED1C24;      $vivaRed80: #F14B53;	$vivaRed60: #F5797F;	$vivaRed40: #F9A5AA;	$vivaRed20: #FCD4D5;
$vivaGreen: #AACD38;	$vivaGreen80: #BBD763;	$vivaGreen60: #CCE18B;	$vivaGreen40: #DDE8B3;	$vivaGreen20: #EEF6D9;
$vivaGold: #FFC712;	    $vivaGold80: #FFD250;	$vivaGold60: #FFDE7E;	$vivaGold40: #FFE9AA;	$vivaGold20: #FFF4D4;
$vivaWhite: #F4F5F7;	$vivaWhite80: #F6F7F9;	$vivaWhite60: #F8F9FA;	$vivaWhite40: #FBFBFC;	$vivaWhite20: #FDFDFD;

// Secondary Colors
$vivaBlack: #4A4A4A;	$vivaBlack80: #6E6E6E;	$vivaBlack60: #929292;	$vivaBlack40: #B7B7B7;	$vivaBlack20: #D8D8D8;
$vivaGray: #9B9B9B;     $vivaGray80: #AFAFAF;	$vivaGray60: #C3C3C3;	$vivaGray40: #D7D7D7;	$vivaGray20: #EBEBEB;
$avocado: #82C840;      $avocado80: #9CD468;	$avocado60: #B4DE8E;	$avocado40: #CDE9B4;	$avocado20: #E6F5DA;
$cheddar: #FF9720;      $cheddar80: #FFAC54;	$cheddar60: #FFC180;	$cheddar40: #FFD5AB;	$cheddar20: #FFEAD5;

$vivaGray80RGBA: rgba(74, 74, 74, .8);


$orange-button-color: $cheddar;
$orange-button-color-hover: #FCA949;
$orange-button-color-active: #EC8E22;

$rowHead-bg-color: #f9f9f9;
$rowHead-color: #333333;
$rowHead2-bg-color: $vivaBlue;
$rowHead2-color: #FFF;
$row0-bg-color:transparent;
$row1-bg-color: #f9f9f9;
$postad-btn-color: #f89301;

$check-box-checked-color: #AAC543;
$check-box-border:1px solid #D8D8D8;
