<div class="ad-statistics">
    <div class="stats-views">
		<div class="stat-count">
			34
		</div>
		<div class="stat-label">
            {{i18n "adStats.views"}}
		</div>
    </div>
    <div class="stats-messages">
		<div class="stat-count">
			3
		</div>
		<div class="stat-label">
            {{i18n "adStats.messages"}}
		</div>
    </div>
    <div class="stats-favs">
        <div class="stat-count">
            8
        </div>
        <div class="stat-label">
            {{i18n "adStats.favorites"}}
        </div>
    </div>
</div>
