$thumbnail-size-asha: 50px;
$thumbnail-size-iphone: 60px;
$thumbnail-size-tablet: 75px;
$thumbnail-size-desktop: 100px;

.icon-picture {
	background-image: $srp-nophoto-imageurl !important;
	background-repeat: no-repeat;
	height:100%;
}

@mixin thumbnail_default {

	.thumb{
		float: left;
		height: $thumbnail-size-asha;
		width: $thumbnail-size-asha;
		margin-right: $medium-margin;
		@include background-image(linear-gradient(darken($color-white, 5%), $color-white));
		border-top:1px solid transparent; // must be solid or collapses in IE8
		img {
			border:1px solid transparentize($color-black, 0.5);
		}
		a{
			text-decoration: none;
		}
		.icon-picture {
			border:none !important;
		}
	}

	.thumb div {
		color: rgba(51, 51, 51, 0.1);
		font-size: 2em;
		line-height: $thumbnail-size-asha;
		text-align: center;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	@media (min-width: 320px) {

		.thumb{
			height: $thumbnail-size-iphone;
			width: $thumbnail-size-iphone;
		}

		.thumb div {
			line-height: $thumbnail-size-iphone;
		}

	}

}


// -----------------------------------------------------
// Tablet Styles
// -----------------------------------------------------

@mixin thumbnail_medium {

	.thumb{
		height: $thumbnail-size-tablet;
		width: $thumbnail-size-tablet;
	}

	.thumb div {
		line-height: $thumbnail-size-tablet;
	}

	#feature-header > .thumb{
		height: 0;
		visibility: hidden;
	}

}

// -----------------------------------------------------
// Desktop Styles
// -----------------------------------------------------

@mixin thumbnail_large {

	.thumb{
		height: $thumbnail-size-desktop;
		width: $thumbnail-size-desktop;
	}

	.thumb div {
		line-height: $thumbnail-size-desktop;
	}

}
