
.downloadapp-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	@include from-breakpoint($medium-break) {
		margin-top: 20px;
		margin-bottom: 20px;
		height: 474px;
		width: 100%;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

#downloadapp-imagewrapper {
	float: left;
	background-image: url('../../../../../images/es_MX/appdownload_mobile.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 205px;

	@include to-breakpoint($medium-break) {
		height: 337px;
	}

	@include from-breakpoint($medium-break) {
		background-image: url('../../../../../images/es_MX/appdownload_desktop.jpg');
		width: 60%;
		height: 100%;
	}
}

#downloadapp-content {
	float: left;
	width: 100%;
	text-align: center;
	background-color: $getAppCardMainBlue;
	@include from-breakpoint($medium-break) {
		float: left;
		width: 40%;
		height: 100%;
		text-align: center;
	}
}

.inner-wrapper {
	margin: 0 20px;
	@include from-breakpoint($medium-break) {
		margin: 0 45px;
	}

	.title {
		font: $h1;
		color: white;
		margin-top: 18px;
		margin-bottom: 18px;
		@include from-breakpoint($medium-break) {
			margin-top: 20px;
		}
	}
	.description {
		padding-bottom: 10px;
		font: $p2;
		color: white;
		text-align: left;
	}
	.review-wrapper {
		margin-top: 0.5em;
	}
}

.description {
	&.secondary {
		font: $p3;
		color: white;
		padding-bottom: 10px;
	}
}

.user-avatar {
	background-size: 100% 100%;
	height: 50px;
	width: 50px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	float: left;
	margin: 10px 10px 0 10px;
	border: 1px solid $getAppCardMainBlue;
	@include in-breakpoint($no-break) {
		margin-right: 5px !important;
	}
}

.review {
	background-color: $appdownloadreview-bgcolor;
	height: 70px;
	margin-bottom: 10px;
	border: 1px solid $appdownloadreview-color;
	border-radius: 5px;
	&:not(:first-child) {
		display: none;
	}

	@include from-breakpoint($medium-break) {
		display: block !important;
	}

	.review-inner {
		float: left;
		width: 70%;
		height: 100%;
		text-align: left;
		margin-top: 13px;
	}
	.rating-wrapper {
		text-align: left;
		margin-left: 2px;
	}
	.review-description {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;

		text-align: left;
		overflow: hidden;
		font: $appdownloadreview-font;
		color: $appdownloadreview-color;
		margin-left: 2px;
		height: 30px;
	}
}

.appmobile-button {
	display: block;
	@include from-breakpoint($medium-break) {
		display: none;
	}
	a {
		text-decoration: underline;
		background-color: transparent;
		text-align: center;
		font-size: 1.5em;
		display: block;
		margin-bottom: 5px;
		padding: 0.4em;
		color: $button-color;
		cursor: pointer;
	}
}

@include from-breakpoint($medium-break) {
	.app-button {
		font-size: 0; // remove gap between inline-block elements
		width: 100%;
		height: 50px;
		margin-bottom: 20px;
	}

	.icon-app-store {
		display: inline-block;
		background-repeat: no-repeat;
		width: 44%;
		height: 2.75em;
		background-size: cover;
		background-position: center;
		margin-right: 8px;
	}

	.icon-googleplay {
		display: inline-block;
		background-repeat: no-repeat;
		width: 44%;
		height: 2.75em;
		background-size: cover;
		background-position: center;
	}
}
