@import "../../../partials/common/adcompleteness";

.smartStickyTop.post-ad-subheader-container {
  left: 1em;
}

.post-ad-subheader-container
{
  margin-left: -1em;
  margin-right: -1em;
  position: relative;
  display: block;

	h1
	{
		&.subheader
		{
			margin: 0;
			padding: 0;
			// @ur
			// margin-left: 0.5em;
			margin-left : 0;
			padding-left: 0.5em;
			// @ur
			font-size: 1.2em;
		}
	}

	&.progress-container
	{
		h1.subheader
		{
			margin-top: 0.4em;
		}
	}

	&:before,
	&:after
	{
		content: "\0020";
		display: table;
	}

	&:after
	{
		clear: both;
	}
}

.fixed-supported
{
	.post-ad-subheader-container
	{
		&.fixedsticky
		{
			top: 0;
		}
		&.fixedsticky-on
		{
			width: 100%;
			max-width: $container-width;
			z-index: 9999;
		}
	}

}


/**
* The message container holds the span for the text. Whilst it is not necessary to put the message inside of a
* container, it maintains consistency with the rest of the design and permits extensibility in the future
*/
#ad-message-container
{
  background: #fff;
  margin-top: -.3em;

  z-index: 2;
  position: absolute;
  top: 100%;
  margin-right: 4px;
  border-bottom: 1px solid black;
  right: 0;
  width: 98%;

  display: none;
  /* The element that actually contains the text message */
  > span
  {
    /* TODO change this hard-coded colour to a Sass variable */
    font-family: "ProximaNovaCondensed","Helvetica Neue",Arial,Helvetica,sans-serif;;
    /* TODO change this hard-coded colour to a Sass variable */
    //font-size: .9em;
  }

	ul
	{
		list-style: initial;
		padding-left: 25px;
	}

	li
	{
		color: #38a4c3;

		> span {
			color: $color-black;
		}
	}
}

.open-messages
{
	#ad-message-container
	{
		display: block;
	}
	.ad-progress-tips
	{
		&:after
		{
			content: "\25b2";
		}
	}
}

#ad-progress-tips-container
{
  display: inline-block;
  color: #38a4c3;
  float: right;
}

.ad-progress-tips
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: transparent;
  color: inherit;
  font-weight: bold;
  //font-size: 1em;
  font-family: 'ProximaNovaCondensed', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;

  &:focus
  {
    outline: 0;
  }

  &:after
  {
    width: 13px;
    height: 9px;
    content: "\25bc";
  }

  .level-2
  {
    display: none;
  }
}

@media (min-width: 30em)
{

	.ad-progress-tips
	{
		.level-2
		{
			display: inline-block;
			margin-right: 5px;
		}
	}

	#ad-message-container
	{
		margin-right: 5px;
	}
}

@include from-breakpoint($small-break)
{
	.post-ad-subheader-container
	{
		&.progress-container
		{
			h1
			{
				&.subheader
				{
					display: inline-block;
					vertical-align: middle;
					float: left;
				}
			}
		}
	}

	.ad-progress-tips
	{
		.level-2
		{
			display: none;
		}
	}
}

