
@mixin featuretable_default {

  .feature-table {
	background-color: #fff;
	border: 2px solid #ddd;
	padding: 1em 1em 0 1em;
  }

  .feature-table h4 {
	font-weight: bold;
	color: $link-color;
  }

  .feature-table .feature {
	border-top: 1px solid #ccc;
	padding-top: 0.75em;
  }

  .feature-table .feature.no-top-border {
	border-top: none;
	padding-top: 0;
  }

	input[type='checkbox'] {
		@include checkbox-input;
		margin-right: 0.5em;
		top: 0.25em;
		background-color: transparent;
		&:checked {
			background-color: transparent;
			&:before {
				color:#000;
			}
		}
		&.valid{
			background-color: transparent;
		}
	}
	.feature input[type='checkbox'] {
		float: left;
	}

  .feature .learn-more, .websiteurl-notice .learn-more {
	display: none;
	font-weight: normal;
	margin-left: 0.5em;
	cursor: pointer;
  }

  .feature .description {
	margin-bottom: 0.5em;
  }

  .checkbox-content {
	overflow: hidden;
  }
}

@mixin featuretable_medium {

  .feature-legend {
    position: absolute;
    left: 50%;
    margin-left: -14em;
  }

  .feature-table {
	overflow: hidden;
  }

  .feature-table .headings {
	@include clearfix;
  }

  .feature .learn-more {
	display: inline;
	margin-left: 1em;
  }

  #features {
    overflow: visible;

    .input-container {
      position: relative;
    }

  }

  .websiteurl-notice .learn-more{
  	display: inline;
  	font-weight: normal;
	margin-left: 0.5em;
	cursor: pointer;
  }

  .feature .description {
	margin-bottom: 0em;
  }

}


@mixin featuretable_large {
  .feature-table {
	width: 62%;
  }
}

@mixin featuretable_lt_ie9{
	input[type=checkbox]{
		//font-size: 1.25em;
		background-color: transparent;
	}
	.feature-legend {
		height:auto;
		overflow: hidden;
		&.expand.standalone .desktop-tablet {
			overflow: hidden;
			.feature {
				display: none;
				&.show {
					display: block;
					margin-top: 0;
				}
			}
		}
	}
}
