@import "../../../partials/common/form";

#hiddendate{
  display:none;
}

#websiteurl-pricelabel{
  margin-bottom: 0em;
}

.form_out .fieldcontain .websiteurl-notice{
  font-weight: bold;
}

// Remove the arrows for input type number modified by the polyfill applied to numeric fields
// Solves BOLT-15330
.form_out input.ws-number + .input-buttons.number-input-buttons {
  display: none;
}

// Error message used in the JQuery Validation Plugin.
.form_out .fieldcontain label.error,
.form_out .fieldcontain label.pwerror,
.form_out .fieldcontain p.error {
  display: block;
  clear: both;
  font-weight: bold;
  color: $form-element-error-color;
  font-size: 0.85em;
}

// By default, hide the error icon, if any. Let other CSS override this if required.
.form_out .fieldcontain .icon-error {
  display: none;
}

// Client side Validation Errors and Server Side Errors.
.form_out input.error,
.form_out textarea.error,
.form_out select.error,
.form_out #desc_ctnr iframe.error,
.form_out .fieldcontain input.errorField {
    border: 1px solid $form-element-error-color;
    background-color: $form-element-error-bgcolor;
}

// Client side successful Validation of fields
// The validation plugin requires to have the class "error" in labels even if they are valid.
// Input Field.
.form_out .fieldcontain label.error.valid {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 2px;
  padding-top: 2px;
  font-size: 1em; // 0.85em;
}

// Rule that indicates select fields are not completed as a whole (for dates)
.form_out select.valid.incomplete,
.form_out input[type='date'].valid.incomplete {
  color: initial;
  border: 1px solid #CCCCCC;
  background-color: white;
}

// Hide all validation for fields that are added dynamically after the submit buttons area.
// Also, don't show the validation icon for fields inside Ads
// Don't show the validation icon for file input field
input[name='locationId'] + label.valid,
input[name='categoryId'] + label.valid,
.urgent-feature label.valid,
.post-ad-btn-container ~ label.valid,
.feature-table .feature label.valid,
.fileInput + label.valid,
.double-post label.valid.icon-validation-check {
    display: none;
}

// Input Field.
.form_out input.valid,
.form_out input[type="number"].valid + input, // Handle numeric field from Polyform
.form_out textarea.valid,
.form_out select.valid,
.form_out #desc_ctnr iframe.valid,
.form_out .fieldcontain input.valid {
  color: $form-element-valid-color; // #3D763E; // #468847;
  border: 1px solid #468847;
  background-color: $form-element-valid-bgcolor;
}

.pwdfield{
    	.icon-lock {
    		display: inline-block;
  			background-size: contain;
  			width: 1.5em;
  			height: 1.5em;
  			vertical-align: middle;
  			margin-left:1em;
    	}
    
} 

// No validation shown for Ads checkboxes.
// Fixes BOLT-12130
.form_out input.checkbox,
.form_out input.checkbox.valid {
  background-color: transparent;
  border: none;
}

// Solving IE8 issues with checkboxes.
// Fixes BOLT-12130
.form_out .fieldcontain input[name="urgentFeatureFlag"],
.form_out .fieldcontain input[name="urgentFeatureFlag"].valid {
  background-color: transparent;
  border: none;
}
// IE9 issue
html.ie9 .form_out .feature input[type='checkbox'] {
  background-color: transparent;
  border: none;
}

// Client side successful Validation icon
// Also check class: "icon-validation-check" - they go hand in hand.
// Icon.
label.valid {
  padding-top: 2px;
  display: inline-block;
  width: 15px;
  height: 15px;
}

// Hide the check for the radio buttons inside the currency Values container. Fixes BOLT-11960
#currencyValues label.valid {
  background-image: none;
  display: inline;
}

// For Zip code use display inline.
input[name="Address_ZipCode"] ~ label.valid.icon-validation-check {
  display: inline-block;
}

// Valid rule for description
#desc_ctnr label.error.valid,
.form_out .date-container label.error.valid,
.form_out .date-container label.valid {
  float: none;
  vertical-align: top;
}

// Fixes BOLT-12149
.form_out .date-container {
  @include clearfix;
}

.form_out .date-container > label:first-child {
  float: none;
}

// For Date fields with dropdowns, handle the valid case:
.form_out .date-container .date_select label.error.valid,
.form_out .date-container .date_select label.valid {
  display: none !important;
}

// Date selector container.
.form_out .date-container .date_select {
  display: inline-block;
}

.form_out .date-container > label.valid:last-child {
  display: inline-block;
}

@mixin a11y-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@mixin postform_default {
  .ghost{
    position:absolute;
    left:0;
    top: -0.25em;
    z-index:1;
    padding:0.35em;
    //font-size: 1.1em;
    font-weight: 600;
  }

  .form_out {
     clear: both;
  }

  .form_out > div.fieldcontain,
    .form_out > div.grouped_fields > div.fieldcontain,
    .form_out > div.optional_fields_container div.fieldcontain
    {
    margin-bottom: 1.15em;
        vertical-align: top;
  }

    // Clear fix for the seller type dropdown area.
    div.sellertypebreak {
      clear: both;
    }

    // To keep the toggle text on the right side, need to make the label
    // on the right size small.
    .optional_fields_container .placeholder {
      height: 1px;
    }

    // Toggle for optional fields
    a.toggleOptional {
      display: none;
      .arrow {
        width: 15px;
        height: 20px;
        display: inline-block;
      }
      .add-txt {
          text-decoration:underline;
          color: $post-page-image-add-color;
      }
    }

    div.optional_fields.grouping {
      display: none;
     // overflow-x : visible !important;
      overflow: visible !important;
      padding: 1em 0 0 0;
    }

    span.important {
      font-weight: bold;
    }

  fieldset.fieldcontain {
    padding: 0;
    border: none;
    margin: 0 0 22px 0;
  }

    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    input[type="email"],
  input[type="tel"],
  input[name="Address_FullAddress"],
  input[name="WebSiteUrl"],
  #desc_ctnr iframe,
    #description,
  select {
    @include form_default;
        padding: 0 0.4em;
        height: 25px;
  }

    textarea,
    input[name="Title"],
    input[name="UserName"],
    #UserNameDisplay,
    input[name="Email"],
    input[name="Address"],
    input[name="Address_FullAddress"],
    input[name="WebSiteUrl"],
    #desc_ctnr iframe {
      // width: 100%;
      width: 80%; // To make space for validation checkmark.
      height: 25px;
    }

   // *** Begin Rules for Contextual help container
   // Container highlight
   .fieldcontain.base.highlighted {
       border-top: 2px solid #E0E0D8;
       border-bottom: 2px solid #E0E0D8;
       background-color: #FBF6D9;
       padding-top: 1em;
       padding-bottom: 1em;
   }

   .fieldcontain.pwdfield {
      margin-top: -1em;
   }

  // Password field highlight
  .fieldcontain.base.pwdfield {
    &:not(.highlighted) {
      border-top: 2px solid #FFFEE0;
      border-bottom: 2px solid #FFFEE0;
    }
    &.highlighted {
      background-color: #F0FFC1;
    }
  }

   // Contextual help main class
   .contextual-help {
      @include secondary-button-new;
      border: 1px solid #97C3CE;
      background-color: #D9EDF6;
      color: #698DA7;
      display: table; // inline-block; // table
      white-space: normal;
      text-align: left;
      @include clearfix;
      clear: both;
   }

   // For Title, add some space in between the field and the help container.
   #title_ctnr .contextual-help {
   // #desc_ctnr .contextual-help {
      margin-top: 5px;
   }

   .contextual-help {
      padding: 0 10px;
      width: auto;
      max-width: 80%;
      max-height: 100px;
      max-height: 100%;
  }

   .contextual-help .icon-contextual-info {
      width: 15px;
      height: 15px;
      display: table-cell;
      cursor: text;
      //vertical-align: middle;
      //background-position: center;
      background-position: 0 3px;
   }

   .contextual-help .contents {
      padding-left: 1em;
      display: table-cell;
      cursor: auto;

      color: #698DA7;
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
   }

   // Color for Title char count.
   .form_out > div.fieldcontain .contextual-help span.charcount {
      color: #2F68B2;
   }

  #upload-btn .contextual-help {
    // float: right;
    width: 100%;
    max-width: 100%;

    left: 1.5em;
    position: relative;
  }

   // *** End Rules for Contextual Help

    .form_out > {
        div.fieldcontain,
        div.optional_fields_container  div.fieldcontain {
            .select-container,
            .input-container {
                clear: both
            }
        }
    }

  .form_out > {
      div.fieldcontain,
        div.grouped_fields > div.fieldcontain,
        div.optional_fields_container div.fieldcontain,
        div.optional_fields_container fieldset.fieldcontain,
    fieldset.fieldcontain {
            > label,
            > legend {
                font-weight: bold;
                display: block;
                margin-bottom: .4em;
                float: left;
            }
            > span {
                color: $form-element-error-color;
                font-weight: bold;
                //font-size: $fontSize-text;
                line-height: 25px;
            }
    }
  }

    .form_out > div.fieldcontain .remove-chars {
      display: none;
    }

    .form_out > div.fieldcontain  span.charcount {
      font-weight: bold;
      color: $color-black;
      &.negative-numbers {
        color: $form-element-error-color;
      }
    }

    .form_out > {
        div.fieldcontain,
        div.grouped_fields > div.fieldcontain,
        div.optional_fields_container div.fieldcontain {
            .select-container,
            .input-container {
                clear: both;
            }
        }
    }

    .form_out {
      #zipCodeResult{
        font-weight: bold;
        //font-size: 1.2em;
        margin-left: 0.5em;
            &.error {
              color: $form-element-error-color;
              font-weight: bold;
              display: block;
              font-size: 0.9em;
              margin-left: 0;
              //font-weight: normal;
              //color: $form-element-error-color;
              //font-size: 85%;
            }
      }
    }

  /* radio buttons */
  fieldset.fieldcontain {
    > div.fieldcontain {
            margin-right: 14px;
      input,
      label,
      select {
        display: inline-block;
      }
      input[type="text"],
            input[type="number"] {
        width: 5em;
      }
      select {
        width: 4.5em;
      }
      input[type="radio"] {
        vertical-align: text-bottom;
      }
            label.disabled {
                color: #c5c1c1;
            }
    }
  }

    fieldset.price {
        clear: both;
    }

    fieldset.fieldcontain {
        .price-choice{
           label{
             //font-size:$fontSize-text;
           }

        }

    }

  .form_out > div.fieldcontain > input.errorField,
  .form_out > div.fieldcontain > select.errorField,
    .form_out > div.optional_fields_container  div.fieldcontain > input.errorField,
    .form_out > div.optional_fields_container  div.fieldcontain > select.errorField,
  textarea.errorField,
  iframe.errorField {
    @include error_field;
  }

  .form_out  p.error {
    @include error_message;
    //font-size:$fontSize-text;
  }

  /* Begin Email hint area rules */
    .form_out div.hintArea,
    .form_out div.email-suggestion-ok {
    @include suggestion_message;
    //font-size: 0.9em;
  }
  .form_out div.hintArea {
    display: inline; // inline-block;
    padding-right: 2px;
  }

    .form_out .emailHint {
      display: inline-block;
      p.suggestion-area {
        margin: 0;
      }
    }

    .form_out .yesnoArea {
      display: inline-block;
      //font-size: 0.9em;
      color: $color-navy;
      .yes, .no {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    /* End Email hint area rules */

  textarea,
  #desc_ctnr iframe {
    min-height: 5em;
    resize: vertical;
  }

  // No rich text editor description.
  // Added to fix BOLT-11962.
  #desc_ctnr .desc-require.no-rte {
    display: block;
    border: 1px solid transparent;
  }

    .form_out > div.base > div.img-upload-cnt {
       margin-bottom: 1.32em;
    }

    .form_out > div.fieldcontain > select.dateselect,
    .form_out > div.optional_fields_container  div.fieldcontain > select.dateselect{
        width: 32.5%;
    }

  #desc_ctnr .controls {
    margin-bottom: .5em;
    button {
      display: inline-block;
      min-width: 2.30em;
      text-align: center;
      padding: .3em;
      margin-right: .75em;
      //font-size:105%;
      border-radius: .3125em; /* 5px */
    }
  }

  //to do - use a class for secondary-button and bold
  .ui-btn-bold {
    @include secondary-button-new;
    @include bold-text;
  }
  .ui-btn-italic {
      @include secondary-button-new;
    @include italic-text;
  }
  .ui-btn-underline {
      @include secondary-button-new;
    text-decoration: underline;
  }
  .ui-btn-ol,.ui-btn-ul {
      @include secondary-button-new;
      .icon-list-ol, .icon-list-ul {
      display:inline-block;
            background-size:contain;
            width: 1em;
            height:1em;
            vertical-align: middle;

    }
  }
  
  .ui-btn-active{
      @include box-shadow(0px 0px 5px $color-black-50 inset);
  }
  #rte {
    font-family:$blueprint-font-family;
    //font-size: $fontSize-text;

    p {
      margin-bottom: 1em;
    }
  }
  
  .urgent-feature{
    //font-size:$fontSize-text;
  }
  
  .feature-table{
    //font-size:$fontSize-text;
  }
  
}



//small tablet size
@mixin postform_mediumsize{

  //none at this time..
}

//big tablets/desktop size.
@mixin postform_largesize{
    .form_out {
        max-width: 850px;
        clear: both;
    }

    .form_out > {
        div.fieldcontain,
        div.optional_fields_container  div.fieldcontain {
            .select-container,
            .input-container {
              clear: none;
            }
        }
    }

    .form_out > div.base,
    .form_out > fieldset.base,
    .form_out > div.optional_fields_container div.base,
    .form_out > div.optional_fields_container fieldset.base {
        margin-left: -23.2%;
        @include clearfix;
    }

    .form_out > div.single,
    .form_out > fieldset.single,
    .form_out > div.optional_fields_container div.single,
    .form_out > div.optional_fields_container fieldset.single {
        margin-left: -23.2%;
        clear: both;
    }

    .form_out {
        #zipCodeResult {
          &.error {
            margin-left: 32%;
          }
        }

        // *** Begin Contextual help.
        .fieldcontain span.contextual-help,
        .fieldcontain .contextual-trigger {
          clear: both;
          margin-left: 32%;
          max-width: 62%;
        }

        // For Title, Description, add some space in between the field and the help container
        #desc_ctnr .contextual-help,
        #title_ctnr .contextual-help {
          margin-top: 5px;
        }

        #upload-btn .contextual-help {
          max-width: 150%;
          margin-left: 0;
          left: 0;
          float: none;

          display: block;
          margin-top: -4px;
          margin-bottom: 10px;
          @include clearfix;
        }
        // *** End Contextual Help

        .grouped_fields {
            white-space: nowrap;

            .fieldcontain {
                width: 30%;
                display: inline-block;
                white-space: nowrap;
                margin-right: 3%;

                label {
                    width: 25%;
                    display: inline-block;
                    white-space: normal;
                    text-align: right;
                    padding-right: 1em;
                }

                .input-container,
                .select-container {
                    width: 55%;
                    display: inline-block;

                    select,
                    input,
                    label.error,
                    label.pwerror {
                      max-width: 100%;
                      height: 25px;
                    }

                    // For client-side plugin validation errors.
                    label.error,
                    label.pwerror {
                      display: block;
                      text-align: left;
                      width: 100%;
                      margin-left: 0;
                    }

                    // Client side validation success status
                    label.valid,
                    label.error.valid {
                      display: inline-block;
                      width: 15px; // 20px;
                      height: 15px; // 20px;
                      margin-left: 2px;
                    }

                    select[name="DriveTrain"] {max-width:124%; }
                }

                &:first-child {
                    width: 36%;

                    label {
                        width: 45%;
                    }
                    // Valid status of field
                    label.valid,
                    label.error.valid {
                        width: 15px; // 20px;
                        height: 15px; // 20px;
                    }

                    .input-container,
                    .select-container {
                        width: 55%;
                    }

                    p.error {
                        margin-left: 45%;
                        width: 250px;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            &.padded_fields {

                .fieldcontain:last-child {
                   width: 36%;
                 }
            }
        }
    }

    .price-empty-container {
    display: none;
    }

    .form_out > div.fieldcontain,
    .form_out > div.grouped_fields > div.fieldcontain,
  .form_out > fieldset.fieldcontain,
    .form_out > div.optional_fields_container div.fieldcontain,
    .form_out > div.optional_fields_container fieldset.fieldcontain {
        > label,
        > legend {
          margin: 0;
          float: left;
          clear: left;
          width: 32%;
          text-align: right;
          padding-right: 1.4em;
          line-height: 25px;
                height: 25px;
                white-space: nowrap;
        }
      
        > span {
            float: left;
            margin-right: .75em;
            margin-left: -18px;
        }
    }
    
    .form_out > div.fieldcontain.urgent-feature > label {
        height: 42px;
    }
  
  .form_out .fieldcontain .important-notice,
    .form_out .fieldcontain .important-noticeprice {
        font-weight: normal;
        margin-left: 32%;
        text-align: left;
    }
    

  .form_out .fieldcontain label.error,
  .form_out .fieldcontain label.pwerror {
        margin-left: 32%;
        width:29%;
  }

  .form_out #title_ctnr.fieldcontain label.error:not(.valid) {
      width: auto;
  }

  .form_out .fieldcontain label.error.valid {
        margin-left: 2px;
  }

  // Price Combo error message.
  .form_out .fieldcontain .price-field label.error {
        margin-left: 0;
  }

  .form_out .fieldcontain .price-field label.error.valid {
        margin-left: 2px;
  }

    .form_out .fieldcontain .important-noticeprice .icon-warning-sign {
        display: inline-block;
        width: 1.5em;
        height: 1.3em;
        margin-top: 0.2em;
    }

    .form_out > div.base > div.img-upload-cnt {
        margin-bottom: 0;
    }

    fieldset.fieldcontain > div.fieldcontain {
    float: left;
  }

  input[type="email"],
  input[type="tel"],
  textarea,
    input[name="Title"],
    input[name="UserName"],
    #UserNameDisplay,
    input[name="Email"],
    input[name="Address"],
    input[name="Address_FullAddress"],
    input[name="WebSiteUrl"],
  #desc_ctnr iframe {
    float: left;
    width: 62%;
  }
    input[name="Phone"] {
    }

  fieldset.fieldcontain > div.fieldcontain {
    input[type="text"],
        input[type="number"] {
      width: 7em;
    }
    select {
      width: 6em;
    }
  }

  .form_out  p.error,
    .form_out div.hintArea,
    .form_out div.pwdfield a.ftPwd,
    .form_out div.pwdfield .welcome,
    .form_out div.email-suggestion-ok {
    margin-left: 32%;
        white-space: normal;
  }

  textarea,
  #desc_ctnr iframe {
    overflow-y:auto;
  }

  #desc_ctnr iframe {
    clear: left;
    margin: 0 0 0 32%;
  }

  #desc_ctnr .controls {
    float: left;
    width: 66%;
  }

  #desc_ctnr label, #desc_ctnr .desc-require {
        position: relative;
       //  top: 40px;
  }

    // For i-frame (Description) client side error and date containers.
    #desc_ctnr label.error,
    .form_out .date-container label.error {
        position: static;
        top: 0;
        margin-left: 0;
        padding-left: 32%;
    }

    // Fix margin issue with date types
    .form_out input[type="date"].valid.incomplete {
        margin: 0;
    }

    // For i-frame (Description) client side successfully completed fields and successful date containers.
    #desc_ctnr label.error.valid,
   .form_out .date-container label.error.valid,
   .form_out .date-container label.valid {
        float: none;
        position: relative;
        top: 0;
        width: 15px; // 20px;
        height: 15px; // 20px;
        margin-left: 2px;
        padding-left: 0;
    }

    // For the main label for date container
    .form_out .date-container > label:first-child {
        float: left;
    }

    // For elements next to the date container.
    .form_out div.fieldcontain.date-container + div.fieldcontain {
        clear: both;
    }
}

//<IE9 specific
@mixin postform_lt_ie9{

  .form_out > div.fieldcontain > input.errorField,
  .form_out > div.fieldcontain > select.errorField,
    .form_out > div.optional_fields_container  div.fieldcontain > input.errorField,
    .form_out > div.optional_fields_container  div.fieldcontain > select.errorField,
  .form-sect #desc_ctnr iframe.errorField{
    border: 1px solid $form-element-error-color;
  }

  // Changes for Contextual Help begin
  // Fixes BOLT-12327
  .fieldcontain.base.price.highlighted {
    border-top: none;

    .price-empty-container {
        display: block;
        border-top: 2px solid #E0E0D8;
        position: relative;
        top: -1em;
    }
  }
  // Changes for Contextual Help End

  .form-sect h3 {
    margin-top: 0;
  }
  .ui-btn-active{
    border:1px solid #000;
  }
  .ghost{
     padding-top:0.4em;
  }
    .header .links {
        right: 3.5em;

        .menu-items {
            margin-right: 5px;
        }
        .help {
            right: -30px;
        }
    }
}

//IE9 specific
@mixin postform_ie9{
  .ghost{
   padding-top:0.4em;
  }

}

//only for browsers that support CSS3
@mixin postform_CSS3only{
    input[type="radio"] {
      margin-right: .75em;
      + label {
        cursor: pointer;
        margin-right: 0.5em;

        &:before {
          display: inline-block;
          vertical-align: text-bottom;
          margin-right: 0.25em;
          width: 20px;
          height: 20px;
          background: #cccccc;
          background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #cccccc));
          background-image: -webkit-linear-gradient(#cccccc, #cccccc);
          background-image: -moz-linear-gradient(#cccccc, #cccccc);
          background-image: -o-linear-gradient(#cccccc, #cccccc);
          background-image: linear-gradient(#cccccc, #cccccc);
          border-radius: 1em 1em 1em 1em;
          content: "";
          cursor: pointer;
        }
      }

      @include a11y-only;
      &:checked + label:before {
        width: 8px;
        height: 8px;
        border: 6px solid $post-page-checked-radio-color;
        background: #fff;
      }
    }
}

 .promotead {
  width:95%;
  margin: 2em 0 -5px 0;
}

 .adfeature {
       margin:0px 10px 10px;

 }

 .separator {
       border-bottom: 1px solid #E6E6E6;
       margin:10px;
 }

.footer .blog {
  top:0em;
}

@include in-breakpoint($no-break){
    .footer .blog {
    top:0.4em;
  }
  
    #desc_ctnr textarea {
        //font-size:0.85em;
        height: 10em;
    }
}

@include to-breakpoint($small-break){
    #desc_ctnr .controls {
        clear: both;
    }
    fieldset div.fieldcontain {
        clear: both;
    }
    .form_out .fieldcontain .important-notice,
    .form_out .fieldcontain .important-noticeprice {
        font-weight: normal;
        float: none; //just to override float left without having to clear or add extra div
    }
    .form_out .fieldcontain label.error,
    .form_out .fieldcontain label.pwerror {
        float: none;
    }
    .form_out .fieldcontain .important-noticeprice .icon-warning-sign {
        display: inline-block;
        width: 1.5em;
        height: 1.3em;
        margin-top: 0.2em;
    }
    .form_out .fieldcontain.contact-btn-area {
      label {
        height: 1px;
      }
    }

    #weburlabel{
    display: none;
  }
}

@include in-breakpoint($small-break){
    .form_out .fieldcontain .important-noticeprice{
        font-weight: normal;
        clear: left;
    }
}
