.footer-background{
	background-color: $footerMainBackgroundColor;
}
.footer-wrapper {
	font-family: $bodyFont;
	width: 100%;
	overflow-x: hidden;
	position: relative;

	&,& a{
		color: $footerMainTextColor;
		background-color: $footerMainBackgroundColor;
	}

	.line-divider {
		border-top: 1px solid $footerDividerLineColor;
		width: 94%;
		margin: auto 10px;
	}

	.social-container {
		margin: 12px;
		height: 40px;

		.social-icon-wrapper {
			position: relative;
			width: 20%;
			margin: 0 auto 18px auto;
			float: left;
		}

		.social-icon {
			width: 100%;
			height: 44px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-top: 5px;
		}

		.fb-icon {
			background-image: url('../../../../../icons/icon_social_facebook.svg');
		}
		.twitter-icon {
			background-image: url('../../../../../icons/icon_social_twitter.svg');
		}
		.pinterest-icon {
			background-image: url('../../../../../icons/icon_social_pinterest.svg');
		}
		.youtube-icon {
			background-image: url('../../../../../icons/icon_social_youtube.svg');
		}
		.googleplus-icon {
			background-image: url('../../../../../icons/icon_social_google_plus.svg');
		}
	}

	.hide {
		display: none;
	}

	.app-downloads {
		border: 1px solid white;
		display: inline-block;
		margin: auto;
		border-radius: .25em;
		@include from-breakpoint($medium-break) {
			margin: 0 10px;
		}
		max-width: 146px;
		height: 50px;
		background-repeat: no-repeat;
		margin-top: 5px;
	}

	.footer-download{
		position: inherit;
		right: inherit;
		bottom: inherit;
		float: right;
		width:40%;
		padding-right: 35px;
		.app-downloads-container{
			padding-top:16px;
			padding-bottom:9px;
			margin-top: inherit;
			height:52px;
			text-align: right;
			width: 100%;
			.app-downloads{
				width: 100%;
				top:0;
				margin: 0 2.5px;
				&.icon-logo_app_store{
					background: url(../../../../../images/#{$photoFolder}/appstore.svg) no-repeat;
					border: none;
					background-position: center;
					background-size: 100%;
				}
				&.icon-logo_google_play{
					background: url(../../../../../images/#{$photoFolder}/google-play.png) no-repeat;
					background-position: center;
					background-size: 114%;
					border: none;
				}
			}
		}
	}

	.footer-trademark {
		margin-bottom: 10px;
		margin-top: 15px;
		font-size: 10px;
		text-align: center;
	}
	.df-footer-legal{
	  	.menu-category{
	  		margin-top: 0;
	  		padding-top: 18px;
	  		padding-bottom: 18px;
	  	}
	}

	.menu-category {
		cursor: default;
		width: 95%;
		padding: 12px;
		.chevron {
			background-image: url('../../../../../images/carousel-arrow-right.png');
			transform: rotate(90deg);
			position: relative;
			float: right;
			margin: 5px 10px 0 0;
			background-repeat: no-repeat;
			width: 15px;
			height: 15px;
			background-size: cover;
			background-position: center;
		}
		.menu-items{
			margin: 15px 0 0 0;
		}
		.footer-contact-button{
			margin: 20px 0;
			padding: 10px 0;
			background-color: $footerContactButtonBackgroundColor;
			color: $footerContactButtonColor;
		}
	}
	.desktop-only {
		display: none;
	}
}

.seo-links {
	position: relative;
	left: 0.8em;
	top: -11em;
	margin-top: 7px;
	height: 0;
	margin-left: 0;
	display: none;
	a {
		color: $seofooter-color;
	}

	&.display-mobile {
		top: -17.4em;
		&.mobile-extra-height {
			top: -21.4em;
		}
	}

	.seo-links-text-container {
		margin-top: 11px;
	}
;
}

.footer-inner-wrappper .inner {
	margin-bottom: 32px;
}


//:::::::: Small Only::::::::::
@include to-breakpoint($small-break){
	.footer-wrapper{
		.footer-download{
			display: inline-block;
			width: 100%;
			padding: 0;
			.app-downloads-container{
				text-align: center;
				padding: 0 0 9px 0;
			}
		}
	}
}

@include from-breakpoint($medium-break) {
	.footer-wrapper {
		margin-bottom: -11px;
		.desktop-only {
			display: block;
		}

		.mobile-only {
			display: none;
		}

		.customer-service-container {
			text-align: center;
		}

		.menu-category {
			float: left;
			width: 22%;
			text-align: center;
			margin-top: 10px;
			span {
				font-size: 18px
			}
			.menu-items {
				display: block;
			}
		}

		.df-footer-legal {
			.menu-category {
				margin-top: 20px;
				width: 100%;
				float: left;
				text-align: center;
				span {
					font-size: 18px
				}

				.menu-items {
					display: block;
					margin-top: 15px;
					.df-legal-links {
						&:not(:first-child) {
							margin-left: 40px;
						}
						margin-bottom: 20px;
						display: inline-block
					}
				}
			}

		}

		.social-container {
			width: 50%;
			display: inline-block;
			padding-left:10px;

			.social-info-text{
				float: left;
				padding-top: 15px;
			}
			.social-info-icons{
				display: inline-block;
			    width: 70%;
			    float: left;
			}

			.social-icon-wrapper {
				width: 20%;
				margin: auto;
			}
		}

		.footer-download {
			display: inline-block;
			width: 40%;
			position: absolute;
			right: 0;
			bottom: 35px;
		}
		.app-downloads-container {
			width: 100%;
			display: inline-block;
			margin-top: 15px;
			.app-downloads {
				position: relative;
				top: -5px;
			}
		}
		.line-divider {
			width: initial;
			margin-left: 20px;
			margin-right: 20px;
			//margin-top: 15px;
		}

	}

	.seo-links {
		display: block !important;
		width: 98%;

		&.display-mobile {
			top: -11em;
			&.mobile-extra-height {
				top: -11em;
			}
		}

		.seo-links-text-container {
			width: 22%;
			text-align: center;
			margin: auto;
			margin-top: 11px;
			padding-left: 13em;
		}
	}

}
