.footer-background{
	background-color: black;
}
.footer-wrapper {
	width: 100%;
	overflow-x: hidden;
	background-color: black;
	color: white;
	position: relative;

	.meet-team {
		text-align: center;
		font-size: 20px;
		margin: 22px 5px 14px 5px;
	}

	a {
		color: white;
	}

	.line-divider {
		border-top: 1px solid grey;
		width: 94%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.user-photo-wrapper {
		position: relative;
		width: 25%;
		float: left;

		@for $i from 1 through 4 {
			&:nth-of-type(#{$i}) {
				.user-photo {
					margin: auto;
					background-image: url("../../../../../images/es_MX/Agent0#{$i}-50.jpg");
				}
			}
		}

		&.desktop-icon {
			display: none;
		}
	}

	.social-container {
		margin: 12px;
		height: 40px;

		.social-icon-wrapper {
			position: relative;
			width: 20%;
			margin: 0 auto 18px auto;
			float: left;
		}

		.social-icon {
			width: 100%;
			height: 44px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-top: 5px;
		}

		.fb-icon {
			background-image: url('../../../../../icons/icon_social_facebook.svg');
		}
		.twitter-icon {
			background-image: url('../../../../../icons/icon_social_twitter.svg');
		}
		.pinterest-icon {
			background-image: url('../../../../../icons/icon_social_pinterest.svg');
		}
		.youtube-icon {
			background-image: url('../../../../../icons/icon_social_youtube.svg');
		}
		.googleplus-icon {
			background-image: url('../../../../../icons/icon_social_google_plus.svg');
		}
	}

	.team-photos {
		margin-top: 10px;
		margin: 0 auto;
		width: 100%;
		height: 60px;

		.user-photo {
			width: 64px;
			height: 64px;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-top: 5px;
			border: 2px solid #1E98D5;
		}
	}

	.hide {
		display: none;
	}

	.app-downloads {
		border: 1px solid white;
		display: inline-block;
		margin: auto;
		border-radius: .25em;
		@include from-breakpoint($medium-break) {
			margin: 0 10px;
		}
		max-width: 146px;
		height: 50px;
		background-repeat: no-repeat;
		margin-top: 5px;
	}

	.footer-download {
		width: 100%;
		@include from-breakpoint($medium-break) {
			width: 40%;
			position: absolute;
			right: 0;
			bottom: 35px;
		}
		text-align: center;
	}

	.footer-trademark {
		margin-bottom: 10px;
		margin-top: 15px;
		font-size: 10px;
		text-align: center;
	}

	.menu-category {
		cursor: default;
		width: 95%;
		padding: 12px;
		.chevron {
			background-image: url('../../../../../images/carousel-arrow-right.png');
			position: relative;
			float: right;
			margin: 5px 10px 0 0;
			background-repeat: no-repeat;
			width: 15px;
			height: 15px;
			background-size: cover;
			background-position: center;
		}
		.menu-items {
			margin-top: 15px;
		}
		.footer-contact-button{
			margin: 20px 0;
			padding: 10px 0;
			background-color: $footerContactButtonBackgroundColor;
			color: $footerContactButtonColor;
		}
	}

	.support-wrapper {
		margin: 15px;

		.support-container {
			margin-left: 25px;
			&.mobile-only {
				display: none;
			}

			.support-icon {
				display: inline-block;
				align-self: center;
				height: 20px;
				width: 20px;
				position: relative;
				top: 5px;
				margin-top: 5px;
			}
			.email-icon {
				background-image: url('../../../../../icons/icon_email.svg');
				position: relative;
				margin: 5px 10px 0 0;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				background-size: cover;
				background-position: center;
			}
			.call-icon {
				background-image: url('../../../../../icons/icon_call.svg');
				position: relative;
				margin: 5px 10px 0 0;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				background-size: cover;
				background-position: center;
			}
			.chat-icon {
				background-image: url('../../../../../icons/icon_chat.svg');
				position: relative;
				margin: 5px 10px 0 0;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				background-size: cover;
				background-position: center;
			}
			.support-text {
				margin-left: 10px;
			}
		}
	}

	.df-support-wrapper {
		margin: 15px;

		.df-support-container {
			float: left;
			margin-left: 5px;

			.support-icon {
				display: inline-block;
				align-self: center;
				height: 20px;
				width: 20px;
				position: relative;
				top: 5px;
				margin-top: 5px;
				margin-left: 10px;
			}

			.support-text {
				margin-left: 5px;
			}

			.email-icon {
				background-image: url('../../../../../icons/icon_email.svg');
				position: relative;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				background-size: cover;
				background-position: center;
			}
			.call-icon {
				background-image: url('../../../../../icons/icon_call.svg');
				position: relative;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				background-size: cover;
				background-position: center;
			}
			.chat-icon {
				background-image: url('../../../../../icons/icon_chat.svg');
				position: relative;
				background-repeat: no-repeat;
				width: 20px;
				height: 20px;
				background-size: cover;
				background-position: center;
			}
		}
	}

	.desktop-only {
		display: none;
	}
}

.seo-links {
	position: relative;
	left: 0.8em;
	top: -11em;
	margin-top: 7px;
	height: 0;
	margin-left: 0;
	display: none;
	a {
		color: $seofooter-color;
	}

	&.display-mobile {
		top: -17.4em;
		&.mobile-extra-height {
			top: -21.4em;
		}
	}

	.seo-links-text-container {
		margin-top: 11px;
	}
;
}

.footer-inner-wrappper .inner {
	margin-bottom: 32px;
}


@include to-breakpoint($small-break) {
	.footer-wrapper {
		.support-wrapper {
			.support-container {
				.support-text {
					&.mobile-only {
						display: inline-block;
					}
				}
			}
		}
	}
}

@include from-breakpoint($medium-break) {
	.footer-wrapper {
		margin-bottom: -11px;
		.desktop-only {
			display: block;
		}

		.mobile-only {
			display: none;
		}

		.customer-service-container {
			text-align: center;
		}

		.menu-category {
			float: left;
			width: 22%;
			text-align: center;
			margin-top: 10px;
			span {
				font-size: 18px
			}
			.menu-items {
				display: block;
				margin-top: 28px;
			}
		}

		.df-footer-legal {
			.menu-category {
				margin-top: 20px;
				span {
					font-size: 18px
				}
				width: 100%;
				float: left;
				text-align: center;
				padding: 0;

				.menu-items {
					display: block;
					margin-top: 15px;
					.df-legal-links {
						&:not(:first-child) {
							margin-left: 40px;
						}
						margin-bottom: 20px;
						display: inline-block
					}
				}
			}

		}

		.social-container {
			width: 50%;
			display: inline-block;
			padding-left:10px;

			.social-info-text{
				float: left;
				padding-top: 15px;
			}
			.social-info-icons{
				display: inline-block;
			    width: 70%;
			    float: left;
			}

			.social-icon-wrapper {
				width: 20%;
				margin: auto;
			}
		}

		.footer-download {
			display: inline-block;
		}
		.app-downloads-container {
			width: 100%;
			display: inline-block;
			margin-top: 15px;
			.app-downloads {
				position: relative;
				top: -5px;
			}
		}
		.df-support-wrapper {
			display: block;
			position: relative;
			margin: 0 auto;
			width: 276px;

			.df-support-container {
				display: inline-block;
				.support-text {
					&.desktop-only {
						display: inline-block;
					}
				}
			}
		}
		.line-divider {
			width: initial;
			margin-left: 20px;
			margin-right: 20px;
			//margin-top: 15px;
		}
		.support-wrapper {
			display: inline-block;
			position: relative;
			top: -20px;
			width: 42%;
			margin: 0 0 15px 0;

			.support-container {
				display: inline-block;
				.support-text {
					&.desktop-only {
						display: inline-block;
					}
				}
			}
		}
		.team-photos {
			display: inline-block;
			width: 42%;
		}

	}

	.seo-links {
		display: block !important;
		width: 98%;

		&.display-mobile {
			top: -11em;
			&.mobile-extra-height {
				top: -11em;
			}
		}

		.seo-links-text-container {
			width: 22%;
			text-align: center;
			margin: auto;
			margin-top: 11px;
			padding-left: 13em;
		}
	}

}
