{{#partial "content"}}
    <div class="card">
        <div class="card-title">Popular in <span class="fake-link">Your Neighborhood</span></div>
        {{> (dynamic "tileGrid")}}
    </div>
    <div class="card">
        <div class="card-title">
            Card Placeholder
        </div>
    </div>
{{/partial}}
