<div class="safetyTips">
    <div class="title">
        <h2>
           {{i18n "homepage.safetyTips.title"}}
        </h2>
    </div>
    <div class="image-container">
        <div class="safety-block block-left">
            <div class="image image-left">
            </div>
            <div class="help-text help-text-left">
                {{this.safetyTips.one}}
            </div>
        </div>

        <div class="safety-block block-right">
            <div class="image image-right">
            </div>
            <div class="help-text help-text-right">
                {{this.safetyTips.two}}
            </div>
        </div>

    </div>
    <div class="faq">
        <a href="http://ayuda.vivanuncios.com.mx/MX?lang=es&l=es&c=PKB%3AConsejos_de_Seguridad">
            {{i18n "homepage.safetyTips.faq"}}
        </a>
    </div>
</div>
