// TO DO:THIS HAS TO BE REFACTORED 

// ****************************************************************
// Rules for both List and Gallery Results (Urgent and Highlight)
// ****************************************************************
// Urgent Ad.
.result-gallery.urgent,
.result-link.urgent {
  border: 1px solid #EF4722 !important;
}

// Mouseover for result gallery item
.result-gallery.mouseover .result-wrap.urgent {
   .details {
     left: -1px;
     top: 210px;
     width: 302px;
     border: 1px solid #EF4722 !important;
     border-top: none !important;
     @include border-radius(0 0 5px 5px);
     @include box-shadow(0 0 0 #EF4722);
  }
}

// Highlight Ad
.result-wrap.highlight,
.result-link.highlight {
  background-color: #FCF2CD !important;
  .details,
   a.img-gallery {
    background-color: #FCF2CD !important;
  }
}

// Rules for Gallery Results.
.thumb-gallery .urgent-block {
  display: inline-block; // table-cell;
  height: 62px;
  width: 62px;
  right: 0;
  position: absolute;
  top: 0;
}

// Rules for List Results...
.result-link .urgent-block {
  position: absolute !important;
}

// Style for ribbon-like area.
.result-link .urgent-block {
  border: none !important;
  display: inline-block; // table-cell;
  height: 62px;
  width: 62px;
  right: 0;
  position: absolute;
  top: 0;
}

// For Non-mobile
.icon-urgent_label {
  display: block;
}

.results.list-view {
  .icon-urgent_label_mobile,
  .result .result-link .ui-btn-reply-container {
    display: none;
  }
}

@include from-breakpoint($medium-break, $lt-ie9-class-name) {
  .results.list-view .view ul li .result-link .ui-btn-reply-container {
    display: none;
  }
}

// For mobile and mini-tablet
// breakpoints
@include to-breakpoint($small-break) {
 
  .results.list-view {
    .result-link .urgent-block {
      top: 0;
      left: 0 !important;
    }
    .icon-urgent_label {
      display: none !important;
    }
    .icon-urgent_label_mobile {
      display: block !important;
    }
  }
}

.zoomOutResults {
  margin-bottom: 10px;
}

