@import "../../../../../partials/common/categoryListBase";

$homepage-ad-height: 14em;
$homepage-social-container-height: 6em;
$homepage-blog-height: 14.5;
$right-column-top: 17em;

//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@include to-breakpoint($no-break){
   @include category-list-to-no-breakpoint;  
}

//--------------------------------------------------------
// small breakpoint starts
//--------------------------------------------------------


@include from-breakpoint($small-break){
	.category-list{
		.parent-category{
			> ul {
				margin-top: .2em;
			}
			&.l1wanted a .label,
			&.l1swaptrade a .label,
			&.l1freebies a .label {
				padding-left: 0;
			}
		}
	}
}

//--------------------------------------------------------
// medium breakpoint starts
//--------------------------------------------------------

@include in-breakpoint($medium-break){
   
}

//--------------------------------------------------------
// large breakpoint starts
//--------------------------------------------------------
@include to-breakpoint($lt-ie10-class-name){
	
	li[data-ct-id='rightBucket'] { // right bucket
		position:relative;
		display:inline-block;
		right:-70%;
		width:30%;
	}
    .category-list{
        position:relative;
        margin-top: 2.5em;
        height:113em;
        
        > li{
        	width : 14em;
        }
        .parent-category{
            position:absolute;
            
            
            //column1
            &.l1category2{
            }
            &.l1category5{
                @include column-border-top;
                top: 17em;
            }
            &.l1category9218{
                @include column-border-top;
                top: 30.5em;
            }
            &.l1category9124{
                @include column-border-top;
                top: 48.5em;
            }
            &.l1category6{
                @include column-border-top;
                top: 62.5em;
            }

            // Szukajacy Zatrudnienia (Job Seekers).
            // Hide the L2 categories - See BOLT-17028
            &.l1category9290 {
                @include column-border-top;
                top: 85.5em;
                left: $column3left;
                ul {
                    display:none;
                }
            }

            $column2left: 23%;
            //column2
            &.l1category4{
                left:$column2left;
            }
            &.l1category9541{
                @include column-border-top;
                top:17em;
                left: $column2left;
            }
            &.l1category9237{
                @include column-border-top;
                top: 39.5em;
                left: $column2left;
            }
            &.l1category9459{
                @include column-border-top;
                top: 59.5em;
                left: $column2left;
            }
            &.l1category9490{
                @include column-border-top;
                top: 86em;
                left: $column2left;
            }  
            
            $column3left: 47%;
            //column3
            &.l1category8{
                left:$column3left;
            }
            &.l1category9{
                @include column-border-top;
                top:54em;
                left:$column3left;
            }
            &.l1swaptrade{
    			@include column-border-top;
                top:104em;
                left:$column3left;
    		}
    		&.l1freebies{
    			@include column-border-top;
                top: 108em;
                left: $column3left;
    		}

        }
    }
    
}
