.safety-tips-container{
	.safety-tips-card{
		font-family: 'Lato';
		background-color: color(crane,base);
		.safetyTips{
			.image.image-left{
				background: url(../../../../../images/en_ZA/safety.jpg) no-repeat;
				background-position: center;
				background-size: cover;
			}
			.title{
				padding-top:10px;
			}
			.help-text{
				padding-top:5px;
			}
			.faq{
				height: 20px;
			}
		}
	}
}
@include to-breakpoint($small-break) {
	.safety-tips-wrapper {
		.safety-tips-container {
			.safety-tips-card, .home_rghtbanner2, .home_rghtbanner {
				display: none;
			}
			.home_rghtbanner:first-of-type {
				display: block;
			}
		}
	}
}
