@import
    "../../theme",
    "../../../partials/main/toggleCheckbox",
    "../../../partials/pages/Quickpost/pageMain",
    "../../../partials/pages/Quickpost/jquery.mmenu.app",
    "../../../partials/pages/Quickpost/jquery.mmenu.all";
    
 .description {
	 .char-count-info{
	  right:10%;
	 }
   .icon-contextual-info{
   right:8%;
  }
 }
 
.floating-tooltip .tooltip-wrapper {     
     background: #EBEBEB; 
  }   

.qpWrapper{
  padding: 1em;
  background-color: $quickpost-form-wrapper;
  border-radius: 10px;
  margin: 1em;
  div.mobile-only .mm-menu > .mm-panel.mm-opened {
    background-color: $quickpost-selected-cat-bgcolor;
  }
  div.mobile-only .mm-listview > li > span.base-panel{
    color: $quickpost-selected-cat-color;
  }
  div.mobile-only .mm-menu.mm-theme-white .mm-listview > li .mm-prev:before, div.mobile-only .mm-menu.mm-theme-white .mm-listview > li .mm-next:after, div.mobile-only .mm-menu.mm-theme-white .mm-listview > li .mm-arrow:after {
    border-color: $quickpost-selected-cat-color;
  }
}

div.mobile-only.active .mm-navbar.mm-navbar-top-2{
  background-color: #a9a9a9;
}
div.mobile-only.active .mm-navbar.mm-navbar-top-1, div.mobile-only.active .mm-navbar.mm-navbar-top-1 a, div.mobile-only.active .mm-navbar.mm-navbar-top-1 a:hover, div.mobile-only.active .mm-navbar.mm-navbar-top-1 a:focus{
  background-color: gray !important;
}
div.mobile-only ul.nav-cont{
  background-color: #EBEBEB;
}
div.mobile-only a, div.mobile-only a:link, div.mobile-only a:active, div.mobile-only a:visited, div.mobile-only a:hover{
  color: $quickpost-selected-cat-color;
}
div.mobile-only li.nav-item span.icon{
  display: none !important;
}
div.mobile-only .mm-listview > li > a.item-icon, div.mobile-only .mm-listview > li > span{
  padding-left: 1.4em;
}
