//:::::::::: Desktop, Medium and Small
.card{
	background-color: color(foxtail, light);
	font-family: 'Lato';
	.card-title{
		color: color(swirl,shade);
	}
	.tile-grid-width-container{
		.tile-container.using-isotope{
			//common styles
			>.tile-item{
				//margin: 0;
				.controls{
					background: linear-gradient(0deg, black, transparent);
					height: 40px;
					border-bottom-right-radius: $panelCornerBorderRadius;
					border-bottom-left-radius: $panelCornerBorderRadius;
				}
				.tile-link{
					//background: red;
				}
			}
			>.tile-item.two-by-two{
				//height: 264px;
				//width: 210px;
			}
			>.tile-item.two-by-one{
				//height: 178px;
				//width: 300px;
			}
			>.tile-item.one-by-one{
				//height: 178px;
				//width: 140px;
			}
		}
	}
}
