.video-container{
	width: 100%;
	height: 1px;
	@include transition(height 300ms);

	&.active{
		background-color: #eee;
		overflow: hidden;
	}
}

@include in-breakpoint($small-break){
	.video-container.active{ height: 200px; }
}

@include in-breakpoint($medium-break){
	.video-container.active{ height: 300px; }
}

@include in-breakpoint($large-break, $lt-ie9-class-name){
	.video-container.active{ height: 350px; }
}