@import "../../../../partials/pages/Homepage/pageMain";

.lastweekposts
{
    margin:0.5em 310px 0 0;
    background-color:#FEF2A8;
    padding:0.3em 0.5em;
    color:grey;
    b{
        color:$gumtree-green;
    }
}

.homepagewrapper{
    width: 100%; 
    margin: 0 auto;
#sticky_bottom_banner{
	position: fixed; 
	bottom: 0px;
	z-index: 9;
	height: 30px;
    min-height: 30px;
    line-height: 28px;
	text-align: center;
	width: 100%;
	background-color: #8FBA31;
	right:0;
	}   
.icon-close_icon{
	position:absolute;
	width:18px;
	cursor:pointer;
	height:18px;
	display:inline-block;
	top:12%;
	right:122px;
	}
}

.hp-city-wrapper, .hp-map-wrapper, .hp-province-wrapper,
.hp-popular-searches-wrapper, .hp-trending-searches-wrapper{
	ul{
		@include columns(2);
	}
}

@include to-breakpoint($no-break){
	.hp-content{
		margin-left: -1em;
		margin-right: -1em;
	}
    .lastweekposts
    {
        margin:0em 1em 0 1em;
    }
    
    .homepagewrapper {
    #sticky_bottom_banner {
    line-height: 14px;
    font-size: 12px;
    text-align: left;
    padding-left: 2%;
    min-height: 42px;
    padding-top: 1%;
     }
   .icon-close_icon{
    top: 18px;
    right: 3px;
   } 
  }  
}

@include in-breakpoint($medium-break) {
 .homepagewrapper  .icon-close_icon{
   right:48px;
 }
}

@include in-breakpoint($small-break) {
 .homepagewrapper  .icon-close_icon{
   right:14px;
 }
}

// see 489ae2fa0f9ebe9657c8dc18a4f427fbfa3ce2ad for BOLT-16202

@include in-breakpoint($large-break, $lt-ie9-class-name){
	.hp-popular-searches-wrapper, .hp-trending-searches-wrapper, .hp-province-wrapper, .hp-city-wrapper{
		ul{
			@include columns(3);
		}
	}
}

.category-list{
    .parent-category{
        ul li {
            white-space:nowrap;
        }
        > a{
            .icon{
                top:0em;
            }
        }
    }
}