@include from-breakpoint($small-break) {

	#ad-bottombanner {
        width: 970px;
		margin: 15px auto;
		max-width: 100%;
		overflow: hidden;
		text-align: center;
		margin-bottom: 20px;
	}

	#home_topbanner {
        width: 970px;
		margin: 15px auto;
		max-width: 100%;
		overflow: hidden;
		text-align: center;

	}

}
