$header-countries-display: block !default;
$header-countries-width: 5em !default;
$header-countries-color: cyan !default;
$header-countries-radius: 0.25em !default;
$header-countries-mouseover-bg: #ddd !default;
$header-countries-mouseover-color: $color-white !default;
$header-countries-border-color: $color-white !default;

.countries{ display:$header-countries-display; position:absolute; left:11em; top:1.5em; width:$header-countries-width; height:2.5em; font-size:1.25em;

    > span,
    > a{ display:block; width:100%; height:100%; position:absolute; left:0; top:0; line-height:2.5em; font-weight:bold; color:$header-countries-color; }

    > a{ @include header-caret; }

    ul{ position:absolute; left:0; top:0; width:0; border:1px solid $header-countries-border-color; @include border-radius($header-countries-radius); overflow:hidden; background-color:white; @include box-shadow(0 2px 5px rgba(0,0,0,0.15)); @include transition(width 200ms, height 200ms, opacity 10ms); height:0; @include opacity(0.0);

        li{ display:block; width:100%; height:2.5em; line-height:2.5em; border-top:1px solid $header-countries-border-color; background-color:white; cursor:pointer; padding:0 1em 0 2em; background:url(http://inc.latam.classistatic.com/1.1.133/images/flags.gif) 0.5em -4.4em no-repeat;/*url(../../../../../../images/flags.gif)*/

            &:hover{ background-color:#fafafa; }
            &:first-child{ background-color:$header-countries-mouseover-bg; color:$header-countries-mouseover-color; border-top:none; }
        }
    }

    &.active,
    &:hover{

        ul{ width:20em; height:5em; @include opacity(1.0);

            li.country-0{ background-position:0.5em -18.8em; }
        }

        > a,
        > a{ display:none; }
    }

}




@include to-breakpoint($small-break){
    .countries{ display:none; }
}