.sectionMenu{
	font-family: 'Lato';
}
.header-wrapper {
	border-bottom-color: $headerBorderColor;
	&.header-distraction-free {
		.headerV2 {
			padding-bottom: 10px;
		}
	}

	.headerV2 {
		font-family: $bodyFont;
		height: 46px;
		margin: auto;
		max-width: 942px;
		padding: 15px 40px 0;
		@include from-breakpoint($medium-break) {
			padding: 15px 40px 0;
		}
		a{
			font-weight: normal;
		}

		.post-icon {
			top: 26px;
		}

		.item-text {
			background-color: $common-background-color;
			cursor: pointer;
			margin-top: -20px;
			max-width: none;
			padding: 31px 5px 11px;
			z-index: 1;
		}

		.left-items {
			left: auto;
			margin-left: 8%;
			width: auto;

			&.logged-out {
				left: auto;
				margin-left: 6.36%;
				margin-left: calc((100% - 848px) * 0.3735); // desired margin / (max width - min width) = 65 / (1022 - 848) = 0.3735
				width: 39.62%;

				.post-ad-button {
					float: right;
					margin-left: 0;
				}
			}

			.browse {
				min-width: 0;
				top: 0;
				width: auto;
			}
		}

		.logo {
			background: url("../../../../../images/#{$photoFolder}/logo_gumtree.png") no-repeat 50% 50%;
			background-size: contain;
			display: inline-block;
			height: 46px;
			margin-left: 20px;
			position: static;
			width: 170px;
			@include from-breakpoint($medium-break) {
				margin: 0 0 0 20px;
				top: 0;
			}
		}

		.menu-dropdown {
			border-radius: 0 2px 2px 2px;
			line-height: 20px;
			padding: 5px;
			position: absolute;
			left: 0;
			top: 100%;

			.menu-item {
				border-bottom-color: $headerMenuItemSeparatorColor;
			}
		}

		.mobile-menu {
			top: 26px
		}

		.post-ad-button	{
			margin: 0 0 0 15px;
			min-width: 0;

			.btn {
				display: table;
				height: 46px;
				min-width: 0;
				padding: 0;
				width: 166px;

				.sudolink {
					display: table-cell;
				}
			}
		}

		.right-item {
			margin-right: 0;
			width: auto;

			.item-text {
				line-height: 35px;
				padding: 24.5px 5px 4.5px;
			}
		}

		.right-items {
			float: right;
			margin-right: 20px;
			position: static;
			width: auto;

			&.logged-out {
				height: 46px;
				width: 29.42%;
			}

			.my-ads {
				line-height: 35px;
				margin-left: 15px;
				padding: 0;
				width: auto !important;
			}

			.profile {
				.header-item-icon {
					right: 0;
				}

				.profile-icon {
					box-sizing: border-box;
					height: 35px;
					width: 35px;
				}

				.username {
					display: inline-block;
					max-width: 127px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: auto;
				}

				.username-wrapper {
					vertical-align: top;
				}
			}

			.messages {
				margin: 11px 0 11px 40px;
			}
		}
	}
}

.icon-header-profile-out {
	background-image: url("../../../../../images/#{$photoFolder}/icon-my-profile.svg") !important;
}

.icon-my-ads-active {
	opacity: 1 !important;
}
// ::::: MEDIUM ONLY
@include to-breakpoint($medium-break) {
	.header-wrapper {
		.headerV2 {
			.left-items {
				margin-left: 5%;
			}

			.logo {
				margin-left: 0;
			}

			.post-ad-button {
				margin-left: 25px;
			}

			.right-items {
				margin-right: 0;
			}
		}
	}
}

// ::: SMALL ONLY
@include to-breakpoint($small-break) {
	.header-wrapper {
		&.header-distraction-free {
			.headerV2 {
				height: 40px;

				.logo {
					top: 15px;
				}
			}
		}

		.headerV2 {
			height: 46px;

			.logo {
				left: 50%;
				margin: 0 0 0 -88px;
				position: absolute;
				top: 15px;
			}
		}
	}
}
