{{!-- From Body.html --}}
<div class="viewport" id="div-gpt-oop">

    {{#block "smartMobileWrapper"}}

    {{/block}}

    {{#block "headerWrapper"}}
        {{#if b2dot0PageVersion}}
            {{> (dynamic "headerV2") }}
        {{else}}
            {{> (dynamic "header") }}
        {{/if}}
        {{#block "headerExtend"}}{{/block}}
    {{/block}}


    <div class="containment">

        {{#block "messaging-full-width"}}{{/block}}

        <div class="page {{#ifeq this.content.numFound compare=0}}{{else}}extra{{/ifeq}}" >

			{{> (dynamic "messaging") }}
            {{#block "messaging" }}{{/block}}

            {{#block "breadcrumbs"}}
                {{> (dynamic "breadcrumbs") }}
            {{/block}}

            <div class="content">
                <section role="content">
                    <div id="wrapper" class="wrap">
                        {{! page content goes here. Override this in each pages}}

                        {{{body}}}

                        {{#block "content"}}YOU MUST OVERRIDE THIS CONTENT BLOCK!!!{{/block}}
                        <div class="clear"></div>
                    </div>
                </section>
            </div>

           {{#block "comscore"}}{{/block}}
        </div>
    </div>


   {{#block "footerWrapper"}}
    {{#if b2dot0PageVersion}}
        {{> (dynamic "footerV2") }}
        {{#block "welcomeModal"}}{{/block}}
    {{else}}
		<div class="footer">
            {{> (dynamic "footer" ) }}
            {{#block "footer"}}
				<footer>FOOTER SHOULD BE OVERWRITE HERE</footer>
            {{/block}}
		</div>
    {{/if}}
    {{#block "footerExtend"}}{{/block}}
    {{/block}}
</div>
{{!-- End Body.html --}}
