<div class="downloadapp-wrapper">
   {{!image column 1}}
    <div id="downloadapp-imagewrapper"></div>
     {{!content column 2}}
     
    <div id="inner2">
		    <div class="inner-wrapper">
		         <span class="title">¡Vende rápido!</span>
		         <div class="description">
		           <span>iCompra y vende por internet de forma rapida y segura! Descarga la aplicación de Vivanuncios y encuentra la mejores oferatas cerca de ti entre miles de productos le venta</span>
		         </div>
		         
		       <div class="review-wrapper">
		         {{#each this.dltest}}
                     <div id="review" style="height:50px" >
	                     <img class='user-avatar' src='{{this.primaryImageUrl}}'>
	                     <div class="review-inner" style="height:100%;">
		                    <div class="rating-wrapper"><span class="rating"></span></div>
		                    <div class="review-description">{{this.description}}</div>
                         </div>
                     </div>
                {{/each}}  
                  
                 </div>
                 
                
		         
		         <div class="app-button">
		            
		            <a href="https://itunes.apple.com/mx/app/vivanuncios-clasificados-gratis/id872789604?mt=8&uo=4""><span class="ios-appstore"><span></a>
		            <a href="https://app.adjust.com/oarq82"><span class="googleplay"></span></a>
		   
		        </div>
		        
		        <div class="app">
    				<a href="#">App</a>
    		   </div>
    		   
           </div>
   </div>
   
</div>   
