<div class="downloadapp-wrapper">
   {{!image column 1}}
    <div id="downloadapp-imagewrapper"></div>
     {{!content column 2}}
     
    <div id="inner2">
		    <div class="inner-wrapper">
		         <span class="title">Sell in a snap!</span>
		         <div class="description">
		           <span>iCompra venta por internet de forma rapid y segura! descarga la aplicación de Vivanuncios y encuentra la mejores oferatas cerca de ti entre miles de productos le miles</span>
		         </div>
		         
		         <div class="review-wrapper">
                     <div class="review1" style="border:1px solid green;height:50px">
	                     <img class='user-avatar' src=''>
	                     <div  style="float: right;width: 80%;">
	                     <span class="rating"></span>
	                     <span class="review-description">Perfecta Encuentro lo que necesito a buen precio</span>
                         </div>
                     </div>
                 </div>
                 
                 <div class="review2 review" style="border:1px solid green;height:45px;margin-bottom:0.5em"></div>
			     <div class="review3 review" style="border:1px solid green;height:45px;margin-bottom:0.5em"></div>
		       
		         
		         <div class="app-button">
		            
		            <a href="https://itunes.apple.com/mx/app/vivanuncios-clasificados-gratis/id872789604?mt=8&uo=4""><span class="ios-appstore"><span></a>
		            <a href="https://app.adjust.com/oarq82"><span class="googleplay"></span></a>
		   
		        </div>
		        
		        <div class="app">
    				<a href="#">App</a>
    		   </div>
    		   
           </div>
   </div>
   
</div>   
