<div class="mobile-post-ad-wrapper">
	<div class="mobile-post-ad-modal-wrapper">
		<div class="mobile-post-ad-modal">
			<div class="mobile-post-ad-modal-overlay"></div>
		</div>

		<div id="post-submit-button" class="mobile-post-ad-footer">
			<div class="modal-footer modal-footer-mobile">
                <div class="btn-wrapper">
                    <a class="btn"  data-gtm="{{gtmEvent}}">
                        <span class="sudolink">
                            Post My Ad
                        </span>
                    </a>
			    </div>
			</div>
		</div>
		<div class="retake-photo">
            <div>
                <div>
					<a class=""  data-gtm="{{gtmEvent}}" href="">
                        <span class="">
                            Retake Photo
                        </span>
					</a>
                </div>
            </div>
		</div>
	</div>
</div>

