<div class="toggleswitch {{#if this.enabled}} active{{/if}}">
	<div class="container">
		<input type="checkbox" name="{{this.savedSearchId}}{{#if this.enabled}}" checked class="checked{{/if}}" />
		<span class="slider"></span><!-- button -->
		<span class="on classic">ON</span>	<!-- gutter -->
		<span class="off classic">OFF</span>
	</div>
</div>
