<div class="toggleswitch {{#if this.enabled}} active{{/if}}">
	<div class="container">
        <input type="checkbox" {{#if this.checked}}class="checked"{{/if}} />
		<span class="slider"></span><!-- button -->
		<span class="on classic">YES</span>	<!-- gutter -->
		<span class="off classic">NO</span>
        <input type="hidden" name="switch" value="NO" />
	</div>
</div>
