.icon-ChatBubbles { background-image: url('png-za/ChatBubbles.png'); background-repeat: no-repeat; }

.icon-Left { background-image: url('png-za/Left.png'); background-repeat: no-repeat; }

.icon-angle-left { background-image: url('png-za/angle-left.png'); background-repeat: no-repeat; }

.icon-angle-right { background-image: url('png-za/angle-right.png'); background-repeat: no-repeat; }

.icon-arrow-gallery-left { background-image: url('png-za/arrow-gallery-left.png'); background-repeat: no-repeat; }

.icon-arrow-gallery-right { background-image: url('png-za/arrow-gallery-right.png'); background-repeat: no-repeat; }

.icon-bestdeal { background-image: url('png-za/bestdeal.png'); background-repeat: no-repeat; }

.icon-blog_icon { background-image: url('png-za/blog_icon.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png-za/calendar.png'); background-repeat: no-repeat; }

.icon-calendar_gray { background-image: url('png-za/calendar_gray.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png-za/camera.png'); background-repeat: no-repeat; }

.icon-caret-down-white { background-image: url('png-za/caret-down-white.png'); background-repeat: no-repeat; }

.icon-caret-down { background-image: url('png-za/caret-down.png'); background-repeat: no-repeat; }

.icon-caret-left-white { background-image: url('png-za/caret-left-white.png'); background-repeat: no-repeat; }

.icon-caret-left { background-image: url('png-za/caret-left.png'); background-repeat: no-repeat; }

.icon-caret-right { background-image: url('png-za/caret-right.png'); background-repeat: no-repeat; }

.icon-caret-up { background-image: url('png-za/caret-up.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-all, .select ul a:hover > .icon-cat-all,
.icon-cat-all-white { background-image: url('png-za/cat-all-white.png'); background-repeat: no-repeat; }

.icon-cat-all { background-image: url('png-za/cat-all.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-auto, .select ul a:hover > .icon-cat-auto, .icon-cat-5-white,
.icon-cat-auto-white { background-image: url('png-za/cat-auto-white.png'); background-repeat: no-repeat; }

.icon-cat-5,
.icon-cat-auto { background-image: url('png-za/cat-auto.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-b2b, .select ul a:hover > .icon-cat-b2b, .icon-cat-9171-white,
.icon-cat-b2b-white { background-image: url('png-za/cat-b2b-white.png'); background-repeat: no-repeat; }

.icon-cat-9171,
.icon-cat-b2b { background-image: url('png-za/cat-b2b.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-baby, .select ul a:hover > .icon-cat-baby, .icon-cat-9176-white,
.icon-cat-baby-white { background-image: url('png-za/cat-baby-white.png'); background-repeat: no-repeat; }

.icon-cat-9176,
.icon-cat-baby { background-image: url('png-za/cat-baby.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-boats, .select ul a:hover > .icon-cat-boats, .icon-cat-9101-white,
.icon-cat-boats-white { background-image: url('png-za/cat-boats-white.png'); background-repeat: no-repeat; }

.icon-cat-9101,
.icon-cat-boats { background-image: url('png-za/cat-boats.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-community, .select ul a:hover > .icon-cat-community, .icon-cat-6-white,
.icon-cat-community-white { background-image: url('png-za/cat-community-white.png'); background-repeat: no-repeat; }

.icon-cat-6,
.icon-cat-community { background-image: url('png-za/cat-community.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-elect, .select ul a:hover > .icon-cat-elect, .icon-cat-9178-white,
.icon-cat-elect-white { background-image: url('png-za/cat-elect-white.png'); background-repeat: no-repeat; }

.icon-cat-9178,
.icon-cat-elect { background-image: url('png-za/cat-elect.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-event, .select ul a:hover > .icon-cat-event, .icon-cat-9067-white,
.icon-cat-event-white { background-image: url('png-za/cat-event-white.png'); background-repeat: no-repeat; }

.icon-cat-9067,
.icon-cat-event { background-image: url('png-za/cat-event.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-fashion, .select ul a:hover > .icon-cat-fashion, .icon-cat-9177-white,
.icon-cat-fashion-white { background-image: url('png-za/cat-fashion-white.png'); background-repeat: no-repeat; }

.icon-cat-9177,
.icon-cat-fashion { background-image: url('png-za/cat-fashion.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-homegar, .select ul a:hover > .icon-cat-homegar, .icon-cat-9175-white,
.icon-cat-homegar-white { background-image: url('png-za/cat-homegar-white.png'); background-repeat: no-repeat; }

.icon-cat-9175,
.icon-cat-homegar { background-image: url('png-za/cat-homegar.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-jobs, .select ul a:hover > .icon-cat-jobs, .icon-cat-8-white,
.icon-cat-jobs-white { background-image: url('png-za/cat-jobs-white.png'); background-repeat: no-repeat; }

.icon-cat-8,
.icon-cat-jobs { background-image: url('png-za/cat-jobs.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-jobseek, .select ul a:hover > .icon-cat-jobseek, .icon-cat-9389-white,
.icon-cat-jobseek-white { background-image: url('png-za/cat-jobseek-white.png'); background-repeat: no-repeat; }

.icon-cat-9389,
.icon-cat-jobseek { background-image: url('png-za/cat-jobseek.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-pets, .select ul a:hover > .icon-cat-pets, .icon-cat-9122-white,
.icon-cat-pets-white { background-image: url('png-za/cat-pets-white.png'); background-repeat: no-repeat; }

.icon-cat-9122,
.icon-cat-pets { background-image: url('png-za/cat-pets.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-prop, .select ul a:hover > .icon-cat-prop, .icon-cat-2-white,
.icon-cat-prop-white { background-image: url('png-za/cat-prop-white.png'); background-repeat: no-repeat; }

.icon-cat-2,
.icon-cat-prop { background-image: url('png-za/cat-prop.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-sale, .select ul a:hover > .icon-cat-sale, .icon-cat-4-white,
.icon-cat-sale-white { background-image: url('png-za/cat-sale-white.png'); background-repeat: no-repeat; }

.icon-cat-4,
.icon-cat-sale { background-image: url('png-za/cat-sale.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-services, .select ul a:hover > .icon-cat-services, .icon-cat-9-white,
.icon-cat-services-white { background-image: url('png-za/cat-services-white.png'); background-repeat: no-repeat; }

.icon-cat-9,
.icon-cat-services { background-image: url('png-za/cat-services.png'); background-repeat: no-repeat; }

.select > a:hover + ul .active > .icon-cat-sports, .select a:hover > .icon-cat-sports, .icon-cat-9179-white,
.icon-cat-sports-white { background-image: url('png-za/cat-sports-white.png'); background-repeat: no-repeat; }

.icon-cat-9179,
.icon-cat-sports { background-image: url('png-za/cat-sports.png'); background-repeat: no-repeat; }

.icon-category-gallery-large { background-image: url('png-za/category-gallery-large.png'); background-repeat: no-repeat; }

.icon-category-gallery { background-image: url('png-za/category-gallery.png'); background-repeat: no-repeat; }

.icon-category-highlight { background-image: url('png-za/category-highlight.png'); background-repeat: no-repeat; }

.icon-category_all-white { background-image: url('png-za/category_all-white.png'); background-repeat: no-repeat; }

.icon-category_all { background-image: url('png-za/category_all.png'); background-repeat: no-repeat; }

.icon-category_auto-white { background-image: url('png-za/category_auto-white.png'); background-repeat: no-repeat; }

.icon-category_camera { background-image: url('png-za/category_camera.png'); background-repeat: no-repeat; }

.icon-checkmark_icon_zSRP { background-image: url('png-za/checkmark_icon_zSRP.png'); background-repeat: no-repeat; }

.icon-chevron-left { background-image: url('png-za/chevron-left.png'); background-repeat: no-repeat; }

.icon-chevron-right-white { background-image: url('png-za/chevron-right-white.png'); background-repeat: no-repeat; }

.icon-chevron-right { background-image: url('png-za/chevron-right.png'); background-repeat: no-repeat; }

.icon-close-autocomp { background-image: url('png-za/close-autocomp.png'); background-repeat: no-repeat; }

.icon-close_icon { background-image: url('png-za/close_icon.png'); background-repeat: no-repeat; }

.icon-contextual-info { background-image: url('png-za/contextual-info.png'); background-repeat: no-repeat; }

.icon-delete-icon-16x16 { background-image: url('png-za/delete-icon-16x16.png'); background-repeat: no-repeat; }

.icon-double-angle-left { background-image: url('png-za/double-angle-left.png'); background-repeat: no-repeat; }

.icon-double-angle-right-white { background-image: url('png-za/double-angle-right-white.png'); background-repeat: no-repeat; }

.icon-double-angle-right { background-image: url('png-za/double-angle-right.png'); background-repeat: no-repeat; }

.icon-edit-icon-16x16 { background-image: url('png-za/edit-icon-16x16.png'); background-repeat: no-repeat; }

.icon-email-non-verified { background-image: url('png-za/email-non-verified.png'); background-repeat: no-repeat; }

.icon-email-verified { background-image: url('png-za/email-verified.png'); background-repeat: no-repeat; }

.results .ui-btn-reply-container .ui-btn-reply.disabled .envIcon,
.icon-envelope-alt-blue { background-image: url('png-za/envelope-alt-blue.png'); background-repeat: no-repeat; }

.icon-envelope-alt-green { background-image: url('png-za/envelope-alt-green.png'); background-repeat: no-repeat; }

.icon-envelope-alt-white-original { background-image: url('png-za/envelope-alt-white-original.png'); background-repeat: no-repeat; }

.results .ui-btn-reply-container .ui-btn-reply .envIcon,
.icon-envelope-alt-white { background-image: url('png-za/envelope-alt-white.png'); background-repeat: no-repeat; }

.vip-contact form input[type="email"].icon-envelope-new, .vip-contact form input[type="email"].icon-envelope-new:focus,
.icon-envelope-new { background-image: url('png-za/envelope-new.png'); background-repeat: no-repeat; }

.icon-exclamation-75x75 { background-image: url('png-za/exclamation-75x75.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png-za/facebook.png'); background-repeat: no-repeat; }

.icon-feature-bumpup-large { background-image: url('png-za/feature-bumpup-large.png'); background-repeat: no-repeat; }

.icon-feature-bumpup { background-image: url('png-za/feature-bumpup.png'); background-repeat: no-repeat; }

.icon-feature-gallery-large { background-image: url('png-za/feature-gallery-large.png'); background-repeat: no-repeat; }

.icon-feature-gallery { background-image: url('png-za/feature-gallery.png'); background-repeat: no-repeat; }

.icon-feature-highlight-large { background-image: url('png-za/feature-highlight-large.png'); background-repeat: no-repeat; }

.icon-feature-highlight { background-image: url('png-za/feature-highlight.png'); background-repeat: no-repeat; }

.icon-feature-topad-large { background-image: url('png-za/feature-topad-large.png'); background-repeat: no-repeat; }

.icon-feature-topad { background-image: url('png-za/feature-topad.png'); background-repeat: no-repeat; }

.icon-feature-urgent-large { background-image: url('png-za/feature-urgent-large.png'); background-repeat: no-repeat; }

.icon-feature-urgent { background-image: url('png-za/feature-urgent.png'); background-repeat: no-repeat; }

.icon-filter-icon-gray { background-image: url('png-za/filter-icon-gray.png'); background-repeat: no-repeat; }

.icon-filter-icon-white { background-image: url('png-za/filter-icon-white.png'); background-repeat: no-repeat; }

.icon-gl-message-close { background-image: url('png-za/gl-message-close.png'); background-repeat: no-repeat; }

.icon-gl-message-error { background-image: url('png-za/gl-message-error.png'); background-repeat: no-repeat; }

.icon-gl-message-success { background-image: url('png-za/gl-message-success.png'); background-repeat: no-repeat; }

.icon-gl-message-warning { background-image: url('png-za/gl-message-warning.png'); background-repeat: no-repeat; }

.icon-google { background-image: url('png-za/google.png'); background-repeat: no-repeat; }

.form-sect .insertFee span.green-info,
.icon-green-info { background-image: url('png-za/green-info.png'); background-repeat: no-repeat; }

.icon-header-categories { background-image: url('png-za/header-categories.png'); background-repeat: no-repeat; }

.icon-header-location-pin { background-image: url('png-za/header-location-pin.png'); background-repeat: no-repeat; }

.icon-header-profile-out-2x { background-image: url('png-za/header-profile-out-2x.png'); background-repeat: no-repeat; }

.icon-header-profile-out { background-image: url('png-za/header-profile-out.png'); background-repeat: no-repeat; }

.icon-header-profile-over { background-image: url('png-za/header-profile-over.png'); background-repeat: no-repeat; }

.icon-header-search-out { background-image: url('png-za/header-search-out.png'); background-repeat: no-repeat; }

.icon-header-search-over { background-image: url('png-za/header-search-over.png'); background-repeat: no-repeat; }

.icon-iab-logo { background-image: url('png-za/iab-logo.png'); background-repeat: no-repeat; }

.icon-icon-arrow { background-image: url('png-za/icon-arrow.png'); background-repeat: no-repeat; }

.icon-icon-moreinfo { background-image: url('png-za/icon-moreinfo.png'); background-repeat: no-repeat; }

.icon-icon-profile-img-place-holder { background-image: url('png-za/icon-profile-img-place-holder.png'); background-repeat: no-repeat; }

.icon-icon_info { background-image: url('png-za/icon_info.png'); background-repeat: no-repeat; }

.icon-icon_view-grid { background-image: url('png-za/icon_view-grid.png'); background-repeat: no-repeat; }

.icon-icon_view-list { background-image: url('png-za/icon_view-list.png'); background-repeat: no-repeat; }

.icon-infotip_icon_zSRP { background-image: url('png-za/infotip_icon_zSRP.png'); background-repeat: no-repeat; }

.input-checkbox:checked+label:before,
.icon-input-checkbox-checked { background-image: url('png-za/input-checkbox-checked.png'); background-repeat: no-repeat; }

.input-checkbox:disabled:checked+label:before,
.icon-input-checkbox-disabled-checked { background-image: url('png-za/input-checkbox-disabled-checked.png'); background-repeat: no-repeat; }

.input-checkbox:disabled+label:before,
.icon-input-checkbox-disabled { background-image: url('png-za/input-checkbox-disabled.png'); background-repeat: no-repeat; }

.input-checkbox+label:before,
.icon-input-checkbox { background-image: url('png-za/input-checkbox.png'); background-repeat: no-repeat; }

.input-radio:checked+label:before,
.icon-input-radio-checked { background-image: url('png-za/input-radio-checked.png'); background-repeat: no-repeat; }

.input-radio:disabled:checked+label:before,
.icon-input-radio-disabled-checked { background-image: url('png-za/input-radio-disabled-checked.png'); background-repeat: no-repeat; }

.input-radio:disabled+label:before,
.icon-input-radio-disabled { background-image: url('png-za/input-radio-disabled.png'); background-repeat: no-repeat; }

.input-radio+label:before,
.icon-input-radio { background-image: url('png-za/input-radio.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png-za/linkedin.png'); background-repeat: no-repeat; }

.icon-list-ol { background-image: url('png-za/list-ol.png'); background-repeat: no-repeat; }

.icon-list-ul { background-image: url('png-za/list-ul.png'); background-repeat: no-repeat; }

.icon-lock { background-image: url('png-za/lock.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png-za/mail.png'); background-repeat: no-repeat; }

.icon-paperclip { background-image: url('png-za/paperclip.png'); background-repeat: no-repeat; }

.icon-payment-grey { background-image: url('png-za/payment-grey.png'); background-repeat: no-repeat; }

.icon-payment-white { background-image: url('png-za/payment-white.png'); background-repeat: no-repeat; }

.icon-pencil { background-image: url('png-za/pencil.png'); background-repeat: no-repeat; }

.icon-phone-green { background-image: url('png-za/phone-green.png'); background-repeat: no-repeat; }

.vip-contact form input[name="phoneNumber"].icon-phone-reply, .vip-contact form input[name="phoneNumber"].icon-phone-reply:focus,
.icon-phone-reply { background-image: url('png-za/phone-reply.png'); background-repeat: no-repeat; }

.icon-phone-white { background-image: url('png-za/phone-white.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png-za/phone.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png-za/pinterest.png'); background-repeat: no-repeat; }

.icon-price-down-gray { background-image: url('png-za/price-down-gray.png'); background-repeat: no-repeat; }

.icon-price-down-green { background-image: url('png-za/price-down-green.png'); background-repeat: no-repeat; }

.icon-price-down-white { background-image: url('png-za/price-down-white.png'); background-repeat: no-repeat; }

.icon-price-up-gray { background-image: url('png-za/price-up-gray.png'); background-repeat: no-repeat; }

.icon-price-up-green { background-image: url('png-za/price-up-green.png'); background-repeat: no-repeat; }

.icon-price-up-white { background-image: url('png-za/price-up-white.png'); background-repeat: no-repeat; }

.icon-refresh-my-ads { background-image: url('png-za/refresh-my-ads.png'); background-repeat: no-repeat; }

.icon-remove-gray { background-image: url('png-za/remove-gray.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('png-za/remove.png'); background-repeat: no-repeat; }

.icon-report-flag { background-image: url('png-za/report-flag.png'); background-repeat: no-repeat; }

.icon-report { background-image: url('png-za/report.png'); background-repeat: no-repeat; }

.icon-reported { background-image: url('png-za/reported.png'); background-repeat: no-repeat; }

.icon-repost-icon-16x16 { background-image: url('png-za/repost-icon-16x16.png'); background-repeat: no-repeat; }

div.mobile-only .mmenu.mm-theme-white .mm-search input[type="text"].icon-search-autocomp,
.icon-search-autocomp { background-image: url('png-za/search-autocomp.png'); background-repeat: no-repeat; }

.icon-seo-facebook { background-image: url('png-za/seo-facebook.png'); background-repeat: no-repeat; }

.icon-seo-gmailplus { background-image: url('png-za/seo-gmailplus.png'); background-repeat: no-repeat; }

.icon-seo-linkedin { background-image: url('png-za/seo-linkedin.png'); background-repeat: no-repeat; }

.icon-seo-mail { background-image: url('png-za/seo-mail.png'); background-repeat: no-repeat; }

.icon-seo-pinterest { background-image: url('png-za/seo-pinterest.png'); background-repeat: no-repeat; }

.icon-seo-twitter { background-image: url('png-za/seo-twitter.png'); background-repeat: no-repeat; }

.icon-seo-youtube { background-image: url('png-za/seo-youtube.png'); background-repeat: no-repeat; }

.icon-soi-email-non-verified { background-image: url('png-za/soi-email-non-verified.png'); background-repeat: no-repeat; }

.icon-soi-email-verified { background-image: url('png-za/soi-email-verified.png'); background-repeat: no-repeat; }

.icon-sortdate-icon-active { background-image: url('png-za/sortdate-icon-active.png'); background-repeat: no-repeat; }

.icon-sortdate-icon-gray { background-image: url('png-za/sortdate-icon-gray.png'); background-repeat: no-repeat; }

.icon-sortdate-icon-white { background-image: url('png-za/sortdate-icon-white.png'); background-repeat: no-repeat; }

.icon-ssp-delete { background-image: url('png-za/ssp-delete.png'); background-repeat: no-repeat; }

.icon-star-icon-gray-line { background-image: url('png-za/star-icon-gray-line.png'); background-repeat: no-repeat; }

.icon-star-icon-gray-white { background-image: url('png-za/star-icon-gray-white.png'); background-repeat: no-repeat; }

.icon-star-icon-gray { background-image: url('png-za/star-icon-gray.png'); background-repeat: no-repeat; }

.icon-star-icon { background-image: url('png-za/star-icon.png'); background-repeat: no-repeat; }

.icon-twttr { background-image: url('png-za/twttr.png'); background-repeat: no-repeat; }

.img-box-bg,
.icon-upload-camera-green { background-image: url('png-za/upload-camera-green.png'); background-repeat: no-repeat; }

.icon-urgent_label { background-image: url('png-za/urgent_label.png'); background-repeat: no-repeat; }

.icon-urgent_label_mobile { background-image: url('png-za/urgent_label_mobile.png'); background-repeat: no-repeat; }

.icon-user { background-image: url('png-za/user.png'); background-repeat: no-repeat; }

.icon-validation-check { background-image: url('png-za/validation-check.png'); background-repeat: no-repeat; }

.icon-vip-arrow-left { background-image: url('png-za/vip-arrow-left.png'); background-repeat: no-repeat; }

.icon-vip-arrow-right { background-image: url('png-za/vip-arrow-right.png'); background-repeat: no-repeat; }

.icon-vip-popup-arrow-left { background-image: url('png-za/vip-popup-arrow-left.png'); background-repeat: no-repeat; }

.icon-vip-popup-arrow-right { background-image: url('png-za/vip-popup-arrow-right.png'); background-repeat: no-repeat; }

.icon-warning-sign-red { background-image: url('png-za/warning-sign-red.png'); background-repeat: no-repeat; }

.icon-warning-sign { background-image: url('png-za/warning-sign.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png-za/youtube.png'); background-repeat: no-repeat; }

.icon-zoom-image { background-image: url('png-za/zoom-image.png'); background-repeat: no-repeat; }

