.icon-Arrow-down { background-image: url('png-mx/Arrow-down.png'); background-repeat: no-repeat; }

.icon-Arrow-right { background-image: url('png-mx/Arrow-right.png'); background-repeat: no-repeat; }

.icon-ChatBubbles { background-image: url('png-mx/ChatBubbles.png'); background-repeat: no-repeat; }

.icon-Email { background-image: url('png-mx/Email.png'); background-repeat: no-repeat; }

.icon-Gallery { background-image: url('png-mx/Gallery.png'); background-repeat: no-repeat; }

.icon-Glass { background-image: url('png-mx/Glass.png'); background-repeat: no-repeat; }

.icon-Left { background-image: url('png-mx/Left.png'); background-repeat: no-repeat; }

.icon-List { background-image: url('png-mx/List.png'); background-repeat: no-repeat; }

.icon-Star { background-image: url('png-mx/Star.png'); background-repeat: no-repeat; }

.icon-UserIcon-100px { background-image: url('png-mx/UserIcon-100px.png'); background-repeat: no-repeat; }

.icon-angle-down-gray { background-image: url('png-mx/angle-down-gray.png'); background-repeat: no-repeat; }

.icon-angle-left { background-image: url('png-mx/angle-left.png'); background-repeat: no-repeat; }

.icon-angle-right-gray { background-image: url('png-mx/angle-right-gray.png'); background-repeat: no-repeat; }

.icon-angle-right { background-image: url('png-mx/angle-right.png'); background-repeat: no-repeat; }

.icon-angle-up-gray { background-image: url('png-mx/angle-up-gray.png'); background-repeat: no-repeat; }

.icon-arrow-down-gray { background-image: url('png-mx/arrow-down-gray.png'); background-repeat: no-repeat; }

.icon-arrow-down-white { background-image: url('png-mx/arrow-down-white.png'); background-repeat: no-repeat; }

.icon-arrow-gallery-left { background-image: url('png-mx/arrow-gallery-left.png'); background-repeat: no-repeat; }

.icon-arrow-gallery-right { background-image: url('png-mx/arrow-gallery-right.png'); background-repeat: no-repeat; }

.icon-bestdeal { background-image: url('png-mx/bestdeal.png'); background-repeat: no-repeat; }

.icon-bumpUpXY { background-image: url('png-mx/bumpUpXY.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png-mx/calendar.png'); background-repeat: no-repeat; }

.icon-calendar_gray { background-image: url('png-mx/calendar_gray.png'); background-repeat: no-repeat; }

.icon-camera { background-image: url('png-mx/camera.png'); background-repeat: no-repeat; }

.icon-caret-closed { background-image: url('png-mx/caret-closed.png'); background-repeat: no-repeat; }

.icon-caret-down-blue { background-image: url('png-mx/caret-down-blue.png'); background-repeat: no-repeat; }

.icon-caret-down-white { background-image: url('png-mx/caret-down-white.png'); background-repeat: no-repeat; }

.icon-caret-down { background-image: url('png-mx/caret-down.png'); background-repeat: no-repeat; }

.icon-caret-left-blue { background-image: url('png-mx/caret-left-blue.png'); background-repeat: no-repeat; }

.icon-caret-left { background-image: url('png-mx/caret-left.png'); background-repeat: no-repeat; }

.icon-caret-right { background-image: url('png-mx/caret-right.png'); background-repeat: no-repeat; }

.icon-caret-up { background-image: url('png-mx/caret-up.png'); background-repeat: no-repeat; }

.icon-category-gallery-large { background-image: url('png-mx/category-gallery-large.png'); background-repeat: no-repeat; }

.icon-category-gallery { background-image: url('png-mx/category-gallery.png'); background-repeat: no-repeat; }

.feature-statuses .feature.icon-check-premium,
.icon-check-premium { background-image: url('png-mx/check-premium.png'); background-repeat: no-repeat; }

input.checkbox:checked, input[type="checkbox"]:checked,
.icon-checkbox-checked { background-image: url('png-mx/checkbox-checked.png'); background-repeat: no-repeat; }

.icon-checkmark_icon_zSRP { background-image: url('png-mx/checkmark_icon_zSRP.png'); background-repeat: no-repeat; }

.icon-cheveron-left { background-image: url('png-mx/cheveron-left.png'); background-repeat: no-repeat; }

.icon-chevron-right-blue { background-image: url('png-mx/chevron-right-blue.png'); background-repeat: no-repeat; }

.icon-chevron-right-white { background-image: url('png-mx/chevron-right-white.png'); background-repeat: no-repeat; }

.icon-chevron-right { background-image: url('png-mx/chevron-right.png'); background-repeat: no-repeat; }

.icon-close { background-image: url('png-mx/close.png'); background-repeat: no-repeat; }

.icon-close_icon { background-image: url('png-mx/close_icon.png'); background-repeat: no-repeat; }

.icon-compra { background-image: url('png-mx/compra.png'); background-repeat: no-repeat; }

.icon-contacta { background-image: url('png-mx/contacta.png'); background-repeat: no-repeat; }

.payment-container #credit-card-details label.cvv-hint,
.icon-contextual-info { background-image: url('png-mx/contextual-info.png'); background-repeat: no-repeat; }

.icon-delete-icon-16x16 { background-image: url('png-mx/delete-icon-16x16.png'); background-repeat: no-repeat; }

.icon-double-angle-left { background-image: url('png-mx/double-angle-left.png'); background-repeat: no-repeat; }

.icon-double-angle-right-white { background-image: url('png-mx/double-angle-right-white.png'); background-repeat: no-repeat; }

.icon-double-angle-right { background-image: url('png-mx/double-angle-right.png'); background-repeat: no-repeat; }

.icon-edit-icon-16x16 { background-image: url('png-mx/edit-icon-16x16.png'); background-repeat: no-repeat; }

.icon-email-non-verified { background-image: url('png-mx/email-non-verified.png'); background-repeat: no-repeat; }

.icon-email-verified { background-image: url('png-mx/email-verified.png'); background-repeat: no-repeat; }

.icon-encuentra { background-image: url('png-mx/encuentra.png'); background-repeat: no-repeat; }

.icon-envelope-alt-blue-header { background-image: url('png-mx/envelope-alt-blue-header.png'); background-repeat: no-repeat; }

.icon-envelope-alt-blue { background-image: url('png-mx/envelope-alt-blue.png'); background-repeat: no-repeat; }

.results .ui-btn-reply-container .ui-btn-reply .icon-envelope-alt-white,
.icon-envelope-alt-gray { background-image: url('png-mx/envelope-alt-gray.png'); background-repeat: no-repeat; }

.results .ui-btn-reply-container .ui-btn-reply.disabled .icon-envelope-alt-white,
.icon-envelope-alt-white { background-image: url('png-mx/envelope-alt-white.png'); background-repeat: no-repeat; }

.vip-contact form input[type="email"].icon-envelope-new, .vip-contact form input[type="email"].icon-envelope-new:focus,
.icon-envelope-new { background-image: url('png-mx/envelope-new.png'); background-repeat: no-repeat; }

.payment-container #credit-card-details label.error,
.icon-error { background-image: url('png-mx/error.png'); background-repeat: no-repeat; }

.icon-exclamation-75x75 { background-image: url('png-mx/exclamation-75x75.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png-mx/facebook.png'); background-repeat: no-repeat; }

.icon-feature-bumpup-large { background-image: url('png-mx/feature-bumpup-large.png'); background-repeat: no-repeat; }

.icon-feature-bumpup { background-image: url('png-mx/feature-bumpup.png'); background-repeat: no-repeat; }

.icon-feature-caret-down { background-image: url('png-mx/feature-caret-down.png'); background-repeat: no-repeat; }

.icon-feature-gallery-large { background-image: url('png-mx/feature-gallery-large.png'); background-repeat: no-repeat; }

.icon-feature-gallery { background-image: url('png-mx/feature-gallery.png'); background-repeat: no-repeat; }

.icon-feature-highlight-large { background-image: url('png-mx/feature-highlight-large.png'); background-repeat: no-repeat; }

.icon-feature-highlight { background-image: url('png-mx/feature-highlight.png'); background-repeat: no-repeat; }

.icon-feature-topad-large { background-image: url('png-mx/feature-topad-large.png'); background-repeat: no-repeat; }

.icon-feature-topad { background-image: url('png-mx/feature-topad.png'); background-repeat: no-repeat; }

.icon-feature-urgent-large { background-image: url('png-mx/feature-urgent-large.png'); background-repeat: no-repeat; }

.icon-feature-urgent { background-image: url('png-mx/feature-urgent.png'); background-repeat: no-repeat; }

.icon-filter-icon-gray { background-image: url('png-mx/filter-icon-gray.png'); background-repeat: no-repeat; }

.icon-filter-icon-white { background-image: url('png-mx/filter-icon-white.png'); background-repeat: no-repeat; }

.icon-gl-message-close { background-image: url('png-mx/gl-message-close.png'); background-repeat: no-repeat; }

.icon-gl-message-error { background-image: url('png-mx/gl-message-error.png'); background-repeat: no-repeat; }

.icon-gl-message-success { background-image: url('png-mx/gl-message-success.png'); background-repeat: no-repeat; }

.icon-gl-message-warning { background-image: url('png-mx/gl-message-warning.png'); background-repeat: no-repeat; }

.icon-google { background-image: url('png-mx/google.png'); background-repeat: no-repeat; }

.icon-header-categories { background-image: url('png-mx/header-categories.png'); background-repeat: no-repeat; }

.icon-header-location-pin { background-image: url('png-mx/header-location-pin.png'); background-repeat: no-repeat; }

.icon-header-profile-out-2x { background-image: url('png-mx/header-profile-out-2x.png'); background-repeat: no-repeat; }

.icon-header-profile-out { background-image: url('png-mx/header-profile-out.png'); background-repeat: no-repeat; }

.icon-header-profile-over { background-image: url('png-mx/header-profile-over.png'); background-repeat: no-repeat; }

.icon-header-search-out { background-image: url('png-mx/header-search-out.png'); background-repeat: no-repeat; }

.icon-header-search-over { background-image: url('png-mx/header-search-over.png'); background-repeat: no-repeat; }

.icon-highlight { background-image: url('png-mx/highlight.png'); background-repeat: no-repeat; }

.icon-hpGallery { background-image: url('png-mx/hpGallery.png'); background-repeat: no-repeat; }

.icon-icon-arrow { background-image: url('png-mx/icon-arrow.png'); background-repeat: no-repeat; }

.icon-icon-moreinfo { background-image: url('png-mx/icon-moreinfo.png'); background-repeat: no-repeat; }

.icon-icon-profile-img-place-holder { background-image: url('png-mx/icon-profile-img-place-holder.png'); background-repeat: no-repeat; }

.icon-icon_info { background-image: url('png-mx/icon_info.png'); background-repeat: no-repeat; }

.icon-icon_view-grid { background-image: url('png-mx/icon_view-grid.png'); background-repeat: no-repeat; }

.icon-icon_view-list { background-image: url('png-mx/icon_view-list.png'); background-repeat: no-repeat; }

.icon-infotip_icon_zSRP { background-image: url('png-mx/infotip_icon_zSRP.png'); background-repeat: no-repeat; }

.input-checkbox:checked+label:before,
.icon-input-checkbox-checked { background-image: url('png-mx/input-checkbox-checked.png'); background-repeat: no-repeat; }

.input-checkbox:disabled:checked+label:before,
.icon-input-checkbox-disabled-checked { background-image: url('png-mx/input-checkbox-disabled-checked.png'); background-repeat: no-repeat; }

.input-checkbox:disabled+label:before,
.icon-input-checkbox-disabled { background-image: url('png-mx/input-checkbox-disabled.png'); background-repeat: no-repeat; }

.input-checkbox+label:before,
.icon-input-checkbox { background-image: url('png-mx/input-checkbox.png'); background-repeat: no-repeat; }

.input-radio:checked+label:before,
.icon-input-radio-checked { background-image: url('png-mx/input-radio-checked.png'); background-repeat: no-repeat; }

.input-radio:disabled:checked+label:before,
.icon-input-radio-disabled-checked { background-image: url('png-mx/input-radio-disabled-checked.png'); background-repeat: no-repeat; }

.input-radio:disabled+label:before,
.icon-input-radio-disabled { background-image: url('png-mx/input-radio-disabled.png'); background-repeat: no-repeat; }

.input-radio+label:before,
.icon-input-radio { background-image: url('png-mx/input-radio.png'); background-repeat: no-repeat; }

.icon-linkedin { background-image: url('png-mx/linkedin.png'); background-repeat: no-repeat; }

.icon-list-ol { background-image: url('png-mx/list-ol.png'); background-repeat: no-repeat; }

.icon-list-ul { background-image: url('png-mx/list-ul.png'); background-repeat: no-repeat; }

.icon-lock { background-image: url('png-mx/lock.png'); background-repeat: no-repeat; }

.icon-mail { background-image: url('png-mx/mail.png'); background-repeat: no-repeat; }

.icon-ok { background-image: url('png-mx/ok.png'); background-repeat: no-repeat; }

.icon-paperclip { background-image: url('png-mx/paperclip.png'); background-repeat: no-repeat; }

.icon-payment-grey { background-image: url('png-mx/payment-grey.png'); background-repeat: no-repeat; }

.icon-payment-white { background-image: url('png-mx/payment-white.png'); background-repeat: no-repeat; }

.icon-pencil { background-image: url('png-mx/pencil.png'); background-repeat: no-repeat; }

.icon-phone-blue { background-image: url('png-mx/phone-blue.png'); background-repeat: no-repeat; }

.icon-phone-white { background-image: url('png-mx/phone-white.png'); background-repeat: no-repeat; }

.vip-contact form input[name="phoneNumber"].icon-phone, .vip-contact form input[name="phoneNumber"].icon-phone:focus,
.icon-phone { background-image: url('png-mx/phone.png'); background-repeat: no-repeat; }

.icon-picture { background-image: url('png-mx/picture.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png-mx/pinterest.png'); background-repeat: no-repeat; }

.icon-price-icon-blue { background-image: url('png-mx/price-icon-blue.png'); background-repeat: no-repeat; }

.icon-price-icon-gray { background-image: url('png-mx/price-icon-gray.png'); background-repeat: no-repeat; }

.icon-price-icon-white { background-image: url('png-mx/price-icon-white.png'); background-repeat: no-repeat; }

.icon-refresh-my-ads { background-image: url('png-mx/refresh-my-ads.png'); background-repeat: no-repeat; }

.icon-remove-gray { background-image: url('png-mx/remove-gray.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('png-mx/remove.png'); background-repeat: no-repeat; }

.icon-report-flag { background-image: url('png-mx/report-flag.png'); background-repeat: no-repeat; }

.icon-report { background-image: url('png-mx/report.png'); background-repeat: no-repeat; }

.icon-reported { background-image: url('png-mx/reported.png'); background-repeat: no-repeat; }

.icon-repost-icon-16x16 { background-image: url('png-mx/repost-icon-16x16.png'); background-repeat: no-repeat; }

.icon-search-gray { background-image: url('png-mx/search-gray.png'); background-repeat: no-repeat; }

.icon-search-white { background-image: url('png-mx/search-white.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png-mx/search.png'); background-repeat: no-repeat; }

.icon-seo-facebook { background-image: url('png-mx/seo-facebook.png'); background-repeat: no-repeat; }

.icon-seo-gmailplus { background-image: url('png-mx/seo-gmailplus.png'); background-repeat: no-repeat; }

.icon-seo-linkedin { background-image: url('png-mx/seo-linkedin.png'); background-repeat: no-repeat; }

.icon-seo-mail { background-image: url('png-mx/seo-mail.png'); background-repeat: no-repeat; }

.icon-seo-pinterest { background-image: url('png-mx/seo-pinterest.png'); background-repeat: no-repeat; }

.icon-seo-twitter { background-image: url('png-mx/seo-twitter.png'); background-repeat: no-repeat; }

.icon-seo-youtube { background-image: url('png-mx/seo-youtube.png'); background-repeat: no-repeat; }

#menu-link ~ .commercial .photo .sm,
.icon-share-icon-blue { background-image: url('png-mx/share-icon-blue.png'); background-repeat: no-repeat; }

#menu-link ~ .commercial .photo .sm:hover,
.icon-share-icon-white { background-image: url('png-mx/share-icon-white.png'); background-repeat: no-repeat; }

.icon-soi-email-non-verified { background-image: url('png-mx/soi-email-non-verified.png'); background-repeat: no-repeat; }

.icon-soi-email-verified { background-image: url('png-mx/soi-email-verified.png'); background-repeat: no-repeat; }

.icon-sortdate-icon-active-blue { background-image: url('png-mx/sortdate-icon-active-blue.png'); background-repeat: no-repeat; }

.icon-sortdate-icon-gray { background-image: url('png-mx/sortdate-icon-gray.png'); background-repeat: no-repeat; }

.icon-sortdate-icon-white { background-image: url('png-mx/sortdate-icon-white.png'); background-repeat: no-repeat; }

.icon-srpGallery { background-image: url('png-mx/srpGallery.png'); background-repeat: no-repeat; }

.icon-ssp-delete { background-image: url('png-mx/ssp-delete.png'); background-repeat: no-repeat; }

.icon-star-icon-gray-black { background-image: url('png-mx/star-icon-gray-black.png'); background-repeat: no-repeat; }

.icon-star-icon-gray-line { background-image: url('png-mx/star-icon-gray-line.png'); background-repeat: no-repeat; }

.icon-star-icon-gray-white { background-image: url('png-mx/star-icon-gray-white.png'); background-repeat: no-repeat; }

.icon-star-icon { background-image: url('png-mx/star-icon.png'); background-repeat: no-repeat; }

.icon-step-1-anuncia-gratis { background-image: url('png-mx/step-1-anuncia-gratis.png'); background-repeat: no-repeat; }

.icon-step-2-vende-rapido { background-image: url('png-mx/step-2-vende-rapido.png'); background-repeat: no-repeat; }

.icon-step-3-gana-dinero { background-image: url('png-mx/step-3-gana-dinero.png'); background-repeat: no-repeat; }

.icon-step-completed { background-image: url('png-mx/step-completed.png'); background-repeat: no-repeat; }

.icon-topAd { background-image: url('png-mx/topAd.png'); background-repeat: no-repeat; }

.icon-twttr { background-image: url('png-mx/twttr.png'); background-repeat: no-repeat; }

.img-box-bg,
.icon-upload-camera-blue { background-image: url('png-mx/upload-camera-blue.png'); background-repeat: no-repeat; }

.icon-urgent { background-image: url('png-mx/urgent.png'); background-repeat: no-repeat; }

.icon-urgent_label { background-image: url('png-mx/urgent_label.png'); background-repeat: no-repeat; }

.icon-urgent_label_mobile { background-image: url('png-mx/urgent_label_mobile.png'); background-repeat: no-repeat; }

.icon-user-blue { background-image: url('png-mx/user-blue.png'); background-repeat: no-repeat; }

.icon-user { background-image: url('png-mx/user.png'); background-repeat: no-repeat; }

.icon-validation-check { background-image: url('png-mx/validation-check.png'); background-repeat: no-repeat; }

.icon-view-grid-off { background-image: url('png-mx/view-grid-off.png'); background-repeat: no-repeat; }

.icon-view-grid-on { background-image: url('png-mx/view-grid-on.png'); background-repeat: no-repeat; }

.icon-view-list-off { background-image: url('png-mx/view-list-off.png'); background-repeat: no-repeat; }

.icon-view-list-on { background-image: url('png-mx/view-list-on.png'); background-repeat: no-repeat; }

.icon-vip-arrow-left { background-image: url('png-mx/vip-arrow-left.png'); background-repeat: no-repeat; }

.icon-vip-arrow-right { background-image: url('png-mx/vip-arrow-right.png'); background-repeat: no-repeat; }

.icon-vip-popup-arrow-left { background-image: url('png-mx/vip-popup-arrow-left.png'); background-repeat: no-repeat; }

.icon-vip-popup-arrow-right { background-image: url('png-mx/vip-popup-arrow-right.png'); background-repeat: no-repeat; }

.icon-warning-sign-red { background-image: url('png-mx/warning-sign-red.png'); background-repeat: no-repeat; }

.icon-warning-sign { background-image: url('png-mx/warning-sign.png'); background-repeat: no-repeat; }

.icon-youtube { background-image: url('png-mx/youtube.png'); background-repeat: no-repeat; }

.icon-zoom-image { background-image: url('png-mx/zoom-image.png'); background-repeat: no-repeat; }

