.hidden {
	display: none;
}

.post-ad-wrapper {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);

	.inline-block {
		display: inline-block;
	}

	.post-ad-modal-container {
		padding: 10px;
	}

	.close-text {
		color: gray;
		font-size: .8em;
		vertical-align: middle;
		margin-right: 0.5em;

		&:hover {
			text-decoration: underline;
		}
	}

	.icon-close-small {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.post-ad-modal-close-section {
		margin-right: 8px;
		float: right;
		cursor: pointer;

		&:hover {
			.close-text {
				text-decoration: underline;
			}
		}
	}

	.post-ad-modal-wrapper {
		position: fixed;
		background-color: white;
		height: auto;
		width: 90%;
		top: 35%;
		left: 0;
		right: 0;
		margin: auto;
		@include from-breakpoint($medium-break) {
			width: 60%;
		}
	}

	.post-ad-footer {
		.modal-footer-mobile {
			display: block;
			@include from-breakpoint($medium-break) {
				display: none;
			}
		}

		.modal-footer-desktop {
			display: none;
			@include from-breakpoint($medium-break) {
				display: block;
			}
		}
	}

	h1 {
		clear: both;
		font: $h1;
		text-align: center;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
	}
	.h1-text-mobile {
		display: block;
		@include from-breakpoint($medium-break) {
			display: none;
		}
		margin-left: 10px;
		margin-right: 10px;
	}

	.h1-text-desktop {
		display: none;
		@include from-breakpoint($medium-break) {
			display: block;
		}
	}

	.post-ad-modal-info {
		font: $p1;
		text-align: center;
		color: gray;
		padding-left: 1em;
		padding-right: 1em;
	}

	.post-ad-footer {
		width: 90%;
		padding: 20px 0 20px 0;
		margin: auto;
		@include from-breakpoint($medium-break) {
			width: 75%;
		}
		.btn {
			@include vivaBtn(off, 0.445em 0, 100%);
			.btn-icon {
				display: none;
			}
		}
	}
}
