@import "../../../partials/common/adSense";

/*
// BOLT-18096
.vip-sticky-banner #bottom_sticky_banner {
  &.closeable_ad {
    display:block;
  }
}
*/

@include to-breakpoint($no-break){
	.viewport{
		border-color: green;
	}
	
}

@include in-breakpoint($small-break, $medium-break){
	.viewport{
		border-color: red;
	}

	.content,
	.vip-sponsoredads {
		.googleAdContainer {
			padding-left: 0em;
		}
	}
    
    .no-results-tips {
         padding: 1em;  
     }
}

@include from-breakpoint($large-break, $lt-ie9-class-name){
	.viewport{
		border-color: yellow;
	}

	.content .googleAdContainer{
		padding-left: 0em;
	}
  
	 .no-results-tips {
         padding: 1em;  
      }
}
