{{#block "banner_cookie"}}
<div id="cookieWarning">
    <div class="messageContainer">
        {{{i18n "cookie.banner.message"}}}
        <a class="accept icon-gl-message-close" style="width:15px;height:15px;margin-top:12px;"></a>
    </div>
</div>
{{/block}}
