// Facebook colors
// these are the colors
// acquired from Facebook
// plugins.
$color-facebook-blue:       #3b5998 !default;
$color-facebook-lightblue:  #5f78ab !default;

// iBazar Colors
// these are the skin colors of iBazar
$color-black-05:            rgba(51, 51, 51, 0.05) !default;
$color-black-10:            rgba(51, 51, 51, 0.1) !default;
$color-black-15:            rgba(51, 51, 51, 0.15) !default;
$color-black-20:            rgba(51, 51, 51, 0.2) !default;
$color-black-25:            rgba(51, 51, 51, 0.25) !default;
$color-black-30:            rgba(51, 51, 51, 0.3) !default;
$color-black-35:            rgba(51, 51, 51, 0.35) !default;
$color-black-40:            rgba(51, 51, 51, 0.4) !default;
$color-black-45:            rgba(51, 51, 51, 0.45) !default;
$color-black-50:            rgba(51, 51, 51, 0.5) !default;
$color-black-55:            rgba(51, 51, 51, 0.55) !default;
$color-black-60:            rgba(51, 51, 51, 0.6) !default;
$color-black-65:            rgba(51, 51, 51, 0.65) !default;
$color-black-70:            rgba(51, 51, 51, 0.7) !default;
$color-black-75:            rgba(51, 51, 51, 0.75) !default;
$color-black-80:            rgba(51, 51, 51, 0.8) !default;
$color-black-85:            rgba(51, 51, 51, 0.85) !default;
$color-black-90:            rgba(51, 51, 51, 0.9) !default;
$color-black-95:            rgba(51, 51, 51, 0.95) !default;
$color-black:               rgb(51, 51, 51) !default;

// Fixes IE8 issue of not rendering alpha colors
$color-gray-light:			lighten($color-black, 70%) !default;

$color-white-05:            rgba(255, 255, 255, 0.05) !default;
$color-white-10:            rgba(255, 255, 255, 0.1) !default;
$color-white-15:            rgba(255, 255, 255, 0.15) !default;
$color-white-20:            rgba(255, 255, 255, 0.2) !default;
$color-white-25:            rgba(255, 255, 255, 0.25) !default;
$color-white-30:            rgba(255, 255, 255, 0.3) !default;
$color-white-35:            rgba(255, 255, 255, 0.35) !default;
$color-white-40:            rgba(255, 255, 255, 0.4) !default;
$color-white-45:            rgba(255, 255, 255, 0.45) !default;
$color-white-50:            rgba(255, 255, 255, 0.5) !default;
$color-white-55:            rgba(255, 255, 255, 0.55) !default;
$color-white-60:            rgba(255, 255, 255, 0.6) !default;
$color-white-65:            rgba(255, 255, 255, 0.65) !default;
$color-white-70:            rgba(255, 255, 255, 0.7) !default;
$color-white-75:            rgba(255, 255, 255, 0.75) !default;
$color-white-80:            rgba(255, 255, 255, 0.8) !default;
$color-white-85:            rgba(255, 255, 255, 0.85) !default;
$color-white-90:            rgba(255, 255, 255, 0.9) !default;
$color-white-95:            rgba(255, 255, 255, 0.95) !default;
$color-white:               rgb(255, 255, 255) !default;

$color-red-05:              rgba(187, 48, 39, 0.05) !default;
$color-red-10:              rgba(187, 48, 39, 0.1) !default;
$color-red-15:              rgba(187, 48, 39, 0.15) !default;
$color-red-20:              rgba(187, 48, 39, 0.2) !default;
$color-red-25:              rgba(187, 48, 39, 0.25) !default;
$color-red-30:              rgba(187, 48, 39, 0.3) !default;
$color-red-35:              rgba(187, 48, 39, 0.35) !default;
$color-red-40:              rgba(187, 48, 39, 0.4) !default;
$color-red-50:              rgba(187, 48, 39, 0.5) !default;
$color-red-60:              rgba(187, 48, 39, 0.6) !default;
$color-red-70:              rgba(187, 48, 39, 0.7) !default;
$color-red-75:              rgba(187, 48, 39, 0.75) !default;
$color-red-80:              rgba(187, 48, 39, 0.8) !default;
$color-red-90:              rgba(187, 48, 39, 0.9) !default;
$color-red:                 rgb(187, 48, 39) !default;

$color-orange-05:           rgba(206, 84, 38, 0.05) !default;
$color-orange-10:           rgba(206, 84, 38, 0.1) !default;
$color-orange-15:           rgba(206, 84, 38, 0.15) !default;
$color-orange-20:           rgba(206, 84, 38, 0.2) !default;
$color-orange-25:           rgba(206, 84, 38, 0.25) !default;
$color-orange-30:           rgba(206, 84, 38, 0.3) !default;
$color-orange-35:           rgba(206, 84, 38, 0.35) !default;
$color-orange-40:           rgba(206, 84, 38, 0.4) !default;
$color-orange-50:           rgba(206, 84, 38, 0.5) !default;
$color-orange-60:           rgba(206, 84, 38, 0.6) !default;
$color-orange-70:           rgba(206, 84, 38, 0.7) !default;
$color-orange-75:           rgba(206, 84, 38, 0.75) !default;
$color-orange-80:           rgba(206, 84, 38, 0.8) !default;
$color-orange-90:           rgba(206, 84, 38, 0.9) !default;
$color-orange:              rgb(206, 84, 38) !default;

$color-yellow-05:           rgba(235, 169, 33, 0.05) !default;
$color-yellow-10:           rgba(235, 169, 33, 0.1) !default;
$color-yellow-15:           rgba(235, 169, 33, 0.15) !default;
$color-yellow-20:           rgba(235, 169, 33, 0.2) !default;
$color-yellow-25:           rgba(235, 169, 33, 0.25) !default;
$color-yellow-30:           rgba(235, 169, 33, 0.3) !default;
$color-yellow-35:           rgba(235, 169, 33, 0.35) !default;
$color-yellow-40:           rgba(235, 169, 33, 0.4) !default;
$color-yellow-50:           rgba(235, 169, 33, 0.5) !default;
$color-yellow-60:           rgba(235, 169, 33, 0.6) !default;
$color-yellow-70:           rgba(235, 169, 33, 0.7) !default;
$color-yellow-75:           rgba(235, 169, 33, 0.75) !default;
$color-yellow-80:           rgba(235, 169, 33, 0.8) !default;
$color-yellow-90:           rgba(235, 169, 33, 0.9) !default;
$color-yellow:              rgb(235, 169, 33) !default;

$color-green-05:            rgba(47, 158, 65, 0.05) !default;
$color-green-10:            rgba(47, 158, 65, 0.1) !default;
$color-green-15:            rgba(47, 158, 65, 0.15) !default;
$color-green-20:            rgba(47, 158, 65, 0.2) !default;
$color-green-25:            rgba(47, 158, 65, 0.25) !default;
$color-green-30:            rgba(47, 158, 65, 0.3) !default;
$color-green-35:            rgba(47, 158, 65, 0.35) !default;
$color-green-40:            rgba(47, 158, 65, 0.4) !default;
$color-green-50:            rgba(47, 158, 65, 0.5) !default;
$color-green-60:            rgba(47, 158, 65, 0.6) !default;
$color-green-70:            rgba(47, 158, 65, 0.7) !default;
$color-green-75:            rgba(47, 158, 65, 0.75) !default;
$color-green-80:            rgba(47, 158, 65, 0.8) !default;
$color-green-90:            rgba(47, 158, 65, 0.9) !default;
$color-green:               rgb(47, 158, 65) !default;

$color-cyan-05:             rgba(32, 190, 198, 0.05) !default;
$color-cyan-10:             rgba(32, 190, 198, 0.1) !default;
$color-cyan-15:             rgba(32, 190, 198, 0.15) !default;
$color-cyan-20:             rgba(32, 190, 198, 0.2) !default;
$color-cyan-25:             rgba(32, 190, 198, 0.25) !default;
$color-cyan-30:             rgba(32, 190, 198, 0.3) !default;
$color-cyan-35:             rgba(32, 190, 198, 0.35) !default;
$color-cyan-40:             rgba(32, 190, 198, 0.4) !default;
$color-cyan-50:             rgba(32, 190, 198, 0.5) !default;
$color-cyan-60:             rgba(32, 190, 198, 0.6) !default;
$color-cyan-70:             rgba(32, 190, 198, 0.7) !default;
$color-cyan-75:             rgba(32, 190, 198, 0.75) !default;
$color-cyan-80:             rgba(32, 190, 198, 0.8) !default;
$color-cyan-90:             rgba(32, 190, 198, 0.9) !default;
$color-cyan:                rgb(32, 190, 198) !default;

$color-navy-05:             rgba(24, 103, 195, 0.05) !default;
$color-navy-10:             rgba(24, 103, 195, 0.1) !default;
$color-navy-15:             rgba(24, 103, 195, 0.15) !default;
$color-navy-20:             rgba(24, 103, 195, 0.2) !default;
$color-navy-25:             rgba(24, 103, 195, 0.25) !default;
$color-navy-30:             rgba(24, 103, 195, 0.3) !default;
$color-navy-35:             rgba(24, 103, 195, 0.35) !default;
$color-navy-40:             rgba(24, 103, 195, 0.4) !default;
$color-navy-50:             rgba(24, 103, 195, 0.5) !default;
$color-navy-60:             rgba(24, 103, 195, 0.6) !default;
$color-navy-70:             rgba(24, 103, 195, 0.7) !default;
$color-navy-75:             rgba(24, 103, 195, 0.75) !default;
$color-navy-80:             rgba(24, 103, 195, 0.8) !default;
$color-navy-90:             rgba(24, 103, 195, 0.9) !default;
$color-navy:                rgb(24, 103, 195) !default;


$font-color:        $color-black !default;
$quiet-color:       lighten($font-color, 30%) !default;
$loud-color:        darken($font-color, 13.33%) !default;
$header-color:      darken($font-color, 6.67%) !default;
$alt-text-color:    lighten($color-black, 0.75) !default;


$blueprint-background-color:    #eeeeee !default;
$blueprint-border-color:        #ddd !default;


$link-color:            $color-navy !default;
$link-hover-color:      lighten($link-color, 20%) !default;
$link-focus-color:      $color-navy !default;
$link-active-color:     $color-black !default;
$link-visited-color:    darken($link-color, 10%) !default;

$feedback-border-color: #dddddd !default;
$success-color:         #264409 !default;
$success-bg-color:      #e6efc2 !default;
$success-border-color:  #c6d880 !default;
$notice-color:          #514721 !default;
$notice-bg-color:       #fff6bf !default;
$notice-border-color:   #ffd324 !default;
$info-color:            #205791 !default;
$info-bg-color:         #d5edf8 !default;
$info-border-color:     #92cae4 !default;
$error-color:           $color-red !default;
$error-bg-color:        #fbe3e4 !default;
$error-border-color:    #fbc2c4 !default;

$highlight-color:       yellow !default;
$added-color:           white !default;
$added-bg-color:        #006600 !default;
$removed-color:         white !default;
$removed-bg-color:      #990000 !default;

$blueprint-table-header-color:  #c3d9ff !default;
$blueprint-table-stripe-color:  #e5ecf9 !default;

$border-color:          #a2a2a1;
$srp-ad-title-color:#000000;
$price-color:#000000;


// colors for form maps 
$formMap-title-color: #8E8E93 !default;
$formMap-text-color: #333333 !default;
$formMap-error-input: #ff0000 !default;
$formMap-background: #e3e3e3 !default;
$formMap-buton-color: #1D98D4 !default;
