// logo
$logo-url: url(../../images/logo.png);
$logo-width: 168px;
$logo-height: 60px;
		//$logo-url: url(../../images/animated-logo.gif);
		//$logo-width: 350px;
		//$logo-height: 100px;

//loading ...
$loading-url:url(../../../../../../images/loading.gif);

// border radius
$small-border-radius: 3px;
$medium-border-radius: 5px;
$large-border-radius: 8px;
$button-border-radius: $medium-border-radius;

// sizes ?
$small-size-px: 4px;
$medium-size-px: 8px;
$large-size-px: 16px;
$xlarge-size-px: 32px;

$small-size-em: .25em;
$medium-size-em: .5em;
$large-size-em: 1em;
$xlarge-size-em: 2em;

// margins
$small-margin: .25em;
$medium-margin: .5em;
$large-margin: 1em;
$xlarge-margin: 2em;

// paddings
$small-padding: .25em;
$medium-padding: .5em;
$large-padding: 1em;
$xlarge-padding: 2em;


// fonts
$custom-font-name: 'ProximaNovaCondensed' !default;