@import "colors"; 
@import "config";
@import "../../../../../../public/js/bower-components/compass-mixins/lib/compass/typography/links";
@import "../../../../../../public/js/bower-components/compass-mixins/lib/compass/utilities/general/float";


$blueprint-fixed-font-family: "andale mono", "lucida console", monospace !default;

// Due to the small size of the custom font,
// we need to increase the size globally
$blueprint-font-size: 1em !default;

//Font sizes.  Introduced as part of removing Custom fonts. Need to explore more refactoring options

$fontSize-HP-Category-L1 :110%;  //for L1 category titles in HP
$fontSize-link : 88%;// for all links in all pages ( L2 categories in HP, filter links in SRP etc.. )
$fontSize-dropdownMenu:80%; //for drop down menu items ( Example: cat/loc filter in the header
$fontSize-text:85%; //any text in the page, Ad description etc..
$fontSize-link-selected:$fontSize-link;// Example: selected category in category filter
$fontSize-title:100%;//for SRP Ad title, other title labels
$fontSize-button-label:$fontSize-link-selected;
$fontSize-breadcrumbs:$fontSize-title;

//Post page
$fontSize-post-stepNumber :1.3em;
$fontSize-post-StepSelected:1.3em;
$fontSize-post-label:$fontSize-link-selected;
$fontSize-vip-title:120%;
$fontSize-vip-input:90%;
$fontSize-vip-attributes:90%;






@mixin normal-text {
  font-size:$fontSize-text;
  color: $font-color;
}

@mixin bold-text {
  font-weight: bold;
}

@mixin italic-text {
  font-weight: normal;
  font-style: italic;
}

@mixin fixed-width-text {
  font: 1em $blueprint-fixed-font-family;
  line-height: 1.5;
}

@mixin header-text {
  font-weight: normal;
  color: $header-color;
}

@mixin quiet {
  color: $quiet-color;
}

@mixin loud {
  color: $loud-color;
}

@mixin blueprint-typography-body($font-size) {
  line-height: 1.5;
  @include normal-text;
  font-size: $font-size;
}

@mixin blueprint-typography-defaults {

  html, body {
    -webkit-text-size-adjust: 100%;
  }

  body {
    font-family: $blueprint-font-family;
  }

  p {
    margin: 0 0 1.5em;
    .left {
      @include float-left;
      margin: 1.5em 1.5em 1.5em 0;
      padding: 0;
    }
    .right {
      @include float-right;
      margin: 1.5em 0 1.5em 1.5em;
      padding: 0;
    }
  }
  a {
    @include hover-link;
	@include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
	font-size:$fontSize-link;
  }

  a, [data-uri], [data-o-uri], .sudo-link, span[href] {
    font-size: 100%;
  }

  blockquote {
    margin: 1.5em;
    color: $alt-text-color;
    font-style: italic;
  }
  strong, dfn, b {
    font-weight: bold;
  }
  em, dfn {
    font-style: italic;
  }
  sup, sub {
    line-height: 0;
  }
  abbr, acronym {
    border-bottom: 1px dotted #666666;
  }
  address {
    margin: 0 0 1.5em;
    font-style: italic;
  }
  del {
    color: $alt-text-color;
  }
  pre {
    margin: 1.5em 0;
    white-space: pre;
  }
  pre, code, tt {
    @include fixed-width-text;
  }
  table {
    margin-bottom: 1.4em;
    width: 100%;
  }
  thead th {
    background: $blueprint-table-header-color;
  }
  th, td, caption {
    padding: 4px 10px 4px 5px;
  }
  table.striped tr:nth-child(even) td,
  table         tr.even            td {
    background: $blueprint-table-stripe-color;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: $blueprint-background-color;
  }
  .quiet {
    @include quiet;
  }
  .loud {
    @include loud;
  }

  .footer {
    font-size: $font-size-micro;
  }
}

@mixin blueprint-typography($base-font-size: $blueprint-font-size) {
    body {
        @include blueprint-typography-body($base-font-size);
    }
    @include blueprint-typography-defaults;

    input[type="text"],
    input[type="email"],
    input[type="checkbox"],
    textarea,
    select,
    button {
      font-size: 1em;
      font-family: inherit;
      margin: 0;
    }
}

@mixin text-normal {
	@include normal-text;
}

@mixin text-bold {
	@include bold-text;
}

@mixin text-italic {
	@include italic-text;
}

@mixin text-fixed-width {
	@include fixed-width-text;
}

@mixin text-header {
	@include header-text;
}
