{{#block "feedTile"}}
    <div class="feed-tile">
        <div class="user-photo-wrapper">
            <div class="user-photo" style="background-image: url({{this.userProfileImageUrl}});"></div>
        </div>
        <div class="feed-text-wrapper">
            <div class="feed-text">{{this.feedText}}</div>
        </div>
    </div>
{{/block}}
