$item-margin: 10px;
$photo-switcher-width: 30%;

$inputWidth: 84%;
$inputFieldWidth: 46%;
$inputMargin: 6%;
$labelWidth: 86%;
$labelMargin: 8%;

.margin-auto {
	width: 90%;
	margin: 0 auto;
}

.header-wrapper {
	border-bottom: none !important;

	.headerV2 {
		box-shadow: none !important;
	}
}

.mobile-post-ad {
	.didKnow-text, .confirm-tip {
		width: 90%;
		text-align: center;
		margin: 20px auto;
	}

	.didKnow-text {
		font-size: 30px;
	}

	.confirm-tip {
		font-size: 18px;
		color: $postAdTextGray;
	}
}

.desktop-post-ad {
	display: none;
	box-sizing: border-box;

	.directions {
		font-size: 18px;
		color: $postAdTextGray;
		margin-bottom: 15px;
	}

	.post-ad-btn {
		&.disabled {
			cursor: not-allowed;
		}
		cursor: pointer;
		background-color: $button-bgcolor;
		border-radius: 2px;
		display: inline-block;
		padding: 12px;
		font: bold 1.125em Lato;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
		width: 80%;
		margin: 20px 10%;
		vertical-align: top;

		&.disabled {
			opacity: 0.5;
		}

		.link-text {
			color: white;
		}
	}
}

@include from-breakpoint($medium-break) {
	.mobile-post-ad, .back-button {
		display: none;
	}

	.desktop-post-ad {
		display: block;
	}
}

.image-upload-progress {
	width: 100%;
	margin: auto;
}

@media(min-width: 768px) and (max-width:769px) {
	.containment {
		min-height: 733px;
	}
}

@include to-breakpoint($medium-break) {
	.viewport.covered {
		// To ensure nothing in page is covered by post button overlay
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		// The height of post button layer
		bottom: 73px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
