$item-margin: 10px;
$photo-switcher-width: 30%;

$inputWidth: 84%;
$inputFieldWidth: 46%;
$inputMargin: 6%;
$labelWidth: 86%;
$labelMargin: 8%;

.margin-auto {
	width: 90%;
	margin: 0 auto;
}

.header-wrapper {
	border-bottom: none !important;

	.headerV2 {
		box-shadow: none !important;
	}
}

.mobile-post-ad {
	.info-tips {
		width: 70%;
		text-align: center;
		margin: 10% auto;
		font-size: 20px;
		color: $postAdTextGray;
	}
}

.desktop-post-ad {
	display: none;
	box-sizing: border-box;

	.directions {
		font-size: 18px;
		color: $postAdTextGray;
		margin-top: 5px;
		margin-bottom: 15px;
		text-align: center;
	}

	.post-ad-btn {
		&.disabled {
			cursor: not-allowed;
		}
		cursor: pointer;
		background-color: $button-bgcolor;
		border-radius: 2px;
		display: inline-block;
		padding: 11.5px 5px;
		font: bold 1.125em Lato;
		text-align: center;
		&:hover {
			text-decoration: none;
		}
		width: 57.3%;
		vertical-align: top;
		float: left;
		margin-left: calc(6% + 300px);
		margin-top: 1%;
		margin-bottom: 2%;

		&.disabled {
			opacity: 0.5;
		}

		.link-text {
			color: white;
		}
	}
}

.separator-div {
	height: 1px;
	position: relative;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	&:after {
		content: "";
		background-color: $categorySelectionActiveListRowBgColor;
		position: absolute;
		bottom: 0;
		height: 1px;
		left: 5%;
		right: 5%;
	}
}

.post-ad-header {
	z-index: 1;
}
.inf-container {
	.inf-amount {
		margin-top: -25px !important;
	}
}

.photo-container-start {
	background-color: $postAdBackgroundColor;
	box-shadow: 1px 1px 6px $postAdShadowColor;
	.image-container {
		margin: 5% 5%;
	}
}

@include from-breakpoint($medium-break) {
	.post-main-detail-hidden-for-mobile {
		display: block !important;
	}

	.post-ad-content {
		position: relative;
		max-width: 1168px;
		margin: 0 auto;
	}

	.photo-switcher {
		float: left;
		margin-left: 5%;
		width: 300px; // Align with banner asset
		background-color: $postAdBackgroundColor;
		box-shadow: 1px 1px 6px $postAdShadowColor;
		.image-container {
			margin: 5% 5%;
		}
		.cover-photo-small {
			margin: 2% 2.8%;
		}
	}

	.mobile-post-ad, .back-button {
		display: none;
	}

	.desktop-post-ad {
		display: block;
	}
	.main-detail-post {
		width: 58%;
		float: left;
		background-color: $postAdBackgroundColor !important; //TBD, need to find why another breakpoint created
		box-shadow: 1px 1px 6px $postAdShadowColor;
		margin-left: 1%;
	}

	.two-step {
		display: block;
	}
	.one-step {
		display: none;
	}

	.icon-down {
		display: none;
	}

	.icon-up {
		display: none;
	}
}

.image-upload-progress {
	width: 100%;
	margin: auto;
}

.mobile-post-ad-footer {
	width: 100%;
}

@include to-breakpoint($small-break) {
	.footer-wrapper {
		display: none;
	}

	.viewport {
		overflow-x: hidden;
		.containment {
			// To ensure nothing in page is covered by post button overlay
			// Magic number 49 is the one to ensure the bottom of containment is exactly at the top of overlay
			// Actually the overlay's height is 73px, but post page will load one image which will adds to
			// the height of body after containment, so that image's height should be calculated.
			margin-bottom: 49px;
		}
	}

	.viewport.promotion-covered .containment {
		// To ensure nothing in page is covered by no promotion button overlay
		// Magic number 41 is the one to ensure the bottom of containmnt is exactly at the top of overlay
		// Actually the overlay's height is 65px, but post page will load one image which will adds to
		// the height of body after containment, so that image's height should be calculated.
		margin-bottom: 41px;
	}

	.post-main-detail-hidden-for-mobile {
		display: none;
	}

	.main-detail-post {
		width: 100% !important;
		float: left;
		margin-top: 20px;
		background-color: $mainDetailsBackgroundColor;
	}

	.photo-switcher {
		.image-container {
			margin: 0 2%;
			width: 100%;
			.cover-photo-small {
				margin: 2% 2%;
			}
		}
		.drag-reorder {
			display: none;
		}
	}

	.photo-container-start {
		margin: 20px auto 0 auto;
		width: 300px; // Align with banner asset
		height: 300px;
	}

	.two-step {
		display: block;
	}
	.one-step {
		display: none;
	}
}
