<div class="stars-wrapper">
    {{#blueStars rating}}
		<div class="star icon-star-blue"></div>
    {{/blueStars}}

    {{#grayStars rating}}
		<div class="star icon-star-light-gray"></div>
    {{/grayStars}}
</div>
