.viewport {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.error-content {
	font: 1.2em Lato normal;
	color: #b3b3b3;
	padding: 2em 1em;
	@include from-breakpoint($medium-break) {
		text-align: center;
		padding: 5em 0;
	}
	.request-id {
		padding-top: 10px;
	}
}
