$blueprint-font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;

$alert-color: $color-green;
//$controls-bg-color: darken($color-white, 10%);
$link-color: $color-navy;
$savedsearch-control-bg: #ebeeb9;
$ssp-column-label-color: white;
$post-page-nav-item-color: $color-navy;
@mixin post-page-nav-item-hover {};
$post-page-image-add-color: blue;
$post-page-checked-radio-color: $color-navy;
$checkbox-bg-color: $color-navy;
$toggle-section-link-bg-color: lighten($color-navy, 50%);

$h1:normal 1.5em Helvetica;
$h2:bold 1.1875em Helvetica;
$h3:bold 1em Helvetica;
$h4:bold 0.875em Helvetica;


.vip-seller {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eba921;
}

@mixin vip-title-med {
	background-color: $color-white;
	color: #555;
	font-weight: bold;
	background-image: none;
	border: 0;
	border-bottom: 1px solid #cccccc;
	text-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-align: left;
	font-size: 120%;
	padding: .25em 0;
	margin-bottom: .5em;

	.icon-envelope-alt {
		color: #90bf00;
		margin-right: .3em;
	}

	&:hover {
		background-color: $color-white;
	}
}



@mixin post-page-post-button {
	@include primary-button;
}

@mixin post-page-preview-button {
	@include secondary-button;
	@include border-radius(5px);
	font-size: 1em;
	padding: $medium-padding $large-padding * 2;
	margin-top: $large-margin;
	text-shadow: none;
}

@mixin viewport-background {
  	@include background-image(linear-gradient(rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 1) 500px));
  	border-bottom-color: yellow;
  	@include to-breakpoint($no-break){
		border-bottom-color: green;
	}
	
	@include in-breakpoint($small-break, $medium-break){
		border-bottom-color: red;
	}
	
	@include from-breakpoint($large-break, $lt-ie9-class-name){
		border-bottom-color: yellow;
	}
}

// adding ng-cloak to any element will automatically hide it initially and show it after the page loads
// use this mixin to add a transition effect
@mixin ng-cloak($time:$default-transition-time) {
	opacity: 1;
	@include transition(opacity $time);
	&.ng-cloak {
		opacity: 0 !important;
	}
}
.lt-ie9.ng-cloak,
.lt-ie9 .ng-cloak {
	display:none !important;
}
.ng-cloak {
	opacity: 0 !important;
}

@mixin containment {
  background-color: $color-white;

  border: {
    color: lighten($color-black, 75%);
    width: 0px 1px;
    style: solid;
  }

  @include box-shadow(0 0 50px $color-black-10);
}

$content-background-color: $color-white-80;
$controls-background-color: $color-white-80;
$controls-column-background-color: darken($color-white, 15%);
$filters-color: $link-color;

@mixin filter-field-button {}
$icon-caret-color: #1867c3;
$filter-title-hover-background: darken($color-white, 10%);
$filter-count-color: $color-black-75;       

$vip-title-price-color: $color-green;
$vip-title-posted-location-color: lighten($color-black, 50%);
$vip-name-color: lighten($color-black, 50%);
$vip-icon-user-color: lighten($color-black, 70%);
$vip-similar-ads-price-bg: $color-navy;
$vip-contact-form-background-color: $color-white;
$vip-title-lower-element-bottom-margin: 0em;
$vip-title-right-element-right-margin: 0em;

@mixin vip-form-button-submit-states {}

@mixin vip-flagad-title {}

$vip-telephone-states-color: #1867c3;
$vip-gallery-wrap-background-color: #fafafa;

@mixin list-sell-menu-columns {}

$vip-details-sponsored-border-bottom: 1px solid lighten($color-black, 50%);

@mixin vip-contact-telephone-form-button {
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: inline-block;
	text-align: center;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	padding: $small-padding $large-padding;
	width: 100%;
}

@mixin vip-contact-title-form-button {
  @include form-button;
	width: 100%;
}

@mixin vip-contact-telephone-form-button2 {
    @include form-submit-button;
}

@mixin vip-similar-ads-bottom {}

@mixin security-tips-border-and-background {
	border: 1px solid $color-gray-light;
}

@mixin form-button {
		@include primary-button;
		font-size: 1em;
		padding: $medium-padding $large-padding * 2;
		margin-top: $large-margin;
}

@mixin vip-form-border {
	border: {
		left: 1px solid $color-gray-light;
		right: 1px solid $color-gray-light;
		bottom: 1px solid $color-gray-light;
	}
}

@mixin vip-contact-form {
	background-color: #fbf5db;
	height: auto;
	overflow: hidden;
	
}

@mixin srp-price-color {
	color: $color-white;
	background-color: $link-color;
}

@mixin srp-result-structure {
		line-height: 1.5em;
		padding: $large-padding $grid-padding;
		display: block;

		&:first-child{
			padding-top: 0;
			border-top: none;
		}
}

@mixin srp-result-link-structure {}

@mixin srp-result-link-bg-color {
	&:hover,
	&:focus{
		background-color: $color-black-05;
	}
}

$section-title-color: $color-black;

@mixin section-divider-cta {
	color: $link-color;
	&:visited {
		color: $link-color;
	}
    float: right;
}

$form-label-color: $color-navy;

@mixin form-submit-button {
	margin-top:10px;
	/* TODO sort out the overlap */
	@include primary-button;
	@include vip-form-button-submit-states;
	padding: $small-padding $large-padding;
	font-size: 1.25em;
	display: block;
	width: 100%;
}

@mixin form-submit-button-disabled {
	background-color: $color-orange-30;
}

@mixin promote-ad-button {
	@include primary-button;

	color: $color-white;
	width: 66%;

	padding-top: $medium-padding;
	padding-bottom: $medium-padding;
}

@mixin email-alert-button {
   @include form-submit-button;
   font-size: $font-size-medium;
   font-family: $blueprint-font-family;
   font-weight: bold;
   text-decoration:none;
   border: 0 none;
}

$header-link-top-margin: .5em;
$header-list-hover-color: #DBE8F6;

@mixin vip-seller-container {
	background: #fbf5db;
	border: 1px solid rgba(0,0,0,0.15);
	@include border-radius(5px);
	padding: .8em 15px;
}

@mixin vip-seller-container-lrg {}
@mixin vip-seller-container-med {
	.vip-seller {
		

		.username {
			font-size: 120%;
		}

		.usersince {
			font-size: .8em;
			margin-top: -.2em;
			color: black;
		}
	}
}

@mixin vip-seller-container-med-beyond {}
@mixin vip-seller-med {}
@mixin usr-interaction-in-small {
	width: auto;
	float: none;
	margin: 0;
	display: block;
	margin-left: -10px;
	margin-right: -10px;
}
@mixin usr-interactions-lrg {
	width: auto;
	float: none;
	display: block;
	clear: none;
	margin-right: 0;
}
@mixin vip-contact-med {}
@mixin vip-title-med {}

@mixin button-style-hover($text) {
	&:hover,
	&:focus {
		@include background-image(linear-gradient($color-black-15, transparent));
		color: $text;
		text-decoration: none;
	}
}

@mixin homepage-postad {}

@mixin search-control-button-style(){
	display: inline-block;
	color: $color-black;
	background-color: $color-white;
	@include border-radius(5px);
	@include background-image(linear-gradient(transparent, $color-black-15));
	@include box-shadow(0px 1px 3px $color-black-25);
}

.thumb {

		.thumbM {
			position:relative;
			top:-1em;
		 }
		
		
		#pht-cnt {
				position: relative;
				top: -2.2em;
				background: none;
				line-height: 1;
				font-size: 80%;
				text-align: center;
				height:15%;
		}
}