$header-nav-link-color: cyan !default;
$header-nav-border-color: rgba(0,0,0,0.1) !default;
$header-nav-final-height: 2em !default;


@import
    "./navLinks/slideDown",
    "./navLinks/slideLeft";



@if ($header-nav-slide-left) {
    @include navLinks-slideLeft;
}@else{
    @include navLinks-slideDown;
}


