$header-signin-border: true !default;
$header-signin-border-color: cyan !default;

.signin{ height:$header-post-button-height; line-height:$header-post-button-height;

    @if ($header-signin-border) {
        border-right: 1px solid $header-signin-border-color;
        padding-right: 2em;
    }
}




@include in-breakpoint($no-break){
    .signin{ display:none; }
}