<div id="postAd-error-modal" class="error-modal hidden">
	<div class="modal-container">
		<div class="error-modal-container">
			<div id='js-close-error-modal' class="error-modal-close-section">
				<div class="inline-block close-text">{{i18n "postAdModal.close"}}</div>
				<div class="inline-block icon-close-small"></div>
			</div>
			<h1 class="error-title">
				<div class="error-icon icon-unsupported-file-format"></div>
				<div class="error-title-text" id="js-error-title">
                    {{i18n "postAd.errorMessages.default.title"}}
				</div>
			</h1>
			<div id="js-error-message" class="error-message">{{i18n "postAd.errorMessages.default.message"}}</div>
            <div class="error-code">
                <span class="error-code-text">{{i18n "postAd.errorMessages.default.errorCode"}}</span>
                <span id="js-error-code">N/A</span>
            </div>
			<div class="error-modal-footer">
                {{> (dynamic "button") hideIcon=true extraClasses='error-modal-button' i18nPath='postAd.errorMessages.default.button'}}
			</div>
		</div>
	</div>
</div>
