$searchbar-button-color: cyan !default;
$searchbar-button-mouseover-color: darken($searchbar-button-color, 10%) !default;
$searchbar-button-text-color: $color-white !default;
$searchbar-button-gradient-start:transparent !default;
$searchbar-button-gradient-end:$color-black-15 !default;
$searchbar-button-3d: true !default;


button{ background:$searchbar-button-color; color:$searchbar-button-text-color; cursor:pointer;

    @if ($searchbar-button-3d) {
        @include box-shadow(-1px 1px 1px $color-black-20);
        @include background-image( linear-gradient($searchbar-button-gradient-start,$searchbar-button-gradient-end) );
        @include text-shadow(-1px -1px 0 $color-black-30);
    }

    .icon{ width:1.25em; height:1.25em; display:inline-block; vertical-align:middle; margin-top:-0.2em; margin-right:0.25em; position:relative;

        span{ width:100%; height:100%; left:0; top:0; position:absolute; }

        .icon-header-search-over{ display:none; }
        .icon-header-search-out{ display:block; }
    }

    &:focus,
    &:hover{
        @if ($searchbar-button-3d) {
            background-image:linear-gradient($searchbar-button-gradient-end,$searchbar-button-gradient-start);
        }@else{
            background-color:$searchbar-button-mouseover-color;
        }

        .icon{
            .icon-header-search-over{ display:block; }
            .icon-header-search-out{ display:none; }
        }

    }


    @include to-breakpoint($small-break){
        .label{ display:none; }
    }


}