$searchbar-background: none !default;
$searchbar-width: auto !default;
$searchbar-border: none !default;
$searchbar-border-left: $searchbar-border !default;
$searchbar-border-top: $searchbar-border !default;
$searchbar-border-bottom: $searchbar-border !default;
$searchbar-border-right: $searchbar-border !default;

&{ max-width:$searchbar-width; margin:0 auto; background:$searchbar-background; position:relative; z-index:10;
    border:{
        left:$searchbar-border-left;
        right:$searchbar-border-right;
        top:$searchbar-border-top;
        bottom:$searchbar-border-bottom;
    }
}