

$icon-size: 24px;
$icon-gap: 35px;

.no-results-tips
{
    @include bold-text;
    font-size: 1.1em;
    color: darken($color-white, 50%);
    margin-bottom: 1em;
    
    .no-results-title
    {
        margin: 0;
        margin-left: $icon-gap;
        color: $color-black;
        line-height: $icon-size;
        font-size: 1.5em;
        .icon-infotip_icon_zSRP
        {
            float:left;
            height: $icon-size;
            width: $icon-size;
            background:{
                size: $icon-size $icon-size;
            }
            margin-left: - $icon-gap;
        }
    }
                      
                      
    li
    {
        list-style:none outside;
        padding-left:2em;
        margin:0.5em 0;
        margin-left: $icon-gap;
        .icon-checkmark_blue_icon_zSRP
        {
            float:left;
            margin-left: - $icon-gap;
            height: 1.5em;
            width: 16px;
            background:{
                size: 16px 12px;
                position: center;
            }
        }
    }
}

@include to-breakpoint($no-break){
    .no-results-tips 
    {
        padding: 1em 1em;             
        .desktop
        {
            display:none;
        }
    }
}
@include in-breakpoint($small-break, $medium-break){
    .no-results-tips 
    {
        .mobile
        {
            display:none;
        }
    }

}

@include from-breakpoint($large-break,$lt-ie9-class-name){
    .no-results-tips 
    {
        padding-left:12em;
        width: $large-break-min - 12em;
        .mobile
        {
            display:none;
        }
    }

}

