

@include in-breakpoint($lt-ie9-class-name){

  .grid-view li.result-gallery {
	    max-width:265px;
  }
  
}

.grid-view .view{
    ul
    {
        list-style: none;
        display:block;
        margin:0;
        padding:0;
    }
   
    
   li.result-gallery{
		float:left;
		display: block;
	    overlow:hidden;
	    position:relative;
	    margin: 1em 0.3em 0.5em;
	    	    
	}
		
	.thumb-gallery{
	   display:block;
	 }
     
      a.img-gallery{
	     display:block;
	     background: #FFFFFF;
	  }
	  
	  a.img-gallery:hover{
	     background: #FFFFFF;
	     
	   }  
	    
	  img.img-gal{
	   
	        
      }
        
     .icon-camera{
       display:none;
     } 
     
     .total_img{
       display:none;
     } 
    
    .location-gallery{
        display:none;
     }
     
     .creation-date-gallery{
         display:none;
     }
    
    .ad_title{
        
    	display:none;
    }   
    
    span.attributes{
		display:none; 
		 
	 } 
	
	.price-box-gallery{
		.price-gallery
		{
            font-weight:bold;
            color:#111;
            padding-left:4px;
        }
        .icon-icon_info
        {
            float:right;
            width:22px;
            height:22px;
            margin-right:0.5em;
            margin-top:3px;
            @include inline-block;
        }
        .addAdTofav
        {
            float:right;
            margin-right:0.5em;
        }
	}
	
	.details{
	    height:35px;
	    background:#FFFFFF;
	 	@include border-radius(0 0 5px 5px);
	 	@include box-shadow(0px 5px 5px rgba(0,0,0,0.4));
	}
	
	
	
	.result-gallery.mouseover{
 	 
 	 
	 	.result-wrap{ 
	 	   display:block; 
	 	   position:absolute; 
	 	   z-index:1; 
	 	   left:-25px; 
	 	   top:-25px; 
	 	   background:#FFFFFF;
	 	   border:1px solid #FFFFFF; 
	 	   @include border-radius(0 0 5px 5px);
	 	   
	 	 }
	 	 
	 	 	 	 
	 	 .details{
	 	    height:125px;
	 	 	padding: 1em;
	 	 	background:#FFFFFF;
	 	 	@include border-radius(0 0 5px 5px);
	 	 	@include box-shadow(0px 5px 5px rgba(0,0,0,0.4));
	 	 	position: relative;
	 	 	cursor: pointer;
	 	 	
            .location-gallery{
                display:inline;
                font-weight:bold;
                font-size:14px;
                color:#444;
                font-stretch:condensed;
                width:180px;
            }
            
            
            .creation-date-gallery{
                float:right;
                margin-right:2em;
                display:inline;
                font-size:14px;
                color:#444;
            }
	 	 	
	 	 	.price-box-gallery{
                padding:0px;
                .icon-icon_info{
                    display:none;
                }
                .price-gallery{
                    font-size:35px;
                    color:#111; 
                    padding:0px;
                }
                .addAdTofav{
                    float:none;
                    position:absolute;
                    top:0.7em;
                    right:0px;
                }
            }
         }
	 	 
	 	 img.img-gal{
	 	 	
	 	    width:313px; 
	 	    max-width:313px;
	 	    height:210px;
	 	 }
		
		.icon-camera{
            position: absolute;
			right: 20px;
			top: 18px;
			width:2em;
			height:2em;
		    @include inline-block;
         } 
		 
		 .total_img{
            position:absolute;
            top:10px;
            right:15px;
            color:#FFF;
            font-size:19px;
            font-weight:bold;
            display:block;
         } 
		


	    .ad_title{
	        @include ellipsis;
		  	display:block;
		  	font-weight:bold;
		  	font-size:21px;
		    color:#2f9e41;
		    font-stretch:condensed;
		    width:280px;
		 } 
		 
		 span.attributes{
		    position:absolute;
            display:block;
		  	font-size:12px;
		    right:2em;
		    top:25em;
		 } 
	 
	 }
 	
	
@include to-breakpoint($no-break){
    
	   
}

@media (min-width:240px) and (max-width:319px) {

     img.img-gal{
	       width:216px;
	       height:145px;
	       @include transition(width 150ms, height 150ms);
	   }

}

@media (min-width:320px) and (max-width:475px) {


    li.result-gallery{
		   margin:0px 12px 10px;
	    
	}
	
	.result-gallery.mouseover{
 	  	.result-wrap{ 
	 	   left:-10px; 
	 	   top:-10px; 
       } 
    }
    
     img.img-gal{
	       width:295px;
	       height:198px;
	      @include transition(width 150ms, height 150ms);
	   }

}


@media (min-width:480px) and (max-width:560px) {

      img.img-gal{
	       width:216px;
	       height:145px;
	       @include transition(width 150ms, height 150ms);
	   }

}

@media (min-width:568px) and (max-width:750px) {

      img.img-gal{
	       width:252px;
	       height:165px;
	       @include transition(width 150ms, height 150ms);
	   }
}

 
@include from-breakpoint($small-break){
    
     img.img-gal{
	       width:228px;
	       height:150px;
	       @include transition(width 150ms, height 150ms);
	   }
     
}     


@include from-breakpoint($medium-break){

  img.img-gal{
	       width:238px;
	       height:155px;
	       @include transition(width 150ms, height 150ms);
	   }

  
}

@include in-breakpoint($medium-break){

  .result-gallery.mouseover{
      .result-wrap{ 
           left:-50px; 
        }
   }

}


@include in-breakpoint($lt-ie9-class-name){

  img.img-gal{
        max-width:265px;
	    
  }
}



@include from-breakpoint($large-break, $lt-ie9-class-name){

	  img.img-gal{
	       width:265px;
	       height:180px;
	       @include transition(width 150ms, height 150ms);
	   }
	  
	  
   
}

}


	   