{{> locationMapContainer-base}}

{{#partial "LocationStates"}}
<div class="hp-province-wrapper ">
    <h5>Estados</h5>
    <ul class="location-list">
        
        <li data-index="0">
            <a href="/s-aguascalientes/v1l1000p1" id="state_Aguascalientes" class=""><span class="location-name">Aguascalientes</span></a>
        </li>
        
        <li data-index="1">
            <a href="/s-baja-california/v1l1001p1" id="state_Baja_California"><span class="location-name">Baja California</span></a>
        </li>
        
        <li data-index="2">
            <a href="/s-baja-california-sur/v1l1002p1" id="state_Baja_California_Sur"><span class="location-name">Baja California Sur</span></a>
        </li>
        
        <li data-index="3">
            <a href="/s-campeche/v1l1003p1" id="state_Campeche"><span class="location-name">Campeche</span></a>
        </li>
        
        <li data-index="4">
            <a href="/s-chiapas/v1l1004p1" id="state_Chiapas"><span class="location-name">Chiapas</span></a>
        </li>
        
        <li data-index="5">
            <a href="/s-chihuahua/v1l1005p1" id="state_Chihuahua"><span class="location-name">Chihuahua</span></a>
        </li>
        
        <li data-index="6">
            <a href="/s-coahuila/v1l1006p1" id="state_Coahuila"><span class="location-name">Coahuila</span></a>
        </li>
        
        <li data-index="7">
            <a href="/s-colima/v1l1007p1" id="state_Colima"><span class="location-name">Colima</span></a>
        </li>
        
        <li data-index="8">
            <a href="/s-distrito-federal/v1l1008p1" id="state_df"><span class="location-name">Distrito Federal</span></a>
        </li>
        
        <li data-index="9">
            <a href="/s-durango/v1l1009p1" id="state_Durango"><span class="location-name">Durango</span></a>
        </li>
        
        <li data-index="10">
            <a href="/s-estado-de-mexico/v1l1014p1" id="state_Estado_de_Mexico"><span class="location-name">Estado de México</span></a>
        </li>
        
        <li data-index="11">
            <a href="/s-guanajuato/v1l1010p1" id="state_Guanajuato"><span class="location-name">Guanajuato</span></a>
        </li>
        
        <li data-index="12">
            <a href="/s-guerrero/v1l1011p1" id="state_Guerrero"><span class="location-name">Guerrero</span></a>
        </li>
        
        <li data-index="13">
            <a href="/s-hidalgo/v1l1012p1" id="state_Hidalgo"><span class="location-name">Hidalgo</span></a>
        </li>
        
        <li data-index="14">
            <a href="/s-jalisco/v1l1013p1" id="state_Jalisco"><span class="location-name">Jalisco</span></a>
        </li>
        
        <li data-index="15">
            <a href="/s-michoacan/v1l1015p1" id="state_Michoacan"><span class="location-name">Michoacán</span></a>
        </li>
        
        <li data-index="16">
            <a href="/s-morelos/v1l1016p1" id="state_Morelos"><span class="location-name">Morelos</span></a>
        </li>
        
        <li data-index="17">
            <a href="/s-nayarit/v1l1017p1" id="state_Nayarit"><span class="location-name">Nayarit</span></a>
        </li>
        
        <li data-index="18">
            <a href="/s-nuevo-leon/v1l1018p1" id="state_Nuevo_Leon"><span class="location-name">Nuevo León</span></a>
        </li>
        
        <li data-index="19">
            <a href="/s-oaxaca/v1l1019p1" id="state_Oaxaca"><span class="location-name">Oaxaca</span></a>
        </li>
        
        <li data-index="20">
            <a href="/s-puebla/v1l1020p1" id="state_Puebla"><span class="location-name">Puebla</span></a>
        </li>
        
        <li data-index="21">
            <a href="/s-queretaro/v1l1021p1" id="state_Queretaro"><span class="location-name">Querétaro</span></a>
        </li>
        
        <li data-index="22">
            <a href="/s-quintana-roo/v1l1022p1" id="state_Quintana_Roo" class=""><span class="location-name">Quintana Roo</span></a>
        </li>
        
        <li data-index="23">
            <a href="/s-san-luis-potosi/v1l1023p1" id="state_San_Luis_Potosi"><span class="location-name">San Luis Potosí</span></a>
        </li>
        
        <li data-index="24">
            <a href="/s-sinaloa/v1l1024p1" id="state_Sinaloa"><span class="location-name">Sinaloa</span></a>
        </li>
        
        <li data-index="25">
            <a href="/s-sonora/v1l1025p1" id="state_Sonora" class=""><span class="location-name">Sonora</span></a>
        </li>
        
        <li data-index="26">
            <a href="/s-tabasco/v1l1026p1" id="state_Tabasco"><span class="location-name">Tabasco</span></a>
        </li>
        
        <li data-index="27">
            <a href="/s-tamaulipas/v1l1027p1" id="state_Tamaulipas"><span class="location-name">Tamaulipas</span></a>
        </li>
        
        <li data-index="28">
            <a href="/s-tlaxcala/v1l1028p1" id="state_Tlaxcala"><span class="location-name">Tlaxcala</span></a>
        </li>
        
        <li data-index="29">
            <a href="/s-veracruz/v1l1029p1" id="state_Veracruz"><span class="location-name">Veracruz</span></a>
        </li>
        
        <li data-index="30">
            <a href="/s-yucatan/v1l1030p1" id="state_Yucatan"><span class="location-name">Yucatán</span></a>
        </li>
        
        <li data-index="31">
            <a href="/s-zacatecas/v1l1031p1" id="state_Zacatecas"><span class="location-name">Zacatecas</span></a>
        </li>
        
    </ul>
</div>
{{/partial}}  
