{{#partial "HomePageSubTitle"}}
    {{#unlessMobile this.device}}
    	<div class="clear" style="height:1px;"></div>
		<p class="subTitle">{{__ "home.subTitle"}}</p>
    {{/unlessMobile}}
{{/partial}}

{{> (base "locationMapContainer")}}