{{> locationMapContainer-base}}

{{#partial "LocationStates"}}
<div class="hp-province-wrapper ">
    <h5>Todas las Provincias</h5>
    <ul class="location-list">
        
        <li data-index="0">
            <a href="/s-buenos-aires/v1l2p1" id="state_Buenos_Aires" class=""><span class="location-name">Buenos Aires</span></a>
        </li>
        
        <li data-index="1">
            <a href="/s-capital-federal/v1l3p1" id="state_Capital_Federal"><span class="location-name">Capital Federal</span></a>
        </li>
        
        <li data-index="2">
            <a href="/s-catamarca/v1l4p1" id="state_Catamarca"><span class="location-name">Catamarca</span></a>
        </li>
        
        <li data-index="3">
            <a href="/s-chaco/v1l5p1" id="state_Chaco"><span class="location-name">Chaco</span></a>
        </li>
        
        <li data-index="4">
            <a href="/s-chubut/v1l6p1" id="state_Chubut"><span class="location-name">Chubut</span></a>
        </li>
        
        <li data-index="5">
            <a href="/s-cordoba/v1l7p1" id="state_Cordoba"><span class="location-name">Córdoba</span></a>
        </li>
        
        <li data-index="6">
            <a href="/s-corrientes/v1l8p1" id="state_Corrientes"><span class="location-name">Corrientes</span></a>
        </li>
        
        <li data-index="7">
            <a href="/s-entre-rios/v1l9p1" id="state_Entre_Rios"><span class="location-name">Entre Rios</span></a>
        </li>
        
        <li data-index="8">
            <a href="/s-formosa/v1l10p1" id="state_Formosa"><span class="location-name">Formosa</span></a>
        </li>
        
        <li data-index="9">
            <a href="/s-jujuy/v1l11p1" id="state_Jujuy"><span class="location-name">Jujuy</span></a>
        </li>
        
        <li data-index="10">
            <a href="/s-la-pampa/v1l12p1" id="state_La_Pampa"><span class="location-name">La Pampa</span></a>
        </li>
        
        <li data-index="11">
            <a href="/s-la-rioja/v1l13p1" id="state_La_Rioja"><span class="location-name">La Rioja</span></a>
        </li>
        
        <li data-index="12">
            <a href="/s-mendoza/v1l14p1" id="state_Mendoza"><span class="location-name">Mendoza</span></a>
        </li>
        
        <li data-index="13">
            <a href="/s-misiones/v1l15p1" id="state_Misiones"><span class="location-name">Misiones</span></a>
        </li>
        
        <li data-index="14">
            <a href="/s-neuquen/v1l16p1" id="state_Neuquen"><span class="location-name">Neuquén</span></a>
        </li>
        
        <li data-index="15">
            <a href="/s-rio-negro/v1l17p1" id="state_Rio_Negro"><span class="location-name">Río Negro</span></a>
        </li>
        
        <li data-index="16">
            <a href="/s-salta/v1l18p1" id="state_Salta"><span class="location-name">Salta</span></a>
        </li>
        
        <li data-index="17">
            <a href="/s-san-juan/v1l19p1" id="state_San_Juan"><span class="location-name">San Juan</span></a>
        </li>
        
        <li data-index="18">
            <a href="/s-san-luis/v1l20p1" id="state_San_Luis"><span class="location-name">San Luis</span></a>
        </li>
        
        <li data-index="19">
            <a href="/s-santa-cruz/v1l21p1" id="state_Santa_Cruz"><span class="location-name">Santa Cruz</span></a>
        </li>
        
        <li data-index="20">
            <a href="/s-santa-fe/v1l22p1" id="state_Santa_Fe"><span class="location-name">Santa Fe</span></a>
        </li>
        
        <li data-index="21">
            <a href="/s-santiago-del-estero/v1l23p1" id="state_Santiago_Del_Estero"><span class="location-name">Santiago Del Estero</span></a>
        </li>
        
        <li data-index="22">
            <a href="/s-tierra-del-fuego/v1l24p1" id="state_Tierra_Del_Fuego"><span class="location-name">Tierra Del Fuego</span></a>
        </li>
        
        <li data-index="23">
            <a href="/s-tucuman/v1l25p1" id="state_Tucuman"><span class="location-name">Tucumán</span></a>
        </li>
        
    </ul>
</div>
{{/partial}}
