<div class="modal">
  <div class="modal-overlay"></div>
  <div class="modal-container">
      <div class="modal-close-section">
        <span>CLOSE</span>
        <span class="icon-close"></span>
      </div>
      <h1>Change Your Location</h2>
      <div class="modal-info">CITY, NEIGHBORHOOD, OR POSTAL CODE</div>
      <div class="modal-field">
          <input type="text" class="modal-input"/>
          <span class="icon-gps"></span>
          <span class="icon-edit"></span>
      </div>
      <div class="modal-footer">
          {{> (dynamic "button")}}
      </div>
  </div>
</div>
