{{#partial "postFlow"}}
	<div class="siteFlow">
		<div class="postFlow">
	  		<div class="adsBanner">


	  		</div>
	  		<div class="postWrapper">
		  		<div class="postFree">
		  			<span class="icon-pin icon-step-1"></span>
		  			<span class="flowNumber fontWS">1.</span>
		  			<span class="flowTitle fontWS">Anuncia Gratis</span>
		  			<p class="flowDesc">Crea tu anuncio sin costo.</p>
		  			<p class="flowDesc">Saca una foto. Elige tu precio.</p>
		  		</div>
		  		<div class="postFree">
		  			<span class="icon-pin icon-step-2"></span>
		  			<span class="flowNumber fontWS">2.</span>
		  			<span class="flowTitle fontWS">{{__ "home.flow.step.vr.$$"}}</span>
		  			<p class="flowDesc">{{__ "home.flow.step.vr.first"}}</p>
		  			<p class="flowDesc">{{__ "home.flow.step.vr.second"}}</p>
		  		</div>
		  		<div class="postFree">
		  			<span class="icon-pin icon-step-3"></span>
		  			<span class="flowNumber fontWS">3.</span>
		  			<span class="flowTitle fontWS">Gana Dinero</span>
		  			<p class="flowDesc">Cierra el trato.</p>
		  			<p class="flowDesc">{{__ "home.flow.step.gd.second"}}</p>
		  		</div>
		  		<div class="clear"></div>
		  	</div>
		  	<div class="clear"></div>
	  	</div>
  	</div>
	<div class="clear"></div>
{{/partial}}
{{> (base "siteFlow" )}}
