$header-width: auto !default;
$header-shadow: none !default;
$header-border-left: none !default;
$header-border-right: none !default;
$header-background: $color-white !default;


@mixin header-caret($color:$color-black-15, $size:0.35em){
    &:after{ content:" "; width:0; height:0; right:0; top:50%; position:absolute; margin:$size/-2 0 0 $size/-2;
        border:{
            top:$size solid $color;
            left:$size solid transparent;
            right:$size solid transparent;
        }
    }
}



&{ max-width:$header-width; margin:0 auto; background:$header-background; position:relative; z-index:11;

    // removes the annoying tap overlay on touch devices
    *{ -webkit-tap-highlight-color:transparent; -moz-tap-highlight-color:transparent; -o-tap-highlight-color:transparent; tap-highlight-color:transparent; }

    border:{
        left: $header-border-left;
        right: $header-border-right;
    }

    @if ($header-shadow != "none" ){ @include box-shadow($header-shadow); }
}
