$header-nav-contextmenu-tablet-left: 0 !default;
$header-nav-contextmenu-tablet-right: inherit !default;
$header-nav-contextmenu-triangle-tablet-display: block !default;

.PostAdForm .header{

    .help{ right:$header-post-button-position-right; }

    .nav{ right:$header-nav-desktop-right - $header-post-button-desktop-width; }

    .signin{ right:$header-signin-right - $header-post-button-desktop-width; }

    @include in-breakpoint($small-break){
        .help{ right:$header-post-button-position-right-tablet; }
        .nav {

          right:max($header-nav-tablet-right - $header-post-button-tablet-width, 0);

          ul {
            left: $header-nav-contextmenu-tablet-left;
            right: $header-nav-contextmenu-tablet-right;
          }

          &:hover .profile > *:before {
            display: $header-nav-contextmenu-triangle-tablet-display;
          }
        }
    }

    @include in-breakpoint($no-break){

        .help{ display:none; }

        .nav{ right:0;

            .profile{ right:0; margin:0; }
        }
    }

    .post{ display:none; }

}
