$item-margin: 10px;
$header-blue: #4A90E2;
$grey-text-color: #808080;
$orange: #FD9626;
$photo-switcher-width: 30%;

.post-ad-header {
	position: relative;
	height: 25px;
	width: 100%;
	color: $postAdHeaderBlue;
	// Distance between logo and post-ad-header should be 18px
	// As distance between logo bottom to header-wrapper bottom is 7px and that between post-ad-header text-top and
	// post-ad-header top around 5px (font related), the padding here should be 6px
	padding-top: 6px;
	padding-bottom: 5px;
	font-size: 14px;
	background-color: $postAdHeaderBackground;
	border-bottom: 1px solid $postAdHeaderBlue;
	@include to-breakpoint($small-break) {
		font-size: 10pt;
	}

	.header-back {
		float: left;
		margin-left: 6px;
 		@include from-breakpoint($medium-break){
 			display: none;
 		};
		@include to-breakpoint($small-break) {
			font-size: 8pt;
			margin-top: 4px;
		}
 		.icon-back-other{
 			display: inline-block;
			position: relative;
 		}
		a {
			margin-left: 2px;
			color: $postAdHeaderBlue;
			font-weight: bold;
			@include to-breakpoint($small-break) {
				top: -1.5px !important;
			}
		}
	}

	.header-back-page {
		float: left;
		margin-left: 6px;
		@include to-breakpoint($small-break) {
			font-size: 8pt;
			margin-top: 4px;
		}
		.icon-back-other{
			display: inline-block;
			position: relative;
		}
		a {
			margin-left: 2px;
			color: $postAdHeaderBlue;
			font-weight: bold;
			@include to-breakpoint($small-break) {
				top: -1.5px !important;
			}
		}
	}

	.header-accent {
		font-size: 0;
		margin-top: 7px;
		background: $postAdHeaderBlue;
		line-height: 3px;
		color: $postAdHeaderBlue;
	}

	.header-text {
		position: absolute;
		transform: translateX(-50%);
		display: inline-block;
		left: 50%;
		text-align: center;
		font-weight: bold;
		@include to-breakpoint($small-break) {
			max-width: 190px;
    		width: 190px;
		}

	}
	.title-text{
 		max-width: 15em;
 		max-height: 21px;
		@include to-breakpoint($small-break){
			text-align: center;
			padding: 0em 1em;
		}
 		@include from-breakpoint($medium-break){
 			max-width: 30em;
 		}
		overflow: hidden;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		-moz-binding: url(assets/xml/ellipsis.xml#ellipsis);
		text-transform: uppercase;
 	}

}
