$item-margin: 10px;
$header-blue: #4A90E2;
$grey-text-color: #808080;
$orange: #FD9626;
$photo-switcher-width: 30%;

.post-ad-header {
	position: relative;
	height: 25px;
	width: 100%;
	color: $postAdHeaderBlue;
	margin-bottom: $item-margin;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 14px;
	background-color: $postAdHeaderBackground;
	border-bottom: 1px solid $postAdHeaderBlue;

	.header-back {
		float: left;
		margin-left: 6%;

		a {
			margin-left: 2px;
			color: $postAdHeaderBlue;
		}
	}

	.header-accent {
		font-size: 0;
		margin-top: 6px;
		background: $postAdHeaderBlue;
		line-height: 3px;
		color: $postAdHeaderBlue;
	}

	.header-text {
		position: absolute;
		transform: translateX(-50%);
		display: inline-block;
		left: 50%;
		text-align: center;
		font-weight: bold;
	}

}
