<span class="attributes">
    <span class="keyword">"{{this.header.breadcrumbs.keyword}}"</span>
    {{#if this.content.searchFormModel.searchForm.seoAttributes}}
        <span>{{this.content.searchFormModel.searchForm.seoAttributes}}</span>
    {{/if}}
</span>

{{#with this.header.breadcrumbs.currentCat}}
    {{__ "header.breadcrumb-search" this.name}}
{{/with}}

{{#with this.header.breadcrumbs.currentLoc}}
    {{__ "header.breadcrumb-search" this.name}}
{{/with}}