{{#partial "content"}}

    <div style="border: 2px solid green ;overflow: hidden; display: block;">
        <h1 style="text-align: center;">HOMEPAGE PLACEHOLDER CONTENTS !!!</h1>

        {{> (dynamic "sectionMenu")}}

        <div class="card trending-card">
            <div class="card-title">Popular in <span class="fake-link">Your Neighborhood</span></div>
            {{> (dynamic "tileGrid")}}
        </div>


        <div class="btn-wrapper"><a class="btn" href="#"><span class="sudolink">Post an Ad</span></a></div>
    </div>

{{/partial}}

{{!-- override of header and footer --}}
{{#if this.isNewHP}}
    {{#partial "headerWrapper"}}{{/partial}}
    {{#partial "footerWrapper"}}{{/partial}}
{{/if}}
