.sectionMenuWrapper {
	overflow: hidden;
	height: 50px;
}

.sectionMenu {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	margin-top: 10px;
	padding-bottom: 20px;
	text-align: center;
	li, a {
		display: inline-block;
	}
	a {
		font-size: 14px;
		text-transform: uppercase;
		padding: 4px 14px;
		color: $secmenu-link-color;
		&.active {
			color: $headerBlue;
			border-bottom: 6px solid $headerBlue;
		}
		&:hover {
			text-decoration: none;
			//font-weight: bold;
			color: $headerBlue;
			border-bottom: 6px solid $headerBlue;
			cursor: pointer;
		}
	}
}
