/**
 * Mixin for handling the Tablet country map
 */
@mixin tablet-map {
  padding: 10px;
  width : 100%;

  background-clip:border-box;
  background-color:transparent;
  background-origin:padding-box;
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain; // auto auto;
  background-image : $tablet-map-url !important;
}

/**
 * Mixin for handling the country map rendered in the homepage
 */
@mixin country-homepage-map {
  //--------------------------------------------------------
  // Default rules
  //--------------------------------------------------------

  // For the keywords titles
  .hp-location-wrapper p.subTitle {
    display: none;

    width: 100%;
    margin-right: 310px;
    @include bold-text;
    font-size: 110%;
    padding: 0;
    margin: 0;
  }

  // Show Select a state
  .hp-location-wrapper p.subTitle {
    display: block;
  }

  // By default, hide the map, show it only in desktop (see below).
  .hp-map-wrapper {
    display: none;
  }

  //-------------------------------------------------------
  // Map (image) rules
  //-------------------------------------------------------
  /* Establishes the correct position of the whole map */
  .mapbox {
    float:left;
    margin-left:2px;
  }

  #completeMap {
    background:none no-repeat scroll center top transparent;
  }

  /* Prevent the outline to be shown when user clicks on a map region */
  .mapbox img,
  .mapbox area,
  #MapAreasContainer {
    border:0;
    outline:none !important;
    border: none !important;
  }

  .map_image {
    background-attachment:scroll;
    background-clip:border-box;
    background-color:transparent;
    background-origin:padding-box;
    background-position:left top;
    background-repeat:no-repeat;
    background-size: cover; // auto auto;
    background-image : $map-url !important;
  }

  //--------------------------------------------------------
  // large breakpoint starts
  //--------------------------------------------------------
  @include from-breakpoint($small-break, $lt-ie9-class-name) {
    // Hide "Estados"
    .hp-province-wrapper h5 {
      display: none;
    }

    // Hide the city container
    .hp-city-wrapper {
      display: none;
    }

    // Show the map container
    .hp-map-wrapper {
      @include span-columns($large-break / 2, $large-break);
      display: block;
      padding-top: 0;
    }

    // Real tablet device rule, detected by server side.
   .hp-province-wrapper.hp-tablet-view {
      @include tablet-map;
    }
  }

  @include in-breakpoint($small-break) {
    /*
    .hp-map-wrapper .mapbox {
      width: 250px;
      height: 222px;

      // Don't show the hand (pointer) cursor
      map area {
        display: block;
        cursor: default;
      }
    }
    */
    // Small bk map hiding, show bg map with provinces
    .hp-map-wrapper {
      display: none;
    }
    .hp-province-wrapper {
      @include tablet-map;
      // We also want to show 3 columns in the small tablet breakpoint - Paul
      ul { @include columns(3); }
    }
  }
  
  @include from-breakpoint($large-break, $lt-ie9-class-name) {
    // Show the map container
    .hp-province-wrapper {
      @include span-columns($large-break / 2, $large-break);
    }

    .hp-map-wrapper .mapbox {
      width: 485px;
      height:432px;
    }
  }
  

  @include in-breakpoint($medium-break) {
    /*
    .hp-province-wrapper {
        ul { @include columns(2); }
    }

    .hp-map-wrapper .mapbox {
       width: 400px;
       height: 356px;

      // Don't show the hand (pointer) cursor
      map area {
        display: block;
        cursor: default;
      }
    }
    */
    
     // Small bk map hiding, show bg map with provinces
      .hp-map-wrapper {
        display: none;
      }
      .hp-province-wrapper {
        @include tablet-map;
        ul { @include columns(3); }
      }
  }



//--------------------------------------------------------
  // IE < 9
  //--------------------------------------------------------

  @include in-breakpoint($lt-ie9-class-name) {
    .mapbox.map_image {
      width: 485px;
    };

    // Hide "Estados"
    .hp-province-wrapper h5 {
      display: none;
    }

    // Hide the city container
    .hp-city-wrapper {
      display: none;
    }

    // Show the map container
    .hp-map-wrapper {
      @include span-columns($large-break / 2, $large-break);
      display: block;
      padding-top: 0;
    }
  }

}

