@import "../../../../partials/common/form";
@import "../../../../partials/main/autocomplete";

h1 {
	font:$h1 !important;
}
h2 {
	font:$h2 !important;
}
h3 {
	font:$h3 !important;
}
h4 {
	 font:$h4 !important;
}

h1,h2,h3,h4 {
	padding: 0.75em 0em;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
 }

.search-container {
  display: none;
}

input[type="email"],
input[type="password"] {
  @include form_default;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

.lbl {
	padding:1em;
}

.linkVisited {
	color:#333;
	font-weight:bold;
}

 h1.subheader {
      color:$vivaBlack;
      background-color: $vivaWhite80;
      padding-left: 0.45em;
 }
 
 #currentPassword, #save-button {
       display:block;
       width:100%;
 }
 
 #currentPassword, #newPassword,  #confirmPassword, #currentPasswordHidden{
    height:2.5em;
    padding-left:0.4em;
 }
 
 #save-button {
    margin-top: 1em;
    height: 2.5em;
    background-color:$savedProfile-btn-color;
    @include border-radius($box-border-radius);
    //font-size:0.875em;
    color:#fff;
}

    
#profile-cnt {

    input {
        width: 100%;
        
        &[type='checkbox'] {
            @include checkbox-input;
        }
        &[type='radio'] {
            @include radio-input;
            right:-0.5em;
        }
        
        &[type='checkbox'],
        &[type='radio'] {
            width: 1.55em;
            height: 1.55em;
            top: 0.35em;
        }
        
        /* visually adjust the calendar icon    */
        /* on the date picker polyfill          */
        & + span.date-input-buttons {
            margin-top: 2px;
        }
    }
    
    #img-cnt, #userDetail-cnt, #phone-cnt, #about-cnt, #password {
           @extend %box;
    
    }
    #img-cnt {
         padding: 0.75em 0;
    }
    
    /* removing box and text shadows inherited from 'form button' */
    .date-popover button {
        -moz-box-shadow:  none;
        -webkit-box-shadow:  none;
        box-shadow: none;
        text-shadow: none;
    }
	    
    
    .charsLimit {
        color:red;
    }
    .icon-icon-profile-img-place-holder {
        width:12em;
        height:12em;
        margin:0 auto;
    }
    
   
    #showPicture {
        padding:1em;
    }
   
    #birth {
        min-height:2em;
    }
    #aboutYouCounter,
    #interestsCounter {
        margin-left:0.7em;
    }
    #aboutYouCounter,
    #interestsCounter {
        //font-size: $font-size-medium;
    }
    #aboutYouCounter {
        text-align: right;
    }

    #isViewAdCounterOptedIn,
    #isMarketingOptedIn,
    #isOptedOutOfEmailUpsell {
        @include checkbox-input;
        width: 1.15em;
        height: 1.15em;
        top:0em;
        border:$check-box-border
    }
    
    #isMarketingOptedIn, #isOptedOutOfEmailUpsell {
        float:left;
    }
    .notification {
        float:right;
        width:90%;
    }
	
    input[type="date"],
    textarea {
		@include text-input;
		//font-size: 1em;
		padding: $small-padding $medium-padding;
		display: block;
		margin-top: $small-margin;
	}
	
	input[name='birthDay'], input[name='email'], input[name='webSiteUrl'],#dsp-brth,textarea {
        width: 100%;
        padding-left:0.5em;
    }
   
	#gender-chbx{
        margin-left: 0.6em;
	}
   
    #phone {
        overflow:hidden;
   		label {
            display:inline;
   		}
   		
   		ul {
            overflow:hidden;
   		}
   		ul li:nth-child(1) {
            float:left;
            width:49%;
            padding: 0.5em 0;
   		}
   		ul li:nth-child(2) {
            float:right;
            width:48%;
            padding: 0.2em 0;
        }
    }
   
    select {
        @include form_default;
        padding: 0 0.4em;
        height: 25px;
    }
    #isViewAdCounterOptedIn:checked,
    #isMarketingOptedIn:checked,
    #isOptedOutOfEmailUpsell:checked {
        background-color:$check-box-checked-color !important;
    }
	
    #loading {
        display:none
    }
            
    .btn {
       margin: 0 auto;
    }
            
    .fileUpload {
        position: relative;
        overflow: hidden;
        border-top:1px solid $box-border-color;
        padding:0.75em;
        color: #4a90e2;
        //font-size: $font-size-large;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        //font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }


    #profile-img-cnt {
        overflow:hidden;
        text-align:center;
    }

    /*#profile-img-cnt li:first-child + li {
       // margin-left:3em;
    }*/
   		
}


@include from-breakpoint($small-break){

	#pwd-cnt{
	   margin:0 auto;
	   width:50%;
	}
	#profile-body > li:nth-child(1) {
        float:left;
        width:43%;
    }
    #profile-body > li:nth-child(2) {
        float:right;
        width:48%;
    }
    #profile-cnt {
        //font-size:100%;
        width:82%;
        margin:0 auto;
        
        .fileUpload input.upload {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

        .detailHeader {
            margin-top:0em;
        }
        input[type='date'] {
            width:50%;
        }

        input[name='birthDay'] {
            width:50%;
        }

        ul[id='gender'] li:nth-child(3) {
            position: relative;
            left: 34%;
            top: -2em
        }

        #dsp-brth {
            position: relative;
            left: 55%;
            top: -2em;
            margin: 0 0 -1em 0;
        }

        #gender, #phone, #webSiteUrl {
            margin-top:1em;
        }

        #dbrth {
            margin-top:-1em;
        }

        #email {
            margin-top:2em;
        }
    }
}

/*.search {
    display: none;
} */

.detailHeader, .changePassword, .section-payment-method {
    margin-top: 2em;
    font-weight: bold;
    //font-size: 1.3em;
    color: $vivaBlack;
}

form label {
    font:$h3;
    display:block;
    margin:0.75em 0;
}

#confirmPassword {
    margin-bottom: 0.3em;
}
#email {
    margin-bottom:1.7em;
}

.notification {
    font-size: $font-size-small;
}

.fb-media-block, .fb-user-details {
    @include clearfix;
}

.fb-user-details {
    font-weight: bold;
}

.fb-username {
    margin-bottom: -0.5em;
}

.fb-avatar {
    float: left;
    margin-right: 1em;
}

//
// Tablets
//
@include from-breakpoint($small-break, $lt-ie9-class-name) {
    form {
        //width: 52%;
    }
}

@include from-breakpoint($lt-ie10-class-name) {
    #profile-cnt {
    
        input[name='file'] { 
            width:80%;
            left:-3.1em;
        }
        #birth, textarea {
            border:1px solid #cccccc !important;
        }
 
        #isViewAdCounterOptedIn, #isMarketingOptedIn,  #isOptedOutOfEmailUpsell {
            width: 1.15em;
            height: 1.15em;
        }
        
        #gender-cnt {
             ul li:first-child + li + li {
                    left: 33%;
            }       
        }
        
    }
}
//ie 10 specidfic fix-BOLT-14714
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	#profile-cnt .fileUpload input.upload{
	  left:-7.2em;
	
	}
}
 


@include from-breakpoint($lt-ie9-class-name) {
	
	#pwd-cnt{
       margin:0 auto;
       width:50%;
    }
    #profile-body > li:first-child {
         float:left;
         width:43%;
    }
     #profile-body > li:first-child + li {
         float:right;
         width:48%;
    }
    
    #profile-cnt {
    
        #aboutYouCounter {
	        position: relative;
	        left:93%;
	        width:2em;
        }
         #img-cnt, #userDetail-cnt, #phone-cnt, #about-cnt, #password {
           
           background-color: rgb(246, 247, 249);
           border-color:#DCDCDC;
           padding:0.75em;
         }
         
          .fileUpload input.upload {
            top:1em;
            right:8em;
        }
        .icon-icon-profile-img-place-holder {
            width:7.6em;
            height:7.6em;
        }
        
        #dbrth {
            width:20em;
            float:left
        }
        .input-buttons {
           
            position:relative;
        }
        
        #dsp-brth {
            width:20em;
           float:right;
           position:relative;
           top:2.3em;
        }
        
        #gender-cnt {
             ul li:first-child + li + li {
                    position: relative;
                    left: 31%;
                    top: -2.5em;
            }       
        }
       
        
        #phone {
            overflow:hidden;
	        label {
                display:inline;
	        }
	        
	        ul {
                overflow:hidden;
                
                li:first-child {
                    float:left;
                    width:48%;
                    
                    & + li {
                        float:right;
                        width:48%;
                    }
                }
	        }
        }
    }
}

#profile {
    cursor:pointer;
}
.hightLight {
    color:#000;
}
#profile-span,
#pwd-span {
    color: $savedProfile-btn-color;
    padding: 1.2em 0em;
    display:block;
}
#profile-span:hover,
#pwd-span:hover {
    color:#000;
	text-decoration: underline;
}

hr {
	border: 1px solid #e6e6e6;
	width:100%;
	margin: 2em 0em 1em 0em;
}

label[for='isViewAdCounterOptedIn'] {
	margin-top:2em;
}
