/** *********************************
 * CSS Rules for the Best Ad Feature
 * **********************************
 */
@import "../../../partials/pages/BestAdsPage/socialMedia";
 
// .bestof is the container element for the Best Ads pages.
.bestof {
  .header {
    background-color: $controls-column-background-color;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    z-index: 0;
    @include border-radius($medium-border-radius);
  }

  // Header, subheaders
  .header, .sub-header {
      color: $section-title-color !important;
  }

  // Navigation links
  .nav-links li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }

  // Containe for h2s
  .controls {
    margin: 0;

    // h2 header area
    .left-column {
      width: 100% !important;
      padding: 0.25em 0 0.25em 0.25em;
      background-color: $controls-column-background-color;
     // width: 20.75472%;
      float: left;
      display: inline;
      padding-left: 0.5em;
    }
  }

  // Container for each of the results and the more ads link
  .list-view {
    width: 100% !important;
    margin-bottom: 0.5em;
    li.result {
      cursor: pointer;
    }
  }

  // Container for View More Ads
  .view-more {
    position: relative;
    margin-top: 3.5em;
    margin-bottom: 2em;
    color: #737373;
  }

  // View More Ads links
  .more-ads {
    background: none repeat scroll 0 0 #6B6B6B;
    border-radius: 5px 0 5px 0;
    bottom: 0;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 3em;
    position: absolute;
    right: 0 !important;
  }

  // Follow-Us (Social Networking) Module
  .headerSocial {
    width: 100%;
    margin: 0 auto;
    text-align: middle;
  }

  .sharevisitHeader {
   font-size: 14px;
   width: 100%;
  }
}
@include from-breakpoint($small-break) {
    .bestof .sharevisitHeader {
      width: 43%;
      float:left;
      line-height:40px;
    }
}

@include from-breakpoint($medium-break) {
	.bestof .view-more {
         margin-top: 1.5em;
     }
}
