{{#if model.header.headerConfig.helpLink}}
    <div class="help">
        <span class="sudo-link" data-o-uri="{{obfuscateUrl model.header.helpUrl}}">
            <span class="icon">
                <span class='icon-header-help-out'></span>
                <span class='icon-header-help-over'></span>
            </span>
            <span class="label">{{model.header.helpLabel}}</span>
        </span>
    </div>
{{/if}}