@import
    //'swatches',
    'palette',
    "../partials/base",
    "../partials/main/theme",
    "typography-scale";

$container-width: 73em;


// Headlines
$viva-h1: bold 1.5em Lato;
$viva-h2: normal 1.5em Lato;
$viva-h3: normal 1.25em Lato;
$viva-h4: normal 1em Lato;


// Paragraphs
$viva-p1: normal 0.875em Lato;  //14px
$viva-p2: normal 0.75em Lato;   //12px
$viva-p3: normal 0.625em Lato;  //10px


// Primary link
$primary-link-color: $vivaBlack;
$primary-link-font: bold 1.5em Lato;


// Secondary link
$secondary-link-color: $vivaOrange;
$secondary-link-font: bold 1em Lato;


// Tertiary link
$tertiary-link-color: $vivaWhite;


// Buttons
$viva-btn-color: $vivaWhite;
$viva-btn-bgColor: $vivaOrange;
$viva-btn-font-size: 1.125em;

@mixin vivaBtn(){
  cursor: pointer;
  background-color: $vivaOrange;
  display: inline-block;
  font: bold 1.125em Lato;
  padding: 0.875em;
  text-align: center;
  width: 100%;
  &:hover{
    text-decoration: none;
  }
}


// color palette, independent of viva, use these colors in your styles
// use the naming convention: <where used><color><number>

$cardBackgroundGray1: $vivaGray4;
$cardHeaderLink: #FF8300;

$cardStatsFont: $viva-p3;
