@import
    //'swatches',
    'palette',
    "../partials/base",
    "../partials/main/theme",
    "typography-scale";

$container-width: 73em;

// Headlines
$viva-h1: bold 1.5em Lato;      // 24px
$viva-h2: normal 1.5em Lato;    // 24px
$viva-h3: normal 1.25em Lato;   // 20 px
$viva-h4: normal 1em Lato;      // 16 px

$h1: $viva-h1;
$h2: $viva-h2;
$h3: $viva-h3;
$h4: $viva-h4;

$h1-color: $vivaBlack;
$h3-secondary-color: $vivaOrange;

// Paragraphs
$viva-p1: normal 0.875em Lato;  //14px
$viva-p2: normal 0.75em Lato;   //12px
$viva-p3: normal 0.625em Lato;  //10px

$p1: $viva-p1;
$p2: $viva-p2;
$p3: $viva-p3;

$p2-secondary-color: $vivaGray1;

$safety-card-background-color: #1E98D5;
$common-background-color: #f7f7f7;

// Primary link
$primary-link-color: $vivaBlack;
$primary-link-font: bold 1.5em Lato;


// Secondary link
$secondary-link-color: $vivaOrange;
$secondary-link-font: bold 1em Lato;


// Tertiary link
$tertiary-link-color: $vivaWhite;

// SEO h1 tag
$seo-bordercolor: #FAFAFA;

//Page

$page-bgcolor : $vivaWhite;
$page-bordercolor : #f7f7f7;


// Buttons
$button-color: $vivaWhite;
$button-bgcolor: $vivaOrange;
$button-fontsize: 1.125em;


//Page

$page-bgcolor: $vivaWhite;
$page-bordercolor: #f7f7f7;


//App Download
$appdownload-bgcolor: #f7f7f7;
$appdownloadreview-bgcolor: $vivaWhite;
$appdownloadreview-font: $viva-p2;
$appdownloadreview-color: $vivaGray1;

//Welcomescreen
$welcomeSreen-bgcolor: $vivaWhite;


// Section Menu
$secmenu-link-color: $vivaBlack;
$secmenu-link-color-hover: $vivaOrange;

// Breadcrumbs
$breadcrumbs-primary-color: $vivaBlue;
$breadcrumbs-secondary-color: $vivaBlack;

// modal
$modal-color: $vivaBlack;
$modal-bgcolor: $vivaBlack;
$modal-info: $vivaGray1;
$modal-autocomplete-color: $vivaGray1;
$modal-autocomplete-color-hover: $vivaWhite;
$modal-autocomplete-bgcolor-hover: $vivaGray1;

//Seolinks

$seofooter-color: $vivaWhite;


// Recent Activity
$recentactivity-bgcolor:$vivaGray2;



// color palette, independent of viva, map your "viva" to local independent names here
// use the naming convention: <where used><thing (font, color, etc)>

$cardBackgroundColor: $vivaGray4;
$cardLinksColor: $vivaOrange;

$cardStatsFont: $viva-p3;
$cardHeadersFont: $viva-h4;

// Activity card and header profile image circlular border
$profile-border: $vivaOrange;



// Conventions:  all SCSS is camelCase, all css classes are dash separated

$bodyFont: Lato;    // attach this to body element

/*
    Here is an example of font treatement in css:

    .example {
        // assume font is already specified at body
        font-weight: $fontWeightNormal;
        font-size: $h1FontSize;
    }
*/

// Font Weights

$fontWeightNormal: 500;
$fontWeightBold: 700;

// Font Sizes
$menuFontSize: 1.5em;    // 24px

$fontSizeH1: 1.5em;    // 24px
$fontSizeH2: 1.5em;    // 24px
$fontSizeH3: 1.25em;   // 20 px
$fontSizeH4: 1em;      // 16 px
$fontSizeLabel: .625em;      // 10 px

// Colors, by specific item

// Header

$headerBackgroundColor: $vivaGray4;
$headerTextColor: $vivaGray3;
$headerMenuBorderColor: $vivaGray6;
$headerMenuItemSecondaryColor: $vivaGray6;
$headerMenuItemSeparatorColor: $vivaGray7;
$headerMessagesBackgroundColor: $vivaOrange;
$profileDropdownLoginBtnColor: $vivaBlue;
$headerMenuItemHighlightColor: $vivaGray5;
$imagePlaceholderBackground: $vivaGray5;
$headerBlue: $vivaBlue;

$searchBarTextColor: $vivaBlack;
$searchBarTypeAheadWrapperBackground: $vivaGray5;
$searchBarTypeAheadContainerBackgroundMobile: $vivaWhite;
$searchBarTypeAheadContainerBackgroundDesktop: $vivaGray8;
$searchBarTypeAheadBorder: $vivaGray1;
$searchBarLocationLinkColor: $vivaGray1;
$searchBarTextBoxBorder: $vivaGray6;
$searchBarButtonColor: $vivaBlue2;
$searchBarButtonTextColor: $vivaWhite;
$searchBarButtonMouseOverColor: darken($searchBarButtonColor, 10%) !default;

// Get the App card
$getAppCardMainBlue: $vivaBlue6;

// Cards

$gallerySponsoredTextColor: $vivaGray10;
$galleryViewMoreColor: $vivaGreen1;

// Ad Tile

$featuredBorderColor: $vivaGreen1;
$galleryBorderColor: $vivaGreen1;

// Post Ad page

$postAdBackgroundColor: $vivaGray9;
$loginModalLinkColor: $vivaBlue3;
$photoCarouselMaxPhotosMsgColor: $vivaBlue4;
$photoCarouselRequiredMsgColor: $vivaRed;
$postAdShadowColor: $vivaGray6;
$postAdOrange: $vivaOrange;
$postAdHeaderBlue: $vivaBlue3;
$postAdHeaderBackground: $vivaGray4;
$postAdTextGray: $vivaGray11;

//Edit Ad Page
$mainDetailsBackgroundColor: $vivaGray7;
$mainDetailsTitleTextColor: $vivaGray1;
$formSubmitButtonColor: $vivaOrange;
$formSubmitButtonTextColor: $vivaWhite;
$formCancelTextColor: $vivaBlack;
$formSeparatorBarColor: $vivaGray9;
$addWebsiteLinkTextColor: $vivaGreen1;
$formLabelTextColor: $vivaGray3;
$categoryDisplayTextColor: $vivaGray1;
$buttonAreaBackgroundColor: $vivaWhite;
$categorySelectionActiveListRowBgColor: $vivaGray5;
$categorySelectionModalBgColor: $vivaWhite;
$categorySelectionSeparatorColor: $vivaGray10;
$separatorDivColor: $vivaGray5;
$leafNodeWarningColor: $vivaOrange;
$categoryNameColor: $vivaBlue7;

// Activate Page
$activateBorderColor: $vivaGray5;
$activateEmailAddressColor: $vivaBlue2;
$activateHomeLinkColor: $vivaBlue2;
$activateReasonColor: $vivaGray6;

//VIP
$expiredAdBackground: $vivaGray4;
$expiredAdText: $vivaGray10;
$expiredAdLink: $vivaGray1;
$border-color-line: $vivaBlue;
$text-menu-ads: $vivaBlue;
$empty-message: $vivaBlue;
$link-view-more: $vivaYellow;

//Category menu
$menuHoverColor: $vivaBlack;
$menuDropdownBackgroundColor: $vivaWhite;
$subCatMenuHeaderColor: $vivaGray6;

$adPropertyValue: $vivaOtherBlack;
