$inputWidth: 84%;
$inputFieldWidth: 46%;
$inputMargin: 6%;
$labelWidth: 86%;
$labelMargin: 8%;

.header-wrapper {
	border-bottom: none !important;
}

body {
	&.hide-overflow {
		overflow: hidden;
	}
}

.edit-ad-page {
	.two-step {
		display: none;
	}
	.one-step {
		display: block;
	}
	.custom-attributes {
		margin-bottom: 20px;
	}

	.validation-error {
		border: 1px solid red;
	}

	.radio-group {
		margin-left: 15px;
		display: inline-block;

		@media(max-width: 475px) {
			margin-left: 5px;

			.control {
				margin-right: 5px;
			}
		}

		/* Begin custom radio btns */
		// Hide default browser input
		input[type="radio"] {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}

		.control {
			margin-right: 10px;

			&:only-of-type {
				.outer-circle {
					display: none;
				}
				.currency-type {
					cursor: default;
				}
			}
		}

		// Checked
		.control input:checked ~ .outer-circle .inner-circle {
			background: $vivaOrange;
		}

		.currency-type {
			cursor: pointer;
		}

		.control input:checked ~ .currency-type {
			color: black;
			font-weight: bold;
			display: inline-block;
		}

		.inner-circle {
			display: inline-block;
			position: relative;
			top: -3.6px;
			left: 2.1px;
			width: 12px;
			height: 12px;
			background: #FFFFFF;
			border-radius: 50%;
			z-index: 1;
		}

		.outer-circle {
			cursor: pointer;
			display: inline-block;
			position: relative;
			top: 1px;
			left: 0;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			background: #FFFFFF;
			border: 1px solid black;
			border-radius: 50%;
		}
		/* End custom radio btns */
	}


	.desktop-button-area {
		height: 80px;
		padding: 15px 0;
		margin-bottom: 10px;
		float: left;
		width: 58%;
		vertical-align: top;
		margin-left: calc(6% + 300px);
		.btn-area-inner {
			width: 100%;
			margin: 0 auto;
			.submit-btn-wrapper {
				width: 100%;
				.edit-ad-submit {
					margin-top: auto !important;
					margin-bottom: auto !important;
					cursor: pointer;
					width: 100%;
					color: $formSubmitButtonTextColor;
					background-color: $formSubmitButtonColor;
					border-style: none;
					border-radius: 2px;
					height: 45px;
					font-size: 18px;
					&:disabled {
						cursor: not-allowed !important;
						opacity: .5;
					}
				}
			}
			.cancel-link-wrapper {
				margin-bottom: 10px;
				width: 100%;
				float: left;
				.cancel-form-link {
					margin-top: 9px;
					text-align: center;
					color: $formCancelTextColor;
					font-size: 18px;
					height: 40px;
					text-decoration: underline;
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
}

.post-ad-header {
	z-index: 1;
}

.separator-div {
	height: 1px;
	position: relative;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	&:after {
		content: "";
		background-color: $categorySelectionActiveListRowBgColor;
		position: absolute;
		bottom: 0;
		height: 1px;
		left: 5%;
		right: 5%;
	}
}

@include from-breakpoint($medium-break) {
	.edit-ad-content {
		position: relative;
		max-width: 1168px;
		margin: 0 auto;
		.photo-switcher {
			margin-left: 5%;
		}
	}

	.photo-switcher {
		display: inline-block;
		width: 300px; // Align with banner asset
		float: left;
		background-color: $postAdBackgroundColor;
		box-shadow: 1px 1px 6px $postAdShadowColor;
		.image-container {
			margin: 5% 5%;
		}
		.cover-photo-small {
			margin: 2% 2.8%;
		}
	}

	.mobile-button-area {
		display: none;
	}

	.desktop-edit-ad {
		display: block;
	}

	.main-detail-post {
		width: 58%;
		float: left;
		background-color: $postAdBackgroundColor !important; //TBD, need to find why another breakpoint created
		box-shadow: 1px 1px 6px $postAdShadowColor;
		margin-left: 1%;
	}

	.icon-down {
		display: none;
	}
	.icon-up {
		display: none;
	}
}

@include to-breakpoint($small-break) {
	.viewport {
		overflow-x: hidden;
		.footer-wrapper {
			// To ensure nothing in page is covered by post button overlay
			// Magic number 73 is the height of post button layer
			margin-bottom: 73px;
		}
	}

	.viewport.promotion-covered .footer-wrapper {
		// To ensure nothing in page is covered by post button overlay
		// Magic number 53 is the height of no promotion button layer
		margin-bottom: 63px;
	}

	.main-detail-post {
		background-color: $mainDetailsBackgroundColor;
		width: 100%;
		float: left;
	}

	.photo-switcher {
		.image-container {
			margin: 0 2%;
			width: 100%;
			.cover-photo-small {
				margin: 2% 2%;
			}
		}
		.drag-reorder {
			display: none;
		}
	}

	.desktop-button-area {
		display: none;
	}

	.mobile-cancel-form-link {
		margin-top: 18px;
		margin-right: 12px;
		text-decoration: underline;
		float: right;
	}
}
