{{#if this.header.headerConfig.isolatedLoginLink}}
     {{#unless this.header.id}}
            <div class="signin">
                <span class="sudo-link sudo-link-toConvert" data-o-uri="{{obfuscateUrl this.header.signInURL}}">{{__ "header.menu.sign.in"}}</span>
            </div>
    {{/unless}}
{{/if}}
