
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

.icon-cat-jobs, .icon-cat-auto, .icon-cat-5, .icon-cat-5-white, .icon-cat-prop, .icon-cat-2, .icon-cat-2-white, .icon-cat-8, .icon-cat-jobs, .icon-cat-8-white, .icon-cat-9, .icon-cat-services, .icon-cat-9-white, .icon-cat-4, .icon-cat-sale, .icon-cat-4-white, .icon-cat-6, .icon-cat-community, .icon-cat-6-white,
.icon-cat-8019, .icon-cat-pets, .icon-cat-8019-white{
	
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	height:1.4em;
}


