.footer {
	margin: 3px auto 0 auto;
    border-top:solid 1px $border-color; 
    padding-top:$large-padding;
    padding-left:$large-padding;
    .footer-links
    {
        &>div
        {
            float:left;
            margin-left:4em;
            h3
            {
                font-weight:bold;
                color:$color-black;
            }
        }
        
        .logo
        {
            img
            {
                width:62px;
                height:63px;
            }
            margin-left:0em;
            margin-top:$medium-margin;
        }
    }

	.cpyrt {
	    clear: both;
		padding: $large-padding 0;
	}
	
}



@include in-breakpoint($small-break){
	.footer{
	   padding-left:$small-padding;
	   .footer-links
        {
            &>div
            {
                margin-left:1.5em;
            }
        }
	}
}

@include in-breakpoint($no-break){
    .footer{
       .footer-links
        {
            &>div
            {
                margin-left:0;
                float:none;
                margin-bottom:1.5em;
            }
            @include columns(2);
        }
        .cpyrt {
            font-size:0.9em;
        }
    }
}

@include from-breakpoint($medium-break) {
    .footer {
        .cpyrt {
            clear: none;
            float: right;
            margin-top: 1em;
            margin-bottom: 2em;
        }
    }
}

@include in-breakpoint($lt-ie9-class-name){
	.footer{
       .footer-links{
        	.logo{
            	height:63px;
            	width:62px;
            }
        }
     }
}

