.seo-wrapper {
  .top-categories-header {
    display: inline-block;
    padding-right: 20px;
    font-weight: bold;
  }
}
.view-more-categories {
  margin-top: 20px;
  cursor: pointer;
}

@include from-breakpoint($medium-break){
  .seo-wrapper {
    .categories-wrapper {
      width: 46%;
      display: inline-block;
      vertical-align: top;
      .top-categories {
        .top-categories-header {
          display: block;
        }
      }
    }
  }
  .view-more-categories {
    &:hover {
      text-decoration: underline;
    }
    cursor: pointer;
    text-align: center;
  }
}