

.breadcrumbs{
	padding: $large-padding 0;
	width:100%;
	
	.icon-chevron-right{
	    display: inline-block;
	    height: 1.1em;
	    vertical-align: middle;
	    width: .7em;
        margin: 0 0.5em;
	  
	}
	
	h1{
		display: inline;
        
		.keyword{
			@include bold-text;
		}

		.count{
			color: lighten($color-black, 35%);
			margin-right: 0.15em;
		}


		.pipe{
			@include bold-text;
		}
		
		.attributes > span:after {
			font-weight: normal;
			content: ',';	
		}

		.attributes > span:last-child:after {
			content: '';	
		}

	}

    h1,span,a{
    //font-size:$fontSize-breadcrumbs;
    }


	.pipe {
		margin: 0 0.35em;
	}

	span.microdata {
		
	}

	.title{
		color: $color-black;
	}


}








@include to-breakpoint($no-break){
	.breadcrumbs{
		padding: $small-padding 0;
		
	}
}

@include to-breakpoint($small-break){
	.breadcrumbs{
		/*	added in a8228db1e54d0a85fc2b8f53d0be9b6236a29be8
			removed for BOLT-18719
		> span:nth-child(n+4){
		  display:none;
		}
		 */
		> span.title{
		 display: inline;
		}

	}
}

