// general body style for all pages
body {
	background: {
		image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGCQBOLnQAwGjDAGNgGwSgwVAE+2AgXahLM7AAAAAElFTkSuQmCC);
	}
	@include viewport-background;
}


// creates a responsiveness to the page
.page {

	@include container;
	@if $show-susy-grid {
		@include susy-grid-background;
	}

	@include at-breakpoint($small-break) {
		//@include set-container-width;
		//@include container($small-break);
		@if $show-susy-grid {
			@include susy-grid-background;
		}
	}

	@include at-breakpoint($medium-break) {
		//@include set-container-width;
		//@include container($medium-break);
		@if $show-susy-grid {
			@include susy-grid-background;
		}
	}
	@include at-breakpoint($large-break) {
		//@include set-container-width;
		//@include container($large-break);
		@if $show-susy-grid {
			@include susy-grid-background;
		}
	}

}

// removes padding on the page after the largest breakpoint has been reached
@media (min-width:$medium-break-max){
	.page{
		padding-left:0;
		padding-right:0;
	}
}


@include from-breakpoint($ie8-class-name)
{
    .containment {
        width: $container-width;
    }
}

.full-page-width {
	@include full-page-width;
}

.viewport {
	@include viewport-background;
}

.containment {
	max-width: $container-width;
	margin: 0 auto;
  @include containment;
}

// button classes to be applied in HTML code
.primary-button {
	@include primary-button();

	padding: 0.5em 1em;

	&.small {
		padding: 0.25em 0.5em;
	}

	&.large {
		padding: 0.5em 2em;
	}
}

.secondary-button {
	@include primary-button();
}

.disabled-button {
	@include primary-button();
}

// Overrides link classes to use button text color
a.primary-button {
	color: $button-primary-text-color
}

a.secondary-button {
	color: $button-secondary-text-color;
}

a.disabled-button {
	color: $button-disabled-text-color;
}






