h1.subheader {
	margin-left: -.65em;
	margin-right: -.65em;
	background-color: $banner-bg-color;
	@include bold-text;
	padding: $small-padding $grid-padding;
	color: $banner-color;
	font-size: 1em;
}



@include in-breakpoint($small-break){
	h1.subheader{
		font-size: 1.2em;
	}
}



@include from-breakpoint($medium-break, $lt-ie9-class-name){
	h1.subheader {
		padding: $medium-padding $grid-padding;
		font-size: 1.4em;
	}
}



@include from-breakpoint($large-break){
	h1.subheader{
		@include border-radius($medium-border-radius);
	}
}
