.reply-form {
	width: 100%;
}

.desktop-only {
	display:none;
}

.mobile-only {
	display: block;
}

.fixed {
	bottom: 0;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: white;
	z-index: 9000;
	@include from-breakpoint($medium-break) {
		position: relative;
		overflow: hidden;
		z-index: 1;
		top: 0 !important;
	}
}

.message-sent {
	.return-button {
		color: $vivaWhite;
		background-color: $vivaOrange;
		height: 40px;
		font-size: 18px;
		border-radius: 3px;
		text-shadow:none !important;
		border:none !important;
		box-shadow:none !important;
		text-align: center;
		padding-top: 15px;
		cursor: pointer;
		position: fixed;
		bottom: 20px;
		width:90%;
		margin: 0 0 0 -45%;
		left:50%;

		& a {
			color: $vivaWhite;
			text-decoration: none;
		}
	}
	.close-button {
		float: right;
		display: inline-block;
		cursor: pointer;
	}

	.icon-close {
		display: inline-block;
	}

	.message-sent-text {
		color: $vivaGray1;
		text-align: center;
		margin-top: 5px;
		position: fixed;
		top: 50%;
		width: 90%;
		margin: 0 0 0 -45%;
		left:50%;
	}
}

.reply-form-container {
	margin-top: 5px;
	position: relative;

	.main-content {
		margin: 20px 10px;
		color: $vivaGray1;

		.reply-form-content {
			.login-link {
				text-decoration: underline;
			}
			.fe-email-validation {
				color: $vivaRed;
			}
			.fe-message-validation {
				color: $vivaRed;
			}
			.fe-phone-validation {
				color: $vivaRed;
			}
		}

		.viva-checkbox {
			-ms-transform: scale(1.1); /* IE */
			-moz-transform: scale(1.1); /* FF */
			-webkit-transform: scale(1.1); /* Safari and Chrome */
			-o-transform: scale(1.1); /* Opera */
			padding: 10px;
			margin-right: 5px;
		}

		.login-message-container {
			margin-bottom: 15px;
			.desktop-message {
				display: none;
			}
			.desktop-paren {
				display: none;
			}
		}

		.canned-message-container {
			margin-bottom: 10px;
			.canned-message {
				margin-left: 5px;
				position: relative;
				top: -1px;
			}
		}

		.send-message-container {
			margin-button: 10px;
			margin-top: 5px;
			.send-message {
				margin-left: 5px;
				position: relative;
				top: -1px;
			}
		}

		.viva-labels {
			font-size: 10px;
			margin-bottom: 3px;
			margin-left: 5px;
			color: $vivaGray1;
		}

		.float-right {
			float: right;
			margin-right: 10px;
		}

		.box-area {
			border: 1px solid $vivaGray1;
			width: 95%;
			padding-left: 5px;
			border-radius: 3px;
			padding-top: 4px;
			padding-bottom: 4px;
		}

		.message-box-area {
			height: 80px;
		}

		#vip-send-button {
			color: $vivaWhite;
			background-color: $vivaOrange;
			margin: 10px auto;
			width: 98%;
			height: 45px;
			font-size: 16px;
			border-radius: 3px;
			text-shadow:none !important;
			border:none !important;
			box-shadow:none !important;
			// On iOS, it will become transparent for upper half which makes it look like disabled
			-webkit-appearance: none;
		}
	}

	.phone-header-desktop {
		display: none;
	}

	.vip-terms {
		margin: 10px;
		font-size: 10px;
		padding-bottom: 20px;
	}

	input[type="file"] {
		display: none;
	}

	.custom-file-upload {
		color: $vivaBlue;
		font-size: 12px;
		border-radius: 3px;
		border: 1px solid $vivaBlue;
		display: inline-block;
		padding: 5px 20px;
		cursor: pointer;
	}
	.file-text {
		font-size: 10px;
		color: $vivaGray1;
		margin-left: 10px;
	}
}

.hide {
	display: none;
}

@include from-breakpoint($medium-break) {
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}

	#replyModal {
		.return-button {
			position: relative;
			margin: 0 auto;
			width: 70%;
			margin-top: 30px;
			left: 0;
			bottom: 0;
			top: 88px;
			line-height: 10px;
			height: 25px;
		}

		.desktop-message-text {
			color: $vivaBlue;
			font-size: 12px;
		}

		.close-button {
			font-size: 12px;
		}

		.message-sent-text {
			position: relative;
			margin: 0 auto;
			text-align: center;
			margin-top: 50px;
			left: 0;
			display: block;
			top: 40px;
		}
	}

	@mixin modal() {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		z-index: 200;
		left: 0;

		> .modal-overlay {
			background-color: $modal-bgcolor;
			opacity: 0.5;
			position: absolute;
			height: 100%;
			width: 100%;
		}
		> .modal-container {
			background-color: white;
			width: 80%;
			position: relative;
			top: 0em;
			margin: 2em auto;
			padding: 1em;
			max-width: 23em;
			min-height: 14em;
			> .modal-close-section {
				text-align: right;
				cursor: pointer;
				color: gray;
				font-size: 0.8em;
				:hover {
					.close-text {
						text-decoration: underline;
					}
				}
				> div .close-text {
					vertical-align: middle;
					margin-right: 0.5em;
				}
				> div .icon-close {
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
				}
			}
		}
	}

	#replyModal {
		.modal {
		}
		.modal-header-message {
			font: $h3;
			text-align: center;
			margin-top: 0.5em;
			margin-bottom: 0.6em;
		}
		.modal-info {
			font: $p2;
			color: $modal-info;
			margin-top: 1em;
			margin-bottom: 0.25em;
			margin-left: 1em;
		}
		.modal-field {
			position: relative;
			.icon-placeholder1 {
				border: 1px solid green;
				float: left;
			}
			.icon-placeholder2 {
				border: 1px solid blue;
				float: left;
			}
		}
		.modal-container {
			.desktop-header {
				padding: 5px;
				background-color: $common-background-color;
				border-bottom: 1px solid $vivaGray2;

				.desktop-message-text {
					padding-left: 10px;
				}

				.close-icon-font {
					display: inline-block;
					position: relative;
					left: 2px;
				}
			}
			height: 300px;
			width: 350px;
			top: 120px;
			padding: 0;
		}

		input {
			border: transparent;
			width: 98%;
			height: 2em;
			margin-left: 0.5em;
			margin-top: 0.3em;
			&:focus {
				border: transparent;
				outline: none;
			}
		}
		.btn-wrapper {
			margin-top: 2em;
		}
	}

	.pac-container{
		.pac-item {
			.pac-icon {
				display: none;
			}
		}
	}

	.stop-scrolling {
		height: 100%;
		overflow: hidden;
	}

	.disable-click {
		pointer-events: none;
		opacity: 0.5;
	}

	.reply-form-container {
		padding-left: 15px;
		padding-right: 15px;
		background-color: $common-background-color;

		.phone-header-desktop {
			color: $vivaGray1;
			display: block;
			border-bottom: 1px solid $vivaGray2;
			margin-left: 10px;
			margin-right: 10px;
			padding-top: 10px;
			padding-bottom: 10px;

			.show-phone {
				cursor: pointer;
				text-decoration: underline;
			}

			.phone-icon {
				display: inline-block;
				position: relative;
				width: 20px;
				height: 25px;
				top: 8px;
				margin-right: 5px;
			}

			.float-right {
				display: inline-block;
				position:relative;
				top: 8px;
				float: right;
			}
		}

		.main-content {
			.reply-form-content {
				.viva-checkbox {
					-ms-transform: scale(1.0); /* IE */
					-moz-transform: scale(1.0); /* FF */
					-webkit-transform: scale(1.0); /* Safari and Chrome */
					-o-transform: scale(1.0); /* Opera */
					padding: 10px;
					position: relative;
					top: -1px;
				}

				.login-message-container {
					.desktop-message {
						font-weight: bold;
						display: inline-block;
						margin-right: 10px;
					}
					.desktop-paren {
						display: inline;
					}
				}
			}
		}
	}
}
