.desktop-only {
	display:none;
}

.mobile-only {
	display: block;
}

.message-sent {
	.return-button {
		color: $vivaWhite;
		background-color: $vivaOrange;
		margin: 10px auto;
		width: 95%;
		height: 40px;
		font-size: 18px;
		border-radius: 3px;
		text-shadow:none !important;
		border:none !important;
		box-shadow:none !important;
		text-align: center;
		padding-top: 15px;
		cursor: pointer;
	}
	.close-button {
		float: right;
		display: inline-block;
		cursor: pointer;
	}

	.icon-close {
		display: inline-block;
	}

	.message-sent-text {
		text-align: center;
		margin-top: 5px;
	}
}

.reply-form-container {
	margin-top: 5px;

	.main-content {
		margin: 15px 10px;
		color: $vivaGray1;

		.reply-form-content {
			.login-link {
				text-decoration: underline;
			}
		}

		.viva-checkbox {
			-ms-transform: scale(1.2); /* IE */
			-moz-transform: scale(1.2); /* FF */
			-webkit-transform: scale(1.2); /* Safari and Chrome */
			-o-transform: scale(1.2); /* Opera */
			padding: 10px;
		}

		.login-message-container {
			padding-top:15px;
			margin-bottom: 15px;
			.desktop-message {
				display: none;
			}
			.desktop-paren {
				display: none;
			}
		}

		.interested-message-container, .where-message-container {
			margin-bottom: 10px;
			margin-left: 5px;
			.interested-message, .where-message {
				margin-left: 5px;
				position: relative;
			}
		}

		.send-message-container {
			margin-button: 10px;
			margin-left: 5px;
			margin-top: 5px;
			.send-message {
				margin-left: 5px;
				position: relative;
			}
		}

		.viva-labels {
			font-size: 10px;
			margin-bottom: 3px;
			margin-left: 5px;
			color: $vivaGray1;
		}

		.float-right {
			float: right;
			margin-right: 10px;
		}

		.box-area {
			border: 1px solid $vivaGray1;
			margin-bottom: 10px;
			width: 95%;
			padding-left: 5px;
			border-radius: 3px;
			padding-top: 4px;
			padding-bottom: 4px;

			.hidden {
				display: none;
			}
		}

		.message-box-area {
			height: 80px;
		}

		#vip-send-button {
			color: $vivaWhite;
			background-color: $vivaOrange;
			margin: 10px auto;
			width: 98%;
			height: 45px;
			font-size: 16px;
			border-radius: 3px;
			text-shadow:none !important;
			border:none !important;
			box-shadow:none !important;
		}
	}

	.phone-header-desktop {
		display: none;
	}

	.vip-terms {
		font-size: 10px;
	}

	input[type="file"] {
		display: none;
	}

	.custom-file-upload {
		color: $vivaBlue;
		font-size: 12px;
		border-radius: 3px;
		border: 1px solid $vivaBlue;
		display: inline-block;
		padding: 5px 20px;
		cursor: pointer;
	}
	.file-text {
		font-size: 10px;
		color: $vivaGray1;
		margin-left: 10px;
	}
}

.hide {
	display: none !important;
}

@include from-breakpoint($medium-break){
	.desktop-only {
		display: block;
	}
	.mobile-only {
		display: none;
	}

	@mixin modal(){
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 200;
	left: 0;
	> .modal-overlay{
		background-color: $modal-bgcolor;
		opacity: 0.5;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	> .modal-container{
		background-color: white;
		width: 80%;
		position: relative;
		top: 0em;
		margin: 2em auto;
		padding: 1em;
		max-width: 23em;
		min-height: 14em;
		> .modal-close-section{
			text-align: right;
			cursor: pointer;
			color: gray;
			font-size: 0.8em;
			:hover{
				.close-text {
					text-decoration: underline;
				}
			}
			> div .close-text {
				vertical-align: middle;
				margin-right: 0.5em;
			}
			> div .icon-close{
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
			}
		}
	}
}

	.modal {
		.modal-header-message {
			font: $h3;
			text-align: center;
			margin-top: 0.5em;
			margin-bottom: 0.6em;
		}
		.modal-info{
			font: $p2;
			color: $modal-info;
			margin-top: 1em;
			margin-bottom: 0.25em;
			margin-left: 1em;
		}
		.modal-field{
			position: relative;
			.icon-placeholder1{
				border: 1px solid green;
				float: left;
			}
			.icon-placeholder2{
				border: 1px solid blue;
				float: left;
			}
		}
		input{
			border: transparent;
			width: 98%;
			height: 2em;
			margin-left: 0.5em;
			margin-top: 0.3em;
			&:focus{
				border: transparent;
				outline: none;
			}
		}
		.btn-wrapper{
			margin-top: 2em;
		}
	}

	.pac-container{
		.pac-item {
			.pac-icon {
				display: none;
			}
		}
	}

	.stop-scrolling {
		height: 100%;
		overflow: hidden;
	}

	.disable-click {
		pointer-events: none;
		opacity: 0.5;
	}

	.change-loc {
		font: $p2;
		color: $modal-info;
		margin-top: 0.25em;
		margin-left: 1em;
	}

	.reply-form-container {
		padding-left: 15px;
		padding-right: 15px;
		background-color: $common-background-color;
		.fake-header-mobile {
			display: none;
		}

		.phone-header-desktop {
			color: $vivaGray1;
			display: block;
			border-bottom: 1px solid $vivaGray2;
			margin-left: 10px;
			margin-right: 10px;
			padding-top: 10px;
			padding-bottom: 10px;

			.show-phone {
				cursor: pointer;
				text-decoration: underline;
			}

			.phone-icon {
				display: inline-block;
				position: relative;
				width: 20px;
				height: 25px;
				top: 8px;
				margin-right: 5px;
			}

			.float-right {
				display: inline-block;
				position:relative;
				top: 8px;
				float: right;
			}
		}

		.main-content {
			.reply-form-content {
				.login-message-container {
					.desktop-message {
						font-weight: bold;
						display: inline-block;
						margin-right: 10px;
					}
					.desktop-paren {
						display: inline;
					}
				}
			}
		}
	}
}
