.seo-wrapper {
	position: relative;
	width: 100%;
	float: left;
	box-sizing: border-box;
	background-color: $vivaBlack;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: $vivaGray9;

    h1{
	font: $h1;
    line-height: 18px;
    height: 39px;
    font-weight: bold;
    border-bottom: 1px solid $seo-bordercolor;
    text-align: center;
    margin-bottom: 19px;
	}
	.tab-content {
		.top-content {
			text-align: left;
		}
	}
}

.top-headers {
	cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 32.9%;
}

.view-more-searches, .view-more-categories, .view-more-locations {
	span {
		text-decoration: underline;
	}
	.no-underline {
		text-decoration: none;
	}
	margin-top: 20px;

	cursor: pointer;
	text-align: center;
}

.hide {
	display: none;
}

.mobile-hide {
	display: none;
}

.desktop-seo {
	display: none;
}


.top-content {
	margin-top: 12px;
	.top-links {
		text-decoration: none;
	}
}

@include to-breakpoint($small-break) {
	.seo-wrapper {
		.tab-content {
			padding-left: 20px;
			padding-right: 20px;
			.top-headers {
				width: 32.5%;
			}
		}
	}
	.top-content-wrapper {
		text-align: left;
		padding-top: 8px;
		.top-content {
			&:nth-child(even){
				display:inline-block;
				padding-left: 5px;
				vertical-align: top;
				width: calc(49% - 5px);
			}
			&:nth-child(odd){
				display:inline-block;
				padding-right: 5px;
				vertical-align: top;
				width: calc(49% - 5px);
			}
			&.hide {
				display:none;
			}
			.top-links {
				position: relative;
				width: 49%;
			}
		}
	}
}

@include from-breakpoint($medium-break){
	.desktop-seo {
		display: block;
	}
	.mobile-hide {
		display: block;
	}
	.seo-wrapper {
		.desktop-hide {
			display: none;
		}
		.tab-content {
			padding-right: 10px;
			padding-left: 10px;
			.top-searches, .top-locations, .top-categories {

			}
			display: inline-block;
			vertical-align: top;
			&.container-width-1 {
				width: 46%;
			}
			&.container-width-2 {
				width: 46%;
			}
			&.container-width-3 {
				width: calc(33.33333% - 20px);
				&:first-of-type {
					padding-left: 20px;
					width: calc(33% - 30px);
				}
				&:last-of-type {
					padding-right: 20px;
					width: calc(33% - 30px);
				}
			}
		}
		.searches-wrapper {
			display: inline-block;
			vertical-align: top;
			.top-searches {
				.top-searches-header {
					&:first-child {
						width: 100%;
					}
					&.desktop-hide {
						display: none;
					}
					display: block;
				}
			}
		}
	}
	.top-headers {
		clear: both;
		width: 100%;
		text-align: center;
		display: inherit;
	}
	.top-content-wrapper {
		text-align: left;
		padding-top: 8px;
		.top-content {
			&:nth-child(even){
				display:inline-block;
				padding-left: 10px;
				vertical-align: top;
				width: calc(49% - 10px);
			}
			&:nth-child(odd){
				display:inline-block;
				padding-right: 10px;
				vertical-align: top;
				width: calc(49% - 10px);
			}
			&.hide {
				display:none;
			}
			.top-links {
				position: relative;
				width: 49%;
			}
		}
	}
}
