@import "../../../../../partials/common/categoryListBase";

$homepage-ad-height: 14em;
$homepage-social-container-height: 6em;
$homepage-blog-height: 14.5;
$right-column-top: 17em;

//--------------------------------------------------------
// no breakpoint
//--------------------------------------------------------
@media (max-width: 37em) {
   @include category-list-to-no-breakpoint;  
}

//--------------------------------------------------------
// small breakpoint starts
//--------------------------------------------------------


@include from-breakpoint($small-break){
	.category-list{
		.parent-category{
			> ul {
				margin-top: .2em;
			}
			
          &.l1swaptrade a .label,
          &.l1freebies a .label {
            padding-left: 0;
          }
		}
	}
}

//--------------------------------------------------------
// medium breakpoint starts
//--------------------------------------------------------

@include in-breakpoint($medium-break){
   
}

//--------------------------------------------------------
// large breakpoint starts
//--------------------------------------------------------
@include to-breakpoint($lt-ie10-class-name){
	
	li[data-ct-id='rightBucket'] { // right bucket
		position:relative;
		display:inline-block;
		right:-70%;
		width:30%;
	}
    .category-list{
        position:relative;
        margin-top: .5em;
        height:101em;
        .parent-category{
            position:absolute;
            
            //column1
            //&.l1category5{
            //}
            &.l1category9178{
                @include column-border-top;
                top: 14em;
            }
            &.l1category9101{
                @include column-border-top;
                top: 29em;
            }
            &.l1category9171{
                @include column-border-top;
                top: 41em;
            }
            
            &.l1category6{
                @include column-border-top;
                top:53em;
            }
            
            &.l1category9067{
                @include column-border-top;
                top:72em;
            }

            // Begin BOLT-7653
            &.l1swaptrade{
                @include column-border-top;
                top:81em;
            }

            &.l1freebies{
                @include column-border-top;
                top:85em;
            }
            // End BOLT-7653

            $column2left: 23%;
            //column2
            &.l1category2{
                left:$column2left;
            }
            
            &.l1category9175{
                @include column-border-top;
                top:16em;
                left:$column2left;
            }
            
            &.l1category9176{
                @include column-border-top;
                top:31em;
                left:$column2left;
            }
            
            &.l1category9177{
                @include column-border-top;
                top:49em;
                left:$column2left;
            }
            
            &.l1category9122{
                @include column-border-top;
                top:62em;
                left:$column2left;
            }

            &.l1category9179{
                @include column-border-top;
                top: 80em;
                left:$column2left;
            }
            
            $column3left: 47%;
            //column3
            &.l1category8{
                left:$column3left;
            }
            
            &.l1category9389{
                @include column-border-top;
                top:52em;
                left:$column3left;
                ul
                {
                    display:none;
                }
            }

            &.l1category9{
                @include column-border-top;
                top:56em;
                left:$column3left;
            }
        }
    }
    
}
