<div class="header"style="border: 2px dashed orange; overflow: hidden; display: block;">
    <header>
        <div class="wrap">
            <div class="elements">
                <div class="left" style="display: inline-block; width: 20%;">
                    {{!---- logo ----}}
                    {{> logo}}
                </div>
                <div class="right" style="display: inline-block; width: 70%;">
                    {{! Note Element Order: that the order of the elements is backwards because they're floating right }}
 
                    {{!---- post button ----}}
                    {{> postButton}}
                   
                    {{!---- help ----}}
                    {{> helpLink}}
 
                    {{!---- navigation ----}}
                    {{> navigation}}
                                                                               
                    {{!---- isolated signin ----}}
                    {{> isolatedSignIn}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Search bar --}}
    {{> searchbar}}

    {{!-- Title --}}
    {{> title}}

</div>
