<div class="header">
    <header>
        <div class="wrap">
            <div class="elements">
                <div class="left">
                    {{!---- logo ----}}
                    {{> logo}}
                </div>
                <div class="right">
                    {{! Note Element Order: that the order of the elements is backwards because they're floating right }}
 
                    {{!---- post button ----}}
                    {{> postButton}}
                   
                    {{!---- help ----}}
                    {{> helpLink}}
 
                    {{!---- navigation ----}}
                    {{> navigation}}
                                                                               
                    {{!---- isolated signin ----}}
                    {{> isolatedSignIn}}
                </div>
            </div>
        </div>
    </header>

</div>

{{!-- Search bar --}}
{{> searchbar}}

{{!-- Title --}}
{{> title}}