<div class="header">
    <header>
        <div class="wrap">
            <div class="elements">
                <div class="left">
                    {{!---- logo ----}}
                    {{> (dynamic "logo") }}
                </div>
                <div class="right {{#if this.header.isMessageCenterEnabled}}isMcEnabled{{/if}}">
                    {{!-- Note Element Order: that the order of the elements is backwards because they're floating right --}}
 
                    {{!---- post button ----}}
                    {{> (dynamic "postButton") }}
                   
                    {{!---- help ----}}
                    {{> (dynamic "helpLink") }}
 
                    {{!---- navigation ----}}
                    {{> (dynamic "navigation") }}
                                                                               
                    {{!---- isolated signin ----}}
                    {{> (dynamic "isolatedSignIn") }}
                </div>
            </div>
        </div>
    </header>
</div>

{{!-- Search bar --}}
{{> (dynamic "searchbar") }}

{{!-- Title --}}
{{> (dynamic "title") }}