<div class="header">
    <header>
        <div class="wrap">
            <div class="elements">
                <div class="left">
                    {{!---- logo ----}}
                    {{> logo/views/hbs/logo}}
                </div>
                <div class="right">
                    {{! Note Element Order: that the order of the elements is backwards because they're floating right }}

                    {{!---- post button ----}}
                    {{> postButton/views/hbs/postButton}}

                    {{!---- help ----}}
                    {{> helpLink/views/hbs/helpLink}}

                    {{!---- navigation ----}}
                    {{> navigation/views/hbs/navigation}}

                    {{!---- isolated signin ----}}
                    {{> isolatedSignIn/views/hbs/isolatedSignIn}}
                </div>
            </div>
        </div>
    </header>

</div>




    {{!-- Title --}}
    {{> title/views/hbs/title}}