
@mixin order_summary_default {

  .order-summary {
	@include clearfix;
	margin-bottom: 4em;
  }

  #features-to-purchase{
	@include clearfix;
  }

  .feature-group{
	margin-bottom: $large-margin;
	@include clearfix;
  }
  
  #total-line > .label,
  #total-line > .price {
	font-weight: bold;
  }
  
  .ad {
  	clear: both;  
  }

  .ad > .title,
  #total-line > .label{
    float: left;
	@include ellipsis;
  }

  .ad > .price, .vat,
  #total-line > .price{
    float: right;
    margin-right: 7.5%;
  }

  .vat {
    clear: both;
    white-space: nowrap;
  }

  .separator{
	margin-left: 0;
	margin-right: 0;
  }

  #total-line{
	margin-top: $large-margin;
  }

}

@mixin order_summary_tablet_and_larger {

  .order-summary{
	@include span-columns(4 omega, 12);
	display: block;
  }

}
