@mixin payment_type_accordion_default {

  .paying-with-credit-card, .paying-with-bank-transfer {
	display: none;
  }

  .payment-methods {
	background-color: #fff;
	border: 2px solid #ebeeb9;
	margin-bottom: 3em;
  }

  .payment-methods.cc-only {
	background-color: transparent;
	border: none;
	margin-bottom: 0;
  }

  .payment-method {
	display: block;
	font-size: 1.25em;
	padding: 1em;
  }

  .expand {
	display: block;
	padding: 0 1.4em;
	margin-bottom: 3em;
	#pciPay & {
		padding: 0 0 0 0;
	}
  }

  .payment-type-separator {
	background-color: #ebeeb9;
	height: 2px;
	width: 100%;

  }
}

@mixin payment_type_accordion_medium {
	.expand {
	  margin-left: 1.2em;
	}
}