


.controls > #adcontainer1 {
	border:{
		bottom: 1px solid $color-black-15;
	}
	padding-bottom: 13em;
}



@include in-breakpoint($small-break, $medium-break){
	.viewport{
		border-color: red;
	}
}

@include from-breakpoint($large-break, $lt-ie9-class-name){
	.viewport{
		border-color: yellow;
	}
}


#bottom_sticky_banner {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align:center;
	z-index:10;
	left:0;
	pointer-events: none;
	&.closeable_ad {
		display:none;
		&.visible {
			display:block;
		}
		.icon-close_icon {
			background-color:#000;
			border-radius:36px;
			border:2px solid white;
			box-shadow: 2px 2px 5px #888888,-1px -1px 4px #888888 inset;
			cursor:pointer;
			height:18px;
			position:absolute;
			right:0;
			top:-25px;
			width:18px;
			[data-locale=es_MX_VNS] & {
				background-color: #FFF;
				border: 2px solid #000;
				box-shadow: 2px 2px 5px #888888, -1px -1px 4px #888888 inset;
			}
			[data-locale=es_AR] & {
				background-color: #FFF;
				border: 2px solid #000;
				box-shadow: 2px 2px 5px #888888, -1px -1px 4px #888888 inset;
				&:after{
					content:"";
					height:35px;
					width:50px;
					margin-left:-17px;
					margin-top:-15px;
					display:block;
					border-radius:25px;
				}
			}
		}
	}
	/* required to get icon-close_icon to float on right edge of rendered ad */
	.wrapper {
		position:relative;
		display:inline-block;
		pointer-events:all;
		max-width: 100%; // BOLT-19526, BOLT-19177
	}
	#sticky_banner {
		margin: 0 auto;
	}
}

